<div class="container col col-10 p-0" style="height: 100vh; border-right: 1px solid #E6ECF0;">

  <div class="user-list d-flex align-items-center" style="height: 74px; border-bottom: 1px solid #E6ECF0;">
    <h4 class="ms-4">使用者列表</h4>
  </div>

  <div class="user-panel ps-4" style="display: grid; grid-template-columns: 25% 25% 25% 25%; grid-gap: 1px;">
    {{#each users}}
    <div class="userCard mt-3" style="position: relative; height: 314px; width: 210px; background-color: #F6F7F8;
    border-radius: 20px;">
      <div class="card-top">
        <div class='user-cover'>
          <img src="{{this.cover}}" alt=""
            style="height:140px ; width: 210px; object-fit: cover; border-top-left-radius: 16px; border-top-right-radius: 16px;">
        </div>
        <a href=""><img class='user-avatar' src="{{this.avatar}}" alt=""
            style="position: absolute; left: 55px; top: 65px; width: 100px; height: 100px; object-fit: cover; border: 4px solid #FFFFFF; border-radius: 50%;"></a>
      </div>
      <div class="card-content" style="position: relative; top: 25px; height: 145px; text-align: center;">
        <p class='user-name text-16px-med' style="position: absolute; left: 70px;">{{this.name}}</p>
        <p class="user-account text-14px-reg"
          style="position: absolute; top: 28px; left: 70px; display: inline; color:#6C757D;">
          {{this.account}}</p>
        <div class=" user-data">
          <div class='tweet-like'
            style="position: relative; top: 68px; left: 30px; display: flex; justify-content: space-between; width: 150px;">
            <div class='tweet-count text-16px-med-Montserrat'>
              <img src="/_base/icon/Vector.svg" alt="">
              <span class='count ps-1'> {{this.tweetCount}}</span>
            </div>
            <div class='like-count text-16px-med-Montserrat'>
              <img src="/_base/icon/heart-outline.svg" alt="">
              <span class='count ps-1'> {{this.likeCount}}</span>
            </div>
          </div>
          <div class="follow"
            style="position: relative; top: 75px; left: 28px; display: flex; justify-content: space-between; width: 160px;">
            <div>
              <span class='follow-count text-14px-reg'>{{this.followingCount}} 個<p
                  style="display: inline; color:#6C757D">跟隨中</p></span>
            </div>
            <div>
              <span class='follow-count text-14px-reg'>{{this.followerCount}} 位<p
                  style="display: inline; color:#6C757D">跟隨者</p></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>