<div class="row justify-content-center h-100 w-100 overflow-auto">
{{> side-menu}}
<div class="middle col-6">
<div class="card rounded-0 position-sticky top-0" style="height:74px; z-index: 1000;">
  <div class="card-body row align-items-center">
    <h4 class="col-3 mb-0 fw-bold">推文清單</h4>
  </div>
</div>
{{#each tweets}}
<div class="card rounded-0 border-top-0">
  <div class="row g-0 mx-3">
    <div class="col-1 my-3 m-auto position-relative">
      <img
        src="{{this.User.avatar}}"
        onerror="this.onerror=null;this.src='/pic/no_pic.png';"
        class="avatar-sm rounded-circle position-absolute end-0"
        alt="avatar"
      />
    </div>
    <div class="col-11">
      <div class="card-body">
        <h5 class="user-name card-title fw-bold">{{this.User.name}}　<small
            class="text-muted fw-light"
          >＠{{this.User.account}}・{{relativeTimeFromNow this.createdAt}}</small>
          <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
          <button type="submit" class="float-end btn border-0 p-0 opacity-50" onclick="return confirm(`確定要刪除嗎`)">
            <i class="close"></i>
          </button>
          </form>
        </h5>
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>
</div>