<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin">後台首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/feeds">最新動態</a>
  </li>
</ul>
<br /><br />
<h1>最新動態</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新推文
      </div>
      <div class="card-body">
        {{#each tweets}}
        <div>
          <h4>
            <a href="/tweets/{{this.id}}">{{this.User.name}}</a>
          </h4>
          <p>{{this.content}}</p>
          {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新回覆
      </div>
      <div class="card-body">
        {{#each replies}}
        <div>
          <h4>
            <a href="/tweets/{{this.Tweet.id}}">{{this.Tweet.content}}</a>
          </h4>
          <p>{{this.content}}</p>
          by <a href="/users/{{this.User.id}}">{{this.User.name}}</a>
          at {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>