{{> admin-left route='tweetsList'}}
<div class="mt-3" style="width:938px;height:1200px;left:332px;top:1px;">
  {{> header route='tweetsList'}}
  {{#each tweets}}
    {{>admin-tweet}}
  {{/each}}
  {{!-- pagination --}}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
        <a class="page-link" href="/admin/tweets?page={{pagination.prev}}">Previous</a>
      </li>
      {{#each pagination.pages}}
        {{#ifCond this ../pagination.currentPage}}
          <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item"><a class="page-link" href="/admin/tweets?page={{this}}">{{this}}</a></li>
        {{/ifCond}}
      {{/each}}
      <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
        <a class="page-link " href="/admin/tweets?page={{pagination.next}}">Next</a>
      </li>
    </ul>
  </nav>
</div>