<div class="d-flex flex-column mt-2" style="margin-left: 20vw;">
  {{!-- 推文區 --}}
  {{#each tweets }}
  <div class="d-flex align-items-center p-1 pt-2 ps-2 mb-4"
    style="background-color:white;text-decoration:none;border-radius: 1em;width:54.1vw;height:20vh;box-shadow:0 0 8px 3px #ccccccb3;">
    {{!-- avatar --}}
    <div style="margin-top: -0.2em;">
      <img src="{{ this.User.avatar }}"
        onerror="javascript:this.src='https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/37a04795636919.5ff053424df01.jpg';"
        style="border-radius: 0.7em;height: 15vh;margin-left:0.7em">
    </div>
    {{!-- account description --}}
    <div style="color:#313c4b;width:30vw" class="m-4">
      <div class="d-flex">
        <p class="fs-5 me-3 mb-0"><strong>{{ this.User.name }}</strong></p>
        <p class="mb-0" style="color: #313c4b84;margin-top:0.1em;">{{ this.User.account }}・{{momentCH
          this.createdAt}}</p>
      </div>
      <p class="mt-1" style="color: #313c4b;">
        {{limitText this.description }}
      </p>
    </div>

    {{!-- delete btn --}}
    <form action="/admin/tweets/{{ this.id }}?_method=DELETE" method="POST" style="margin-left: 2.6em;">
      <button type="submit" class="btn"
        style="background-color: #ffd472;color: #313c4bc2;width: 8.5v;height:7vh;border-radius:0.5em">Delete
        Post</button>
    </form>
  </div>
  {{/each}}

  <p class="h6 mt-4 mt-5 mb-4" style="color: #313c4b;">No More Post ...</p>
</div>