<div class="row">
  <div class="col">
    {{> admin-left-nav}}
  </div>
  <div class="col-9 border-start border-end px-0">
    <h4 class="fw-bold mx-3 my-4">推文清單</h4>
    <div class="list-group">
      {{#each tweets}}
      <div class="list-group-item d-flex justify-content-between align-items-start">
        {{!-- avatar --}}
        <div class="col-1 me-1">
          <img src="{{this.User.avatar}}" class="rounded-circle" style="width:50px;height:50px">
        </div>
        <div class="col-11 d-flex flex-column px-0">
          {{!-- name account --}}
          <div class="d-flex">
            <span class="fw-bold p-2">{{this.User.name}}</span>
            <span class="fw-bold text-secondary p-2">@{{this.User.account}}
            </span>
            <div class="ms-auto p-2">
              <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn link-secondary"
                  onclick="return confirm(`確定要刪除 {{ this.User.name }} 的推文嗎？`)"><i
                    class="fas fa-times text-secondary"></i></button>
              </form>
            </div>
          </div>
          {{!-- tweet --}}
          <div class="mx-2">
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
