<div class="container d-flex">
  <div class="col-2 nav">
    {{> admin-nav}}
  </div>
  <div class="col-7 tweets">
    <div class="tweets-container" style="width:936px; height:1200px;border:1px solid #E6ECF0; margin-right:131px;">
      <div>
        <h4 class="pt-3 ps-3" style="font-weight:700; size:24px; font-family: Noto Sans TC;">推文清單</h4>
      </div>
      <hr>

      <div class="tweets-container">
        {{#each tweets}}
        <div class="row" style="width:937px; height:118px;">
          <div class="col-1">
            <a href="/tweets/{{this.User.id}}" style="text-decoration:none;">
              <img src="{{this.User.avatar}}" class="rounded-circle me-3"
                style="width: 50px;height: 50px;background: #E6ECF0;">
            </a>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-2">
                <span style="font-family:'Noto Sans TC' font-size: 16px;font-weight:700;">
                  {{this.User.name}}Fack Name
                </span>
              </div>
              <div class="col-9">
                <span class="account col-9" style="font-size:14px; color:#6C757D">
                  {{this.User.account}}Fake Account．{{this.createdAt}}
                </span>
              </div>
              <div class="col-1 " style="margin-left:0px;">
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
                  <button type="'submit" class="btn d-flex justify-content-end ms-5 ps-5">
                    <i class="fa-solid fa-xmark" style="color: #364163;"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="content mt-2" style="width:855px; height:52px; font-size:16px; font-weight:400; color:#171725;">
              {{this.description}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>