<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>

  <table class="table">
    <td>推文清單</td>
    <tbody>
      {{#each tweets}}
      <tr>
        <th scope="row">
          <div>
            <a class="user-name">{{this.User.name}}</a>
            <span class="user-account">@{{this.User.name}}．{{moment this.createdAt}}</span>
          </div>
        </th>
        <td>{{this.User.avatar}}</td>
        <td>{{this.description}}</td>
        <td>
          <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;"
            onsubmit="return confirm('確定要刪除推文？')">
            <button type="submit" class="btn btn-link">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>