  <div class="row">
    {{> homeNavBarBack}}
    <div class="col d-flex flex-column mx-4 tweets-back">
      <div class="row">
        <div class="col-12 page-header">
          <h6><strong>推文清單</strong></h6>
        </div>
        {{#each tweets}}
        <div class="col-12 tweet d-flex flex-row justify-content-between">
          <div class="user-info d-flex flex-row">
            <div class="avatar ">
              <img class="avatar-img" src="{{this.User.avatar}}"
                width="50" height="50" alt="">
            </div>
            <div class="tweet-text ms-3">
              <div class="d-inline name">
                <strong>{{this.User.name}}</strong>
              </div>
              <div class="d-inline acc-time">
                @{{this.User.account}}ㆍ3小時
              </div>
              <div class="twi-content">
                {{this.description}}
              </div>
            </div>
          </div>
          <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn-close" aria-label="Close"></button>
          </form>
        </div>
        {{/each}}
      </div>
    </div>
  </div>