<div class="container">
  <div class="wrapper" style="justify-content:flex-start">

    {{> admin-navbar}}

    {{!-- main --}}
    <section class="main">
      <h4 class="main-title">
        推文清單
      </h4>

      {{!-- card 1 --}}
      {{#each users}}
      <div class="card card-tweet-lg">
        <a href="#" class="tweet-href"></a>
        <div class="avatar">
          <a href="#" class="primary-anchor">
            <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
          </a>
        </div>

        <div class="card-text">
          <div style="display:flex;justify-content:space-between">
            <div class="card-text-info">
              <a href="/users/{{this.id}}" class="primary-anchor">
                <span class="card-name">{{this.name}}</span>
              </a>
              <a href="/users/{{this.id}}" class="primary-anchor">
                <span class="card-account">@{{this.account}}</span>
              </a>
              <span class="card-dot">·</span>
              <span class="card-datetime">{{relativeTimeFromNow this.updatedAt}}</span>
            </div>
            <div>
              <img href="/admin/tweets/{{this.Tweets.id}}" src="/stylesheets/icons/delete.png" alt="delete icon">
            </div>
          </div>
          <p class="card-description">{{this.Tweets.description}}</p>
        </div>
      </div>
      {{/each}}