<main class="d-flex justify-content-center">
  {{> admin-sidebar route='tweets'}}
  <section style="width:937px; border:1px solid #E6ECF0">
    <div class="tweet">
      <div class="main-name" style="border-bottom:1px solid #E6ECF0">
        <h1 style="font-weight:700; font-size:24px; margin:1.5rem">推文清單</h1>
      </div>
      <div class="tweets-list">
        <div class="li-container">
          {{#each tweets}}
          <div class="tweet mt-3 mb-3 d-flex justify-content-between"
            style="border-bottom:1px solid #E6ECF0; min-height: 86px;">

            <div class="avatar" style="padding-left: 32px;">
              <img style="width:50px; height:50px; border-radius:50%; background-color:gray" src="{{this.User.avatar}}"
                alt="" />
            </div>

            <div class="content ms-2 w-100">

              <div class="d-flex justify-content-between">
                <div class="account d-dlex flex-row ">
                  <p style="display: inline; font-weight:700">{{this.User.name}}</p>
                  <p style="display: inline; color:#6C757D">@{{this.User.account}}．{{relativeTimeFromNow
                    this.createdAt}}</p>
                </div>
                <div>
                  <form class="form-{{this.id}}" action="/admin/tweets/{{this.id}}?_method=DELETE" method="post">
                    {{!-- <button type="submit" style="background :none; border: none;"> --}}
                      <img style="cursor: pointer;margin-right:5px" data-id="{{this.id}}" src="/images/cancel.svg"
                        alt="">
                      {{!-- </button> --}}
                  </form>
                </div>
              </div>


              <div class="text mt-2">
                <p style="text-decoration: none; color:#000000;padding-right:2rem;">{{this.description}}</p>
              </div>
            </div>

          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</main>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/deleteConfirm.js"></script>