{{!-- 標題 --}}
<div>推文清單</div>

{{#each tweets }}
<div class="d-flex align-items-center">
  {{!-- 大頭貼 --}}
  <div>
    <img src="{{ this.User.avatar }}" style="border-radius: 100%;width: 60px">
  </div>
  {{!-- 右側文字 --}}
  <div class="ms-3" style="height: 80px;">
    {{!-- 發文者 --}}
    <div class="d-flex align-items-center mb-0">
      <p class="fs-5 me-2 mb-0">{{ this.User.name }}</p>
      <p class="mb-0" style="color: darkseagreen;">{{ this.User.account }}・{{moment this.createdAt}}</p>
    </div>
    {{!-- 推文內容 --}}
    <p class="mt-0" style="font-size: small;">
      {{ this.description }}
    </p>
  </div>
</div>

<hr>
{{/each}}

<div class="d-flex align-items-center">
  {{!-- 大頭貼 --}}
  <div>
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d1c64938267389.575aefd5063e6.png"
      style="border-radius: 100%;width: 60px">
  </div>
  {{!-- 右側文字 --}}
  <div class="ms-3" style="height: 80px;">
    {{!-- 發文者 --}}
    <div class="d-flex align-items-center mb-0">
      <p class="fs-5 me-2 mb-0">Nina</p>
      <p class="mb-0" style="color: darkseagreen;">@nina・3小時</p>
    </div>
    {{!-- 推文內容 --}}
    <p class="mt-0" style="font-size: small;">
      成功來自於堅持！但是一般人認為的堅持，只是被迫重覆做同一件事，忽略真正的堅持是養成習慣。本書作者福格博士藉由20年研究，發明出一套B=MAP行為模型，帶領讀者透過了解自己的動機，設計簡單易執行的小習慣來打造自發性運作的流程，輕鬆又有計畫的達成預設的目標。
    </p>
  </div>
</div>