<div class="container d-flex flex-column justify-content-between">
  <div class="tweet-list">
    <li class="list-group-item title">
      <h3 class="text-center">推文清單</h3>
    </li>
    {{#each tweets}}
    <li class="list-group-item tweets" style="max-height:100% overflow-y: auto; overflow-x: hidden">
      <div class="row overflow-y: auto; overflow-x: hidden">
        <div class="col-auto me-auto left-info d-flex">
          <div class="col-auto avatar me-3">
            <img src="{{this.User.avatar}}" alt="" style="width: 50px; height:50px; background-color:#C4C4C4;"
              class="border border-light rounded-circle">
          </div>
          <div class="col-auto content">
            <div class="personAndTime">
              <div class="name fw-bold" style="display: inline">{{this.User.name}}</div>
              <div class="accountAndTime small" style="display: inline ;color: #657786" ;>
                @{{this.User.account}}．{{moment this.User.createdAt}}
              </div>
            </div>
            <div class="description">{{this.description}}</div>
          </div>
        </div>
        <div class=" col-auto right-info" style="display:inline;">
          <a class="btn" role="button" style="display:contents" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{this.id}}"><i class="fas fa-trash-alt"></i></a>

        </div>
      </div>
    </li>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">警吿：</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            是否確定刪除此則推文：<br />{{this.description}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <form action="/admin/tweet/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">刪除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

  {{!-- 分頁 --}}
  <div class="pagination d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="/admin/tweets?page={{prev}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each totalPages}}
        {{#ifcond this "===" ../page}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link" href="/admin/tweets?page={{this}}">{{this}}</a></li>
        {{/ifcond}}
        {{/each}}
        <a class="page-link" href="/admin/tweets?page={{next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
      </ul>
    </nav>
  </div>
</div>