{{!-- Center --}}
<div class="col border-left border-right">
  <br>
  <h5>推文清單</h5>
  <hr>
  {{#each tweets}}
    <div class="row">
      <div class="col-1">
        <img style="width: 60px; height:60px; border-radius: 50%" src="{{this.User.avatar}}" alt="">
      </div>
      <div class="col-11">
        <span class="bold"><b>{{this.User.account}}</b></span>
        <span style="color: grey">@{{this.User.name}}・{{moment this.createdAt}}</span>
        <button data-toggle="modal" data-target="#tweets{{this.id}}" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="tweets{{this.id}}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4>刪除貼文?</h4>
              </div>
              <div class="modal-body">
                確定要刪除這則貼文?
              </div>
              <div class="modal-footer">
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-delete">刪除</button>
                </form>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
        <br />
        {{this.description}}
      </div>
    </div>
    <hr>
  {{/each}}
</div>