<div class="row" style="min-height: 100vh;">

  <div class="col-3">
    <div class="row position-relative h-100">
      <div class="mt-3 ms-5">
        {{> nav-admin-btn route='tweets'}}
      </div>
      <div class="border-line position-absolute"
        style=" width:1px; background-color:#E6ECF0; padding: 0; right: 0; top:0; bottom: 0;">
      </div>
    </div>
  </div>

  <div class="col-7" style="padding: 0;">

    <div class="container-admin-tweets" style="height: 100%;border:1px solid #E6ECF0;">

      <div style="border-bottom: 1px solid #E6ECF0;">
        <h4 class="pt-3 ps-3 pb-3 mb-0"
          style="display:flex; justify-content:start; align-iten:center; height: 75px;font-weight: 700;font-size: 24px;line-height: 26px;color: #171725;">
          推文清單
        </h4>
      </div>
      <div style="overflow-y: auto; height:100%; weight:100%">
        <table class="table align-top bg-light">
          <tbody>
            {{#each tweets}}
            <tr>
              <td class="bg-light">
                <div class="row">
                  <div class="col-1 text-end">
                    <img id="ac-avatar-icon-admin" src="{{this.User.avatar}}" alt="avatar image">
                  </div>
                  <div class="col">
                    <div class="name">
                      <span id="span-tweets-name-admin">{{this.User.name}}</span>
                      <span id="span-tweets-account-time-admin">@{{this.User.account}}・{{relativeTimeFromNow
                        this.User.createdAt}}</span>
                    </div>
                    <div class="description">
                      <p id="p-tweets-description-admin" class="mb-0">
                        {{this.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </td>

              <td class="text-end pt-0 bg-light">
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-link link-danger" onclick="return confirm(`確定要刪除嗎？`)">
                    <img id="ac-delete-icon-admin" src="/images/icons/delete.png" alt="">
                  </button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

      </div>




    </div>

  </div>