<div>
  <h5 class="my-0 p-2 border-bottom">推文清單</h5>

  {{#each tweets}}
  <div class="border border-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-auto p-1">
          {{#if this.User.avatar}}
          <img class="rounded-circle" src="{{this.User.avatar}}" style="width: 50px;max-height: 50px;">
          {{else}}
          <img class="rounded-circle" src="https://i.imgur.com/3P9xRqb.jpg" style="max-width: 50px;max-height: 50px;">
          {{/if}}
        </div>
        <div class="col d-flex flex-column p-1">

          <div class="py-1">
            <strong>{{this.User.name}}</strong> <sub><i>@{{this.User.account}} · </i>{{moment this.createdAt}}</sub>
          </div>
          <div class="py-1">
            <p>{{this.description}}</p>
          </div>

          <div style="col-auto px-1 d-flex align-items-center">
            <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;" style="float:right">
              <button type="submit" class="btn" >X</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>