<div id="left">
	<div class="row" style="text-align: center;">
		<ul>
      <h1>
				<li>
					<a class="nav-link" href="/admin/tweets">推文清單</a>
				</li>
				<li>
					<a class="nav-link" href="/admin/users">使用者列表</a>
				</li>
      </h1>
		</ul> 
	</div>
</div>
{{!-- 中間區域 --}}
<h1>推文清單</h1>
<hr />
<div id="main">
  <table class="table">
    <tbody>
    {{#each tweets}}
      <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{ this.User.avatar }}" class="rounded-circle" alt="no avatar" width="100" height="100">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                <a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
                ● <small class="text-muted">{{moment this.createdAt }}</small>
                </h5>
                <button type="submit" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteModalCenter{{ this.id }}">Delete</button>
                <!-- Modal -->
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <div class="modal fade" id="deleteModalCenter{{ this.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">刪除{{ this.User.name }}的推文</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                          <p>{{ this.description }}</p>
                          刪除這則推文?
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">確認刪除</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap">
                  {{ this.description }}
                </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </tbody>
  </table>
</div>