{{> adminLeft}}

<div class="col-sm-8 admin_page">
  <div class="row row-cols-1 row-cols-md-1">
    {{!-- logo --}}
    <div class="col">
      <div class="card admintitle_card">
        <div class="card-body">
          <p class="admintitle_title">
            推文清單
          </p>
        </div>
      </div>
    </div>

    {{!-- 推文列 --}}
    <div class="card admintweets_card">
      {{#each tweet}}
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
          <div class="admintweet_card">
            <div class="admin_imgbody">
              <a href="/users/{{this.UserId}}/tweets">
                <img src="{{ this.User.avatar }}" class="popular_img" alt="...">
              </a>
            </div>
            <div class="card-body admintweet_cardbody">
              <div class="tweet_title">
                <a href="/users/{{this.UserId}}/tweets" style="text-decoration: none; ">
                  <p class="tweet_name">{{ this.User.name }}</p>
                </a>
                <p class="tweet_acount">
                  @{{this.User.account}}
                </p>
                <p class="tweet_acount">
                  • {{relativeTimeFromNow this.createdAt}}
                </p>
              </div>
              <div class="tweet_description">
                <a href="/tweets/{{this.id}}/replies" style="text-decoration: none; color: #171725;">
                  <p style="maxlength=" 140";">
                    {{this.description}}
                  </p>
                </a>
              </div>
              <form action="/admin/tweets/{{ this.id }}?_method=DELETE" method="post">
                <button type="submit" class="btn btn-sm btn-link text-decoration-none text-secondary">
                  <i class="fas fa-times fa-2x"></i>
                </button>
              </form>

            </div>
          </div>
        </div>


      </div>

      {{/each}}
    </div>


  </div>