<div class="container">
  <div class="wrapper" style="justify-content:flex-start">

    {{> admin-navbar}}

    <section>
      <h4 class="main-title">使用者列表</h4>

      <div class="users-container">
        <div class="card" style="width:210px;height:314px;">
          <div class="user-image" style="height:50%;border:1px solid black">
            <div class="profile-cover background-image" style="height:140px;border-radius:10px 10px 0px 0px"></div>
            <div style="position:absolute;top:64px;left:55px"><img src="/stylesheets/icons/avatar.png"></div>
          </div>

          <div class="user-info mt-8" style="height:50%">
            <div class="user-name" style="text-align:center">name</div>
            <div class="user-account" style="text-align:center">account</div>
            <div class="user-data" style="display:flex;justify-content:space-around">
              <div class="tweets">1.5K</div>
              <div class="likes">20K</div>
            </div>
            <div class="user-followships" style="display:flex;justify-content:space-around">
              <div class="followings">34個跟隨中</div>
              <div class="followers">59位跟隨者</div>
            </div>
          </div>
        </div>


      </div>
    </section>
    {{!-- <div class="card-text">

      {{#if user.cover}}
      <img src="{{ user.cover }}" alt="cover" class="profile-cover background-image">
      {{else}}
      <div class="profile-cover background-image"></div>
      {{/if}}

      <div class="profile-avatar">
        {{#if user.avatar }}
        <img src="{{ user.avatar }}" alt="avatar" class="logo">
        {{else}}
        <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo" style="">
        {{/if}}
      </div>

      <div class="profile-info">
        <h5 class="profile-name">{{ user.name }}</h5>
        <div class="card-account profile-account">@{{ user.account }}</div>
        <p class="card-description">{{ user.introduction }}</p>
        <div class="following-follower-wrapper">
          <div class="following-wrapper">
            <a href="/users/{{ user.id }}/followings">
              <span class="following-count">{{ user.Followings.length }}個</span>
              <span class="following-text">跟隨中</span>
            </a>
          </div>
          <a href="/users/{{user.id}}/followers">
            <span class="follower-count">{{ user.Followers.length }}位</span>
            <span class="follower-text">跟隨者</span>
          </a>
        </div> --}}
      </div>
    </div>