<div class="container">
  <divr class="row">
    <div class="col-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/admin/tweets">
            <span>推文清單</span>
          </a>
        </li>
        <li class="nav item">
          <a href="/admin/users">
            <span>使用者列表</span>
          </a>
        </li>
      </ul>
      <a href="/logout"><i class="far fa-sign-out"></i>登出</a>
    </div>


    <div class="col-9">
      <div>
        <p>使用者列表</p>
      </div>
      <hr>
      <div class="d-flex">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each users}}
            <div class="col">
              <div class="card">
                <img src="{{this.cover}}" class="card-img-top" alt="..." width="245 px" height="140 px">
                <div class="card-body">
                  <img src="{{this.avatar}}" alt="" class="rounded-circle" width="100 px" height="100 px">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="text-muted">@{{this.account}}</p>
                  <div>
                    <span><i class="far fa-comment"></i>{{this.tweetCount}}</span>
                    <span><i class="far fa-heart"></i>0</span>
                  </div>
                  <div>
                    <span>{{this.followingCount}} 個跟隨中</span>
                    <span>{{this.followerCount}} 個跟隨者</span>
                  </div>
                  
                </div>
              </div>
            </div>
            {{/each}}
          </div>
      </div>
    </div>
</div>

</div>