<div class="center-admin container">
  
  <div class="left-bar">
    {{> navbar}}
  </div>

  <div class="header-admin">
    <p class="p-3 m-0 font-weight-bold light-border" style="font-size: 18px; line-height: 26px;">使用者清單</p>
  </div>

  <div class="list-tweet list-admin light-border">
    <div class="admin-user-card">
    {{#each users}}
      <div class="col-12 col-md-4 col-lg-3 mx-3 my-3 user-card">
        <div class="background-img">
          <img src="{{this.cover}}" class="card-img-top" alt="...">
        </div>
        <div class="avatar">
          <img src="{{this.avatar}}" alt="" class="card-img-top">
        </div>
        <div class="user-card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">@{{this.account}}</p>
          <div class="click-on-condition">
            <div class="reply-count">
              <i class="far fa-comment"></i>{{this.replyCount}}
            </div>
            <div class="like-count">
              <i class="far fa-heart"></i>{{this.likeCount}}
            </div>
          </div>
          <div class="follow-condition">
            <div class="following-count">
              <span>{{this.followingCount}}個</span>跟隨中
            </div>
            <div class="followers-count">
              <span>{{this.followerCount}}個</span>跟隨者
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>

</div>