<div class="admin-container">
  <div class="row justify-content-md-center">

    {{> admin-left}}

    <div class="main col-9">
      <div class="home-page font-lg-dark">
        <a href="/admin/users">使用者列表</a>
      </div>
      <div class="hr-line"></div>

      <div class="row">


        {{#each users}}
        <div class="card mx-1 my-2">
          <div class="card-top">
            <img class="card-cover" src="{{ this.cover }}" alt="card-cover">
          </div>
          <div class="card-middle">
            <div class="card-avatar-part">
              <img class="card-avatar" src="{{ this.avatar }}" alt="card-avatar">
            </div>
            <div class="">
              <p class="card-name">{{this.name}}</p>
              <p class="card-account">@{{this.account}}</p>
            </div>

          </div>
          <div class="card-bottom">
            <div class="card-tweet-like">
              <div class="card-tweet">
                <div><img class="card-img" src="/images/icons/feather.png" alt="">
                </div>
                <div class="card-num">{{this.TweetsCount}}</div>
              </div>
              <div class="card-like">
                <div><img class="card-img" src="/images/icons/like-w.png" alt="">
                </div>
                <div class="card-num">{{this.TweetsLikedCount}}</div>
              </div>
            </div>
            <div class="card-followship">
              <div class="card-following">
                {{this.FollowingsCount}} 個跟隨中
              </div>
              <div class="card-follower">
                {{this.FollowersCount}} 個跟隨者
              </div>
            </div>
          </div>
        </div>
        {{/each}}


      </div>

    </div>
  </div>
</div>