<div class="admin-container">
  <div class="d-flex justify-content-md-center">
    
    {{> admin-left route='users'}}

    <div class="main col-9 border">   
      <div class="admin-users-head">
        <h4>使用者列表</h4>
      </div>

      <div class="hr-line"></div>
      
      <div class="row mx-1">
        
        {{#each users}}
        <div class="card mx-1 my-2">
          <div class="card-top">
            <img class="card-cover" src="{{ this.cover }}" alt="card-cover">
          </div>
          <div class="card-middle">
            <div class="card-avatar-part">
              <img class="card-avatar" src="{{ this.avatar }}" alt="card-avatar">
            </div>
            <div class="">
              <p class="card-name">{{this.name}}</p>
              <p class="card-account">@{{this.account}}</p>
            </div>
          </div>
          <div class="card-bottom">
            <div class="card-tweet-like">
              <div class="card-tweet">
                <div><img class="card-icon" src="/images/icons/filled-post.png" alt="" style="height:20px"></div>
                <div class="card-num">{{this.TweetsCount}}</div>
              </div>
              <div class="card-like">
                <div><img class="card-icon" src="/images/icons/outlined-like.png" alt="" style="height:20px"></div>
                <div class="card-num">{{this.TweetsLikedCount}}</div>
              </div>
            </div>
            <div class="card-followship">
              <div class="card-following">{{this.FollowingsCount}}個跟隨中</div>
              <div class="card-follower">{{this.FollowersCount}}位跟隨者</div>
            </div>
          </div>
        </div>
        {{/each}}

      
      </div>
    </div>
  </div>
</div>