{{!-- 左邊選項欄位 --}}
<div class="row  col-md-12">
  <div class="admin-left col-md-3 ml-4">
    <img class="mb-4 pl-2" src="https://i.imgur.com/8DjhHxL.png">
    <div class="nav-ul-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item py-2">
          <a class="nav-link" href="/admin/tweets">
            <i class="fas fa-home"></i>
            <span class="ml-3">推文清單</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link active" href="/admin/users">
            <i class="far fa-user"></i>
            <span class="ml-3">使用者列表</span>
          </a>
        </li>
      </ul>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">登出</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- 右邊清單欄位 --}}
  {{!-- 會用到 cover, avatar,name,account, 留言數量 , 喜歡數量, 正在追蹤數量 , 正在被追蹤數量 --}}
  <div class="admin-users">
    <p class="admin-tweets-title ml-3 mt-3">使用者列表</p>
    <hr />
    <div class="admin-users-card col-md-10">
      {{#each users}}
      <div class="user-card  mt-3 mx-2">
        <div>
          <img class="user-cover" src="{{this.userCover}}">
        </div>
        <div class="avatar">
          <img class="admin-user-avatar" src="{{this.userAvatar}}">
        </div>
        <div class='user-name'>
          <div class="userName mt-4">{{this.userName}}</div>
        </div>
        <div class='user-account mb-4 mt-1'>
          <div class="userAccount">@{{this.userAccount}}</div>
        </div>
        <div class='tweetsAndLikeIcon d-flex justify-content-center'>
          <p class='tweetsTotal'><i class="far fa-comment-alt"></i> {{this.userTweetTotal}}</p>
          <p class='LikesTotal ml-3'><i class="far fa-heart"></i> {{this.userTweetLikedTotal}}</p>
        </div>
        <div class='userFollowShip d-flex justify-content-center'>
          <p class='followings'><strong>{{this.userFollowingsTotal}}</strong> 個跟隨中</p>
          <p class='followers ml-3'><strong>{{this.userFollowersTotal}}</strong> 位跟隨者</p>
        </div>
      </div>
      {{/each}}

    </div>
  </div>