<div class="admin-users">
  {{> admin-navbar}}

  <div class="admin-users-container">

    {{!-- Header --}}
    <div class="admin-users-header">
      <h4 class="main-title">使用者列表</h4>
    </div>

    <div class="admin-user-container">
      {{#each user}}
      <div class="admin-user-card">

        <div class="card-top">
          {{#if this.cover}}
          <img class="card-cover" src="{{this.cover}}">
          {{else}}
          <div class="default-cover"></div>
          {{/if}}
        </div>

        <div class="card-center">
          <div class="photo">
            {{#if this.avatar}}
            <img class="card-avatar" src="{{this.avatar}}">
            {{else}}
            <img class="default-avatar">
            {{/if}}
          </div>
          <div class="name">
            {{this.name}}
            </div>
          <div class="account">
            @{{this.account}}
            </div>
        </div>
          
        <div class="card-foot">
          <div class="actions">
            <div class="reply">
              <i class="post-icon"></i>
              <span class="reply-count">      
                {{this.tweetsCount}}
              </span>
            </div>
            <div class="like">
              <i class="like-icon"></i>
              <span class="like-count">
                {{this.likesCount}}
                </span>
            </div>
          </div> 

          <div class="follow">
            <div class="follower">
              <span class="follow-count">
                {{this.followersCount}}
                </span>
              <span class="follow-text">跟隨中</span>
            </div>
            <div class="following">
              <span class="follow-count">   
                {{this.followingsCount}}
              </span>
              <span class="follow-text">跟隨者</span>
            </div>
          </div>
        </div>

      </div>
      {{/each}}
    </div>
  </div>
</div>

