<div class="container">
  <div>
    <div class="row grid">
      <div>
        <nav class="userSidebar fixed">
          <div class="logo">
            <img src="https://i.imgur.com/ZUJriDp.png" id="ac-logo">
          </div>
          <div class="buttonList mt-5">
            <div class="navItem index d-flex mb-4">
              <div class="icon d-flex align-items-center">
                <i class="fas fa-home my-auto"></i>
              </div>
              <a href="/admin/tweets" class="btn">
                <span class="fs-5 fw-bolder">推文清單</span>
              </a>
            </div>
            <div class="navItem userProfile d-flex mb-4">
              <div class="icon d-flex align-items-center color-orange">
                <i class="fas fa-users"></i>
              </div>
              <a href="/admin/users" class="btn">
                <span class="fs-5 fw-bolder color-orange">使用者列表</span>
              </a>
            </div>
            <a href="/admin/logout" class="btn">
              <span class="fs-5 fw-bolder">登出</span>
            </a>
          </div>
        </nav>
      </div>

      <div class=" mainSection">
        <div class="title border">
          <h5 class="fw-bolder m-3">使用者列表</h5>
        </div>

        <div class="users border-top border-5">
          <div class="row">
            {{#each users}}
            <div class="col-3">
              <div class="card userCard my-2">
                <img src="{{this.cover}}" class="card-img-top userCover">
                <div class="userAvatar mx-auto">
                  <img src=" {{this.avatar}}" class="avatar rounded-circle">
                </div>
                <div class="card-body userCardBody text-center">
                  <p class="fw-bold mb-1 lh-1">{{this.name}}
                  </p>
                  <p class="text-secondary color-gray mb-1 lh-1">@{{this.account}}
                  </p>
                  <div class="dataInfo d-flex justify-content-center m-3">
                    <div class="tweetInfo d-flex justify-content-between" style="width: 45%;">
                      <div>
                        <span><i class="far fa-comment color-gray"></i></span> {{this.tweetCount}}
                      </div>
                      <div>
                        <span><i class="far fa-heart color-gray"></i></span> {{this.likeCount}}
                      </div>
                    </div>
                  </div>
                  <div class="dataInfo d-flex justify-content-center m-3">
                    <div class="followshipInfo d-flex justify-content-between" style="width:85%">
                      <div>
                        {{this.followingsCount}}個<span class="color-gray">跟隨中</span>
                      </div>
                      <div>
                        {{this.followersCount}}位<span class="color-gray">追隨者</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>