
  <div class="row justify-content-start">
    {{>columnLeft}}

    <div class="profile-container fluid white-bg">
          <div class="profile-nav border-end-0 border-start-0">
        <h3 class="profile-nav-header">使用者清單</h3>
      </div>
    <div class="cards-wrapper d-flex flex-row">

      <!--start::user card-->
      {{#each user}}
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="{{this.cover}}" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="{{this.avatar}}"
                  alt="avatar-img" /></div>
              <div class="post-title">{{this.name}}</div>
              <div class="post-sub-text">@{{this.account}}</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;{{TweetCount}}</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;{{LikedCount}} </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>{{FollowingsCount}}<span class="post-sub-text">&nbsp;跟隨中</span>
                {{FollowersCount}}<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      {{/each}}
      <!--end::user card-->
    </div>
    </div>
  