 <div class="row">
    {{> homeNavBarBack}}
    <div class="col d-flex flex-column mx-4 users-back flex-wrap">
      <div class="row">
        <div class="col-12 page-header mb-2">
          <h6><strong>使用者列表</strong></h6>
        </div>
        {{#each users}}
        <div class="col-12 col-md-4 col-lg-3 ps-2 user-detail">
          <div class="card" style="width: 238px; height: 305px;">
            <div class="cover-container">
              <img class="card-cover-img" src="{{this.cover}}" alt="cover-img"  height="100%" width="100%"   onerror='this.style.display = "none"'>
            </div>
            <div class="card-body">
              <img class="card-user-img" src="{{this.avatar}}"
                width="100" height="100" alt="avatar-img">
              <div class="card-text">
                <h5 class="user-name">{{this.name}}</h5>
                <h6 class="user-acc-name">@{{this.account}}</h6>
                <p class="user-com-likes my-3">
                  <span>
                    <i class="far fa-lg fa-comment"></i> {{this.tweetCount}}
                    <i class="far fa-lg fa-heart ms-3"></i> {{this.likedCount}}
                  </span>
                </p>
                <p class="user-followship mt-2">
                  <strong>{{this.followingCount}}個</strong>跟隨中 <strong>{{this.followerCount}}位</strong>跟隨者
                  <p />
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
