<div class="container-fluid">
  <div class="row">
    <div class="col-2 m-0 p-0">
      {{> adminLeft}}
    </div>

    <div class="col-10 m-0 p-0">


      <div class="border-bottom">
        <h5 class="p-3 font-weight-bold mb-0">使用者列表</h5>
      </div>

      <div class="container mt-3">
        <div class="row">

          {{#each user}}
          <div class="col-3 p-1" style="border-radius: 5px;">

            <div class="card mb-2 mr-1"
              style="width: 100%; hight: 100%; background-color: rgb(247, 247, 247);border-color: white;">

              <img class="card-img-top" style="height: 150px" src="{{ this.cover }}" alt="{{ this.name }}">

              <img src="{{ this.avatar }}" class="border-avatar"
                style="border-radius: 50%; height: 100px; width: 100px;" alt="{{ this.name }}">

              <div class="card-body text-center">

                <h6 class="mt-3 mb-1" style="font-weight: 700;letter-spacing: .5px;">
                  {{ this.name }}
                </h6>

                <p class="mb-3" style="color: grey">
                  @{{ this.account }}
                </p>

                <div>
                  <span class=" me-1">
                    <i style="color: grey;">
                      <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M8.8 5.20001H5.6V1.90001C5.6 1.50001 5.3 1.10001 4.8 1.10001C4.3 1.10001 4.1 1.50001 4.1 1.90001V5.20001H0.8C0.4 5.20001 0 5.50001 0 6.00001C0 6.50001 0.3 6.80001 0.8 6.80001H4.1V10.1C4.1 10.5 4.4 10.9 4.9 10.9C5.4 10.9 5.7 10.6 5.7 10.1V6.70001H9C9.4 6.70001 9.8 6.40001 9.8 5.90001C9.8 5.40001 9.3 5.20001 8.8 5.20001ZM23.8 0.300012V0.200012H23.7C23.6 0.200012 14.5 1.40001 9.3 11.9C5.5 19.5 5.7 21.8 6 21.8C6.3 21.9 9.4 15.3 12.7 12.6C17.9 11.5 19.3 9.00001 19.3 9.00001C19.3 9.00001 17.8 9.20001 17.2 9.20001C16.4 9.20001 15.8 9.00001 15.5 8.90001C16.8 7.70001 17.9 7.40001 19 7.20001C19.9 7.00001 20.8 6.80001 22 6.00001C24.2 4.40001 23.9 0.500012 23.8 0.300012Z"
                          fill="#696974" />
                      </svg>
                    </i>
                    {{#if this.tweetCount}}
                    {{ this.tweetCount}}
                    {{else}}
                    0
                    {{/if}}
                  </span>
                  <span class=" me-1">
                    <i style="color: grey;">
                      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.0002 19.6381H10.9862C8.40319 19.5901 0.950195 12.8561 0.950195 6.47806C0.950195 3.41406 3.47519 0.72406 6.35319 0.72406C8.64319 0.72406 10.1832 2.30406 10.9992 3.45406C11.8132 2.30606 13.3532 0.72406 15.6442 0.72406C18.5242 0.72406 21.0482 3.41406 21.0482 6.47906C21.0482 12.8551 13.5942 19.5891 11.0112 19.6361H11.0002V19.6381ZM6.3542 2.22506C4.2742 2.22506 2.4512 4.21306 2.4512 6.48006C2.4512 12.2201 9.4852 18.0761 11.0012 18.1381C12.5192 18.0761 19.5512 12.2211 19.5512 6.48006C19.5512 4.21306 17.7282 2.22506 15.6482 2.22506C13.1202 2.22506 11.7082 5.16106 11.6962 5.19006C11.4662 5.75206 10.5402 5.75206 10.3092 5.19006C10.2952 5.16006 8.88419 2.22506 6.35519 2.22506H6.3542Z"
                          fill="#6C757D" />
                      </svg>
                    </i>
                    {{#if this.likeCount}}
                    {{ this.likeCount}}
                    {{else}}
                    0
                    {{/if}}
                  </span>
                </div>

                <div class="mt-3">
                  {{ this.followingCount }} 個<span>跟隨中</span>
                  {{ this.followerCount }} 位<span>跟隨者</span>
                </div>

              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>

</div>