
<div class="left d-flex align-items-start flex-column">
	<a href=""><img class="ac-img" src="/images/ac@2x.png" alt=""></a>
	<div class="">
		<a href="/admin/tweets" class="icon-home  leftbar-text">
			<img class="home-img" src="/images/home@2x.png" alt="">
			<span><strong>推文清單</strong></span>
		</a>
	</div>
	<div class="mt-4 mb-1">
		<a href="/admin/users" class="icon-user leftbar-text">
			<img class="user-img" src="/images/user@2x.png" alt="">
			<span><strong>使用者列表</strong></span>
		</a>
	</div>
	<div class="mt-auto mb-1">
		<a href="/logout" class="icon-logout leftbar-text">
			<img class="logout-img" src="/images/logout@2x.png" alt="">
			<span><strong>登出</strong></span>
		</a>
	</div>
</div>

<div class="admin-right">
	<div class="row flex-nowrap justify-content-between mr-3">
		<div class="mt-3">

			<div class="card-header" style="font-size: 18px; font-weight: 700; background-color:white; border: 0">
				使用者列表
			</div>

			<div class="d-flex flex-row">
				<div class="row">
					{{#each users}}
					<div class="d-flex col-3" >
						<div>
							<div class="card my-3">
								<div class="position-relative">
									<img src="{{#if this.background}}{{this.background}}{{else}}/images/background@2x.png{{/if}}"
										class="admin-user-background m-0" alt="background">
									<img src="{{#if this.avatar}}{{this.avatar}}{{else}}/images/avatar@2x.png{{/if}}"
										class="admin-user-avatar mt-4"
										alt="face">
								</div>
								<div class="card-body bg-light" style="padding-top: 80%;">
									<h5 class="card-title admin-tweet-name">{{this.name}}</h5>
									<h5 class="card-title admin-tweet-account" >@{{this.account}}</h5>
									<div class="text-center mt-3">
										<span class="twitterbox-time" style="color:#171725;"><img class="admin-tweet-flow-img " src="/images/post_tweets.png" alt="tweetCount">{{this.tweetCount}}</span>
										<span class="twitterbox-time" style="color:#171725;"><img class="admin-tweet-flow-img " src="/images/unlike@2x.png" alt="tweetLikeCount">{{this.likeCount}}</span>
									</div>
									<div class="admin-tweet-flow mt-2">
										<span><strong style="color:#171725;">{{this.followingCount}}個</strong>跟隨中</span>
										<span><strong style="color:#171725;">{{this.followerCount}}位</strong>跟隨者</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>