<div class="container-fluid d-flex flex-column m-0 p-0 h-100 w-100  ">
  {{! 首頁表頭 }}
  <div class="partial-title p-4 border-start-1 border-end-1 border-1px flex-shrink-0">
    <div class="d-flex gap-3 p-0 m-0 h-26px justify-content-start align-items-center">
      <div class="d-flex flex-column m-0 p-0 gap-0">
        <p class="fw-bold m-0 p-0 align-bottom fs-4 ln-height-26px">使用者列表</p>
      </div>
    </div>
  </div>

  <div class="admin-user-card border-start-1  border-1px p-2 flex-shrink-1">
    <div class="container main-tweets-area  p-0  m-0  tweet-display-admin" style="
    height: 1125px; ">
      <div class="scrollbar-hidden  gap-0 d-flex flex-column">
        <div class="col p-0 m-0">
          <div class="container-lg d-flex flex-column">
            <div class="row row-cols-3">
              {{#each users}}
              <div class="col-3 p-2">
                <div class="card position-relative border-0 shadow-none m-0">
                  <img src="{{this.cover}}" class="card-img-top user-cover" alt="..." />
                  <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <div
                      class="user-info position-absolute d-flex flex-column justify-content-center align-items-center">
                      <div class="d-flex flex-column align-items-center gap-2 mb-3">
                        <img src="{{ this.avatar }}" class="user-avatar" alt="" />
                        <div>
                          <p class="fw-bold fs-6 m-0 p-0">{{ this.name }}</p>
                          <p class="font-size-sm text-secondary m-0 p-0">
                            @{{ this.account }}
                          </p>
                        </div>
                      </div>
                      <div class="user-like d-flex gap-3 m-0 mb-2">
                        <div class="gap-2">
                          <img src="/images/icons/Vector.svg" alt="" class="text-secondary" />
                          <span class="fs-6">{{ this.tweetCount }}</span>
                        </div>
                        <div class="gap-2">
                          <img src="/images/icons/icon_like_outlined.svg" alt="" class="text-secondary" />
                          <span class="fs-6">{{ this.likeCount }}</span>
                        </div>
                      </div>
                      <div class="user-followship d-flex gap-2 font-size-sm">
                        <p>
                          {{ this.followingCount }} 個<span class="text-secondary">跟隨中</span>
                        </p>
                        <p>
                          {{ this.followerCount }} 位<span class="text-secondary">跟隨者</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/axios.min.js"></script>
<script src="/javascripts/unlimitScrolldown/adminLoadUser.js"></script>