<div class="container">
  <div class="row">
    {{>admin-sidebar route="users"}}
    <div class="admin-users col-9">
      <div class=" home-header">
        使用者列表
      </div>
      <div class="user-card row">
        {{#each users}}
        <div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img" style="background-image: url({{#if this.cover}} {{this.cover}} {{else}}/images/modal-cover.png{{/if}});">
              <div class="user-border-avatar" style="background-image: url({{#if this.avatar}} {{this.avatar}} {{else}}/images/icon/User Photo.png{{/if}});">
              </div>
            </div>
            <div class="text-center" style="padding-top: 32px">
              <p class="mb-0">{{this.name}}</p>
              <p class="mb-1">@{{this.account}}</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">{{this.tweetsCount}}</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">{{this.likesCount}}</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  {{this.followingCount}}個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  {{this.followerCount}} 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
