<div class="container-fluid">
  <div class="row flex-nowrap ps-xl-4 ps-md-3">
    <div class="col-auto col-md-4 col-xl-3 px-sm-2 px-0">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
      >
        <a
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ps-3"
          href="/admin"
        >
          <img
            src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-8192.png"
            alt=""
            class="img-fluid my-3"
            style="display: block; width: 50px;"
          />
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item p-2">
            <a class="nav-link align-middle" href="/admin/tweets">
              <i class="fas fa-home fa-lg"></i>
              　<span class="d-none d-sm-inline h4"><strong
                >推文清單</strong></span>
            </a>
          </li>
          <li class="nav-item p-2">
            <a
              href="#usermenu"
              data-bs-toggle="collapse"
              class="nav-link align-middle"
            >
              <i class="fas fa-list-ul fa-lg"></i>
              <span class="ps-1 d-none d-sm-inline h4"><strong
                >使用者列表</strong></span>
            </a>
            <ul
              class="collapse show nav flex-column ms-3"
              id="usermenu"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="/admin/users" class="nav-link px-0 mt-2">
                  <span class="d-none d-sm-inline ps-3">所有使用者</span>
                  <i class="fas fa-users"></i>
                </a>
              </li>
              <li>
                <a href="/admin/admins" class="nav-link px-0 mt-2">
                  <span class="d-none d-sm-inline ps-3">所有管理員</span>
                  <i class="fas fa-user-cog"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-decoration-none dropdown-toggle"
            id="dropdownA"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{user.avatar}}"
              alt="Admin"
              width="40"
              height="40"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1 ps-1">{{user.name}}</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownA"
          >
            <li><a class="dropdown-item my-2" href="/admin/profile">
                <i class="fas fa-user-circle"></i>
                　個人資料
              </a></li>
            <li>
            <li><a class="dropdown-item mb-2" href="/admin/signup">
                <i class="fas fa-user-plus"></i>
                　新增管理員
              </a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/admin/signout">
                <i class="fas fa-sign-out-alt"></i>
                　<strong>登出</strong>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <div class="card my-5 mx-auto bg-light">
        <div class="row my-3">
          <div class="card-image col-3 d-flex justify-content-center align-items-center">
            <img src="{{theuser.avatar}}" class="rounded-circle p-md-0 p-1" style="width: 80px; border: white 3px solid;" alt="face">
          </div>
          <div class="col-5 align-self-center">
            <h4 class="card-title" style="font-weight: 900;">{{theuser.name}}</h4>
            <h5 class="card-title" style="color: #6c757d; font-size: 0.95em; font-weight: 500">@{{theuser.account}}</h5>
            <h5 class="card-title" style="font-size: 0.95em;">{{theuser.email}}</h5>
            {{#if theuser.description}}
            <p>{{theuser.description}}</p>
            {{else}}
            <p>example text example text example text example text for description for description for description</p>
            {{/if}}
          </div>
          <div class="col-4 align-self-center">
            <div class="text-center pt-3">
              <h5 class="mb-3"><i class="far fa-comment"></i> {{theuser.tweetCount}}</h5>
              <h5 class="mb-3"><i class="far fa-heart"></i> {{theuser.likeCount}}</h5>
              <h5 class="mb-3"><strong>{{theuser.followingCount}}個</strong>跟隨中</h5>
              <h5><strong>{{theuser.followerCount}}位</strong>跟隨者</h5>
            </div>
          </div>
          
          <div class="col-12 align-self-center px-5 mt-4">
            <hr>
            <h6>使用者建立於 {{momentA tweet.createdAt}}</h6>
            <h6>帳號最後更新 {{momentA tweet.updatedAt}}</h6>
          </div>
        </div>        
      </div>
      <a class="my-3" href="javascript:history.back()">回上一頁</a>
    </div>
  </div>
</div>