<div class="container-lg">
{{!-- left-bar --}}
{{>left-admin-sidebar route='adminUsers'}}
  <div style="position: relative;">
    {{!-- users --}}
    <div style="position: absolute; left: 260px; max-width: 1065px; height: 1200px; border: 1px solid #E6ECF0;" class="col-lg-10">
      {{> messages}}
      <div style="height: 49px; max-width: 1065px; border-bottom: 1px solid #E6ECF0;">
        <h5 style="margin-left: 21px; margin-top: 24px;">使用者列表</h5>
      </div>
      <div style="display: flex; flex-wrap: wrap;" >
        {{#each result}}
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative; border-radius: 10px 10px 10px 10px;">
          <div
            style="height: 140px; width: 249px; background-size: cover; background-image: url({{this.cover}}); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="{{this.avatar}}" class="card-img-top" alt="沒圖喔！"
            style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px; border-radius: 50%; border: 4px solid #FFFFFF">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px; ">
            <div style="position: relative; width: 249px; height: 170px; bottom: 0px; right:20px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 102px; width: 100px; height: 26px;">
                {{this.name}}</h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 102px; width: 90px; height: 22px; font-size: 12px; color: gray;">
                @{{this.account}}</h9>
              <div style="position: absolute; bottom: 55px; left: 58px; font-size:10px; display:flex;">
                <i class="fas fa-feather-alt mx-3"></i>
                <h5 style="font-size:10px;">{{this.tweetsCount}}</h5>
              </div>
              <div style="position: absolute; bottom: 55px; left: 136px; font-size:10px; display:flex;">
                <i class="far fa-heart mx-3"></i>
                <h5 style="font-size:10px;">{{this.likesCount}}</h5>
              </div>
              <div style="position: absolute; bottom: 24px; left: 65px; font-size:10px;">
                <h7 style="font-size: 2px;">{{this.Followers.length}} 個跟隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 150px; font-size:10px;">
                <h7 style="font-size: 2px; mx-3">{{this.Followings.length}} 個跟隨者</h7>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
</div>