<div class="wrapper d-flex align-items-stretch ">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>

  <div style="width: 100%">
    <div class="admin-title">
      使用者列表
    </div>
    <div class="row" id="tweet-user" style="border-left: 1px solid #E6ECF0">
      {{#each users}}
      <div class="card-user">
        <img class="card-img-top cover" {{#if this.cover}}src="{{this.cover}}" {{/if}}>
        <img class="card-img-top avatar" {{#if this.avatar}}src="{{this.avatar}}" {{/if}}>
        <div class="card-body">
          <div class="user-profile">
            <a class="user-name">{{this.name}}</a><br>
            <span class="tweet-user-account">@{{this.account}}</span>
          </div>
          {{#ifCond 'admin' this.role}}
          <div class="tweet-user-info" style="color: red;">
            管理員
          </div>
          {{else}}
          <div class="tweet-user-info">
            <i class="fas fa-cus-reply" aria-hidden="true"></i>{{TweetsCount}}
            <i class="fas fa-cus-like" aria-hidden="true"></i>{{LikesCount}}
          </div>
          <div class="admin-user-followships">
            <a href="/users/{{user.id}}/followings">{{followingsCount}}個</a>
            <span>跟隨中&nbsp;&nbsp;</span>
            <a href="/users/{{user.id}}/followers">{{followersCount}}位</a>
            <span>跟隨者</span>
          </div>
          {{/ifCond}}
        </div>

      </div>
      {{/each}}
    </div>
  </div>
</div>