<div class="row">
  <div class="list-group col-md-2">
    <a href="/admin/tweets" class="list-group-item list-group-item-action">推文清單</a>
    <a href="/admin/users" class="list-group-item list-group-item-action active">使用者列表</a>
  </div>

  <div class="col-md-10">
    <li class="list-group-item">使用者列表</li>
    <div class="row mt-1">
      {{#each users}}
      <div class="col-3 mb-3">
        <div class="card" style="height: 100%; position: relative;">
          <img src="https://fakeimg.pl/440x350/000000/fff" class="card-img-top cover">
          <img src="https://randomuser.me/api/portraits/women/49.jpg"
            style="position: absolute; top: 20%; left:0; right:0; margin: auto; border: 4px solid #fff; border-radius: 50%;">
          <div class="card-body mt-5">
            <h5 class="card-title text-center">{{this.name}}</h5>
            <h6 class="card-subtitle mb-1 text-muted text-center">@{{this.account}}</h6>
            <div class="user-info text-center px-2">
              <i class="me-2 far fa-comment"> {{this.NumberOfTweets}}</i>
              <i class="far fa-heart"> {{this.NumberOfLikes}}</i>
              <br />
              <span>{{this.NumberOfFollowers}}<span class="text-black-50">個跟隨中</span></span>
              <span>{{this.NumberOfFollowings}}<span class="text-black-50">位跟隨者</span></span>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>