<div id="left">
	<div class="row" style="text-align: center;">
		<ul>
      <h1>
				<li>
					<a class="nav-link" href="/admin/tweets">推文清單</a>
				</li>
				<li>
					<a class="nav-link" href="/admin/users">使用者列表</a>
				</li>
      </h1>
		</ul> 
	</div>
</div>
<div class="row">
  {{#each users}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{this.cover}}" alt="/" width="286px" height="180px">
        <img src="{{ this.avatar }}" class="rounded-circle" alt="no avatar" width="50" height="50">
        <div class="card-body">
          <h5>{{ this.name }}</h5>
          <h7>@{{this.account}}</h7>
          <p>Tweets:{{this.Tweets.length}}則</p>
          <p>LikedTweets:{{this.LikedTweets.length}}</p>
          <p>{{this.Followings.length}}個跟隨中</p>
          <span>{{this.Followers.length}}位跟隨者</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<br />
<br />