{{!--tweet-list --}}
<div class="col-9 home-page">
  <ul class="list-group">
    <li class="list-group-item tweet-list mt-2 sticky-top">
      <p class="ms-2 fw-bolder h4">推文清單</p>
    </li>
    <div class="admin-tweets-page">
      {{#each tweets}}
      <li class="list-group-item tweet-list position-relative collapse show" id="tweet-{{this.id}}">
        <form action="/admin/tweets?_method=DELETE" method="POST">
          <div class="d-flex">
            <div class="tweet-text d-flex flex-column">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-baseline mb-2">
                  <div class="tweet-name me-2">{{this.User.name}} </div>
                  <div class="tweet-account">@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
                </div>
                <input type="hidden" name="tweetId" value="{{this.id}}" />
                <button type="submit" class="btn-close position-absolute end-0" data-bs-toggle="collapse" data-bs-target="#tweet-{{this.id}}" aria-expanded="false" aria-controls="collapseExample" aria-label="Close"></button>
              </div>
              <p class="mb-2" >{{this.description}}</p>
            </div>
          </div>
        </form>
      </li>
      {{/each}}
    </div>
  </ul>
</div>