<div class="admin-main">
  <div class="title">
    <span>使用者列表</span>
  </div>
  <div class="users">

    {{#each users}}
    <div class="usercard">
      <div class="imgs">
        <img class="thumbnail-card" {{#if this.avatar}} src="{{this.avatar}}" alt="{{this.avatar}} avatar" {{/if}}>
        <img class="img-card" {{#if this.cover}} src="{{this.cover}}" alt="{{this.cover}} cover" {{/if}}>
      </div>
      <div class="texts">
        <div class="name">{{this.name}}</div>
        <div class="account">@{{this.account}}</div>
        <div class="counting">
          <span>
            <i class="comment lg"></i>{{this.tweetCount}}
          </span>
          <span>
            <i class="like lg"></i>{{this.likeCount}}
          </span>
          </span>
        </div>
        <div class="followship">
          <span>{{this.followerCount}} 個<span>跟隨者</span>
          </span>
          <span>{{this.followingCount}} 個<span>跟隨中</span>
          </span>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>