<div class="title">
  <span>推文清單</span>
</div>
<div class="tweets">
  {{#each tweets}}
  <div class="tweet">

    <img class="thumbnail" src="{{this.User.avatar}}" alt="{{this.User.name}} avatar">

    <div class="postcontent">
      <div class="postuser">
        <span class="name">{{this.User.name}}</span>
        <span class="at-name">@{{this.User.account}}</span>
        <span class="timer">{{moment this.createdAt}}</span>
      </div>
      <div class="content">
        {{this.description}}...
      </div>
    </div>

    {{!-- 刪除button --}}
    <span class="del-btn">
      <button type="button" class="confirm-del" data-tweetid="{{this.id}}"><i class="X-gray confirm-del"
          data-tweetid="{{this.id}}"></i></button>
    </span>

  </div>
  {{/each}}

</div>

<div class="modal modal-confirm-del d-none" id="modal-confirm-del">
  {{!-- layout.js --}}
</div>