{{!--tweet-list --}}
<div class="col-9 home-page">
  <ul class="list-group">
    <li class="list-group-item tweet-list mt-2 sticky-top">
      <p class="ms-2 fw-bolder h4">推文清單</p>
    </li>
    <div class="admin-tweets-page">
      {{#each tweets}}
      <li class="list-group-item tweet-list position-relative">
        <a href="/tweets/{{this.id}}/replies" class="text-decoration-none" ></a>
        <div class="d-flex">
          <div class="flex-shrink-1 p-0">
            <img src="{{this.User.avatar}}" alt="" class="recommend-followings-img">
          </div>
          <div class="tweet-text d-flex flex-column">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-baseline mb-2">
                <div class="tweet-name me-2">{{this.User.name}} </div>
                <div class="tweet-account">@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
              </div>
              <button type="button" class="btn-close position-absolute end-0" aria-label="Close"></button>
            </div>
            <p class="mb-2" style="white-space:break-spaces;">{{this.description}}</p>
          </div>
        </div>
      </li>
      {{/each}}
    </div>
  </ul>
</div>