{{! header }}
<li class='list-group-item tweet-list p-4 d-flex align-items-center'>
  <h4>推文清單</h4>
</li>

{{! tweet }}
{{#each tweets}}
  <form action='/admin/tweets?_method=DELETE' method='POST'>
    <li class='list-group-item tweet-list p-3'>
      <div class='d-flex'>
        {{! avatar }}
        <div class='flex-shrink-1 p-0'>
          <img src='{{this.User.avatar}}' class='tweet-user-img' onerror="this.onerror=null; this.src='/images/profile-img.svg'" />
        </div>

        <div class='tweet-text d-flex flex-column'>
          {{! user name and account }}
          <div class='d-flex align-items-baseline'>
            <div class='user-name'>{{this.User.name}} </div>
            <div class='user-account'>@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
          </div>
          {{! delete btn }}
          <input type='hidden' name='tweetId' value='{{this.id}}' />
          <button
            type='submit'
            class='btn-close position-absolute end-0'
            style='top: 10px;'
            data-bs-toggle='collapse'
            data-bs-target='#tweet-{{this.id}}'
            aria-expanded='false'
            aria-controls='collapseExample'
            aria-label='Close'
          ></button>

          {{! tweet description }}
          <p class='text-content m-0 p-0'>{{this.description}}</p>
        </div>
      </div>
    </li>
  </form>
{{/each}}