<div class="right_column">
  <header class="followers_title">Popular</header>

  <div class="followers">
    {{#each users}}
    <hr>
    <div class="follower">
      <a class="follower_photo_box" href="/users/{{this.id}}/tweets">
        <img class="follower_photo" src="{{this.avatar}}" alt="follower_photo">
      </a>
      <div class="follower_name_account">
        <p class="follower_name">{{this.name}}</p>
        <p class="follower_account">{{this.account}}</p>
      </div>
      {{#if this.isFollowed}}
      <div class="ms-auto my-auto">
        <form class="ms-auto my-auto" action="/followships/{{ this.id }}?_method=DELETE" method="POST">
          <button type="submit" class="follow_button">正在跟隨</button>
        </form>
      </div>
      {{else}}
      <div class="ms-auto my-auto">
        <form class="ms-auto my-auto" action="/followships/{{ this.id }}" method="POST"><button type="submit"
            class="unfollow_button">跟隨</button>
        </form>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>