<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3" style="white-space: pre-wrap;">
  {{!-- TODO: 如果不是主頁就需要顯示那個頁面的標題 --}}
  {{#if notMain}}
  <a class="nav-link" href="/tweets"><i class="fas fa-arrow-left pr-2"></i></a>
  {{title}}
  {{else}}
  首頁
  {{/if}}
</div>

<div id="mainblock-main" class="w-100">
  {{!-- TODO: 按照UX設計去抓的話，這邊是主要內容，像是new tweet block還有tweet info block --}}
  {{#if (isdefined tweets)}}
    <div id="add-tweet-block" class="d-flex align-items-start p-3">
      <img class="img-fluid rounded-circle mr-3" src="{{me.avatar}}" alt="" style=" max-height: 70px;">
      <form action="/tweets" method="POST" class="w-100">
        <textarea class="w-100" name="description" rows="3" cols="90" placeholder="有什麼新鮮事? (字數限制140字)"></textarea>
        <div class="textarea-util d-flex justify-content-between">
          <div class="text-counter text-lightgrey">0/140</div>
          <button type="submit" class="btn btn-sm btn-orange rounded-pill" style="float:right">推文</button>
        </div>
      </form>
    </div>
  {{else}}
    {{#if (isdefined selfTweets)}}
      {{>column_main_user}}
    {{/if}}
    {{#if (isdefined selfTweetsReplies)}}
      {{>column_main_user}}
    {{/if}}
    {{#if (isdefined likedTweets)}}
      {{>column_main_user}}
    {{/if}}
  {{/if}}
</div>

<div id="mainblock-list" class="overflow-auto w-100">
  {{!-- Main Index Page --}}
  {{#if (isdefined tweets)}}
    {{#if tweets}}
      {{#each tweets}}
        {{>listitem_tweet}}
      {{/each}}
    {{else}}
      {{>listitem_noitem}}
    {{/if}}
  {{/if}}

  {{!-- User Self Tweets and Replies page --}}
  {{#if (isdefined selfTweetsReplies)}}
    {{#if selfTweetsReplies}}
      {{#each selfTweetsReplies}}
        {{>listitem_tweet}}
      {{/each}}
    {{else}}
      {{>listitem_noitem}}
    {{/if}}
  {{/if}}

  {{!-- User Self Tweets page --}}
  {{#if (isdefined selfTweets)}}
    {{#if selfTweets}}
      {{#each selfTweets}}
        {{>listitem_tweet}}
      {{/each}}
    {{else}}
      {{>listitem_noitem}}
    {{/if}}
  {{/if}}

  {{!-- User Self Liked Tweets page --}}
  {{#if (isdefined likedTweets)}}
    {{#if likedTweets}}
      {{#each likedTweets}}
        {{>listitem_tweet}}
      {{/each}}
    {{else}}
      {{>listitem_noitem}}
    {{/if}}
  {{/if}}
</div>


<div id="mainblock-main" class="w-100 overflow-auto">
{{#if tweet}}
  {{>listitem_reply}}
{{/if}}

</div>