<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3">
  {{!-- 簡易頁面 還需要排版 --}}
  <i class="fas fa-arrow-left pr-2"></i>
  {{me.name}}
</div>
  <img src="{{me.cover}}">

  <img class="img-fluid rounded-circle mr-3" src="{{me.avatar}}" alt="" style=" max-height: 70px;">
  
  <a class="nav-link text-dark" data-toggle="modal" data-target="#self-setting-modal" style="cursor: pointer;"><i
      class="far fa-user pr-3"></i>編輯個人資料
  </a>

<div id="mainblock-list" class="overflow-auto w-100">
  {{!-- 未來改成顯示自己的推文 --}}
  {{!-- {{#each tweets}}
  <div class="list-item d-flex align-items-start p-3" style="min-height: 120px;">
    <img class="img-fluid rounded-circle mr-3" src="{{this.User.avatar}}" alt="">
    <div>
      <div class="item-header d-flex d-row d-flex align-items-center">
        <div class="name pr-2">
          <strong>{{this.User.name}}</strong>
        </div>
        <div class="info">
          <span class="username">{{this.User.account}}</span>
          &#183;
          <span class="posttime">{{moment this.createdAt}}</span>
        </div>
      </div>
      <div class="item-desc pt-2 pb-3">
        {{this.description}}
      </div>
      <div class="item-other">
        <span><i class="far fa-comment pr-2"></i>{{this.ReplyCount}}</span>
        <span><i class="far fa-heart pr-2"></i>{{this.LikeCount}}</span>
      </div>
    </div>
  </div>
  {{/each}} --}}
</div>

{{!-- Self Setting Modal--}}
<div class="modal fade" id="self-setting-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header d-flex align-items-center" style="display: flex">
        <div class="d-flex justify-content-around">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title ml-3">編輯個人資料</h5>
        </div>
        <form action="/user/self/edit?_method=PUT" method="POST" enctype="multipart/form-data">
          <button type="submit" class="btn rounded-pill btn-warning save-btn" id="save-btn"
            style="float:right">儲存</button>
      </div>
      <div class="modal-body m-0 p-0">
        <div class="modal-edit-pictures">
          <img src="{{me.cover}}" class="self-edit-modal card-img-top bg-light p-0 m-0" loading="lazy">
          <div class="d-flex justify-content-start">
            <img class="self-edit-modal avatar bg-light" src="{{me.avatar}}" loading="lazy" alt="">
          </div>
        </div>
        <div class="modal-edit-icons d-flex flex-column align-items-center mb-10">
          <div class="d-flex flex-row justify-content-around col-8">
            <label for="cover">
            <i class="fas fa-camera fa-lg"></i>
            </label>
           <input type="file" class="form-control-file" id="cover" name="cover">
            <i class="fas fa-times fa-lg"></i>
          </div>

          <div class="d-flex justify-content-start col-10">
            <label for="avatar">
            <i class="fas fa-camera fa-lg"></i>
            </label>
            <input type="file" class="form-control-file" id="avatar" name="avatar">
          </div>
        </div>

        <div class="modal-form d-flex flex-column align-items-center justify-content-center mt-5">
          <div class="d-flex flex-column">
            <label for="name">名稱</label>
            <textarea class="w-1000 border-0" name="name" rows="1" cols="50" placeholder="名稱">{{me.name}}</textarea>
            <div class="textarea-util d-flex justify-content-end">
              <div class="text-counter text-right">0 / 50</div>
            </div>
          </div>
          <div class="d-flex flex-column mt-3">
            <label for="introduction">自我介紹</label>
            <textarea class="w-1000 border-0" name="introduction" rows="7" cols="50"
              placeholder="自我介紹">{{me.introduction}}</textarea>
            <div class="textarea-util d-flex justify-content-end">
              <div class="text-counter text-right">0 / 160</div>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>