<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3">
  {{!-- TODO: 如果不是主頁就需要顯示那個頁面的標題 --}}
  {{#if notMain}}
  <i class="fas fa-arrow-left pr-2"></i>
  {{title}}
  {{else}}
  首頁
  {{/if}}
</div>

<div id="mainblock-main" class="overflow-scroll w-100 p-3">
  {{!-- TODO: 按照UX設計去抓的話，這邊是主要內容，像是new tweet block還有tweet info block --}}
  <div class="d-flex align-items-start p-3" style="min-height: 120px;">
    <img class="img-fluid rounded-circle mr-3" src="{{me.avatar}}" alt="" style=" max-height: 70px;">
    <form action="/" method="POST">
      <textarea class="w-1000 border-0" name="description" id="description" rows="2" cols="90"
        placeholder="有什麼新鮮事? (字數限制140字)" maxlength="140"></textarea>
      <button type="submit" class="btn rounded-pill btn-warning" style="float:right">推文</button>
    </form>
  </div>
</div>

<div id="mainblock-list" class="overflow-scroll w-100">
  {{!-- TODO: 把 reply items 還有 tweet items 包裝成一樣的命名，例如 image, name, username, content, replyCount, likeCount --}}
  {{#each tweets}}
  <div class="list-item d-flex align-items-start p-3" style="min-height: 120px;">
    <img class="img-fluid rounded-circle mr-3" src="{{this.User.avatar}}" alt="">
    <div>
      <div class="item-header d-flex d-row d-flex align-items-center">
        <div class="name pr-2">
          <strong>{{this.User.name}}</strong>
        </div>
        <div class="info">
          <span class="username">{{this.User.account}}</span>
          &#183;
          <span class="posttime">{{moment this.createdAt}}</span>
        </div>
      </div>
      <div class="item-desc pt-2 pb-3">
        {{this.description}}
      </div>
      <div class="item-other">
        <span><i class="far fa-comment pr-2"></i>{{this.ReplyCount}}</span>
        <span><i class="far fa-heart pr-2"></i>{{this.LikeCount}}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>