{{!-- 以下是 編輯個人頁面的modal --}}
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"
  aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:634px; height:610px;border-radius:14px;">

      <form action="/api/users/{{user.id}}" data-id="{{user.id}}" enctype="multipart/form-data">

        <div class="modal-header justify-content-between" style="height:57px;" >
            <div class="d-flex">
              <a data-bs-dismiss="modal">
                <img src="/images/icons/icon-danger.png" alt="" style="width:25px;height:25px;">
              </a>
              <h5 style="margin-left:36px;margin-top:4px">編輯個人資料</h5>
            </div>
            <div>
              <button type="submit" class="modal-post-btn my-1 mx-1" style="font-size: 18px;border: none;">儲存</button>
            </div>
        </div>

        <div class="modal-cover-avatar" style="height: 264px; position:relative;">
          <img id="modal-cover" src="{{user.cover}}" alt="cover"
            style="height: 200px;width:631px; object-fit:cover;position:absolute;top:0;left:0;-webkit-filter:brightness(.7)">
          <button class="change-cover">
            <img src="/images/icons/white-camera.png" alt=""
              style="height:20px; width:20px; position:absolute;bottom:155px;left:279px; z-index:1">
          </button>
          <button class="remove-cover">
            <img src="/images/icons/white-X.png" alt=""
              style="height:20px; width:20px; position:absolute;bottom:155px;left:337px; z-index:1">
          </button>

          <div class="avatar-section">
            <img id="modal-avatar" src="{{user.avatar}}" alt="" style="height:140px; width:140px; border: 4px solid #FFFFFF;position:absolute;bottom:0;left:16px; z-index:1; border-radius:50%;-webkit-filter:brightness(.7);object-fit:cover">
            <label class="change-avatar" for="avatar">
              <img src="/images/icons/white-camera.png" alt="" style="height:20px; width:20px; position:absolute;bottom:60px;left:75px; z-index:1">
              <input name="avatar" type="file" id="avatar">
            </label>
          </div>
        </div>

        <div class="modal-name-intro">
          <div class="modal-name-input-section">
            <label class="modal-name-label" for="name">名稱</label>
            <input class="modal-name-input" id="name" type="text" name="name" maxlength="50" placeholder="請輸入使用者名稱..." value="{{user.name}}" required>
          </div>
          
          <div class="modal-intro-input-section">
            <label class="modal-intro-label" for="intro">自我介紹</label>
            <textarea class="modal-intro-input border-0" name="intro" style="font-size: 16px;outline: none;resize:none;"
              id="introduction" cols="65" rows="5"  maxlength="160" required>{{user.introduction}}</textarea>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

