<ul class='list-group rounded-0'>
  {{#ifCond tab 'getFollowers'}}
    {{#each queryUser.Followers}}
      <li class='list-group-item'>
        <div class='row d-flex justify-content-center'>
          <div class='col-2 p-0 d-flex justify-content-center avatar'>
            <a href="/users/{{this.id}}/tweets">
              <img
                src='{{this.avatar}}'
                alt='alphaCamp'
                width='50px'
                height='50px'
              />
            </a>
          </div>
          <div class='col p-0 ps-1 tweet-content'>
            <strong class='user-name'>{{this.name}}</strong>
            {{#if this.isSelf}}
              {{#if this.isFollowed}}
              <form action='/followships/{{this.id}}?_method=DELETE' method='POST'>
                <button
                  type='submit'
                  class='btn rounded-pill text-light'
                  style='background-color:#FF6600;'
                >正在追隨</button>
              </form>
              {{else}}
              <form action='/followships' method='POST'>
                <input type='hidden' name='UserId' value='{{this.id}}'/>
                <button
                  type='submit'
                  class='btn rounded-pill bg-light'
                  style='border-color:#FF6600; color:#FF6600'
                >跟隨</button>
              </form>
              {{/if}}
            {{/if}}
            <p class='user-name'>{{this.introduction}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  {{/ifCond}}
  {{#ifCond tab 'getFollowings'}}
    {{#each queryUser.Followings}}
      <li class='list-group-item'>
        <div class='row d-flex justify-content-center'>
          <div class='col-2 p-0 d-flex justify-content-center avatar'>
            <a href="/users/{{this.id}}/tweets">
              <img
                src='{{this.avatar}}'
                alt='alphaCamp'
                width='50px'
                height='50px'
              />
            </a>
          </div>
          <div class='col p-0 ps-1 tweet-content'>
            <strong class='user-name'>{{this.name}}</strong>
            {{#if this.isSelf}}
              {{#if this.isFollowed}}
              <form action='/followships/{{this.id}}?_method=DELETE' method='POST'>
                <button
                  type='submit'
                  class='btn rounded-pill text-light'
                  style='background-color:#FF6600;'
                >正在追隨</button>
              </form>
              {{else}}
              <form action='/followships' method='POST'>
                <input type='hidden' name='UserId' value='{{this.id}}'/>
                <button
                  type='submit'
                  class='btn rounded-pill bg-light'
                  style='border-color:#FF6600; color:#FF6600'
                >跟隨</button>
              </form>
              {{/if}}
            {{/if}}
            <p class='user-name'>{{this.introduction}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  {{/ifCond}}
</ul>