<div class="tweets-container">
  {{#each follows}}
  <div class="tweets d-flex mt-3" style="border-bottom: 1px solid #C4C4C4;">
    <div class="avatar ps-3">
      <a href="/users/{{this.id}}/tweets" style="text-decoration:none;">
        <img src="{{#if this.avatar}}{{this.avatar}}{{else}}https://i.imgur.com/ehh37fR.jpg{{/if}}"
          class="rounded-circle me-3" style="width: 50px;height: 50px;background: #C4C4C4;">
      </a>
    </div>
    <div class="tweet-content">
      <div class="name-container d-flex justify-content-between pe-3" style="width: 555px;">
        <div class="name">
          <span style="font-size: 16px;font-weight:700;">{{this.name}}</span>
        </div>
      {{#if this.isFollowed }}
      <div class="follow-btn d-flex justify-content-end" style="width: 96px;height: 40px">
        <form action="/users/{{this.id}}/follow?_method=DELETE" method="POST">
          <button type="submit" class="btn"
            style="width: 95px; font-size: 16px; white-space:nowrap; background: #FF6600;border-radius: 100px;color:#ffffff;">正在跟隨</button>
        </form>
      </div>
      {{else}}
      <div class="follow-btn d-flex justify-content-end" style="width: 90px;height: 40px">
        <form action="/users/{{this.id}}/follow" method="POST">
          <button type="submit" class="btn"
            style="width: 64px;height: 40px; background: #FFFFFF;white-space:nowrap; border-radius: 50px;border:1px solid #FF6600;color:#FF6600; font-size: 16px;">跟隨</button>
        </form>
      </div>
      {{/if}}

      </div>
      <div class="content mt-1 mb-3 ms-0" style="min-height:15px;">
        {{this.introduction}}
      </div>
    </div>
  </div>
  {{/each}}
</div>