<div class="tab-contents">
  {{#ifCond tab 'getFollowers'}}
    {{#each queryUser.Followers}}
    <div class="tweet d-flex">
      <a href="/users/{{this.id}}/tweets">
      <img class="avatar" src="{{this.avatar}}" alt="user1 avatar">
      </a>
      <div class="post-content">
        <div class="post-user d-flex justify-content-between">
          <a href="/users/{{this.id}}/tweets">
            <span class="user-name">{{this.name}}</span>
          </a>
          {{#if this.isSelf}}
            {{#if this.isFollowed}}
            <form action='/followships/{{this.id}}?_method=DELETE' method='POST'>
              <button type="submit" class="btn btn-primary">正在跟隨</button>
            </form>
            {{else}}
            <form action='/followships' method='POST'>
              <input type='hidden' name='id' value='{{this.id}}'/>
              <button type="submit" class="btn btn-outline">跟隨</button>
            </form>
            {{/if}}
          {{/if}}
        </div>
        <span class="content">{{this.introduction}}</span>
      </div>
    </div>
    {{/each}}
  {{/ifCond}}
  {{#ifCond tab 'getFollowings'}}
    {{#each queryUser.Followings}}
    <div class="tweet d-flex">
      <a href="/users/{{this.id}}/tweets">
      <img class="avatar" src="{{this.avatar}}" alt="user1 avatar">
      </a>
      <div class="post-content">
        <div class="post-user d-flex justify-content-between">
          <a href="/users/{{this.id}}/tweets">
            <span class="user-name">{{this.name}}</span>
          </a>
          {{#if this.isSelf}}
            {{#if this.isFollowed}}
            <form action='/followships/{{this.id}}?_method=DELETE' method='POST'>
              <button type="submit" class="btn btn-primary">正在跟隨</button>
            </form>
            {{else}}
            <form action='/followships' method='POST'>
              <input type='hidden' name='id' value='{{this.id}}'/>
              <button type="submit" class="btn btn-outline">跟隨</button>
            </form>
            {{/if}}
          {{/if}}
        </div>
        <span class="content">{{this.introduction}}</span>
      </div>
    </div>
    {{/each}}
  {{/ifCond}}
</div>