<div class="py-3">
  <ul class="nav nav-tabs mx-0 px-0mb-4;">
    <li class="nav-item d-flex justify-content-center px-2">
      <a class="col text-center" href="/users/{{#if personal}}{{personal.id}}{{else}}{{user.id}}{{/if}}/followers"
        style="text-decoration:none;color:{{#ifCond route 'followers'}}#FF6600;border-bottom:solid;border-color:#FF6600;{{else}}black{{/ifCond}}">
        追隨者
      </a>
    </li>
    <li class="nav-item d-flex justify-content-centerpx-2">
      <a class="col text-center" href="/users/{{#if personal}}{{personal.id}}{{else}}{{user.id}}{{/if}}/followings"
        style="text-decoration:none;color:{{#ifCond route 'followings'}}#FF6600;border-bottom:solid;border-color:#FF6600;{{else}}black{{/ifCond}}">
        正在追隨
      </a>
    </li>
  </ul>
</div>