<div class="container m-auto" style="">
    <a class="navbar-brand" href="/" style="font-weight:bold; color:black;">首頁</a>
    <hr>
    {{!-- ================新增推文區域================================================= --}}
    <div class="row row-cols-2 border p-2" style="">
        <div class="col-1 text-center" style=" width:15%">
            <form class="">
                <a href="/users/{{user.id}}/tweets" >
                    <img src="{{user.avatar}}" class="mx-auto" style=" width:50PX;height:50px; border-radius:100%; border:0px;"></img>
                </a>
            </form>
        </div>
        <div class="col-11 " style=" width:85%;">
            <form action="/tweets" method="POST">
                <textarea class="wishContent" placeholder="有什麼新鮮事?"
                    name="description"
                    id="description"
                    style=" min-height:60px; width:100%; border:0px; resize : none; outline : 0; overflow:hidden;"></textarea>
                <div class="" style=" text-align:right;">
                    <button class="btn " type="submit"
                        style="background-color: #FF6600;border-radius:40px; color:white; font-weight:bold; ">推文</button>
                </div>
            </form>
        </div>
    </div>
{{!-- =====================推文列表============================================ --}}
    {{#each tweets}}
    <div class="row row-cols-2 border p-2" style="">
        <div class="col-1 text-center" style=" width:15%">
            <a  href="/users/{{this.User.dataValues.id}}/tweets">
                <img class="" src="{{this.User.dataValues.avatar}}"
                    style=" width:50PX;height:50px; border-radius:100%;"></img>
            </a>
        </div>

        <div class="col-11" style=" width:85%">
            <div class="row ml-1">
                <div class="cols ">
                    <a class="text-muted" href="/users/{{this.User.dataValues.id}}/tweets">
                        <p style="color: black; font-weight:bold;">{{this.User.dataValues.name}}</p>
                    </a>
                </div>
                <div class="cols ml-1" style="color:gray">
                    <p style="font-weight:500;">@{{this.User.dataValues.account}}</p>
                </div>
                <div class="cols mx-1" style="color:gray">
                    <p style="font-weight:500;">•</p>
                </div>
                <div class="cols" style="color:gray">
                    <p style="font-weight:500;">{{moment this.createdAt}}</p>
                </div>
                <div class="cols" style="">
                    <p>...</p>
                </div>
            </div>
            <a class="tweet-text" href="/tweets/{{this.id}}/replies" style="text-decoration:none;">
                <p>{{this.description}}</p>
            </a>
            <div class="icon-reply">
                <div class=" row reply" id="reply" >
                    {{#if this.isReplied}}
                        <i class="fas fa-comment" id="reply" data-toggle="modal" data-target="#reply-tweet-{{this.id}}"></i>
                    {{else}}
                        <i class="far fa-comment" id="reply" data-toggle="modal" data-target="#reply-tweet-{{this.id}}"></i>
                    {{/if}}
                    <p class="ml-2 mr-2">{{this.repliesCount}}</p>
                    {{#if isLiked}}
                    <form id="likeButton" action="/tweets/{{this.id}}/unlike" method="post">
                        <button type="submit" style="border:0px; background:inherit;"><i class="fas fa-heart"></i></button>
                    </form>
                    {{else}}
                    <form id="likeButton" action="/tweets/{{this.id}}/like" method="post">
                        <button type="submit" style="border:0px; background:inherit;"><i class="far fa-heart"></i></button>
                    </form>
                    {{/if}}
                    <p>{{this.likesCount}}</p>
                </div>
            </div>

        </div>
    </div>
    <div    class="modal fade tweet-modal" 
            id="reply-tweet-{{this.id}}" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="reply-tweet"
            style="display: none;" aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content tweet-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <hr>
                <div class="reply-tweet">
                    <div class="modal-body" id="reply-tweet-modal-body">
    
                        <div class="mt-2 ml-2" style="padding:0">
                            <div>
                                <a href='/users/{{this.User.dataValues.id}}/tweets'>
                                    <img src='{{this.User.dataValues.avatar}}'
                                        style="width:60PX;height:60px; border-radius:100%;">
                                </a>
                            </div>
                            <div class="tweet-owner"></div>
                        </div>
    
                        <div class="mt-2 ml-2" style="flex-grow: 1; position:relative">
    
                            <div class="account-info d-flex modal-account-info" style="flex:auto">
                                <a href="/users/{{this.User.dataValues.id}}/tweets" class="text-muted">
                                    <div class="user-name modal-name">
                                        {{this.User.dataValues.name}}
                                    </div>
                                </a>
                                <div class="account-time ml-2 modal-account">
                                    @{{this.User.dataValues.account}} • {{moment this.dataValues.createdAt}}
                                </div>
                            </div>
                            <div class="modal-description post-text d-flex" style="flex:auto">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="reply" style="margin-left:10px;">
                                <div class="reply-text">回覆給</div>
                                <a href='/users/{{this.User.dataValues.id}}/tweets'>
                                    <div class="reply-account">@{{this.User.dataValues.account}}</div>
                                </a>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
                <form action="/tweets/{{this.id}}/replies" method="POST">
                    <div class="type-area">
                        <div class="user-pic ml-2">
                            <a href="/users/{{../user.id}}/tweets">
                                <img src="{{../user.avatar}}" style="width:60PX;height:60px; border-radius:100%;">
                            </a>
                        </div>
                        <div class="type-text form-group">
                            <input type="hidden" name="TweetId" value="{{this.id}}">
                            <textarea type="text" class="form-control new-post-content is-invalid" name="user_reply"
                                id="user_reply" placeholder="推你的回覆" rows="5" maxlength="140"></textarea>
                            <div class="feedback" id="reply-info"> 內容不可空白 </div>
                        </div>
                        <div class="add-button">
                            <button type="submit" class="btn button" id="reply-btn">回覆</button>
                        </div>
    
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    {{/each}}
{{!-- ================================================================= --}}
