<div class="container px-3" style="height:100vh">
    <img class="logo mb-3" alt="logo" src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" style="height:50px;width:50px;">
    <nav class="nav flex-column">
        <a class="nav-link fs-5 fw-bold blockstyle my-1 px-1 mb-3 rounded-pill" href="/tweets" style="color:{{#ifCond route 'index'}}#FF6600{{else}}black{{/ifCond}};">
            <i class="fas fa-house-user"></i> 首頁
        </a>
        <a class="nav-link fs-5 fw-bold blockstyle my-1 px-1 mb-3 rounded-pill" href="/users/{{logInUser.id}}/tweets" style="color:{{#ifCond route 'tweets'}}#FF6600{{else}}black{{/ifCond}};">
            <i class="fas fa-user"></i> 個人資料
        </a>
        <a class="nav-link fs-5 fw-bold my-1 px-1 mb-5 blockstyle rounded-pill" href="/users/setting/{{logInUser.id}}"  style="color:{{#ifCond route 'setting'}}#FF6600{{else}}black{{/ifCond}};">
            <i class="fas fa-user-cog"></i> 設定
        </a>
        <button class="border-0 rounded-pill myBtn text-center py-1 fs-5 fw-bold" data-bs-toggle="modal" data-bs-target="#tweets">推文</button>  
    </nav>
</div>

<div class="ms-1 ps-1" style="margin-top:-55px">
    <a class="nav-link fs-5 fw-bold text-dark my-1 px-1 blockstyle" href="/logout"><i class="fas fa-sign-out-alt"></i> 登出</a>
</div>

<div class="modal fade" id="tweets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
        <div class="modal-body">
            <form method="POST" action="/tweets">
                <div class="row mx-0 px-0">
                    <div class="col-2 pt-1">
                        <img src="{{logInUser.avatar}}" class="rounded-circle" style="width:50px;height:50px;">
                    </div>
                    <div class="col pe-0">
                        <textarea name="description" class="border-0 mt-2 " style="width:100%; border: none;outline: none;resize:none" placeholder="Leave a comment here" id="floatingTextarea2" rows="4"></textarea>
                    </div>
                </div>
                <div class="text-end me-1 pe-1 mb-1 pb-1">
                    <button type="submit" class="btn border-0 myBtn rounded-pill">推文</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div> 
