<div class='sidebar-left'>
  <a href='/tweets'><img src='/images/acIcon.png' alt='' /></a>
  <div class='nav-card'>
    <div class='nav-item'>
      {{#if tweetRoute}}
      <img src='/images/homeOrange.png' alt='' />
      <a href='/tweets'>
        <h5 style='color: #FF6600;'>首頁</h5>
      </a>
      {{else}}
      <img src='/images/homeBlack.png' alt='' />
      <a href='/tweets'>
        <h5>首頁</h5>
      </a>
      {{/if}}
    </div>
    <div class='nav-item'>
      {{#if userTweet}}
      <img src='/images/userOrange.png' alt='' />
      <a href='/users/{{userId}}/tweets'>
        <h5 style='color: #FF6600;'>個人資料</h5>
      </a>
      {{else}}
      <img src='/images/userBlack.png' alt='' />
      <a href='/users/{{userId}}/tweets'>
        <h5>個人資料</h5>
      </a>
      {{/if}}
    </div>
    <div class='nav-item'>
      {{#if userRoute}}
      <img src='/images/settingOrange.png' alt='' />
      <a href='/users/{{userId}}/account'>
        <h5 style='color: #FF6600;'>設定</h5>
      </a>
      {{else}}
      <img src='/images/settingBlack.png' alt='' />
      <a href='/users/{{userId}}/account'>
        <h5>設定</h5>
      </a>
      {{/if}}
    </div>
    <div class='nav-tweet'>
      <button class='tweet' data-bs-toggle="modal" data-bs-target="#tweetModal">推文</button>
    </div>
  </div>
  <div class='nav-item nav-logout'>
    <img src='/images/logout.png' alt='' />
    <a href='/logout'>
      <h5>登出</h5>
    </a>
  </div>
</div>

{{> post-tweet-modal}}
<!--modal-->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" ariahidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:634px;height:500px;border-radius:14px;padding:0px 16px">
      <div class=" d-flex justify-content-start m-2">
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" style="color: #FF6600;">
        </button>
      </div>
      <hr class="solid">
    </div>
  </div>
</div>
