<div class="col d1">
  <div class="row row-cols-1 row-cols-md-1">
    <!-- logo -->
    <div class="col">
      <div class="card left_card">
        <div class="card-body">
          <img class="left_title" src="/images/logo.svg" alt="">
        </div>
      </div>
    </div>

    <div class="card left_navcard ">
      {{!-- 首頁 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 0;">
          <div class="card-body left_cardbody">
            <a href='/tweets' style='text-decoration: none;'>
              <div class="left_navimg">
                {{#ifCond page 'tweets'}}
                <p class='navCol-btn-active'>
                  <img class="left_navlogo" src="/images/被點擊首頁.svg" alt="">
                  {{else}}
                <p class="navCol-btn">
                  <img class="left_navlogo" src="/images/首頁.svg" alt="">
                  {{/ifCond}}
              </div>
              <p class='left_navtitle'>
                首頁
              </p>
            </a>
          </div>
        </div>
      </div>
      {{!-- 個人資料 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 1;">
          <div class="card-body left_cardbody1">
            <a class='navCol-btn' href="/users/{{ logInUser.id }}" style='text-decoration: none;'>
              <div class="left_navimg">
                {{#ifCond page 'user'}}
                <p class='navCol-btn-active'>
                  <img class="left_navlogo" src="/images/被點擊使用者.svg" alt="">
                  {{else}}
                <p class="navCol-btn">
                  <img class="left_navlogo" src="/images/使用者.svg" alt="">
                  {{/ifCond}}
              </div>
              <p class='left_navtitle'>
                個人資料
              </p>
            </a>
          </div>
        </div>
      </div>
      {{!-- 設定 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 2;">
          <div class="card-body left_cardbody">
            <a class='navCol-btn' href="/users/{{ logInUser.id }}/setting" style='text-decoration: none;'>
              <div class="left_navimg">
                {{#ifCond page 'users'}}
                <p class='navCol-btn-active'>
                  <img class="left_navlogo" src="/images/被點擊設定.svg" alt="">
                  {{else}}
                <p class="navCol-btn">
                  <img class="left_navlogo" src="/images/設定.svg" alt="">
                  {{/ifCond}}

              </div>

              <p class='left_navtitle'>
                設定
              </p>
            </a>
          </div>
        </div>
      </div>

      {{!-- 推文 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 3;">
          <div class="card-body left_cardbody2">
            <div class="push-buttonbody">
              <button class="btn btn-block push-button" type="button" data-bs-toggle="modal"
                data-bs-target="#indexTweetModal">推文</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    {{!-- 登出 --}}
    <div class="card" style="order: 4;">
      <div class="card-body left_cardbody3">
        <div class="logout-buttonbody">
          <a href="/logout" style='text-decoration: none;'>
            <p class="logout-btn">
              <img src="/images/登出.svg" alt="">
              登出
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="indexTweetModal" tabindex="-1" aria-labelledby="indexTweetModalLabel" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content" style="border-radius: 20px;width: 634px;height: 300px;top: 56px;">
      <div class="modal-header" style="left: 0%;right: 0%;top: 5.33%; bottom: 81%;">
        <button type="button" class="close ml-0 pl-0" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="media d-flex">
          <a href="/users/{{user.id}}/tweets">
            <img src="{{ user.avatar }}" class=" rounded-circle mb-5 me-3" alt="{{ this.User.name }}"
              style="width: 50px;height: 50px;">
          </a>
          <div class="media-body">
            <form action="/tweets" method="POST">
              <div class="d-flex d-inline">
                <textarea class="wishContent" placeholder="有什麼新鮮事?" name="description" id="description" maxlength="
                  140"
                  style=" width: 500px;height: 90px;top: 56px; border:0px; resize : none; outline : 0; overflow:hidden; "
                  required></textarea>
              </div>
              <div class="d-flex d-inline">
                <div id='add-tweet-info' class='tweet-error-message'>
                  內容不可空白
                </div>
                <button class=" btn tweet_btn" type="submit"
                  style='width:70px; background-color: #FF6600;border-radius:100px; color:white; font-weight:bold; font-size:18px;position: absolute; right: 15px; bottom:15px;'>推文</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>