{{!-- 獨立模組 通用所有使用者頁面 --}}
<div class="left-bar">
  <div class="upper-region">
    <div class="logo">

    </div>
    <div class="links">
      {{#ifCond to 'home'}}
      <a href="/tweets" class="homepage-link"><i class="fas fa-house-user"></i><span class="left-side-span on">首頁</span></a>
      {{else}}
      <a href="/tweets" class="homepage-link"><i class="fas fa-house-user"></i><span class="left-side-span">首頁</span></a>
      {{/ifCond}}

      {{#leftSdieBarCheck to}}
      <a href="/users/{{user.id}}" class="person-info"><i class="far fa-user"></i><span class="left-side-span on">個人資料</span></a>
      {{else}}
      <a href="/users/{{user.id}}" class="person-info"><i class="far fa-user"></i><span class="left-side-span">個人資料</span></a>
      {{/leftSdieBarCheck}}

      {{#ifCond to 'edit'}}
      <button data-id="{{user.id}}" class="set-info left-side-span-btn"><span data-id="{{user.id}}" class="left-side-span on left-side-span-btn"><i class="fas fa-cog" data-id="{{user.id}}"></i>設定</span></button>
      {{else}}
      <button data-id="{{user.id}}" class="set-info left-side-span-btn"><span class="left-side-span left-side-span-btn" data-id="{{user.id}}"><i class="fas fa-cog" data-id="{{user.id}}"></i>設定</span></button>
      {{/ifCond}}

      <button class="publish-tweet" data-avatar="{{user.avatar}}">推文</button>
    </div>
  </div>
  <div class="logout-region">
    <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i><span class="left-side-span-logout">登出</span></a>
  </div>
</div>