{{!-- 個人所有喜歡欄 --}}
  {{#each users.Likes}}
  <div class="tweet-body">
    <div class='card-tweets'>
      
      <div>
        <a href="/users/{{../users.id}}/tweets">
        
        <img
        class='card-avatar'
        {{#if ../users.avatar}}src={{../users.avatar}}{{/if}}
        alt='avatar'
        width='50'
        height='50'/>
        </a>
      </div>

      <div class='card-warp'>
        <div class='card-header' style="flex-direction:row;">
          <a href="/users/{{../users.id}}/tweets">
           <div class='card-name'>{{this.Tweet.User.name}}</div> 
          </a>
          <div class='card-account'>{{this.Tweet.User.account}} • {{moment this.createdAt}}</div>
        </div>
        <a href="/tweets/{{this.Tweet.id}}/replies">
          <div class='card-content'>
            {{this.Tweet.description}}
          </div>
        </a>

        <div class='card-footer'>
          <div class='icon-reply'>
            {{!-- 其它貼文回覆modal --}}
            <!-- Button trigger modal -->
            <button
              type='button'
              class='postModal'
              data-toggle='modal'
              data-target='#replyTweet{{this.id}}'
            >
              <span>
                <svg
                  class='reply-count'
                  width='15'
                  height='15'
                  viewBox='0 0 15 15'
                  fill='none'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <path
                    d='M8.77881 1.40127L6.18631 1.39502H6.18506C3.45131 1.39502 1.31006 3.53689 1.31006 6.27127C1.31006 8.83252 3.30131 10.775 5.97568 10.8775V13.27C5.97568 13.3375 6.00318 13.4488 6.05068 13.5219C6.13943 13.6625 6.29068 13.7388 6.44568 13.7388C6.53193 13.7388 6.61881 13.715 6.69693 13.665C6.86193 13.56 10.7426 11.0775 11.7519 10.2238C12.9407 9.21752 13.6519 7.74252 13.6538 6.27877V6.26814C13.6501 3.53877 11.5101 1.40127 8.77881 1.40064V1.40127ZM11.1457 9.50877C10.4369 10.1088 8.10693 11.6369 6.91318 12.4106V10.4188C6.91318 10.16 6.70381 9.95002 6.44443 9.95002H6.19693C3.90943 9.95002 2.24818 8.40252 2.24818 6.27127C2.24818 4.06252 3.97818 2.33252 6.18568 2.33252L8.77756 2.33877H8.77881C10.9863 2.33877 12.7163 4.06752 12.7176 6.27377C12.7157 7.46752 12.1288 8.67627 11.1463 9.50877H11.1457Z'
                  ></path>
                </svg>
              </span>
              <span class='reply-count'>{{this.Tweet.Replies.length}}</span>
            </button>
        </div>
        {{#if isLiked}} 
          <form action="/tweets/{{this.TweetId}}/unlike" method="post" style="display: inline-block;">
            <button type="submit" style="background: none;border: none;">
            <span>
              <svg class="like-count" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 19.6381H10.986C8.40295 19.5901 0.949951 12.8561 0.949951 6.47812C0.949951 3.41412 3.47495 0.724121 6.35295 0.724121C8.64295 0.724121 10.183 2.30412 10.999 3.45412C11.813 2.30612 13.353 0.724121 15.644 0.724121C18.524 0.724121 21.048 3.41412 21.048 6.47912C21.048 12.8551 13.594 19.5891 11.011 19.6361H11V19.6381Z" fill="#E0245E"/>
</svg>

            </span>
            </button>
            <span class='like-count' style="color:#E0245E;">{{this.Tweet.Likes.length}}</span>
          </form>
            {{else}}
          <form action="/tweets/{{this.TweetId}}/like" method="post" style="display: inline-block;">
            <button type="submit" style="background: none;border: none;">
            <span>
              <svg
                class='like-count'
                width='15'
                height='15'
                viewBox='0 0 15 15'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  d='M7.5 13.5239H7.49125C5.87687 13.4939 1.21875 9.28514 1.21875 5.29889C1.21875 3.38389 2.79687 1.70264 4.59562 1.70264C6.02687 1.70264 6.98937 2.69014 7.49937 3.40889C8.00812 2.69139 8.97062 1.70264 10.4025 1.70264C12.2025 1.70264 13.78 3.38389 13.78 5.29951C13.78 9.28451 9.12125 13.4933 7.50687 13.5226H7.5V13.5239ZM4.59625 2.64076C3.29625 2.64076 2.15687 3.88326 2.15687 5.30014C2.15687 8.88764 6.55312 12.5476 7.50062 12.5864C8.44937 12.5476 12.8444 8.88826 12.8444 5.30014C12.8444 3.88326 11.705 2.64076 10.405 2.64076C8.825 2.64076 7.9425 4.47576 7.935 4.49389C7.79125 4.84514 7.2125 4.84514 7.06812 4.49389C7.05937 4.47514 6.1775 2.64076 4.59687 2.64076H4.59625Z'
                ></path>
              </svg>
            </span>
            </button>
            <span class='like-count'>{{this.Tweet.Likes.length}}</span>
          </form>
            {{/if}}
        </div>
      </div>
    </div>


{{!-- 其它貼文回覆modal --}}
<!-- Modal -->
            <div
              class='modal fade'
              id='replyTweet{{this.id}}'
              data-backdrop='static'
              data-keyboard='false'
              tabindex='-1'
              aria-labelledby='staticBackdropLabel'
              aria-hidden='true'
            >
              <div class='modal-dialog'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    {{! <h5 class='modal-title' id='staticBackdropLabel'></h5> }}
                    <div
                      type='button'
                      class='post-close-button'
                      data-dismiss='modal'
                      aria-label='Close'
                    >
                      <span>
                        <svg
                          class='post-close-icon'
                          width='24'
                          height='24'
                          viewBox='0 0 24 24'
                          fill='none'
                          xmlns='http://www.w3.org/2000/svg'
                        >
                          <path
                            d='M13.4139 11.9999L19.2069 6.20687C19.5969 5.81687 19.5969 5.18388 19.2069 4.79288C18.8169 4.40188 18.1839 4.40288 17.7929 4.79288L11.9999 10.5859L6.20687 4.79288C5.81687 4.40288 5.18388 4.40288 4.79288 4.79288C4.40188 5.18288 4.40288 5.81587 4.79288 6.20687L10.5859 11.9999L4.79288 17.7929C4.40288 18.1829 4.40288 18.8159 4.79288 19.2069C4.98788 19.4019 5.24287 19.4999 5.49987 19.4999C5.75687 19.4999 6.01187 19.4019 6.20687 19.2069L11.9999 13.4139L17.7929 19.2069C17.9879 19.4019 18.2429 19.4999 18.4999 19.4999C18.7569 19.4999 19.0119 19.4019 19.2069 19.2069C19.5969 18.8169 19.5969 18.1839 19.2069 17.7929L13.4139 11.9999Z'
                          ></path>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div class='reply-modal-body'>
                    <div class='reply-modal-avatar-item'>
                      <img
                        class='poster-avatar'
                        src='{{this.User.avatar}}'
                        alt='avatar'
                        width='50'
                        height='50'
                      />
                      <div class='vertical-line'></div>
                    </div>

                    <div class='reply-content-warp'>
                      <div class='reply-header'>
                        <span class='reply-name'>{{this.User.name}}</span>
                        <span class='reply-account'>@{{this.User.account}} • {{moment this.User.createAt}}</span>
                        <div class='reply-content'>
                          <span>
                            {{this.description}}
                          </span>
                        </div>
                      </div>
                      <div class='card-reply-to'>
                        <span class='replyItem'>回覆</span>
                        <span class='replyReceiver'>@{{this.User.account}}</span>
                      </div>
                    </div>
                  </div>

                  <div class='modal-footer'>
                    <div class='reply-tweet-body'>
                      <form action='/tweets/{{this.id}}/replies' method='POST'>
                        <div class='replier-modal-body'>
                          <div class='replier-avatar'>
                            <img
                              src='{{../user.avatar}}'
                              alt=''
                              width='50'
                              height='50'
                            />
                          </div>
                          <div class='form-group'>
                            <label for='reply-tweets'></label>
                            <textarea
                              type='text'
                              class='form-control'
                              id='reply-tweets'
                              name='comment'
                              placeholder='推你的回覆'
                              required
                            ></textarea>
                          </div>

                        </div>
                        <div class='modal-footer'>
                          {{> message}}
                          <button type='submit' class='post-submit-button'>
                            <span class='replier-footer-button'>回覆</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
    {{/each}}
