{{#if (isdefined usersInteracted)}}
<div id="private-message-list" class="d-flex align-items-start flex-column w-100">
  {{#each usersInteracted}}
  {{!-- 要補上每條私訊的連結 --}}
   <div class="d-flex flex-row no-wrap align-items-star p-3 pointer tweet-gray w-100">
     <img class="profile-img img-fluid rounded-circle" src="{{this.avatar}}" alt="">
     <div class="private-message-content d-flex flex-column pl-3 w-100">
       <div class="d-flex flex-row w-100 align-items-center">
         <div class="sender-name name pr-2">
            <span>{{this.name}}</span>
         </div>
         <div class="sender-account text-lightgrey">
            <span class="username">@{{this.account}}</span>
         </div>
         <div class="message-posttime text-lightgrey ml-auto ms-auto">
            <span class="posttime">{{moment this.createdAt}}</span>
         </div>
       </div>
       <div class="message-text text-lightgrey py-1 w-100">1231212313212313123123123....</div>
     </div>
   </div>
  {{/each}}
  </div>
{{else}}
  <div id="public-chat-user-list" class="d-flex align-items-start flex-column" style="min-height: 100px;">
    {{!-- 從socket.js回傳公開聊天室使用者清單 --}}
  </div>
{{/if}}