

{{#if successMessage}}
  {{#if user.isAdmin}}
    <div class="alert alert-success text-center adminOpacity" role="alert">
      {{successMessage}}
    </div>
  {{else}}
    <div class="alert alert-success text-center" role="alert">
      {{successMessage}}
    </div>
  {{/if}}
{{/if}}

{{#if errorMessage}}
  {{#if user.isAdmin}}
    <div class="alert alert-danger text-center adminOpacity" role="alert">
      {{errorMessage}}
    </div>
  {{else}}
    <div class="alert alert-danger text-center" role="alert">
        {{errorMessage}}
    </div>
  {{/if}}
{{/if}}


{{#if successFlashMessage}}
  <div class="alert alert-success text-center adminOpacity" role="alert">
    {{successFlashMessage}}
  </div>
{{/if}}

{{#if errorFlashMessage}}
  <div class="alert alert-danger text-center adminOpacity" role="alert">
    {{errorFlashMessage}}
  </div>
{{/if}}