{{#if success_messages}}
<div class="error-message error-message-container  error-success">
  <div class="error-message-content">
    <p class="error-message-words">{{ success_messages }}</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if error_messages}}
<div class="error-message error-message-container  error-danger">
  <div class="error-message-content">
    <p class="error-message-words">{{ error_messages }}</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if warning_messages}}
<div class="error-message error-message-container  error-warning">
  <div class="error-message-content">
    <p class="error-message-words">{{ warning_messages }}</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if info_messages}}
<div class="error-message error-message-container  error-info">
  <div class="error-message-content">
    <p class="error-message-words">{{ info_messages }}</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="error-message error-message-container error-warning form-error-message">
  <div class="error-message-content">
    <p class="error-message-words">{{ this.messages }}</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/if}}