<div class="modal fade" id="replyModelForProfile{{modalId}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <div class="post border-bottom-0">
          <div class="post-card1 connected">
            <div class="avatar profile-avatar"><img
                src={{posterProfile.avatar}}
                alt="avatar-img"
              /></div>
          </div>
          <div class="post-card2">
            <h5
              class="d-inline-block post-title"
            >{{posterProfile.name}}&nbsp;<span
                class="post-sub-info"
              >@{{posterProfile.account}}
                &#x2027;
                {{moment this.createdAt}}</span></h5>
            <p>{{this.description}}</p><span class="post-sub-info">回覆給
              <span class="orange-text">{{posterProfile.name}}</span></span>
          </div>
        </div>
        <div class="profile-container connected border-start-0">

          <div class="profile-messageboard border-top-0">
            <div class="profile-avatar-container">
              <div class="avatar profile-avatar">
                <img src="{{myProfile.avatar}}" alt="avatar-img" />
              </div>
            </div>
            <form action="/tweets/{{this.id}}/replies" method="POST">
              <div class="profile-textarea-container border-start-0 connected">
                <textarea
                  name="comment"
                  class="form-control form-control-lg"
                  id="post"
                  placeholder="推你的回覆"
                  rows="3"
                  maxlength="140"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-twitter">
                <span>回覆</span>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>