<div class="modal fade" id="profileModel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--start::modal header-->
      <form action="/users/{{profile.id}}/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="modal-header profile-edit">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="bi bi-x-lg"></i>
          </button>
          <div class="modal-heading">
            <b>編輯個人資料</b>
          </div>
          <button type="submit" class="btn-orange btn-short upper-right">儲存</button>
        </div>
        <!--end::modal header-->

        <div class="modal-body">
          </label>
          <div class="profilepage-banner">

            <img src="{{profile.cover}}" />
            <!--start::edit icons-->
            <div class="block-centerBanner">
              <div class="form-group">
                <label for="cover">
                  <input type="file" class="form-control-file d-none" id="cover" name="cover">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.708 20H2.292C1.028 20 0 18.972 0 17.708V5.375C0 4.11 1.028 3.083 2.292 3.083H4.438C5.633 1.17 7.722 0 10 0C12.277 0 14.367 1.17 15.562 3.083H17.708C18.972 3.083 20 4.11 20 5.375V17.708C20 18.972 18.972 20 17.708 20ZM2.292 4.583C1.855 4.583 1.5 4.938 1.5 5.375V17.708C1.5 18.145 1.855 18.5 2.292 18.5H17.708C18.145 18.5 18.5 18.145 18.5 17.708V5.375C18.5 4.938 18.145 4.583 17.708 4.583H15.258C14.941 4.633 14.626 4.488 14.476 4.201C13.596 2.536 11.882 1.501 10 1.501C8.117 1.501 6.402 2.536 5.524 4.203C5.364 4.505 5.022 4.663 4.691 4.583H2.293H2.292Z"
                      fill="white"></path>
                    <path
                      d="M9.99989 6.16699C7.31989 6.16699 5.13989 8.34699 5.13989 11.027C5.13989 13.707 7.31989 15.887 9.99989 15.887C12.6799 15.887 14.8599 13.707 14.8599 11.027C14.8599 8.34699 12.6799 6.16699 9.99989 6.16699ZM11.9999 11.75H10.7499V13C10.7499 13.414 10.4139 13.75 9.99989 13.75C9.58589 13.75 9.24989 13.414 9.24989 13V11.75H7.99989C7.58589 11.75 7.24989 11.414 7.24989 11C7.24989 10.586 7.58589 10.25 7.99989 10.25H9.24989V8.99999C9.24989 8.58599 9.58589 8.24999 9.99989 8.24999C10.4139 8.24999 10.7499 8.58599 10.7499 8.99999V10.25H11.9999C12.4139 10.25 12.7499 10.586 12.7499 11C12.7499 11.414 12.4139 11.75 11.9999 11.75Z"
                      fill="white"></path>
                  </svg>
                </label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFF" class="bi bi-x-lg"
                  viewBox="0 0 16 16">
                  <path
                    d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                </svg>
              </div>

            </div>

            <!--end::edit icons-->

            <div class="profilepage-card1">
              <div class="avatar profilepage-avatar">

                <label for="avatar">
                  <input type="file" id="avatar" name="avatar" class="form-control-file d-none">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.708 20H2.292C1.028 20 0 18.972 0 17.708V5.375C0 4.11 1.028 3.083 2.292 3.083H4.438C5.633 1.17 7.722 0 10 0C12.277 0 14.367 1.17 15.562 3.083H17.708C18.972 3.083 20 4.11 20 5.375V17.708C20 18.972 18.972 20 17.708 20ZM2.292 4.583C1.855 4.583 1.5 4.938 1.5 5.375V17.708C1.5 18.145 1.855 18.5 2.292 18.5H17.708C18.145 18.5 18.5 18.145 18.5 17.708V5.375C18.5 4.938 18.145 4.583 17.708 4.583H15.258C14.941 4.633 14.626 4.488 14.476 4.201C13.596 2.536 11.882 1.501 10 1.501C8.117 1.501 6.402 2.536 5.524 4.203C5.364 4.505 5.022 4.663 4.691 4.583H2.293H2.292Z"
                      fill="white"></path>
                    <path
                      d="M9.99989 6.16699C7.31989 6.16699 5.13989 8.34699 5.13989 11.027C5.13989 13.707 7.31989 15.887 9.99989 15.887C12.6799 15.887 14.8599 13.707 14.8599 11.027C14.8599 8.34699 12.6799 6.16699 9.99989 6.16699ZM11.9999 11.75H10.7499V13C10.7499 13.414 10.4139 13.75 9.99989 13.75C9.58589 13.75 9.24989 13.414 9.24989 13V11.75H7.99989C7.58589 11.75 7.24989 11.414 7.24989 11C7.24989 10.586 7.58589 10.25 7.99989 10.25H9.24989V8.99999C9.24989 8.58599 9.58589 8.24999 9.99989 8.24999C10.4139 8.24999 10.7499 8.58599 10.7499 8.99999V10.25H11.9999C12.4139 10.25 12.7499 10.586 12.7499 11C12.7499 11.414 12.4139 11.75 11.9999 11.75Z"
                      fill="white"></path>
                  </svg>
                </label>
                <img src="{{profile.avatar}}" alt="avatar-img" />
              </div>
            </div>

          </div>
          <div class="mainpost-messageboard">
            <div class="col">

              <div class="floating-wrapper m75">
                <p class="modal-input-count">0/50</p>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control modal-input" id="name" name="name"
                    placeholder="{{profile.name}}" maxlength="50">
                  <label for="name" class="col-sm-2 col-form-label">名稱</label>
                </div>
              </div>


              <div class="floating-wrapper">
                <p class="modal-textarea-count">0/200</p>
                <div class="form-floating">
                  <textarea type="text" id="introduction" name="introduction" cols="55" rows"4"
                    class="form-control modal-input mb-2" placeholder="col-form-label"
                    maxlength="200">{{profile.introduction}}</textarea>
                  <label for="introduction" class="col-sm-2 col-form-label">自我介紹</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>