<li class="list-group-item row " style="height: 100%; min-height: 500px">
  <div style="min-height: 700PX;">

    <div class="btn-group-vertical  mt-4  ps-4" style="">
      <a href="/tweets">
        <img src="https://lighthouse.alphacamp.co/images/logo-simple.jpg" class="mb-5 ms-2" alt="" style=" width:3em">
      </a>
      <a type="button" class="btn {{#ifCond 'index' navPage}}active{{/ifCond}}" href="/tweets"
        style="text-align: left; font-size:1.5em;">
        <i class="fas fa fa-home"> 首頁</i>
      </a>
      <a type="button" class="btn {{#ifCond 'profile' navPage}}active{{/ifCond}}"
        href="/users/{{currentUser.id}}/tweets" style="text-align: left;font-size:1.5em;">
        <i class="far fa fa-user"> 個人資料</i>
      </a>
      <a type=" button" class="btn {{#ifCond 'setting' navPage}}active{{/ifCond}}" href="/users/{{currentUser.id}}/edit"
        style="text-align: left;font-size:1.5em;">
        <i class="fas fa fa-cog"> 設定</i>
      </a>
      <button type="" class="btn btn-primary rounded-pill mt-3" data-bs-toggle="modal"
        data-bs-target="#nav-{{currentUser.id}}" style="width: 80%;">推文</button>
      <a href="/logout" class="btn  rounded-pill mt-5" style=" font-size: 1.5rem; text-align: left;"><i
          class="fas fa-sign-out-alt"></i><strong class="ms-2">登出</strong></a>
    </div>
  </div>
</li>

{{!-- modal --}}
<form action="/tweets" method="POST">
  <div class="modal fade" id="nav-{{currentUser.id}}" tabindex="-1" aria-labelledby="tweet-{{this.id}}Label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body d-flex flex-row row">
          <div class="row mt-3">
            <div class="col-2">
              <img class="rounded-circle" src="{{currentUser.avatar}}" alt="" width="50px" height="50px">
            </div>
            <div class="col-10">
              <textarea name="description" id="description" style="resize:none; border: 0px; width: 100%; height: 100%;"
                placeholder="有什麼新鮮事"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary rounded-pill">推文</button>
        </div>
      </div>
    </div>
  </div>
</form>