<div style="width:178px; position:fixed; z-index:1; top:0; overflow-x:hidden" class="card border-white vh-100">
  <div style="width:50px; height:50" class="m-2 p-1">
    {{>ac-logo}}
  </div>
  {{#ifCond route 'tweets'}}
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#FF6600" class="navbar-brand text-decoration-none mx-2 px-1" href="/">
      {{>home-icon active=true}}
      <span class="h5 ms-3">首頁</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/users/{{ user.id }}/tweets">
      {{>user-icon}}
      <span class="h5 ms-3">個人資料</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/api/users/{{ user.id }}">
      {{>cog-icon}}
      <span class="h5 ms-3">設定</span>
    </a>
  </div>
  {{/ifCond}}

  {{#ifCond route 'users'}}
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/">
      {{>home-icon}}
      <span class="h5 ms-3">首頁</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#FF6600" class="navbar-brand text-decoration-none mx-2 px-1" href="/users/{{ user.id }}/tweets">
      {{>user-icon active=true}}
      <span class="h5 ms-3">個人資料</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/api/users/{{ user.id }}">
      {{>cog-icon}}
      <span class="h5 ms-3">設定</span>
    </a>
  </div>
  {{/ifCond}}

   {{#ifCond route 'edit'}}
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/">
      {{>home-icon}}
      <span class="h5 ms-3">首頁</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/users/{{ user.id }}/tweets">
      {{>user-icon }}
      <span class="h5 ms-3">個人資料</span>
    </a>
  </div>
  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
    <a style="color:#FF6600" class="navbar-brand text-decoration-none mx-2 px-1" href="/api/users/{{ user.id }}">
      {{>cog-icon active=true}}
      <span class="h5 ms-3">設定</span>
    </a>
  </div>
  {{/ifCond}}



  <a href="#" style="background-color:#FF6600; color:#FFFFFF; border-radius: 30px" class="btn px-3"
    data-bs-toggle="modal" data-bs-target="#myModalmain">推文</a>

  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1 position-absolute bottom-0 start-0">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/logout">
      {{>logout-icon}}
      <span class="h5 ms-3">登出</span>
    </a>
  </div>
</div>