<div class="col">
  <ul class="list-group">
    <li class="list-group-item "><strong>上線使用者({{onlineUserLength}})</strong></li>
    {{#each onlineUsers}}
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <a href="/users/{{this.id}}/tweets">
            <img class="rounded-circle" src="{{this.avatar}}" alt="" width="50px" height="50px">
          </a>
          <div class="d-flex align-items-center ms-2">
            <div><strong>{{this.name}}</strong></div>
            <div class="ms-2" style="color: gray;">@{{this.account}}</div>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>