<div class="w-25 popular-users-column ps-3">
  <h4 class="my-3 fw-bold mb-4">Popular</h4>
  <div class="list-group">
    {{#each users}}
      <div class="list-group-item d-flex justify-content-between border-0" style="width: 90%;">
        <div class="d-flex">
          <div class="me-2">
            {{#if this.avatar}}
              <div>
                <a href="/users/{{this.id}}/tweets"><img src="{{this.avatar}}" width="50px" height="50px" class="rounded-circle"></a>
              </div>
            {{else}}
              <div>
                <a href="/users/{{this.id}}/tweets"><img src="https://via.placeholder.com/50" width="50px" height="50px" class="rounded-circle"></a>
              </div>
            {{/if}}
          </div>
          <div class="d-flex flex-column">
            <div class="fw-bold">{{this.name}}</div>
            <div class="text-secondary fw-bold">@{{this.account}}</div>
          </div>
        </div>
        <div>
          {{#ifNotCond this.id ../user.id}}
            {{#if this.isFollowed}}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary rounded-pill">正在跟隨</button>
              </form>
            {{else}}
              <form action="/followships" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <button type="submit" class="btn btn-outline-primary rounded-pill">跟隨</button>
              </form>
            {{/if}}
          {{/ifNotCond}}
        </div>
      </div>
    {{/each}}
  </div>
</div>