<div class="card m-2" style=" border-radius:10px; background-color:#F5F8FA">
    <div class="card-body py-0 px-0 mt-1 ml-2" style="font-weight:bold;">
        Popular
    </div>

    {{#each users}}
    <hr class="m-2">
    <div class="card-body py-1">
        <div class="row ml-2">
            <div class="row cols" style="width:70%">
                <div class="cols text-center" style=" width:30%">
                    <a href="/users/{{user.id}}/tweets">
                        <img src="{{this.avatar}}" style=" width:50PX;height:50px; border-radius:100%;"></img>
                    </a>
                </div>

                <div class="cols " style=" width:70%">
                    <a href="/users/{{this.id}}/tweets">
                        <p class="m-0" style="font-size:18px;color: black; font-weight:bold;">{{this.name}}</p>
                    </a>
                    <p class="m-0" style="font-size:18px;font-weight:500;color:gray;">@{{this.account}}</p>
                </div>
            </div>
            {{#if isFollowed}}
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                <div class="cols my-1 " style="text-align:right;">
                    <button class="btn" style="width:100px; background-color: #FF6600;border-radius:40px; color:white; font-weight:bold; ">正在跟隨</button>
                </div>
            </form>
            {{else}}
            <form action="/followships" method="POST"  style="display: contents;">
                <div class="cols my-1 " style="text-align:right;">
                    <button type="submit" class="btn" name="id" value="{{this.id}}" style="width:100px; border:0.5px;  border:solid;  border-radius:40px; color:#FF6600; font-weight:bold; ">跟隨</button>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>

