<div style="height: 1200px;width:427px;">
  <div class="popular-container">
    <div class="popular-title">
      <h4>推薦跟隨</h4>
    </div>
    <div class="tweets-mid" style="height: 656px;width:273px;">
      <ul class="popular-list-group" style="display:inline">
        {{#each users}}
        {{!-- 正在跟隨 --}}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="user-icon">
            <a href="/users/{{this.id}}/tweets">
              <img src="{{this.avatar}}" style="height: 50px;width:50px; border-radius:50%">
            </a>
          </div>
          <div class="ms-2 me-auto">
            <a href="/users/{{this.id}}/tweets">
              <div class="popular-name" style="text-overflow:ellipsis; overflow:hidden; width:4.5rem">
                {{this.name}}
              </div>
              <small class="small-account"
                style="text-overflow:ellipsis; overflow:hidden; width:4.5rem">@{{this.account}}
              </small>
            </a>
          </div>
          {{#if isCurrentUser }}
          <div></div>
          {{else if this.isFollowed }}
          <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="following-btn">正在跟隨</button>
          </form>
          {{else}}
          <form action="/followships" method="POST" style="display: contents;">
            <input type="text" name="id" value="{{this.id}}" style="display: none;">
            <button type="submit" class="follow-btn">跟隨</button>
          </form>
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>