<div class="back-arror-header">
  <a><i class='back-arror'></i></a>
  <div class="header-text">
    <span class="name">{{user.name}}</span>
    <span class="post-count">{{user.tweetCount}} 推文</span>
  </div>
</div>

<div class="paginator">
  <a class="active" href="/users/{{user.id}}/followers">跟隨者</a>
  <a class="" href="/users/{{user.id}}/followings">正在跟隨</a>
</div>

<div class="followship">

  {{#each followers}}
  <div class="follower">
    <a>
      <img class="thumbnail" src="/icons/avatar.svg" alt="">
    </a>
    <div class="followerinfo">
      <a class="followeruser">
        <span class="name ellipsis">{{this.name}}</span>
        <span class="at-name ellipsis">@{{this.account}}</span>
      </a>
      <div class="followerintro">
        {{this.introduction}}
      </div>
    </div>
    {{#if this.isFollowed}}
    <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
      <button type="submit">正在追蹤</button>
    </form>
    {{else}}
    <form action="/followships" method="POST">
      <input type="hidden" name="id" value="{{this.id}}">
      <button type="submit">跟隨</button>
    </form>
    {{/if}}
    {{!-- <button type="button" class="btn-outline xs">跟隨</button> --}}
  </div>
  {{/each}}

</div>