<div class="modal fade bd" id="profileModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 638px; height: 610px; margin-left: -84px; margin-top: 58px">
      <form action="/api/users/{{user.id}}?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
              <i class="fa-solid fa-xmark fa-lg" style="color: #ff6600;"></i>
            </button>
            <span class="modal-title h5 fw-bold ps-3" id="ModalLabel">編輯個人資料</span>
          </div>
          <button class="btn btn-primary"
            style="border-radius:50px; width:88px; height:46px;padding:8px 24px 8px 24px; background-color: #FF6600; border:none"
            type="submit">
            <font size="4">儲存</font>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12" style="position:relative">
            <div class="bg-holder" style="height: 200px;">
              <img src="{{#if users.cover}}{{users.cover}}{{else}}https://i.imgur.com/yLZPe7q.jpg{{/if}}"
                class="card-img-top img-fluid rounded-circle" alt="..." style="height:100%;">
            </div>
            <div class="cover-option" style="display:inline; position:absolute; left: 280px; top: 80px">
              <label for="cover-add" class="btn cover-uploader">
                <input class="d-none" type="file" id="cover-add" name="cover" accept="image/*">
                <i class="fa-solid fa-camera" style="color: #dedede;  height:24px; width:24px;"></i>
              </label>
              <label for="cover-del" class="btn">
                <input class="d-none" type="file" id="cover-del" name="cover-del">
                <i class="fa-solid fa-xmark" style="color: #dedede; height:24px; width:24px;"></i>
              </label>
            </div>

            <div class="avatar-holder" style="margin-top:-65px; margin-left:20px; height:140px;">
              <img src="{{#if users.avatar}}{{users.avatar}}{{else}}https://i.imgur.com/TEssa4K.jpeg{{/if}}"
                class="rounded-circle" alt="user_avatar" style="border:4px #FFFFFF solid; height: 140px; width:140px;">
            </div>
            <label for="avatar" class="btn avatar-uploader" style=" position:absolute; left: 75px; top: 180px">
              <input class="d-none" type="file" id="avatar" name="avatar" accept="image/*">
              <i class="fa-solid fa-camera" style="color: #dedede; height:24px; width:24px;"></i>
            </label>
          </div>

          <div style="height:78px; width:602px; margin: 10px auto 40px auto;">
            <div style="background-color:#F5F8FA;">
              <label for="name" style="margin: 5px auto auto 16px; font-size: 14px;">
                <font color="#696974">名稱</font>
              </label>
              <input type="text" class="form-control nowcount1 mb-0" id="name" name="name" maxlength="50"
                style="border:none; outline: none; font-size:16px; background-color:#F5F8FA; border-bottom:2px solid #657786; width:100%;"
                aria-describedby="nameHelp" value="{{users.name}}"/>
            </div>
            {{!-- 計算字數 --}}
            <p class="text-end text-muted now1" style="font-size: 12px;">/50</p>
          </div>

          <div style="height:171px; width:602px; margin: 10px auto 40px auto;">
            <div style="background-color:#F5F8FA;">
              <label for="name" style="margin: 5px auto auto 16px; font-size: 14px;">
                <font color="#696974">自我介紹</font>
              </label>
              <textarea class="form-control nowcount2" id="introduction" name="introduction"
                style="border:none; border-bottom:2px solid #657786;outline: none;background-color:#F5F8FA; font-size:16px;width:100%;"
                maxlength="160" aria-describedby="descriptionHelp">
                {{#if users.introduction}}
                  {{users.introduction}}
                {{else}}
                  Lorem example text example text for AC simple twitter project practice
                {{/if}}
              </textarea>   
            </div>
            {{!-- 計算字數 --}}
            <p class="text-end text-muted now1" style="font-size: 12px;">/160</p>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>