<div class="back-arror-header">
  <a><i class='back-arror'></i></a>
  <div class="header-text">
    <span class="name">{{user.name}}</span>
    <span class="post-count">{{user.tweetCount}} 推文</span>
  </div>
</div>
<div class="banner">
  <img src="{{user.cover}}" alt="" class="cover">
  <img src="{{user.avatar}}" alt="" class="avatar">
  <div class="buttons">
    {{#ifCond loginUser.id user.id}}
    <button type="button" class="btn-outline sm"
      onclick="document.querySelector('#modal-edit').classList.remove('d-none');">編輯個人資料</button>
    {{else}}
    <a><i class='btn-message'></i></a>
    <a><i class='btn-noti'></i></a>
    <button type="button" class="btn-fill sm">正在跟隨</button>
    {{/ifCond}}
  </div>
</div>
<div class="information">
  <span class="name">{{user.name}}</span>
  <span class="at-name">{{user.account}}</span>
  <span class="introduction">{{user.introduction}}</span>
  <div class="followship">
    <span class="following">{{user.followingCount}} 個
      <a href="/users/{{user.id}}/followings">跟隨中</a>
    </span>
    <span class="follower">{{user.followerCount}}萬 位
      <a href="/users/{{user.id}}/followers">跟隨者</a>
    </span>
  </div>
</div>
<div class="paginator">
  <a class="" href="/users/{{user.id}}/tweets">推文</a>
  <a class="active" href="/users/{{user.id}}/replies">推文與回覆</a>
  <a class="" href="/users/{{user.id}}/likes">喜歡的內容</a>
</div>
<div class="tweets">

  {{#each replies}}
  <div class="tweet profileTweet">
    <div>
      <img class="thumbnail" src="/icons/avatar.svg" alt="">
    </div>
    <div class="postcontent">
      <div class="postuser">
        <span class="name ellipsis">{{../user.name}}</span>
        <span class="at-name ellipsis">{{../user.account}}</span>
        <span class="timer ellipsis">{{../user.createdAt}}</span>
      </div>
      <div class="replyto">回覆
        <span class="at-name">@{{this.Tweet.User.account}}</span>
      </div>
      <button type="button" class="content" id="content">
        {{this.comment}}
      </button>

    </div>
  </div>
  {{/each}}

</div>