<div class='p-0 d-flex justify-content-center {{ visibleToggle }}'>
  <ul class='list-group mt-3 mb-3 recommend-followings'>
    <li class='list-group-item recommend-followings-item recommend-followings-title'>
      <h4>推薦跟隨</h4>
    </li>

    {{#each followingData}}
      <li class='list-group-item recommend-followings-item'>
        <div class='d-flex align-items-center'>
          <button class="tweet-click-block"
            onclick="event.stopPropagation(); event.preventDefault(); window.location.href='/users/{{this.id}}/tweets';">
            <img src='{{this.avatar}}' alt='' class='tweet-user-img'
              onerror="this.onerror=null; this.src='/images/profile-img.svg'"/>
          </button>
          <div class='recommend-followings-text flex-grow-1'>
            <div class='following-name'>{{this.name}}</div>
            <div class='following-account'>@{{this.account}}</div>
          </div>
          <div class='flex-shrink-1 p-0'>
              {{#if this.isFollowed}}
                <form class='' action='/followships/{{this.id}}?_method=DELETE' method='POST'>
                  <button type='submit' class='btn'>正在跟隨</button>
                </form>
                </form>
              {{else}}
                <form class='' action='/followships' method='POST'>
                  <input type="hidden" name="id" value={{this.id}}>
                  <button type='submit' class='btn recommend-followings-btn'>跟隨</button>
                </form>
              {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>