<div class="recommend-follow-list">
  <div class="follow-list m-2 border border-0 rounded-4" id="follow-list">
    <div class="text-container border-bottom">
      <div class="h3 fw-bold text-start m-4 pt-4">推薦跟隨</div>
    </div>
    <div class="d-flex flex-column m-3 mt-0 pb-4" id="top-users-container">
      {{#each topUser}}
        {{#if isAdminOrSelf}}{{else}}
          <div class="user-container d-flex align-items-center mt-2 mb-2">
            <a href="/users/{{this.id}}/tweets"><img
                src="{{this.avatar}}"
                alt=""
                class="avatar-sm rounded-pill"
              /></a>
            <div
              class="name-account-wrapper ms-2 d-flex flex-column flex-grow-1 justify-content-start align-items-start"
            >
              <h6
                class="list-user-name ellipsis fw-bold fs-5 text-start mb-0"
              >{{this.name}}</h6>
              <p
                class="list-user-account ellipsis fw-normal fs-6 text-start mb-0"
              >@{{this.account}}</p>
            </div>
            {{#if this.isFollowed}}
              <button
                class="following-btn follow-item btn btn-brand rounded-pill follow-id-{{this.id}}"
                data-userid="{{this.id}}"
                data-useraccount="{{this.account}}"
                type="submit"
              >正在跟隨</button>
            {{else}}
              <button
                class="follow-btn follow-item btn btn-brand rounded-pill follow-id-{{this.id}}"
                data-userid="{{this.id}}"
                data-useraccount="{{this.account}}"
                type="submit"
              >跟隨</button>
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>