<div class="h4 mb-4" style="color: #313c4b;">Popular</div>

{{#each topFollowing }}
<div class="d-flex align-items-center  p-1 pt-2 ps-2"
  style="margin-bottom:1.3em;background-color:white;text-decoration:none;border-radius: 1em;width:20vw;height:20vh;box-shadow:0 0 8px 3px #ccccccb3;">
  {{!-- avatar --}}
  <a href="/users/{{ this.id }}/tweets">
    {{#if this.avatar }}
    <img src="{{ this.avatar }}" style="border-radius: 0.7em;height: 9vh;margin-left:0.4em">
    {{else}}
    <img src="https://i.pinimg.com/564x/84/9b/50/849b50b189859a59ba38eed018cbfc1d.jpg"
      style="border-radius: 0.7em;height: 9vh;margin-left:0.1em">
    {{/if}}
  </a>
  {{!-- account --}}
  <div style="color:#313c4b;width:9vw;margin-top: -4em" class="d-flex align-items-center ms-3 mt-0">
    <div class="d-flex flex-column" style="height: 10vh;">
      <p class="m-0 fw-bolder">{{ this.name }}</p>
      <p class="m-0" style="color: #313c4b84;">{{ this.account }}</p>
      <p class="m-0" style="color: #313c4bbf;">{{ this.followerCount }} 人追蹤中</p>
    </div>
  </div>

  {{!-- 追蹤 btn --}}
  <form action="/users/{{ this.id }}/follow" method="post" class="">
    <button class="btn p-2"
      style="background-color: #ffd5728a;color: #313c4bc2;border-radius:50%;width:4em;height:4em;font-size:smaller">追蹤</button>
  </form>
</div>
{{/each}}