<div class="row mx-0 px-0 blockstyle py-3"  onclick="location.href='/tweets/{{tweet.id}}/replies';">
    <div class="col-1">
        <a href="/users/{{User.id}}/tweets"><img src="{{User.avatar}}" class="rounded-circle linkPicture" style="width:50px;height:50px"></a>
    </div>
    <div class="col">
        <p>
            <a href="/users/{{User.id}}/tweets" style="text-decoration:none; color:black;">
                <span class="fw-bold fs-6 linkText">{{User.name}}</span>
            </a>
            <small>@{{User.account}} ‧ {{relativeTimeFromNow this.updatedAt}}</small>
            <br/>  
            <small >回覆 <a href="/users/{{tweet.User.id}}/tweets" style="text-decoration:none;"><span class="linkText" style="color:#FF6600">@{{tweet.User.name}}</span></a></small>
        </p>
        <p onclick="location.href='/tweets/{{tweet.id}}/replies';">{{this.comment}}</p>
        <div class="d-flex">
            <div class="col-1"><i class="far fa-comment"></i></div>
            <div class="col-1"><i class="far fa-heart"></i></div>
        </div>
    </div>
</div>
<hr class="my-0"/>
