{{!-- 以下是reply 的 modal --}}
<div class="modal fade" id="reply-modal-{{this.id}}" tabindex="-1" role="dialog"
  aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content" style="width:634px; height:500px;border-radius:14px;">

      <div class="modal-header" style="width:634px; height:56px;">
        <a data-bs-dismiss="modal">
          <img src="/images/icons/icon-danger.png" alt="" style="width:25px;height:25px;">
        </a>
      </div>
      {{!-- 原推文部分 --}}
      <div class="modal-reply-tweet-main d-flex m-3" style="height: 200px;">
        <div class="modal-reply-tweet-avatar">
          <img src="{{user.avatar}}" class="rounded-circle" style="width:50px;height:50px">
        </div>
        <div class="modal-reply-tweet-text" style="max-width:90%;margin-left:13px;">
          <span class="modal-reply-tweet-name" style="font-size:16px; font-weight:700;line-height:26px margin-right:8px;">{{user.name}}</span>
          <span style="font-size:14px;font-weight:400"> @{{user.account}}．{{relativeTimeFromNow this.createdAt}}</span>
          <br />
          <p class="modal-reply-tweet-description" style="word-wrap: break-word; word-break: normal;margin-top:10px;font-size:16px; font-weight:400">{{this.description}}</p>
          <small>回覆給<span style="color:#FF6600">@{{user.account}}</span></small>
        </div>
      </div>
      {{!-- 回文部分 --}}
      <form class="modal-tweet-post" action="/tweets/{{this.id}}/replies" method="POST">
        <div class="modal-body d-flex" id="post-modal-body">
          <div class="modal-avatar">
            <img style="width:50px;height:50px;border-radius:25px;" src="{{User.avatar}}" alt="modal-avatar">
          </div>
          <div class="modal-input">
            <textarea class=" border border-0 m-2" name="comment" style="font-size: 16px;" id="comment-{{this.id}}" type="text"
              cols="65" rows="5" placeholder="推你的回覆" maxlength='140' required></textarea>
          </div>
        </div>
        <button type="submit" class="modal-post-btn" style="margin-left: 555px; margin-top:-20px;">回覆</button>
      </form>
    </div>

  </div>
</div>