<div class="modal fade" id="replyModal{{tweets.id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 750px; height: 100%; border-radius:14px;">
      <div class="modal-header">
        <div class="tweet-title btn"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="color: #FF6600;"></button></div>
      </div>
      <div class="tweets d-flex mt-3">
        <div class="avatar ps-3" style="width: 634px;">
          <a href="/users/{{#if tweets.User.dataValues.id}}{{tweets.User.dataValues.id}}{{else}}{{tweets.User.id}}{{/if}}/tweets"
            style="text-decoration:none;">
            <img
              src="{{#if tweets.User.dataValues.avatar}}{{tweets.User.dataValues.avatar}}{{else}}https://i.imgur.com/ehh37fR.jpg{{/if}}"
              class="rounded-circle me-3" style="width: 50px;height: 50px;background: #C4C4C4;">
          </a>
        </div>
        <div class="tweet-content me-5" style="width:634px; ">
          <div class="name">
            <span style="font-size: 16px;font-weight:700;">{{#if
              tweets.User.dataValues.name}}{{tweets.User.dataValues.name}}{{else}}{{tweets.User.name}}{{/if}}</span>
            <span style="font-size: 14px;color:#C4C4C4">{{#if
              tweets.User.dataValues.account}}{{tweets.User.dataValues.account}}{{else}}{{tweets.User.account}}{{/if}}．{{relativeTimeFromNow
              tweets.createdAt}}</span>
          </div>
          <div class="content mt-2 mb-1 me-5" style="width:630px; word-wrap: break-word;">
            <p style="font-size:16px; font-weight:400">{{tweets.description}}</p>
          </div>
          <p style="font-size: 16px;">回覆給<strong
              style="font-size: 14px; font-weight: 400; color: #FF6600;">@{{#if
              tweets.User.dataValues.account}}{{tweets.User.dataValues.account}}{{else}}{{tweets.User.account}}{{/if}}</strong>
          </p>
        </div>
      </div>
      <div class="modal-body" class="d-flex" style="height:250px;">
        <div class="body-avatar d-flex align-items-stretch">
          <div class="left">
            <a href="/users/{{user.id}}/tweets">
              <img src="{{#if user.avatar}}{{user.avatar}}{{else}}https://i.imgur.com/ehh37fR.jpg{{/if}}"
                class="rounded-circle me-3" style="width: 50px;height: 50px;background: #C4C4C4;">
            </a>
          </div>
          <div class="right" class="d-flex">
            <form method="POST" id="reply-tweet-modal" action="/tweets/{{tweets.id}}/replies">
              <textarea name="description" id="reply-description" cols="50" rows="5" placeholder="推你的回覆"
                style="height:100px; width: 620px; background: #FFFFFF;font-size: 18px;border: 0px solid #E6ECF0;box-sizing: border-box; resize:none; outline : 0;"></textarea>

              <div class="button d-flex justify-content-between" style="width: 550px; margin-left:100px;">
                <div class="me-0" id="err-message-reply">

                </div>
                <button type="submit" class="btn" id="reply-button"
                  style="justify-content: center;align-content: center; white-space: nowrap; width: 64px; height:40px; background: #FF6600;border-radius: 50px;">
                  <span class="d-flex align-items-center" style="font-size: 16px; color: #FFFFFF;">回覆</span>
                </button>


              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  const replyTweetModal = document.querySelector('#reply-tweet-modal')
  const replyErrContainer = document.querySelector('#err-message-reply')
  replyTweetModal.addEventListener('submit', function onFormSubmit(event) {
    if (document.querySelector('#reply-description').value.trim() === '') {
      event.preventDefault()
      event.stopPropagation()
      replyErrContainer.innerHTML = `
      <span style="justify-content: start; width: 634px; font-weight: 500;font-size: 15px;color: #FC5A5A;">內容不可空白</span>
      `
    }
    if (document.querySelector('#reply-description').value.length > 140) {
      event.preventDefault()
      event.stopPropagation()
      replyErrContainer.innerHTML = `
      <span style="justify-content: start; width: 634px; font-weight: 500;font-size: 15px;color: #FC5A5A;">回覆內容不可以超過140字！</span>
      `
    }
  })
</script>