<div class="modal-dialog" role="document">
  <div class="modal-content">

    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <hr>



    <div class="reply-tweet">
      <div class="reply-modal-tweet">
        <div class="mt-2 ml-2" style="padding:0">
          <div>
            <img class="modal-avatar user-pic" src="{{this.User.avatar}}" alt="">
          </div>
          <div class="headerDivider"></div>
        </div>

        <div class="mt-2" style="flex-grow: 1; position:relative">
          <div class="account-info d-flex" style="flex:auto">

            <div class="user-name modal-name">{{this.User.name}}</div>
            <div class="account-time modal-info ml-2">@{{this.User.account}}．3小時</div>
          </div>



          <div class="modal-description post-text d-flex" style="flex:auto">
            {{this.description}}
          </div>

          <div class="reply" style="margin-left:10px; position:absolute;bottom:0px;">
            <div class="reply-text">回覆給</div>
            <div class="reply-account">@{{currentUser.account}}</div>
          </div>

        </div>
      </div>
    </div>

    <form action="/tweets/{{this.id}}" method="POST">
      <div class="type-area">
        <div class="user-pic ml-2">
          <img src="{{currentUser.avatar}}" alt="">
        </div>
        {{!-- //TODO:要包FORM --}}
        <div class="type-text form-group">
          <input type="hidden" name="TweetId" value="{{this.id}}" />
          <textarea class="form-control new-post-content " name="comment" id="comment" placeholder="推你的回覆" rows="5"  maxlength="140"></textarea>
        </div>
      </div>

      <div class="add-button">
        <button type="submit" class="btn button">回覆
        </button>
      </div>




    </form>
  </div>
</div>