<div
  class="reply-container d-flex pt-3 pb-3 d-flex justify-content-center"
  style="border:1px solid #E6ECF0; min-height:133px"
>
  <div
    class="avatar me-3"
    style="width:50px; height:50px; border-radius:50%; background-color:gray"
  >
    <img src="" alt="" />
  </div>
  <div class="content ms-2 mb-3" style="width:528px">
    <div class="account d-dlex flex-row">
      <p style="display: inline; font-weight:700">{{this.User.account}}</p>
      <p style="display: inline; color:#6C757D">@{{this.User.name}}．{{relativeTimeFromNow this.createdAt}}</p>
      <div class="toWhom mt-1" style="color:#6C757D">回覆 <p style="display: inline; color:#FF6600">@{{@root.tweet.User.name}}</p></div>
    </div>
    <div class="text mt-2">
      {{this.comment}}
    </div>
  </div>
</div>