<div class="col-3">
  <nav class="side-bar-right" style="background-color:#FAFAFB;witdh:273px;height:731px;">
    <div class="side-bar-right-top" style="border-bottom: 1px solid	#E6ECF0;">
      <p class="text-start m-3">
        <strong style="color: #171725;font-size: 24px;">推薦跟隨</strong>
      </p>
    </div>
    <div class="row side-bar-body">
      {{!-- {{#each topUsers}} --}}
      {{#each recommendedUsers}}
        {{#ifCondFalse this.id ../user.id}}
          <div class="user-info-item d-flex">
            <div class="image m-2 col-2">
              <a href="/users/{{this.id}}/tweets">
                <img src="{{#if this.avatar}}{{this.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt=""
                  class="circle" style="border-radius:50%;width:50px;height:50px;">
              </a>
            </div>
            <div class="mt-2 col-3">
              <a href="/users/{{this.id}}/tweets" style="text-decoration: none;">
                <p class="user-name m-0" style="color: #171725;font-size: 16px;">{{this.name}}</p>
              </a>
              <p class="user-name m-0" style="color: #92929D;font-size: 14px;">@{{this.account}}</p>
            </div>
            {{!-- {{#if isFollowed}} --}}
            <div class="follow_btn m-2 col-4">
              {{#if this.isFollowed}}
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-primary"
                    style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;">正在追隨</button>
                  </button>
                </form>
              {{else}}
                <form action="/followships" method="POST" class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn-primary"
                    style="color: #ff6600;font-size: 16px;background-color:white;border: 1px solid #FF6600;border-radius:20px; width:64px;height:40px"
                    name="id" value={{this.id}}>追隨</button>
                </form>
              {{/if}}
            </div>
          </div>
        {{/ifCondFalse}}
      {{/each}}
    </div>
  </nav>
</div>