<div class="right-column">
  <div class="right-column-title font-weight-bold">
    跟隨誰
  </div>

  {{#each users}}
  <div class="top-followings-list">
    <div class="top-user-item d-flex align-items-center">
      <a href="/users/{{this.id}}/tweets">
        <img src="{{this.avatar}}" alt="{{this.avatar}}">
      </a>
      <div class="top-user-name d-flex flex-column justify-content-center">
        <a href="/users/{{this.id}}/tweets" class="user-name font-weight-bold">{{this.name}}</a>
        <div class="user-account">@{{this.account}}</div>
      </div>
      {{#if this.isFollowed}}
      <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
        <button class="unfollow-button">正在跟隨</button>
      </form>
      {{else}}
      <form action="/followships" method="POST">
        <button class="follow-button" name="id" value="{{this.id}}">跟隨</button>
      </form>
      {{/if}}
    </div>
  </div>
  {{/each}}

  <button class="button more-users">
    顯示更多
  </button>
</div>