<nav class="follower-recommendation mt-2 mx-0 position-fixed">
  <ul class="list-group ">
    <li class="list-group-item bg-light">
      <h4 class="fw-bold" style="font-size: 24px">
        推薦跟隨
      </h4>
    </li>
    {{#each loginUser.topFollowings}}
    <li class="list-group-item bg-light">
      <div class="d-flex justify-content-between">
        <img src="{{this.avatar}}" class="rounded-circle me-2" width="50" height="50">
        <div class="d-flex flex-column flex-grow-1 me-2">
          <span class="fw-bold" style="font-size: 16px;">{{this.name}}</span>
          <span style="font-size: 14px; color: #6C757D">@{{this.account}}</span>
        </div>
        <form class="d-flex" action="/followships{{#if this.isFollowing}}?_method=DELETE{{/if}}" method="post">
          <input type="hidden" value="{{this.id}}" name="followingId" />
          <button type="submit" class="px-3"
            style="font-size: 16px; border-radius: 50px; border: 1px solid #FF6600;
              {{#if this.isFollowing}}color: #FFFFFF; background-color: #FF6600;
              {{else}}color: #FF6600; background-color: #FFFFFF;
              {{/if}}">
            {{#if this.isFollowing}}正在跟隨{{else}}跟隨{{/if}}
          </button>
        </form>
      </div>
    </li>
    {{/each}}
  </ul>
</nav>