{{#if user}}
<!-- 頁面右側區塊 -->
<div class="right-content">
  <div class="right-column">
    <div class="right-column-title">
      跟隨誰
    </div>
    <div class="user-list">

      <!-- 10個推薦使用者清單迴圈 -->
      {{#each user.TopUsers}}
      <div class="user-list-item">
        <img src="" alt="" class="avtar">
        <div class="user-list-item-name">
          <a href="" class="user-name">
            {{this.name}}
          </a>
          <div class="user-account">{{this.account}}</div>
        </div>
        {{#ifEqual this.id ../user.id}}
        {{else}}
        {{#if isFollowed}}
        <form action="/followship/{{this.id}}?_method=DELETE" method="POST">
          <button class="unfollow-button">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followship/{{this.id}}" method="POST">
          <button class="follow-button">跟隨</button>
        </form>
        {{/if}}
        {{/ifEqual}}
      </div>
      {{/each}}
      <!-- 迴圈結束 -->

    </div>
    <a href="" class="more-users">
      顯示更多
    </a>
  </div>
</div>

{{/if}}