<div class="row justify-content-center right-container">
  <div class="col align-self-center m-0 p-0" style="background-color: #F5F8FA;border-radius:10px">
    <div class="h6 m-3 " style="font-weight: bold;">跟隨誰</div>
    <hr class="m-0 p-0">
    {{#each topUsers}}
    <div class="card m-0 p-0  " style="border-color:transparent; border-radius:0 ;background-color:#F5F8FA;">
      <div class="row no-gutters">
        <div class="m-2">
          <a href="/users/{{this.id}}/tweets">
            <img src="{{this.avatar}}" class="card-img" alt="img" style="border-radius: 50%; width:50px">
          </a>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <span style="font-weight: bold; font-size:15px;font-family: 'Noto Sans TC'; ">{{this.name}}</span>
          <span class="text-muted"
            style="font-weight: bold; font-size:15px;font-family: 'Noto Sans TC';">@{{this.account}}</span>
        </div>
        {{#if this.isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="post" class="row align-items-center mr-3">
          <div class="col ml-auto ">
            <button type="submit" class="btn px-3 py-1"
              style="border-radius: 23px;background:#ff6600; color:white; font-weight:bold; font-size:15px">正在跟隨</button>
          </div>
        </form>
        {{else}}
        <form action="/followships" method="post" class="row align-items-center mr-3">
          <input type="hidden" name="id" value="{{this.id}}">
          <div class="col ml-auto">
            <button class="btn px-3 py-1"
              style="border-radius: 23px;background:#F5F8FA; color:#ff6600; border:1px solid #ff6600; font-weight:bold; font-size:15px">跟隨</button>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
    <hr class="m-0 p-0">
    {{/each}}
  </div>
</div>