<div class="col d3">
  <div class="row row-cols-1 row-cols-md-1">
    <!-- logo -->
    <div class="col">
      <div class="card popular_card" style="border-radius: 16px 16px 0 0 ">
        <div class="card-body">
          <p class="popular_title">
            跟隨誰
          </p>
        </div>
      </div>
    </div>

    <div class="Rectangle"></div>

    {{!-- 人員 --}}
    {{#each topUsers}}
    <div class="col">
      <div class="card popular_card">

        <div class="popular_imgbody">
          <a href="/users/{{this.id}}/tweets">
            <img src="{{this.avatar}}" class="popular_img"></img>
          </a>
        </div>

        <div class="card-body">
          <div class="popular_cardtitle">
            <a href="/users/{{this.id}}/tweets" style='text-decoration: none;'>
              <p class="popular_cardname">{{this.name}}</p>
            </a>
            <p class="popular_cardaccount">@{{this.account}}</p>
          </div>

          {{!-- 是本人，不顯示追蹤按鈕 --}}
          {{#ifCond ../logInUser.id this.id}}
          {{else}}
          {{!-- isFollowed 判斷 --}}
          {{#if isFollowed}}
          <div class="follow_btn">
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="margin: 0px;padding:0px;">
              <button class="btn following_btn">正在跟隨</button>
            </form>
          </div>
          {{else}}
          <div class="follow_btn">
            <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn follower_btn" name="id" value="{{this.id}}">跟隨</button>
            </form>
          </div>
          {{/if}}
          {{/ifCond}}
        </div>
      </div>

      {{/each}}


    </div>
  </div>
</div>