 <div class="right-zone p-2">
    <ul class="top-following">
        <li class="font-weight-bold">
            前 10 被追隨者
        </li>
        {{#each users}}
            {{#isAdmin this.isAdmin }}
            {{else}}
            <li class="">
                <div class="mb-1">
                    <strong>No. {{record @key}}</strong>
                </div>
                <div class="d-flex">
                    <div class="user-avatar">
                        {{#isNumberOne @key}}
                        <div class="no1">
                            <i class="fas fa-crown"></i>
                        </div>
                        {{/isNumberOne}}
                        <a href="/user/{{ this.id }}/tweets">
                            <img src="{{this.avatar}}">
                        </a>
                    </div>
                    <div class="ml-2 mt-2 name-account">
                        <div class="name font-weight-bold">
                            <a href="/user/{{ this.id }}/tweets">{{this.name}}</a>
                        </div>
                        <div class="account">@{{this.account}}</div>
                    </div>
                    <div class="follow-btn">
                        {{#if this.isFollowed}}
                        <form action="/following/{{ this.id }}?_method=DELETE" method="POST">
                            <button class="following">正在跟隨</button>
                        </form>
                        {{else}}
                        <form action="/following/{{ this.id }}" method="POST">
                            <button class="follow">跟隨</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/isAdmin}}
        {{/each}}
        <li style="border-bottom: none">
            <a href="/user/{{ user.id }}/follower" style="color:#FF6600; text-decoration: none">顯示更多</a>
        </li>
    </ul>
 </div>