<div class='sidebar-right'>
  <div class='sidebar-header'>
    <h4>推薦跟隨</h4>
  </div>

  {{#each topFollowers}}
    <div class='follow-card'>
      <a href='/users/{{this.id}}/tweets'>
        <img src='{{this.avatar}}' alt='avatar' />
        <div class='follow-card-user'>
          <h5>{{this.name}}</h5>
          <p>@{{this.account}}</p>
        </div>
      </a>
      {{#if this.isFollowed}}
        <form action='/followships/{{this.id}}?_method=DELETE' method='post'>
          <input
            class='form-control'
            type='hidden'
            name='id'
            value='{{this.id}}'
          />
          <button class='following' type='submit'>正在跟隨</button></form>
      {{else}}
        <form action='/followships' method='post'><button
            class='follow'
            type='submit'
          >跟隨</button>
          <input
            class='form-control'
            type='hidden'
            name='id'
            value='{{this.id}}'
          />
        </form>

      {{/if}}
    </div>
  {{/each}}

</div>