<div class="col">
  <div class="right-side">
    <div class="right-side-container d-flex flex-column bd-highlight ms-3 mt-3">
      <span class="font-lg-dark">推薦跟隨</span>
      <div class="hr-line"></div>
      {{#each top10-users}}

      {{/each}}
      {{!-- 暫時展示區 --}}
      {{!-- <form action="/followships" method="POST">
        <input class="followingId" type="text" name="id" value="{{user.id}}">
        <div class="d-flex justify-content-between align-items-center flex-row bd-highlight mb-3">
          <div class="bd-highlight">
            <a href="/users/{{user.id}}/tweets">
              <img class="me-auto rounded-circle" src="{{user.avatar}}" alt="avatar">
            </a>
          </div>
          <div class="name-container d-flex flex-column bd-highlight p-1">
            <a href="/users/{{user.id}}/tweets">
              <div class="font-name">12wqweqweqweqweqee</div>
              <div class="font-account">@45awe6</div>
            </a>
          </div>
          <div class="bd-highlight">
            <button type="submit" class="follow-btn ms-1">
              跟隨
            </button>
          </div>
        </div>
      </form>

      <form action="/followships/:followingId?_method=DELETE" method="POST">
        <div class="d-flex justify-content-between align-items-center flex-row bd-highlight mb-3">
          <div class="bd-highlight">
            <a href="/users/{{this.id}}/tweets">
              <img class="me-auto rounded-circle" src="{{user.avatar}}" alt="avatar">
            </a>
          </div>
          <div class="name-container d-flex flex-column bd-highlight p-1">
            <a href="/users/{{this.id}}/tweets">
              <div class="font-name">12wqweqweqweqqweqweqee</div>
              <div class="font-account">@45awe6d</div>
            </a>
          </div>
          <div class="bd-highlight">
            <button type="submit" class="following-btn ms-1">
              正在跟隨
            </button>
          </div>
        </div>
      </form> --}}

    </div>
  </div>
</div>