<div class="popular">
  <div class="header"><h4>跟隨誰</h4></div>
  {{#each followships}}
  <div class="follow-tweet d-flex flex-row align-items-center justify-content-between">
        <a href="/users/{{user.id}}/tweets" class="d-flex">
          <img class="avatar" src="{{this.avatar}}" alt="User2 avatar">
          <div class="d-flex flex-column user-name-account">
            <span class="user-name ellipsis">{{this.name}}</span>
            <span class="secondary-text ellipsis">@{{this.account}}</span>
          </div>
        </a>
        {{#if this.isSelf}}
          {{#if this.isFollowed}}
            <button type="button" class="btn btn-primary">正在追隨</button>
            {{else}}
            <button type="button" class="btn btn-outline">跟隨</button>
          {{/if}}
        {{/if}}
      </div>
  {{/each}}
</div>