<div class="sidebar" id="right-sidebar">
  <div class="" id="top-users-container">
    <div class="border-bottom d-flex"  style="width: 273px; height: 75px;">
      <h4 class="text-center" id="recommended-users">推薦跟隨</h4>
    </div>
    <!--路由下一個 PR 再寫-->
    <!--{{#each users}}
    <div class="recommended-users-card">
      <div class="user-avatar">
        <img src="{{this.avatar}}" alt="">
      </div>
      <div class="user-info">
        <span class="top-user-name">{{this.name}}</span>
        <span class="top-user-account">{{this.account}}</span>
      </div>
      <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
      <form action="/following/{{this.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
    </div>
    {{/each}}-->
  </div>
</div>