<div class="right-content">
  <div class="card follow-content">
    <div class="card-header follow-title">
      跟隨誰
    </div>
    <div class="top-follow-list">
      {{#each user.TopUsers}}
      <div class="list-item follow-body">
        <a href="/users/{{this.id}}" class="follow-avatar">
          <img src="{{this.avatar}}" class="rounded-circle" style="width: 50px;height:50px;">
        </a>
        <div class="list-item-name">
          <a href="/users/{{this.id}}">
            {{this.name}}
          </a>
          <div class="list-item-account">
            @{{this.account}}
          </div>
        </div>
        {{#if this.isFollowed }}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
          <button class="btn-follow" name="id" value="{{this.id}}">正在追蹤</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <button class="btn-unfollow" name="id" value="{{this.id}}">追蹤</button>
        </form>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <div class="card-footer text-muted follow-footer">
      {{!-- 顯示更多 --}}
    </div>
  </div>