<div class="right-sidebar-anchor">
  <div class="col bg-light right-sidebar-content">
    <div class="container d-flex align-items-center mt-3">
      <h4 class="fw-bold mt-4">跟隨誰</h4>
    </div>
    <div class="mt-3 right-sidebar-divider"</div>
    {{#each users}}
    {{#ifCond this.id ../loginUser.id}}
    <div class="d-flex flex-row align-items-center mx-3 py-2">
      <a href="/users/{{this.id}}" class="d-flex align-items-center mx-0">
        <img src="{{this.avatar}}" class="avatar" alt="avatar">
      </a>
      <div class="mx-2">
        <a href="/users/{{this.id}}" class="fw-bold right-user-name">{{this.name}}</a>
        <p class="text-muted right-user-account">{{this.account}}</p>
      </div>
    </div>
    {{else}}
    <div class="d-flex flex-row align-items-center mx-3 py-2">
      <a href="/users/{{this.id}}" class="d-flex align-items-center mx-0">
        <img src="{{this.avatar}}" class="avatar" alt="avatar">
      </a>
      <div class="mx-2">
        <a href="/users/{{this.id}}" class="fw-bold right-user-name">{{this.name}}</a>
        <p class="text-muted right-user-account">{{this.account}}</p>
      </div>
      <div class="d-flex align-items-center">
        {{#if this.isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="following-button text-white">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST" style="display: contents;">
          <button type="submit" class="follower-button ms-3" name="id" value="{{this.id}}">跟隨</button>
        </form>
        {{/if}}
      </div>
    </div>
    {{/ifCond}}
    {{/each}}
  </div>
</div>