{{! side-bar-right }}
<div id='sidebar-right'>
  <div class='popular'>
    <div class='title'>Popular</div>
    <div class='popular-top'></div>
    <div class='card-wrapper'>
      {{#each recommendedList}}
      <div class='card'>
        <img
          class='avatar'
          src='{{this.avatar}}'
          alt='avatar'
          width='50'
          height='50'
        />
        <div class='people'>
          <span class='name'>{{this.name}}</span>
          <span class='account'>@{{this.account}}</span>
        </div>
        {{#if this.isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="followed">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <button class="tofollow-button" name="id" value="{{this.id}}">跟隨</button>
        </form>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>