<div style="width:273px; position:fixed; z-index:1; overflow-x:hidden; left:997px;" class="card border-white vh-100 bg-white" >
  <nav style="height:78px;" class="navbar navbar-light bg-light mt-1 border-bottom">
    <div class="container mx-3">
      <h4 class="card-title m-0">推薦跟隨</h4>
    </div>
  </nav>
  {{#each topUsers}}
  <div style="height:82px" class="d-flex flex-row bg-light">
    <div style="width:50px; height:50px; background-color:#FF6600"
      class="rounded-circle overflow-hidden align-self-center ms-3 me-0">
      <a href="/users/{{this.id}}/tweets">
        <img src={{#if
          this.avatar}}{{this.avatar}}{{else}}"/icon/avatar.jpg"{{/if}}
          style="aspect-ratio: 1 / 1;width: 50px;object-fit: cover;object-position: center;" alt="avatar">
      </a>
    </div>
    <div style="max-width:93px" class="container align-self-center ms-1 pe-0">
      <h6 style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis" class="m-0 word-break:break-all;">
        {{this.name}}</h5>
        <small>
          <p style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis"
            class="m-0 text-muted word-break:break-all;">@{{this.account}}</p>
        </small>
    </div>
    <div class="align-self-center ms-0 me-3 p-0 text-end">
      {{#if this.isFollowed }}
      <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
        <button type="submit" style="background-color:#FF6600; color:#ffffff; height:40px;border-radius: 30px"
          class="btn">正在跟隨</button>
      </form>
      {{else}}
      <form action="/followships" method="POST">
        <input type="text" class="d-none" value={{this.id}} name="id">
        <button type="submit" style="background-color:#ffffff; color:#FF6600; border-color:#FF6600; height:40px;border-radius: 30px"
          class="btn">跟隨</button>
      </form>
      {{/if}}
    </div>

  </div>
  {{/each}}

</div>