<div class="card top-follower-card">
  <div class="card-header top-follower-header">
    <h4 class="top-follower-title">推薦跟隨</h4>
  </div>
  <div class="follower-list d-flex flex-column">
    {{each users}}
    <div class="follower-card d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <img class="follower-avatar" src="{{this.avatar}}" width="50px" height="50px" onload="this.style.opacity=1;">
        <div>
          <div class="follower-name">{{this.name}}</div>
          <div class="follower-account">@{{this.account}}</div>
        </div>
      </div>
      {{#if this.isFollowed}}
      <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button class="unFollow-button">正在跟隨</button>  
      </form>  
      {{else}}
      <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
        <button class="follow-button">跟隨</button>
      </form>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>