{{!-- 推薦跟隨 start--}}
<div class=" follow-title d-flex flex-column">
  <div class="right-follow-title bottom-line-2" style="margin-left:997px">
    <p class="middle-title">推薦跟隨</p>
  </div>
  <div class="follow-flow fl d-flex flex-column" style="margin-top: 90px">
    {{#each topFollowings}}
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <div class="fl">
          <a href="">
            <img class="ac-img-x" src="/images/img@2x.png" alt="">
          </a>
        </div>
        <div class="fl follow-flow-d pt-3">
          <a href="" class="text-decoration-n">
            <p class="follow-flow-account">{{this.name}}</p>
          </a>
          <p class="follow-flow-name">@{{this.account}}</p>
        </div>
      </div>
      <div class="me-3">
        {{#if this.isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="unFollow-button ">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST" style="display: contents;">
          <input type="hidden" name="id" value="{{this.id}}" />
          <button type="submit" class="follow-button ">跟隨</button>
        </form>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- 推薦跟隨 end--}}
</div>