<div class="card mb-3 mx-auto">
  <div class="row g-0">
    <div class="col-md-1" style="width: 50px; height: 50px;">
      <a href="/users/{{this.User.id}}/tweets">
        <img src="{{this.User.avatar}}" class="img-fluid rounded-circle" alt="User Photo">
      </a>
    </div>
    <div class="col-md-11">
      <div class="card-body">
        {{!-- /tweets --}}
        {{#ifCond route 'tweets'}}
          <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;color: black">
            <h5 class="card-text">{{this.User.name}}
              <span class="fs-6 fw-lighter mr-1">@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</span>
            </h5>
          </a>
        {{/ifCond}}
        {{!-- /users/:id/tweets --}}
        {{#ifCond route 'personal-tweets'}}
          <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;color: black">
            <h5 class="card-text">{{this.User.name}}
              <span class="fs-6 fw-lighter mr-1">@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</span>
            </h5>
          </a>
        {{/ifCond}}
        {{!-- /tweets --}}
        {{#ifCond route 'tweets'}}
          <p class="card-text">{{this.description}}</p>
        {{/ifCond}}
        {{!-- /users/:id/tweets --}}
        {{#ifCond route 'personal-tweets'}}
          <p class="card-text">{{this.description}}</p>
        {{/ifCond}}
        {{!-- /tweets/:id/replies --}}
        {{#ifCond route 'replies'}}
          <p class="card-text">{{this.comment}}</p>
        {{/ifCond}}
        {{!-- /users/:id/replies --}}
        {{#ifCond route 'personal-reply'}}
          <p class="card-text">{{this.comment}}</p>
        {{/ifCond}}
        {{!-- /tweets --}}
        {{#ifCond route 'tweets'}}
          <p class="card-text">
          <form action="/tweets/{{this.id}}/replies" method="GET" style="display:inline">
            <small class="text-muted">
              <button type="submit" style="border:none;background: none;"><i
                  class="fa-regular fa-comment-dots"></i></button>
              <span>{{this.repliedCount}}</span>
            </small>
          </form>
          {{!-- /tweets --}}
          {{#if this.isLiked}}
            <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: inline">
              <small class="text-muted">
                <button type="submit" style="border:none;background: none;">
                  <img src="/images/icon/like.png" alt="">
                  <span>{{this.likedCount}}</span>
                </button>
              </small>
            </form>
          {{else}}
            <form action="/tweets/{{this.id}}/like" method="POST" style="display: inline">
              <small class="text-muted">
                <button type="submit" style="border:none;background: none;">
                  <img src="/images/icon/unlike.png" alt="">
                  <span>{{this.likedCount}}</span>
                </button>
              </small>
            </form>
          {{/if}}
          </p>
        {{/ifCond}}
        {{!-- /users/:id/tweets --}}
        {{#ifCond route 'personal-tweets'}}
          <p class="card-text">
          <form action="/tweets/{{this.id}}/replies" method="GET" style="display:inline">
            <small class="text-muted">
              <button type="submit" style="border:none;background: none;">
                <i class="fa-regular fa-comment-dots"></i></button>
              <span>{{this.Replies.length}}</span>
            </small>
          </form>
          {{#if this.isLiked}}
            <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: inline">
              <small class="text-muted">
                <button type="submit" style="border:none;background: none;">
                  <img src="/images/icon/like.png" alt="">
                  <span>{{this.Likes.length}}</span>
                </button>
              </small>
            </form>
          {{else}}
            <form action="/tweets/{{this.id}}/like" method="POST" style="display: inline">
              <small class="text-muted">
                <button type="submit" style="border:none;background: none;">
                  <img src="/images/icon/unlike.png" alt="">
                  <span>{{this.Likes.length}}</span>
                </button>
              </small>
            </form>
          {{/if}}
          </p>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>