<div class="back-arror-header">
  <a><i class='back-arror'></i></a>
  <div class="header-text">
    <span class="tweet">推文</span>
  </div>
</div>

<div class="tweet">

  <a class="tweetuser" href="/users/{{tweet.User.id}}/tweets">
    <span>
      <img class="thumbnail" src="{{tweet.User.avatar}}" alt="{{tweet.User.name}} avatar">
    </span>
    <span>
      <span class="name ellipsis">{{tweet.User.name}}</span>
      <span class="at-name ellipsis">@{{tweet.User.account}}</span>
    </span>
  </a>

  <div class="tweetcontent">

    <div class="content">
      {{tweet.description}}
    </div>

    <div class="datetime">
      <span class="time">{{tweet.time}}</span>
      <span class="date">{{tweet.date}}</span>
    </div>

    <div class="stat">
      <span class="replied">
        {{replies.length}}
        <a>回覆</a>
      </span>
      <span class="liked">
        {{tweet.Likes.length}}
        <a>喜歡次數</a>
      </span>
    </div>

    <div class="action">
      <button type="button" class="commenting" data-tweetid="{{tweet.id}}">
        <i class='comment lg commenting'></i>
      </button>

      {{#if isLiked}}
      <form action="/tweets/{{tweet.id}}/unlike" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger">
          <i class='like lg active'></i>
        </button>
      </form>
      {{else}}
      <form action="/tweets/{{tweet.id}}/like" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-primary">
          <i class='like lg'></i>
        </button>
      </form>
      {{/if}}

    </div>

  </div>

</div>

<div class="replies">

  {{#each replies}}
  <div class="reply">
    <a href="/users/{{this.User.id}}/tweets">
      <img class="thumbnail" src="{{this.User.avatar}}" alt="{{this.User.name}} avatar">
    </a>
    <div class="comment">
      <a class="commentuser" href="/users/{{this.User.id}}/tweets">
        <span class="name ellipsis">{{this.User.name}}</span>
        <span class="at-name ellipsis">@{{this.User.account}}</span>
        <span class="timer ellipsis">{{moment this.createdAt}}</span>
      </a>
      <a class="replyto" href="/users/{{../tweet.User.id}}/tweets">回覆
        <span class="at-name">@{{../tweet.User.account}}</span>
      </a>
      <div class="commentcomment">
        {{this.comment}}
      </div>

    </div>

  </div>
  {{/each}}

</div>