<div class="modal fade"id="replyModal"tabindex="-1"aria-labelledby="exampleModalLabel"ariahidden="true">
  <div class="modal-dialog">
   <div class="modal-content" style="width:634px;height:500px;border-radius:14px;padding:0px 16px">
    <div class=" d-flex justify-content-start m-2">
      <button
       type="button"
       class="btn-close "
       data-bs-dismiss="modal"
       aria-label="Close"
       style="color: #FF6600;">
       </button>
     </div>
 <hr class="solid">
 <form action="/tweets/{{this.id}}/replies" method="POST">  
 <div class="d-flex flex-column">
 <div class="d-flex flex-row mb-3" >
 <div>
   <img src="https://i.imgur.com/mhXz6z9.png?1" width="50px" ;height="50px" style="display:inline-block;border-radius:100%;margin:auto 8px auto 24px" alt="avatar"> 
 </div>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-start m-2">
      <p class="name mb-0" style="font-size:15px">{{this.User.name}}@</p>
      <p class="account mb-0" style="font-size:15px">{{this.account}}</p>
    </div>
  <p class="content mt-0 pt-0">{{this.description}} </p>
  <p class="reply-to"> 回覆給@{{this.User.account}}</p>
</div>
  
</div>
    
   <div class="form-row d-flex flex-row mb-3" style="display:inline-block">
   <div>
   <img src="https://i.imgur.com/mhXz6z9.png?1" width="50px" ;height="50px" style="display:inline-block;border-radius:100%;margin:auto 8px auto 24px" alt="avatar"> 
   </div>
  <textarea class="form-control" id="comment" style="border:none;padding:0px;resize: none" name="comment" rows="7" cols="20" maxlength="140" minlength="1"  placeholder="推你的回覆"></textarea>
</div>
</div>
 
 <div class="d-flex justify-content-end" >
  
  <p class="warnig-meg" style="font-size:15px;color:#FC5A5A;margin:0;display: flex;align-items: center">內容不可空白</p>
  <input class="form-control" type="hidden" name="tweetId" value="{{this.id}}" />
  <button type="submit" class="btn btn-primary m-1" style="color:#FFFFFF;width:64px;
height:40px;border:none;background:#FF6600;border-radius:50px">推文</button>
 </div> 
</form>   
        </div>
      </div>
    </div>