{{#each tweets}}
<div class="tweet">
  <div class="twitter-avatar">
    <a href="/users/{{this.user.id}}">
      <img src="{{this.user.avatar}}" alt="" class="tweets-img">
    </a>
  </div>
  <div class="tweet-content-box">
    <div class="twitter-info">
      <a href="/tweets/{{this.id}}/replies" class="reply-link">
        <span>{{this.user.name}}</span>
        <span class="twitter-account">{{this.user.account}}</span>
        <span class="twitter-dot">。</span>
        <span class="twitter-createdAt">{{moment this.createdAt}}</span>
      </a>
    </div>
    <div class="tweet-content">
        {{this.description}}
    </div>
    <div class="tweet-feedback">
      {{!-- 判斷是否like過 --}}
      {{#if this.like}}
      <form action="/tweets/{{this.id}}/unlike" method="post">
        <button type="button" class="goto-comment" data-tweetid="{{this.id}}" data-avatar="{{#if this.user.avatar}}{{this.user.avatar}}{{else}}''{{/if}}" data-name="{{#if this.user.name}}{{this.user.name}}{{else}}''{{/if}}" data-accountname="{{#if this.user.account}}{{this.user.account}}{{else}}''{{/if}}" data-createtime="{{moment this.createdAt}}" data-tweetcontent="{{this.description}}" data-useravatar="{{#if ../user.avatar}}{{../user.avatar}}{{else}}''{{/if}}">
          <i class="far fa-comment comment-icon"></i>
          <span class="reply-sum comment-icon">{{this.repliesNum}}</span>
        </button>
        <button type="submit" class="post-like">
          <i class="fas fa-heart like-heart"></i>
          <span class="like-sum">{{this.likesNum}}</span>
        </button>
      </form>
      {{else}}
      <form action="/tweets/{{this.id}}/like" method="post">
        <button type="button" class="goto-comment" data-tweetid="{{this.id}}"
          data-avatar="{{#if this.user.avatar}}{{this.user.avatar}}{{else}}''{{/if}}"
          data-name="{{#if this.user.name}}{{this.user.name}}{{else}}''{{/if}}"
          data-accountname="{{#if this.user.account}}{{this.user.account}}{{else}}''{{/if}}"
          data-createtime="{{moment this.createdAt}}" data-tweetcontent="{{this.description}}"
          data-useravatar="{{#if ../user.avatar}}{{../user.avatar}}{{else}}''{{/if}}">
          <i class="far fa-comment comment-icon"></i>
          <span class="reply-sum comment-icon">{{this.repliesNum}}</span>
        </button>
        <button type="submit" class="post-like">
          <i class="far fa-heart normal"></i>
          <span class="like-sum">{{this.likesNum}}</span>
        </button>
      </form>
      {{/if}}
    </div>
  </div>
</div>
{{/each}}