<tr>
  <td>
    <div class="d-flex flex-row justfify-content-between">
      <a href="/users/{{this.UserId}}/tweets">
        <img src="{{this.avatar}}" class='rounded-circle me-2' width="50" height="50">
      </a>
      <div class="d-flex flex-column justify-content-start flex-grow-1">
        <div class="d-flex flex-row align-items-center mb-2">
          <a href="/users/{{this.UserId}}/tweets" style="text-decoration:none;">
            <span class="fw-bold me-2" style="font-size: 16px;">{{this.name}}</span>
          </a>
          <span style="color: #6C757D;font-size: 14px;">@{{this.account}}．{{relativeTimeFromNow this.createdAt}}</span>
        </div>
        <a href="/tweets/{{this.id}}/replies" style="color:#1C1C1C; text-decoration:none;">
          <p style="font-size: 16px;">
            {{this.description}}
          </p>
        </a>
        <div class="d-flex justify-content-start flex-grow-1">
          <div class="me-4">
              <img src="/images/icon-black-reply.png" data-bs-toggle="modal" data-bs-target="#tweet-reply-modal" style="width: 25px; height: 25px;">
              <span style="color: #6C757D;font-size: 14px;">{{this.replyCounts}}</span>
          </div>
          <div>
            <img src="/images/icon-black-unlike.png" style="width: 25px; height: 25px;">
            <span style="color: #6C757D;font-size: 14px;">{{this.likeCounts}}</span>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>

