<li class="list-group-item tweet-list p-4">
  <h4>首頁</h4>
</li>

<li class="list-group-item tweet-list" type="button" data-bs-toggle="modal" data-bs-target="#tweet-modal">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <img src="{{user.avatar}}" class="tweet-user-img me-1"
        onerror="this.onerror=null; this.src='/images/profile-img.svg'">

      <div class="tweet-placeholder">有什麼新鮮事？</div>
    </div>

    <div class="btn align-self-end">推文</div>
  </div>
</li>

{{#each tweets}}
<a href="/tweets/{{this.id}}/replies" class="text-decoration-none">
  <li class="list-group-item tweet-list">
    <div class="d-flex">
      <div class="flex-shrink-1 p-0">
        <button class="tweet-click-block"
          onclick="event.stopPropagation(); event.preventDefault(); window.location.href='/users/{{this.User.id}}/tweets';">
          <img src="{{this.User.avatar}}" class="tweet-user-img"
            onerror="this.onerror=null; this.src='/images/profile-img.svg'">
        </button>
      </div>
      <div class="tweet-text d-flex flex-column">
        <button class="tweet-click-block"
          onclick="event.stopPropagation(); event.preventDefault(); window.location.href='/users/{{this.User.id}}/tweets';">
          <div class="d-flex align-items-baseline">
            <div class="user-name">{{this.User.name}} </div>
            <div class="user-account">@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
          </div>
        </button>

        <p class="text-content">{{this.description}}</p>

        <div class="d-flex">
          <div class="d-flex align-items-center" onclick="event.stopImmediatePropagation();event.preventDefault();"
            data-bs-toggle="modal" data-bs-target="#reply-modal-{{this.id}}">
            <img src="/images/reply_outlined.svg" alt="" class="tweet-list-icon">
            <span class="interact-counts-text">{{this.replyCount}}</span>
          </div>

          {{#if this.isLiked }}
          <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
            <input type="image" src="/images/like_filled.svg" alt="提交" style="margin-left:40px;"
              class="tweet-list-icon">
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
            <input type="image" src="/images/like_outlined.svg" alt="提交" style="margin-left:40px;"
              class="tweet-list-icon">
          </form>
          {{/if}}

          <span class="interact-counts-text">{{this.likeCount}}</span>
          <div class="d-flex align-items-center">
          </div>
        </div>
      </div>
    </div>
  </li>
</a>

{{!-- modal --}}
{{> modal-reply}}

{{/each}}

{{!-- modal --}}
{{> modal-tweet}}