<div class="header">首頁</div>
<div class="postarea">
  <a href="/users/{{loginUser.id}}/tweets">
    <img class="thumbnail" src="{{loginUser.avatar}}" alt="thumbnail">
  </a>
  <form action="/tweets" method="post">
    <input type="hidden" name="userId" value="{{loginUser.id}}">
    <textarea name="description" maxlength="140" cols="48" rows="2" placeholder="有什麼新鮮事？" required></textarea>
    <button type="submit" class="btn-fill" id="posting">推文</button>
  </form>
</div>
<hr>
<div class="tweets">
  {{#each tweets}}
  <div class="tweet">
    <a href="/users/{{this.User.id}}/tweets">
      <img class="thumbnail" src="{{this.User.avatar}}" alt="thumbnail">
    </a>
    <div class="postcontent">
      <a class="postuser">
        <span class="name ellipsis">{{this.User.name}}</span>
        <span class="at-name ellipsis">@{{this.User.account}}</span>
        <span class="timer ellipsis">{{this.User.createdAt}}</span>
      </a>
      <button type="button" class="content" id="content">
        {{this.description}}
      </button>
      <div class="action">
        <button type="button" class="commenting" data-userId="{{loginUser.id}}">
          <i class='comment'></i>
          {{this.replyCount}}
        </button>
        {{!-- 原本的 like --}}
        {{!-- <button type="button" class="liking">
          <i class='like'></i>
          76
        </button> --}}
        {{#if this.isLiked}}
        <form action="/tweets/{{this.id}}/unlike" method="post" style="display: inline;">
          <button type="submit" class="liking">
            {{!-- 待補上unlike的icon --}}
            <i class='like'></i>{{this.likeCount}}
          </button>
        </form>
        {{else}}
        <form action="/tweets/{{this.id}}/like" method="post" style="display: inline;">
          <button type="submit" class="liking">
            <i class='like'></i>{{this.likeCount}}
          </button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>