{{#if ucChoice}}
<div class="profile-messageboard">
  <!--start::index profile-->
  <div class="profile-avatar-container">
    <div class="avatar profile-avatar">
      <img src="{{profile.avatar}}" alt="avatar-img" />
    </div>
  </div>
  <form action="/tweets" method="POST">
    <div class="profile-textarea-container">
      <textarea name="description" class="form-control form-control-lg" id="post" placeholder="有什麼新鮮事?" rows="3"
        maxlength="140" required></textarea>
    </div>
    <button type="submit" class="btn btn-twitter">
      <span>推文</span>
    </button>
  </form>
</div>
<!--end::index profile-->
{{/if}}
{{#if postChoice}}
<div class="profilepage-messageboard">
  <!--start::post-->
  <div class="mainpost-messageboard">
    <div class="post-card1">
      <div class="avatar profile-avatar"><img src="{{tweet.User.avatar}}" alt="avatar-img" /></div>
    </div>
    <div class="post-card2">
      <h5 class="d-inline-block post-title">{{tweet.User.name}}&nbsp;<br /><span
          class="post-sub-info mainpost-sm">{{tweet.User.account}}
          &#x2027;
          {{createdTimeFromNow}}</span></h5>
      <p class="mainpost-x">{{tweet.description}}</p>
      <p class="post-sub-info mainpost-sm">上午10:05 2020年6月10日</p>
    </div>
  </div>
  <div class="mainpost-appendboard">
    <div class="reply-like-container">
      <p class="mainpost-md reply-like-text"><b>{{ReplyCount}}</b>&nbsp;回覆
        <b>{{LikedCount}}</b>&nbsp;喜歡次數
      </p>
    </div>
    <h3 class="mainpost-sub-info my-3">
      <span class="mainpost-icon-block">
        <i class="bi bi-chat" data-bs-toggle="modal" data-bs-target="#postModel" id="myInput">
        </i>
      </span>
      <form action="/tweets/{{tweet.id}}/like?_method=PUT" method="POST" class="mainpost-icon-block">
        {{#if tweet.isLiked}}
        <button type="submit" class="bi bi-heart-fill btn"></button>
        {{else}}
        <button type="submit" class="bi bi-heart btn"></button>
        {{/if}}
      </form>
    </h3>
  </div>
</div>
</div>
<!--end::post-->
{{/if}}
{{#if ppChoice}}
<!--start::profile-index-->
<div class="profilepage-messageboard d-f flex-column">
  <div class="profilepage-banner"><img src="{{profile.cover}}" />
    <div class="profilepage-card1">
      <div class="avatar profilepage-avatar"><img src="{{profile.avatar}}" alt="avatar-img" /></div>
    </div>
  </div>
  <div class="mainpost-messageboard">
    <div class="profilepage-card2">
      <div class="upper-right">
        <p>
        {{#if isSelf}}
        <div class="btn-outline-orange" data-bs-toggle="modal" data-bs-target="#profileModel" id="myInput">編輯個人檔案</div>
        {{else}}
          {{>notificationArea}}
        {{/if}}
        </p>
      </div>

      <h5 class="d-inline-block post-title mb-1">{{profile.name}}&nbsp;</h5>
      <p class="post-sub-info mainpost-sm">{{profile.account}}</p>
      <p>{{profile.introduction}}</p>
      <p class="mainpost-sm reply-like-text">
        <a href="/users/{{profile.id}}/followings"><b>{{followingsCount}}個</b></a>
        <span class="post-sub-info">&nbsp;跟隨中</span>
        <a href="/users/{{profile.id}}/followers"><b>{{followersCount}}位</b></a>
        <span class="post-sub-info">&nbsp;跟隨者</span>
      </p>
      <ul class="nav profilepage-tags mt-2">
        <li class="nav-item">
          <a class="nav-link {{#if isPost }}active {{/if}}" type="submit" aria-current="page"
            href="/users/{{profile.id}}/tweets">推文</a>
        </li>
        <li class="nav-item"><a class="nav-link {{#if isComment }}active {{/if}}"
            href="/users/{{profile.id}}/comments">推文與回覆</a></li>
        <li class="nav-item"><a class="nav-link {{#if isLikedPosts }}active {{/if}}"
            href="/users/{{profile.id}}/likes">喜歡的內容</a></li>
      </ul>
    </div>
  </div>
</div>
<!--end::index-->
{{/if}}