{{#if ucChoice}}
<div class="profile-messageboard">
  <!--start::index profile-->
  <div class="profile-avatar-container">
    <div class="avatar profile-avatar">
      <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
        alt="avatar-img" />
    </div>
  </div>

  <div class="profile-textarea-container">
    <textarea name="profile-textarea" class="form-control form-control-lg" id="post" placeholder="有什麼新鮮事?"
      rows="3"></textarea>
  </div>
  <div class="btn btn-twitter" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModel"><span>推文</span>
  </div>
</div>
<!--end::index profile-->
{{/if}}
{{#if postChoice}}
<div class="profilepage-messageboard">
  <!--start::post-->
  <div class="mainpost-messageboard">
    <div class="post-card1">
      <div class="avatar profile-avatar"><img
          src="{{tweet.User.avatar}}"
          alt="avatar-img" /></div>
    </div>
    <div class="post-card2">
      <h5 class="d-inline-block post-title">{{tweet.User.name}}&nbsp;<br /><span class="post-sub-info mainpost-sm">{{tweet.User.account}}
          &#x2027;
          {{createdTimeFromNow}}</span></h5>
      <p class="mainpost-x">{{tweet.description}}</p>
      <p class="post-sub-info mainpost-sm">上午10:05 2020年6月10日</p>
    </div>
  </div>
  <div class="mainpost-appendboard">
    <div class="reply-like-container">
      <p class="mainpost-md reply-like-text"><b>{{ReplyCount}}</b>&nbsp;回覆
        <b>{{LikedCount}}</b>&nbsp;喜歡次數
      </p>
    </div>
    <p class="mainpost-sub-info mt-3"><span class="mainpost-icon-block"><i class="bi bi-chat" data-bs-toggle="modal"
          data-bs-target="#exampleModel" id="myInput"></i></span><span class="mainpost-icon-block"><i
          class="bi bi-heart"></i></span></p>
  </div>
</div>
</div>
<!--end::post-->
{{/if}}
{{#if ppChoice}}
<!--start::index-->
<div class="profilepage-messageboard d-f flex-column">
  <div class="profilepage-banner"><img src="https://i.ytimg.com/vi/w_8ddLqNTuo/maxresdefault.jpg" />
    <div class="profilepage-card1">
      <div class="avatar profilepage-avatar"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;usqp=CAU"
          alt="avatar-img" /></div>
    </div>
  </div>
  <div class="mainpost-messageboard">
    <div class="profilepage-card2">
      <div class="upper-right">
        <p>
          <!-- 個人profile的按鈕 編輯個人檔案
        <form class="ms-auto" action="?_method=PUT" method="POST">
          <button type="submit" class="btn-outline-orange ">編輯個人檔案</button>
        </form>  -->

          <!-- 訊息按鈕與鈴鐺按鈕 將fill的class拿掉就會變成框線按鈕 -->
        <div class="icon-btn fill d-inline-block">
          <svg width="19" height="17" viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8438 0.640625H3.15625C1.82888 0.640625 0.75 1.72038 0.75 3.04862V13.9817C0.75 15.31 1.82888 16.3906 3.15625 16.3906H15.8438C17.1711 16.3906 18.25 15.31 18.25 13.9817V3.04862C18.25 1.72038 17.1711 0.640625 15.8438 0.640625ZM3.15625 1.95313H15.8438C16.4475 1.95313 16.9375 2.44313 16.9375 3.04688V3.67162L9.89375 8.36775C9.65487 8.52525 9.346 8.527 9.10625 8.366L2.0625 3.67162V3.04688C2.0625 2.44313 2.5525 1.95313 3.15625 1.95313ZM15.8438 15.0764H3.15625C2.5525 15.0764 2.0625 14.5864 2.0625 13.9826V5.20988L8.3975 9.43612C8.73263 9.66012 9.11675 9.77213 9.5 9.77213C9.885 9.77213 10.2674 9.66013 10.6025 9.437L16.9375 5.21075V13.98C16.9375 14.5838 16.4475 15.0738 15.8438 15.0738V15.0764Z" />
          </svg>
        </div>

        <div class="icon-btn d-inline-block">
          <svg width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.3351 2.85253H18.2132V0.728027C18.2132 0.365777 17.9192 0.0717773 17.557 0.0717773C17.1947 0.0717773 16.9007 0.365777 16.9007 0.728027V2.85253H14.7788C14.4166 2.85253 14.1226 3.14565 14.1226 3.50878C14.1226 3.8719 14.4166 4.16503 14.7788 4.16503H16.9016V6.28603C16.9016 6.64828 17.1956 6.94228 17.5578 6.94228C17.9201 6.94228 18.2141 6.64828 18.2141 6.28603V4.16503H20.336C20.6991 4.16503 20.9922 3.87015 20.9922 3.50878C20.9922 3.1474 20.6982 2.85253 20.336 2.85253H20.3351ZM14.8838 9.50778C14.9013 7.37803 14.1996 5.4854 12.9081 4.17903C11.7496 3.00478 10.1816 2.35553 8.49284 2.34765H8.48147C6.79272 2.3564 5.22472 3.0039 4.06622 4.17815C2.77559 5.48628 2.07384 7.3789 2.09134 9.50865C2.12284 13.125 0.408717 14.49 0.341342 14.5425C0.113842 14.7114 0.0202174 15.0063 0.108592 15.2758C0.197842 15.5453 0.449842 15.7264 0.731592 15.7264H4.85809C4.95434 17.6742 6.55559 19.2325 8.52784 19.2325C10.5001 19.2325 12.1005 17.675 12.1976 15.7264H16.2445C16.5245 15.7264 16.773 15.5462 16.8631 15.2802C16.9532 15.0141 16.8631 14.7175 16.64 14.5469C16.5682 14.4909 14.8523 13.125 14.883 9.5069L14.8838 9.50778ZM8.52697 17.92C7.27922 17.92 6.26422 16.9488 6.16972 15.7255H10.8842C10.7897 16.9505 9.77472 17.9192 8.52697 17.9192V17.92ZM2.14822 14.4139C2.76247 13.4558 3.42309 11.8729 3.40297 9.49815C3.38809 7.6939 3.94022 6.17315 4.99984 5.10128C5.91247 4.17728 7.15059 3.66628 8.48759 3.66103C9.82372 3.66715 11.0627 4.17728 11.9745 5.10128C13.0332 6.17403 13.5845 7.6939 13.5696 9.49815C13.5503 11.8729 14.2101 13.4558 14.827 14.4139H2.14822Z" />
          </svg>
          <!-- 鈴鐺的第二種圖示
          <svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.6584 0.131295C20.3302 -0.0297049 19.9391 0.105045 19.7781 0.428795L17.2721 5.48279L15.782 3.89904C15.5344 3.63392 15.1187 3.62254 14.8545 3.87104C14.5902 4.11954 14.578 4.53605 14.8265 4.79855L16.9641 7.07004C17.0892 7.20129 17.2616 7.27567 17.4419 7.27567C17.4734 7.27567 17.5057 7.27305 17.5381 7.26867C17.7507 7.23717 17.9336 7.10242 18.0299 6.90992L20.9541 1.01242C21.1151 0.68692 20.9821 0.29317 20.6566 0.13217L20.6584 0.131295ZM16.6404 14.5469C16.5677 14.4909 14.8519 13.125 14.8816 9.50692C14.9009 7.37804 14.1991 5.48542 12.9076 4.17817C11.7491 3.00567 10.1811 2.35555 8.49236 2.34767H8.48098C6.79223 2.35642 5.22423 3.00392 4.06573 4.17817C2.7751 5.4863 2.07335 7.37892 2.09085 9.50867C2.12235 13.125 0.408229 14.49 0.340854 14.5425C0.113354 14.7114 0.0197292 15.0063 0.108104 15.2758C0.197354 15.5453 0.449354 15.7264 0.731104 15.7264H4.3011C4.3781 17.9752 6.21998 19.7864 8.48798 19.7864C10.756 19.7864 12.5987 17.9752 12.6749 15.7264H16.2466C16.5266 15.7264 16.7751 15.5462 16.8652 15.2802C16.9554 15.0142 16.8635 14.7175 16.6412 14.5469H16.6404ZM8.4871 17.9489C7.23235 17.9489 6.2121 16.9628 6.1386 15.7264H10.8356C10.7612 16.9628 9.74185 17.9489 8.4871 17.9489Z" />
          </svg>
           -->
        </div>
        <form class="ms-auto" action="?_method=POST" method="POST">
          <button type="submit" class="btn-outline-orange">跟隨</button>
        </form>
        <!-- 正在跟隨 按鈕
        <form class="ms-auto" action="?_method=DELETE" method="POST">
          <button type="submit" class="btn-orange">正在跟隨</button>
        </form> -->
        </p>


      </div>

      <h5 class="d-inline-block post-title">Illyasviel von Einzbern&nbsp;<br /><span
          class="post-sub-info mainpost-sm">@善良的小女孩</span></h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ea, vel.</p>
      <p class="mainpost-sm reply-like-text"><b>34個<span class="post-sub-info">&nbsp;跟隨中</span>
          808位<span class="post-sub-info">&nbsp;跟隨者</span></b></p>
      <ul class="nav profilepage-tags mt-2">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">推文</a></li>
        <li class="nav-item"><a class="nav-link" href="#">推文與回覆</a></li>
        <li class="nav-item"><a class="nav-link" href="#">喜歡的內容</a></li>
      </ul>
    </div>
  </div>
</div>
<!--end::index-->
{{/if}}