{{!-- 路由/users/id/replies模組 --}}
{{#each userReplies}}
<div class="tweet">
  <div class="twitter-avatar">
    <a href="/users/{{this.user.id}}">
      <img src="{{this.user.avatar}}" alt="" class="tweets-img">
    </a>
  </div>
  <div class="tweet-content-box">
    <div class="twitter-info">
        <span class="twitter-name">{{this.user.name}}</span>
        <span class="twitter-account">{{this.user.account}}</span>
        <span class="twitter-dot">。</span>
        <span class="twitter-createdAt">{{moment this.createdAt}}</span>
      <div class="replied-target">
        <span>回覆</span>
        <span>{{this.tweet.user.account}}</span>
      </div>
    </div>
    <div class="tweet-content">{{this.tweet.description}}</div>
    <div class="tweet-feedback">
    </div>
  </div>
</div>
{{/each}}