<div class="modal fade" id="user-setting-modal" tabindex="-1" aria-labelledby="userSettingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 d-flex justify-content-start align-items-center p-0 m-3 gap-4">
        <button type="button"
          class="btn btn-outline-light modal-close-btn m-0 d-flex justify-content-start align-items-center"
          data-bs-dismiss="modal" aria-label="Close">
          <img src="/images/icons/close_outlined.svg" alt="" class="filter-main-color">
        </button>
        <p class="fw-bold text-black m-0 p-0">編輯個人資料</p>
      </div>
      <div class="modal-body rounded-5 p-0 m-0">
        {{!--需要更改以下form的連結位置--}}
        <form action="/users/{{user.id}}" method="post" class="homepage-user-card card border-0 shadow-none position-relative needs-validation" enctype="multipart/form-data" novalidate>
          <img src="{{user.cover}}" id="user-setting-cover" class="card-img-top user-cover" alt="...">
          <label for="user-cover-input" class="user-cover-input-label d-flex justify-content-center align-items-center">
            <div class="user-setting-cover-icon d-flex justify-content-between  gap-5 p-0 m-0">
              <img src="/images/icons/addphoto_outlined.svg" class="" alt="">
              <div></div>
            </div>
          </label>
          <img src="/images/icons/close_outlined.svg" class="" alt="" id="remove-cover-input">
          <input type="file" accept="image/*" name="cover" id="user-cover-input" class="user-cover-input">
          <div class="card-body px-3 pb-0">
            <img src="{{user.avatar}}" id="user-setting-avatar" class="user-avatar position-absolute" alt="">
            <label for="user-avatar-input"
              class="user-avatar-input-label user-avatar position-absolute d-flex justify-content-center align-items-center">
              <img src="/images/icons/addphoto_outlined.svg" class="" alt="">
            </label>
            <input type="file" accept="image/*" name="avatar" id="user-avatar-input" class="user-avatar-input">
          </div>
          <div class="user-setting-text m-3 p-0">
            <div class="form-row mb-2 position-relative">
              <label for="name" class="form-label position-absolute font-size-sm">名稱</label>
              <input type="text" class="text-input form-control user-setting-name-input" id="name" name="name"
                placeholder="請輸入名稱" value="{{user.name}}" maxlength="50" required>
              <div class="p-0 m-0 mt-1 d-flex justify-content-end w-100">
                <div class="input-length text-secondary font-size-xs">0/50</div>
              </div>
              <div class="invalid-feedback">
                請輸入名稱
              </div>
            </div>
            <div class="form-row mb-2 position-relative">
              <label for="introduction" class="form-label position-absolute font-size-sm">自我介紹</label>
              <textarea class="text-input form-control user-setting-name-input text-input" id="introduction"
                name="introduction" placeholder="請輸入自我介紹" value="John Doe" maxlength="160">{{user.introduction}}</textarea>
              <div class="p-0 m-0 mt-1 d-flex justify-content-end w-100">
                <div class="input-length text-secondary font-size-xs">0/160</div>
              </div>
              <div class="invalid-feedback">
                請輸入自我介紹
              </div>
            </div>
          </div>
          <input type="text" name="isModel" value="true" hidden>
          <input type="text" name="notTest" value="true" hidden>
          <button type="submit" class="btn btn-primary rounded-pill m-0">儲存</button>
        </form>
      </div>
    </div>
  </div>
</div>