<nav class="nav" style="border-bottom: 1px solid #E6ECF0;">
  <button class="{{#if userTweet}}user-tab-active{{else}}user-tab{{/if}}" 
    aria-current="page" 
    href="/users/{{user.id}}/tweets">推文
  </button>
  <button class="{{#if userTweet}}user-tab-active{{else}}user-tab{{/if}}" 
    href="/user/self/replies">回覆
  </button>
  <button class="{{#if userLike}}user-tab-active{{else}}user-tab{{/if}}" 
    href="/users/{{user.id}}/likes">喜歡的內容
  </button>
</nav>