{{#ifCond personal.id user.id}}
  <div class="user-info">
    <img id="profile-cover" src="{{#if user.cover}}{{user.cover}}{{else}}/images/defaultCover.jpg{{/if}}"
      class="card-img-top position-relative" alt="cover"
      style="width:100%; height:200px; filter:brightness(60%);opacity: 0.75;">
    <div class="image position-absolute" style="top:180px; margin:16px">
      <a href="/users/{{user.id}}/tweets">
        {{#if user.avatar}}
        <img src="{{user.avatar}}" alt="logo" class="avatar"
          style="width:140px;height:140px;border-radius:50%;border:4px solid white">
        {{else}}
        <img src="/images/avatar.png" id="profile-avatar" alt="logo" class="avatar"
          style="width:140px;height:140px;border-radius:50%;border:4px solid white">
        {{/if}}
      </a>
    </div>
  </div>
<div class="editprofile d-flex justify-content-end m-3" data-bs-toggle="modal" data-bs-target="#edit-modal">
  <button type="submit" class="btn btn-primary" id="edit-btn" data-target=".bd-example-modal-lg"
    style="color: #ff6600;font-size: 16px;background-color:white;border: 1px solid #FF6600;border-radius:20px; width:128px;height:40px">編輯個人資料</button>
</div>
<div class="card-body" style="margin-top:8px">
  <p class="user-name m-0 " style="color: #171725;font-size: 18px;">
    <strong>{{user.name}}</strong>
  </p>
  <p class="user-name m-0" style="color: #6C757D;font-size: 14px;">@{{user.account}}</p>
  <p class="card-text mt-2 text-break">{{user.introduction}}</p>
  <div class="d-flex flex-row card-bottom">
    <div class="m-2">
      <a href="/users/{{user.id}}/followings" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followings.length}}個跟隨中
        </p>

      </a>
    </div>
    <div class="m-2">
      <a href="/users/{{user.id}}/followers" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followers.length}}位跟隨者
        </p>
      </a>
    </div>
    </p>
  </div>
</div>
{{else}}
<div class="user-info">
  <img id="profile-cover" src="{{#if personal.cover}}{{personal.cover}}{{else}}/images/defaultCover.jpg{{/if}}"
    class="card-img-top position-relative" alt="cover" style="width:100%; height:200px; filter:brightness(60%);opacity: 0.75;">
  <div class="image position-absolute" style="top:190px; margin:16px;">
    <a href="/users/{{personal.id}}/tweets">
      {{#if personal.avatar}}
      <img src="{{personal.avatar}}" alt="logo" class="avatar"
        style="width:140px;height:140px;border-radius:50%;border:4px solid white">
      {{else}}
      <img src="/images/avatar.png" id="profile-avatar" alt="logo" class="avatar"
        style="width:140px;height:140px;border-radius:50%;border:4px solid white">
      {{/if}}
    </a>
  </div>
</div>
<div class="editprofile d-flex justify-content-end m-3">
  {{#if user.isFollowed}}
  <form action="/followships/{{personal.id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-primary" id="edit-btn" data-target=".bd-example-modal-lg"
      style="color: #ff6600;font-size: 16px;background-color:white;border: 1px solid #FF6600;border-radius:20px; width:128px;height:40px">正在跟隨</button>
  </form>
  {{else}}
  <form action="/followships" method="POST">
    <input type="text" name="id" value="{{personal.id}}" style="display: none">
    <button type=" submit" class="btn btn-primary" id="edit-btn"
      style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;">跟隨</button>
  </form>
  {{/if}}
</div>
<div class="card-body" style="margin-top:8px">
  <p class="user-name m-0" style="color: #171725;font-size: 18px;">
    <strong>{{personal.name}}</strong>
  </p>
  <p class="user-name m-0" style="color: #6C757D;font-size: 14px;">@{{personal.account}}</p>
  <p class="card-text mt-2">{{personal.introduction}}</p>
  <div class="d-flex flex-row card-bottom">
    <div class="m-2">
      <a href="/users/{{user.id}}/followings" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followings.length}}個跟隨中
        </p>
      </a>
    </div>
    <div class="m-2">
      <a href="/users/{{user.id}}/followers" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followers.length}}位跟隨者
        </p>
      </a>
    </div>
    </p>
  </div>
</div>
{{/ifCond}}
<script type="module">

  const editBtn = document.querySelector('#edit-btn')
  const saveBtn = document.querySelector('#save-btn')
  const modalCloseBtn = document.querySelector('#modal-close-btn')
  const coverCloseBtn = document.querySelector('#cover-close-btn')
  const myModal = new bootstrap.Modal(document.getElementById('edit-modal'), {
      keyboard: false
    })

  const cover = document.querySelector('#cover')
  const avatar = document.querySelector('#avatar')
  const name = document.querySelector('#name')
  const introduction = document.querySelector('#introduction')

  const coverImagefile = document.querySelector('#coverImage')
  const avatarImagefile = document.querySelector('#image')


  modalCloseBtn.addEventListener('click', () => {
    avatar.value = ""
    cover.value = ""
  })

  coverCloseBtn.addEventListener('click', () => {
    avatar.value = ""
    cover.value = ""
    document.querySelector('#edit-btn').click()
  })

  editBtn.addEventListener('click', () => {
    axios.get('/api/users/' + {{ user.id }})
    .then(response => {
      const userInfo = response.data
      cover.src = userInfo.cover
      avatar.src = userInfo.avatar || '../../images/avatar.png'
      name.value = userInfo.name
      introduction.value = userInfo.introduction
      document.querySelector('.name-count span').innerText = userInfo.name.length + '/50'
      const userInfoLength = userInfo.introduction?.length || '0'
      document.querySelector('.introduction-count span').innerText = userInfoLength + '/160'
      myModal.show()
    }).catch( err => console.warn( err ) )
  })
  saveBtn.addEventListener('click', () => {
    if (name.value.length > 50 || introduction.value.length > 160) {
      alert('字數超出上限')
      return
    }
    const formData = new FormData()
    const modalCloseBtn = document.querySelector('#modal-close-btn')
    const coverCloseBtn = document.querySelector('#cover-close-btn')

    formData.append("coverImage", coverImagefile.files[0])
    formData.append("image", avatarImagefile.files[0])
    formData.append('name', name.value)
    formData.append('introduction', introduction.value)
    axios.post('/api/users/{{user.id}}', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }).then(response => {
      if (response.data.status = 'success') {
        history.go(0)
      }
    }).catch(err => console.warn(err))
  })
</script>
<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form action="/api/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body d-flex justify-content-start">
          <button type="button" class="btn-close m-0" id="modal-close-btn" data-bs-dismiss="modal"
            aria-label="Close"></button>
          <h5 class="modal-title" id="edit-modal-label" style="margin-left:36px">編輯個人資料</h5>
        </div>
        <button type="submit" class="btn btn-primary" id="save-btn"
          style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px;width:64px;height:40px;margin-left:24px;">儲存</button>
      </div>
      <div class="modal-body m-0">
        {{!-- COVER --}}
        <img src="{{user.cover}}" class="card-img-top position-relative" id="cover" alt="cover" style="width:100%; height:200px; filter:brightness(60%);opacity: 0.75;">

        {{!-- COVER 內的兩個 icons --}}
        <div>
          <label class="form-labe position-absolute" style="left:330px;top:100px;z-index:1;" for="coverImage">
            <img src="/images/camera.png" alt="camera" style="width:50px;height:50px;">
          </label>
          <input class="form-control" type="file" class="form-control-file" id="coverImage" style="display:none" name="coverImage" onchange="previewCoverImage()">
          <img src="/images/close.png" alt="close" class="position-absolute" id="cover-close-btn"
            style="width5:50px;height:50px;left:430px;top:100px;z-index:1;">
        </div>
        {{!-- 大頭貼 --}}
        <div class="image position-absolute" style="top:150px; width:130px; height: 130px;">
          <img src="
            {{#if user.avatar}} 
              {{user.avatar}} 
            {{else}} 
              ../../images/avatar.png
            {{/if}}" alt="avatar" class="user-avatar rounded-circles" id="avatar" style="width:140px;height:140;top:140px;margin-left:16px;border-radius:50%;border:4px solid white;">
          
            <label class="form-labe position-absolute" style="left:60px;top:50px;z-index:1;" for="image">
              <img src="/images/camera.png" alt="camera" style="width5:50px;height:50px;">
            </label>

            <input class="form-control" type="file" class="form-control-file" id="image" style="display:none"
              name="avatar" onchange="previewAvatarImage()">
        </div>
        <div class="form-group form-floating" style="margin-top:100px;margin-left:16px;margin-right:16px;">
          <input type="text" name="name" id="name" class="form-control font-weight-bold m-auto" placeholder="名稱"
            value="{{user.name}}" style="background-color:#F5F8FA; border-bottom: 2px solid #657786;height:54px;"
            oninput="counts()" maxlength='50' required autofocus>
          <label for="name">請輸入名稱</label>
          <div class="text-end" id="char_count_name" style="font-size:12px"><span>0/50</span></div>
        </div>
        <div class="form-group form-floating m-3">
          <textarea type="text" name="introduction" id="introduction" class="form-control font-weight-bold m-auto"
            placeholder="請輸入自我介紹" style="background-color:#F5F8FA; border-bottom: 2px solid #657786;height:147px;"
            maxlength="160" oninput="counts()" required autofocus>{{user.introduction}}</textarea>
          <label for="introduction">自我介紹</label>
          <div class="text-end" id="char_count_intro" style="font-size:12px"><span>0/160</span></div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
{{!-- edit User info function --}}
<script>
  function previewAvatarImage() {
    const avatarImageDOM = document.querySelector('#image')
    const avatarImagefile = avatarImageDOM.files
    if (avatarImagefile.length > 0) {
      const fileReader = new FileReader()
      fileReader.onload = function (event) {
        document.getElementById('avatar').setAttribute('src', event.target.result)
      }
      fileReader.readAsDataURL(avatarImagefile[0])
    }
  }

  function previewCoverImage() {
    const coverImageDOM = document.querySelector('#coverImage')
    const coverImagefile = coverImageDOM.files
    if (coverImagefile.length > 0) {
      const fileReader = new FileReader()
      fileReader.onload = function (event) {
        document.getElementById('cover').setAttribute('src', event.target.result)
      }
      fileReader.readAsDataURL(coverImagefile[0])
    }
  }
  function counts() {
    const countName = document.getElementById('name').value.trim().length
    const countIntro = document.getElementById('introduction').value.trim().length
    const countNameText = document.getElementById('char_count_name')
    const countIntroText = document.getElementById('char_count_intro')
    countNameText.innerText = countName + '/50'
    countIntroText.innerText = countIntro + '/160'
    if (countName >= 50) {
      countNameText.style.color = 'red'
    } else {
      countNameText.style.color = 'black'
    }
    if (countIntro >= 160) {
      countIntroText.style.color = 'red'
    } else {
      countIntroText.style.color = 'black'
    }
  }
</script>