<div class="banner"
  style='background: #dddddd center center url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");'>
</div>
<div class="d-flex justify-content-between user-banner">
  <img class="avatar ms-3" src="https://xsgames.co/randomusers/assets/avatars/male/71.jpg">
  <div class="btns">
    <button class='btn-outline m-3'>
      <a href="#">
        <i class="fa-envelope" style="color: #ff6600;">
        </i>
      </a>
    </button>
    <button class='btn-outline m-3'>
      <a href="#">
        <i class="fa-regular fa-bell" style="color: #ff6600;">
        </i>
      </a>
    </button>
    <!-- todo 下面新增至資料庫-->
    <button class="btn-outline m-3">跟隨</button>
  </div>
</div>
<div class="info user-info">
  <div class="h5">{{user.name}}111</div>
  <div class="body-14-regular secondary">{{user.account}}111</div>
  <p class="body-14-regular grayscale mt-2">{{user.introduction}}11djaohfuohfuoeah1</p>
</div>
<div class="m-3 following-info">
  <span class="combined ">
    <!-- todo {{user.following.length}}   -->
    <span class="body-14-regular grayscale float-start">34個</span>
    <span class="body-14-regular secondary float-start">跟隨中　</span>
  </span>
  <span class="separator">　</span>
  <span class="combined ">
    <!-- todo {{user.follower.length}} -->
    <span class="body-14-regular grayscale float-start">59位</span>
    <span class="body-14-regular secondary float-start">跟隨者</span>
  </span>
</div>