<div class="row pt-4 m-0 outline">
  {{!-- tweeter's avatar --}}
  <div class="col-2 d-flex flex-row-reverse">
    <img src="{{../user.avatar}}" class="avatar" alt="avatar">
  </div>
  {{!-- tweet's content --}}
  <div class="col-10 pb-3 mb-0">
    {{!-- tweeter's info --}}
    <a href="/tweets/{{this.id}}/replies" style="color:#000000;text-decoration: none">
      <div class="d-flex flex-row align-items-center">
        <p class="main-user-name">{{../user.name}}</p>
        <p class="main-user-account">@{{../user.account}}．{{relativeTimeFromNow this.createdAt}}</p>
      </div>
      {{!-- tweet's description --}}
      <div class="mt-2">
        <p>{{this.description}}</p>
      </div>
    </a>
    {{!-- tweet's replies & likes --}}
    <div class="d-flex">
      <div>
        <i class="far fa-comment" data-bs-toggle="modal" data-bs-target="#replyModal{{this.id}}"></i>
        <span class="ms-1">{{this.Replies.length}}</span>
      </div>
      <div class="ms-5">
        {{!-- {{#if ../user.isLiked}} --}}
        {{!-- <form action="/tweets/{{this.id}}/unlike" method="post">
          <button class="heart-btn" type="submit">
            <i class="fa-solid fa-heart heart-icon"></i>
          </button>
          <span class="ms-1">{{this.Likes.length}}</span>
        </form> --}}
        {{!-- {{else}} --}}
        <form action="/tweets/{{this.id}}/like" method="post">
          <button class="heart-btn" type="submit">
            <i class="far fa-heart"></i>
          </button>
          <span class="ms-1">{{this.Likes.length}}</span>
        </form>
        {{!-- {{/if}} --}}
      </div>
    </div>
  </div>
</div>