<div class="row mt-2 py-2" style="border-bottom-style:solid; border-color:#e4e7eb; border-width:1px;">
  <div class="col-2 d-flex flex-row-reverse">
    <a class="text-decoration-none text-dark" href="/users/{{this.Tweet.UserId}}">
      <img src="{{this.Tweet.User.avatar}}" alt="avatar" style="height: 50px ;width: 50px; border-radius: 50%;">
    </a>
  </div>
  <div class="col-10">
    <div class="d-flex flex-row align-items-center">
      <a class="text-decoration-none text-dark" href="/users/{{this.Tweet.UserId}}">
        <p class="fw-bold" style="font-size: 16px; margin: 0 0;">{{this.Tweet.User.name}}</p>
        <p style="font-size: 14px; margin: 0 8px; color: #6C757D;">
          @{{this.Tweet.User.account}}．{{relativeTimeFromNow this.createdAt}}</p>
      </a>
    </div>
    <div class="mt-2">
      <a class="text-decoration-none text-dark" href="/tweets/{{this.Tweet.id}}">
        <p>{{this.Tweet.description}}</p>
      </a>
    </div>
    <div>
      <i class="far fa-comment me-3">
        <span class="ms-2 fw-normal">{{this.Tweet.Replies.length}}</span>
      </i>
      <i class="fa-solid fa-heart mx-3" style="color:red;">
        <span class="ms-2 fw-normal" style="color: black;">{{this.Tweet.Likes.length}}</span>
      </i>
    </div>
  </div>
</div>