<div class="header">
  <button onclick="window.history.back()" class="back-icon">
    <img src="https://i.postimg.cc/QxZdg4vB/Vector.png" alt="back" class="arrow-left">
  </button>
  <div class="header-user">
    <h5>{{user.name}}</h5>
    <p>{{user.tweetsCount}} 推文</p>
  </div>
</div>
<div class="user-main-body">
  <img src="{{user.cover}}" class="banner" alt="cover" />
  <div class="d-flex justify-content-between user-banner">
    <img class="avatar ms-3" src="{{user.avatar}}">
    {{#ifCond user.id userId}}
    <div class="btns" id="data-panel">
      <!-- todo 下面新增觸發編輯的MODAL，API : /api/users/:id/profile-->
      <button class="btn-outline m-3" data-bs-toggle="modal" data-bs-target="#editModal">編輯個人資料</button>
    </div>
    {{else}}
    <div class="btns">
    <button class='btn-outline m-3'>
      <a href="#">
        <i class="fa-envelope" style="color: #ff6600;">
        </i>
      </a>
    </button>
    <button class='btn-outline m-3'>
      <a href="#">
        <i class="fa-regular fa-bell" style="color: #ff6600;">
        </i>
      </a>
    </button>
    <!-- todo 下面新增至資料庫-->
    {{#if user.isFollowed}}
        <form action='/followships/{{user.id}}?_method=DELETE' method='post'>
          <input
            class='form-control'
            type='hidden'
            name='id'
            value='{{user.id}}'
          />
          <button class='following' style="margin-left: 0" type='submit'>正在跟隨</button>
        </form>
      {{else}}
        <form action='/followships' method='post'>
          <button
            class='follow'
            type='submit'
          >跟隨</button>
          <input
            class='form-control'
            type='hidden'
            name='id'
            value='{{user.id}}'
          />
        </form>
      {{/if}}
  </div>
    {{/ifCond}}
  </div>
  <div class="info user-info">
    <div class="h5">{{user.name}}</div>
    <div class="body-14-regular secondary" style="margin-top: -10px;">@{{user.account}}</div>
    <p class="body-14-regular grayscale mt-2">{{user.introduction}}</p>
  </div>
  <div class="m-3 following-info">
    <span class="combined ">
      <a href="/users/{{user.id}}/followings"><span
          class="body-14-regular grayscale float-start">{{user.FollowingsCount}}個</span></a>
      <span class="body-14-regular secondary float-start">跟隨中　</span>
    </span>
    <span class="separator">　</span>
    <span class="combined ">
      <a href="/users/{{user.id}}/followers"><span
          class="body-14-regular grayscale float-start">{{user.FollowersCount}}位</span></a>
      <span class="body-14-regular secondary float-start">跟隨者</span>
    </span>
  </div>
</div>
{{> user-edit-modal }}