<div class='d-flex flex-row head'>
  <span class='d-flex justify-content-start align-items-center'>
    <a  href='{{ifQuery previousPage 'back=1'}}' >
      <img src='/images/back.svg' alt='back' />
    </a>
  </span>
  <span class='ms-2'>
    <h5 class='m-0'>{{user.name}}</h5>
    <p class='m-0 tweet'>{{user.tweetsCount}} 推文</p>
  </span>

</div>
<div class='card'>
  <img src='{{user.cover}}' class='card-img-top cover' alt='cover'/>
  <img src='{{user.avatar}}' class='avatar' alt='avatar' onerror="this.style.visibility= 'hidden'"/>
  {{#if user.isLoginUser}}
    <div class='edit-btn'>
      <a href="/users/{{user.id}}"></a>
      <div class='btn rounded-pill' data-bs-toggle='modal' data-bs-target='#edit-modal'>編輯個人資料</div>
    </div>
  {{else}}
    <div class='follow'>
      <a class='mail' href='#'>
        <img class='reply-icon' src='/images/profile/btn_msg.svg' alt='mail' />
      </a>
      <a class='notification' href='#'>
        <img class='like-icon' src='/images/profile/btn_notfi.svg' alt='notification' />
      </a>
      <form class='' action='/follow/{{this.id}}' method='POST'>
        <button type='submit' class='btn'>正在跟隨</button>
      </form>
    </div>
  {{/if}}
  
  <div class='card-body'>
    <h5 class='card-title m-0'>{{user.name}}</h5>
    <p class='at-name m-0'>@{{user.account}}</p>
    <p class='card-text m-0'>{{user.introduction}}</p>
    <span><a href='/users/{{user.id}}/followings'>{{user.FollowingsCount}} 個跟隨中</a></span>
    <span><a href='/users/{{user.id}}/followers'>{{user.FollowersCount}} 位跟隨者</a></span>
  </div>
  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'tweets'}} active{{/ifCond}}' aria-current='page' href='/users/{{user.id}}/tweets'>推文</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'replies'}} active{{/ifCond}}' href='/users/{{user.id}}/replies'>回覆</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'likes'}} active{{/ifCond}}' href='/users/{{user.id}}/likes'>喜歡的內容</a>
    </li>
  </ul>
</div>

<!-- edit Modal -->
<div class='modal fade user-edit-modal' id='edit-modal' tabindex='-1' aria-labelledby='editModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form class='input-form validated' action='/users/{{user.id}}?_method=PUT' method='POST' enctype='multipart/form-data' novalidate>
        <div class='modal-header'>
          <button type='button' class='modal-close' data-bs-dismiss='modal' aria-label='Close'>X</button>
          <h1 class='modal-title' id='editModalLabel'>編輯個人資料</h1>
          <button type='submit' class='btn btn-primary btn-edit' onclick='return confirm(`確定要修改嗎?`)'>儲存</button>
        </div>
        <div class='modal-body'>
          <div class='cover-edit'>
            <img src='{{user.cover}}' class='card-img-top cover-img' alt='cover' />
            <div class='cover'>
              <label class='form-label' for='cover'>
                <img src='/images/profile/cover_edit.svg' alt='cover' />
              </label>
              <input class='form-control' type='file' class='form-control-file' id='cover' name='cover' />
              <label class='form-label cover-delete' for='cover-delete'>
                X
              </label>
              <input class='form-control' type='radio' class='form-control-file' id='cover-delete' name='coverDelete' />
            </div>
          </div>
          <div class='avatar-edit'>
            <img src='{{user.avatar}}' class='avatar-img'  onerror="this.style.display='block' "/>
            <div class='avatar'>
              <label class='form-label' for='avatar'>
                <img src='/images/profile/cover_edit.svg' alt='cover' />
              </label>
              <input class='form-control' type='file' class='form-control-file' id='avatar' name='avatar' />
            </div>
          </div>
          
          <div class='form-text'>
            <div class='name box'>
              <label class='form-label' for='name' >名稱</label>
              <input class='form-control input-name' type='text' name='name' id='name' value='{{user.name}}' placeholder='暱稱' />
              <div class="invalid-feedback">字數超出上限 !</div>
            </div>
            <div class='name-amount'>{{user.name.length}}/50</div>
            <div class='introduction box'>
              <label class='form-label' for='introduction'>自我介紹</label>
              <textarea class='form-control input-introduction' id='introduction' name='introduction' rows='3'>{{user.introduction}}</textarea>
              <div class="invalid-feedback">字數超出上限 !</div>
            </div>
            <div class='introduction-amount'>{{user.introduction.length}}/160</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/javascript/profile.js"></script>
