{{!-- logo --}}
<div class="col">
  <div class="card pagetitle_card">
    <div class="card-body">
      <a href='javascript:history.back()'>
        <i class='fas fa-arrow-left' style="color: black;"></i>
      </a>
      <div style="margin-left:20px;">
        <p class="profilepagetitle_title" style=" top:0px ;">
          {{ user.name }}
        <P style="font-weight: 500;font-size: 13px;line-height: 19px;margin-top:-10px">{{ user.Tweets.length }} 推文</P>
        </p>
      </div>
    </div>
  </div>
</div>

{{!-- 個人資料 --}}
<div class="card tweets_card" style=" border-left: 1px solid #d5d5dc;
  border-right: 1px solid #d5d5dc; ">
  <div class="col">
    <div class="row row-cols-1 row-cols-md-1">

      <div class="card mb-2 mr-1" style="background-color:#fafafb;border-color: #fafafb;width: 639px; 
height: 378px;margin-left:12px; margin-top:-131px;border-radius: 0%;">

        <img class="card-img-top" style="width: 640px; border-radius: 0%;margin-left:-12.5px;
height: 200px; " src="{{ user.cover }}" alt="{{ user.name }}">

        <img src="{{ user.avatar }}" class="border-avatar" style="border-radius: 50%; height: 100px; width: 100px;
        margin-top: 70px; margin-left:-255px" alt="{{ user.name }}">

        <div class="profile_btn" style="margin-left:480px; margin-top:12px; ;">
          {{!-- 是本人，顯示編輯個人資料按鈕 --}}
          {{#ifCond logInUser.id user.id}}
          {{!-- <form action="/users/{{user.id}}/edit" method="GET">
            <button type="submit">編輯個人資料</button>
          </form> --}}


          <!-- Button trigger modal -->
          <button type="button" class="btn profile_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            編輯個人資料
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">

                  {{!-- 提交表單 --}}
                  <form action="/users/{{ user.id }}/edit" method="POST" enctype="multipart/form-data">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <span>編輯個人資料</span>
                    <button class="btn btn-block mt-4"
                      style="border-radius: 50px; background-color:#FF6600; color: white; width:100px; height: 46px;padding: 8px 24px;"
                      type="submit">儲存</button>
                    <div class="form-group">
                    {{!-- TODO:是否要做上傳的圖片預覽? --}}

                      {{!-- cover 背景上傳 --}}
                      <div class="form-row mb-3">
                        <label class="form-label" for="cover">
                          <img src=" {{ user.cover }}" alt="" id="coverImg">
                        </label>
                        <input class="form-control-file" type="file" id="cover" name="cover" type="hidden" style="display: none;">
                      </div>
                      {{!-- 刪除背景 --}}
                      {{!-- <div class="form-row mb-3">
                        <label class="form-label" for="cover">刪除背景</label>
                        <input class="form-control-file" type="file" id="cover" name="cover" type="hidden" style="display: none;">
                      </div> --}}

                      {{!-- avatar 頭像 --}}
                      <div class="form-row mb-3">
                        <label class="form-label" for="avatar">
                          <img src=" {{ user.avatar }}" alt="user-picture" class="rounded-circle" id="avatarImg"
                        style="width: 64px; height:64px;">
                        </label>
                        <input class="form-control-file" type="file" id="avatar" name="avatar" type="hidden" style="display: none;">
                      </div>
                    </div>

                    <div class="form-row mb-3">
                      <label class="form-label" for="name">名稱</label>
                      <input class="form-control" type="text" name="name" id="name" placeholder="Enter name"
                        value="{{ user.name }}" maxlength="50" required>
                    </div>

                    <div class="form-row mb-3">
                      <label class="form-label" for="introduction">自我介紹</label>
                      <textarea class="form-control" name="introduction" id="introduction" row="5" maxlength="160"
                        placeholder="輸入自介" required>{{ user.introduction }}</textarea>
                    </div>
                    {{!-- <button class="btn btn-block mt-4"
                      style="border-radius: 50px; background-color:#FF6600; color: white; width:356px; height: 46px;padding: 8px 24px;"
                      type="submit">儲存</button> --}}
                  </form>



                </div>
              </div>
            </div>
          </div>


          {{else}}
          {{!-- 不是本人，顯示追蹤判斷按鈕 --}}
          {{!-- isFollowed 判斷 --}}
          {{#if isFollowed}}
          <form action="/followships/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn profilefollowing_btn">取消追蹤</button>
          </form>
          {{else}}
          <form action="/followships/{{user.id}}" method="POST" style="display: contents;">
            <button type="submit" class="btn profilefollower_btn">追蹤</button>
          </form>
          {{/if}}
          {{/ifCond}}
        </div>

        <div class="card-body" style="margin-top: -20px;">

          <p class="mt-2" style="font-weight: 700;font-size: 18px;line-height: 26px;margin-top:-40px; ">
            {{ user.name }}
          </p>

          <p style="color: #6C757D; ;font-weight: 400;font-size: 14px;line-height: 22px;margin-top:-20px;">
            @{{ user.account }}
          </p>

          <p class="profile_introduction">{{ user.introduction }}</p>


          <span style="color: #6C757D"><a href="/users/{{ user.id }}/followings"
              style="text-decoration: none;color: #171725;margin-top:-30px "><span>{{
                user.Followings.length }}個</span></a>跟隨中</span>
          <span style="color: #6C757D"><a href="/users/{{ user.id }}/followers"
              style="text-decoration: none;color: #171725;margin-top:-30px"><span>{{
                user.Followers.length }}位</span></a>跟隨者</span>

        </div>
      </div>
    </div>
  </div>
</div>

<script>cover.onchange = evt => {
  const [file] = cover.files
  if (file) {
    coverImg.src = URL.createObjectURL(file)
  }
}</script>

<script>avatar.onchange = evt => {
  const [file] = avatar.files
  if (file) {
    avatarImg.src = URL.createObjectURL(file)
  }
}</script>