<div class="d-flex mb-3" style="border-bottom: 1px solid #E6ECF0;">
  <div class="d-flex justify-content-center" style="height: 50px;width: 160px;
  {{#ifCond route 'tweets'}}border-bottom:3px solid #FF6600;{{/ifCond}}">
    <a style="text-decoration: none;" href="/users/{{targetUser.id}}/tweets">
      <span style="font-family: 'Noto Sans TC';font-style: normal;font-weight: 700;font-size: 20px;
      line-height: 22px;color:{{#ifCond route 'tweets'}}#FF6600{{else}}#657786{{/ifCond}}">推文</span>
    </a>
  </div>
  <div class="d-flex justify-content-center" style="height: 50px;width: 160px;
  {{#ifCond route 'replies'}}border-bottom:3px solid #FF6600;{{/ifCond}}">
    <a style="text-decoration: none;" href="/users/{{targetUser.id}}/replies">
      <span style="font-family: 'Noto Sans TC';font-style: normal;font-weight: 700;font-size: 20px;
      line-height: 22px;color:{{#ifCond route 'replies'}}#FF6600{{else}}#657786{{/ifCond}}">回覆</span>
    </a>
  </div>
  <div class="d-flex justify-content-center" style="height: 50px;width: 160px;
  {{#ifCond route 'likes'}}border-bottom:3px solid #FF6600;{{/ifCond}}">
    <a style="text-decoration: none;" href="/users/{{targetUser.id}}/likes">
      <span style="font-family: 'Noto Sans TC';font-style: normal;font-weight: 700;font-size: 20px;
      line-height: 22px;color:{{#ifCond route 'likes'}}#FF6600{{else}}#657786{{/ifCond}}">喜歡的內容</span>
    </a>
  </div>
</div>