<div class="header">
  <button onclick="window.history.back()" class="back-icon">
    <img src="https://i.postimg.cc/QxZdg4vB/Vector.png" alt="back" class="arrow-left">
  </button>
  <div class="header-user">
    <h5>{{user.name}}</h5>
    <p>{{user.tweetsCount}} 推文</p>
  </div>
</div>
<div class="user-main-body">
  <img src="{{user.cover}}" class="banner" alt="cover" />
  <div class="d-flex justify-content-between user-banner">
    <img class="avatar ms-3" src="{{user.avatar}}">
    <div class="btns" id="data-panel">
      <!-- todo 下面新增觸發編輯的MODAL，API : /api/users/:id/profile-->
      <button class="btn-outline m-3" data-bs-toggle="modal" data-bs-target="#editModal">編輯個人資料</button>
    </div>
  </div>
  <div class="info user-info">
    <div class="h5">{{user.name}}</div>
    <div class="body-14-regular secondary">{{user.account}}</div>
    <p class="body-14-regular grayscale mt-2">{{user.introduction}}</p>
  </div>
  <div class="m-3 following-info">
    <span class="combined ">
      <span class="body-14-regular grayscale float-start">{{user.FollowingsCount}}個</span>
      <span class="body-14-regular secondary float-start">跟隨中　</span>
    </span>
    <span class="separator">　</span>
    <span class="combined ">
      <span class="body-14-regular grayscale float-start">{{user.FollowersCount}}位</span>
      <span class="body-14-regular secondary float-start">跟隨者</span>
    </span>
  </div>
</div>