<div class='user-container m-0 p-0'>
  {{!-- header --}}
  {{> header route = 'users'}}

  {{!-- user profile --}}
  <div class='card'>
    <img src='{{user.cover}}' class='card-img-top profile-cover' alt='cover' />
    {{#if user.isLoginUser}}
    <div class="profile-user-img-block">
      <img src='{{user.avatar}}' class='profile-user-img ms-3' alt='avatar' onerror="this.style.visibility= 'hidden'" />
    </div>
    <div class='profile-btn-block'>
      <a href="/users/{{user.id}}"></a>
      <div class='btn recommend-followings-btn' data-bs-toggle='modal' data-bs-target='#edit-modal'>編輯個人資料</div>
    </div>
    {{else}}
    <div class="profile-user-img-block">
      <img src='{{user.avatar}}' class='profile-user-img ms-3' alt='avatar' onerror="this.style.visibility= 'hidden'" />
    </div>
    <div class='profile-btn-block'>
      <a class='mail-btn' href='#'>
        <img class='reply-icon' src='/images/profile/btn_msg.svg' alt='mail' />
      </a>
      <a class='notification-btn' href='#'>
        <img class='like-icon' src='/images/profile/btn_notfi.svg' alt='notification' />
      </a>
      {{#if user.isFollowing}}
        <form class='m-0' action='/followships/{{user.id}}?_method=DELETE' method='POST'>
          <button type='submit' class='btn'>正在跟隨</button>
        </form>
        </form>
      {{else}}
        <form class='m-0' action='/followships' method='POST'>
          <input type="hidden" name="id" value={{user.id}}>
          <button type='submit' class='btn btn-unfollow'>跟隨</button>
        </form>
      {{/if}}
    </div>
    {{/if}}
  
    <div class='card-body'>
      <h5 class='card-title m-0'>{{user.name}}</h5>
      <p class='m-0 user-account'>@{{user.account}}</p>
      <p class='card-text profile-description-data'>{{user.introduction}}</p>
      <a href='/users/{{user.id}}/followings' class="profile-description-data underline">{{user.FollowingsCount}} 個<span
          class="profile-description-text">跟隨中</span></a>
      <a href='/users/{{user.id}}/followers' class="profile-description-data underline">{{user.FollowersCount}} 個<span
          class="profile-description-text">跟隨者</span></a>
    </div>
  
    {{!-- navbar --}}
    {{> navbar/navbar-profile route = (lookupPartial navbar)}}
  
  </div>

  {{!-- each tweets --}}
  <ul class='list-group home-list'>
    {{#chooseEach repliesPage}}

      {{#each replies}}

        {{> tweets-list-replies}}

      {{/each}}

    {{else}}

      {{#each tweets}}
      
       {{> tweets-list}}
      
      {{/each}}

    {{/chooseEach}}

  </ul>
</div>


{{!-- modal --}}
{{> modal/modal-edit}}


<script src="/javascript/profile.js"></script>