<p>{{ user.name }}</p>
<p> {{ user.Tweets.length }} 推文 </p>
<img src=" {{ user.cover }}" alt="">
<img src=" {{ user.avatar }}" alt="user-picture" class="rounded-circle" style="width: 64px; height:64px;">

{{!-- 是本人，顯示編輯個人資料按鈕 --}}
  {{#ifCond logInUser.id user.id}}
    <form action="/users/{{user.id}}/edit" method="GET">
      <button type="submit">編輯個人資料</button>
    </form>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      編輯個人資料
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>


  {{else}}
{{!-- 不是本人，顯示追蹤判斷按鈕 --}}
    {{!--  isFollowed 判斷 --}}
    {{#if isFollowed}}
      <form action="/followships/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
    {{else}}
      <form action="/followships/{{user.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
    {{/if}}
  {{/ifCond}}

{{!-- 個人資料 --}}
<p>{{ user.name }}</p>
<p class="blockquote-footer">@{{ user.account }}</p>
<p>{{ user.introduction }}</p>
<span><a href="/users/{{ user.id }}/followings"><span>{{ user.Followings.length }}個</span></a>跟隨中</span>
<span><a href="/users/{{ user.id }}/followers"><span>{{ user.Followers.length }}位</span></a>跟隨者</span>



