{{!-- User Information --}}
<div>
  <div>
    {{!-- Cover --}}
    {{#if viewUser.cover}}
      <img src="{{viewUser.cover}}" width="100%" height="180px" style="transition: opacity 0.5s; opacity:0; margin: auto;
       object-fit: cover;" onload="this.style.opacity=1;" class="mt-1 rounded-top rounded-3" />
    {{else}}
      <img src="https://via.placeholder.com/480" width="100%" height="180px" class="mt-2 rounded-top rounded-3" />
    {{/if}}
  </div>
  {{!-- Avatar & Edit button --}}
  <div class="d-flex justify-content-between mt-3">
    <div>
      {{#if viewUser.avatar}}
        <img src="{{viewUser.avatar}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;
                margin-top: -90px;" onload="this.style.opacity=1;" class="border border-4 border-light rounded-circle ms-3" />
      {{else}}
        <img src="https://via.placeholder.com/140" width="140px" height="140px" style="margin-top: -90px;"
          class="border border-4 border-light rounded-circle ms-3" />
      {{/if}}
    </div>
    <div class="d-flex align-items-center text-primary">
      {{#ifCond viewUser.id user.id}}
        <button type="button" class="btn p-0 border-0" data-bs-toggle="modal" data-bs-target="#settingModal-{{viewUser.id}}">
          <span class="btn btn-outline-primary rounded-pill">編輯個人資料</span>
        </button>
      {{/ifCond}}
      {{#ifNotCond viewUser.id user.id}}
        <i class="fa-solid fa-envelope fa-lg border border-primary rounded-circle me-2 mb-3"
         style="line-height: 32px; padding-inline: 6px;"></i>
        {{#if viewUser.notification}}
          <i class="fa-solid fa-bell fa-lg text-white bg-primary border border-primary rounded-circle me-2 mb-3"
            style="line-height: 32px; padding-inline: 6px"></i>
        {{else}}
          <i class="fa-solid fa-bell fa-lg border border-primary rounded-circle me-2 mb-3"
          style="line-height: 32px; padding-inline: 6px"></i>
        {{/if}}
        {{#if viewUser.isFollowed}}
          <form action="/followships/{{viewUser.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-primary rounded-pill">正在跟隨</button>
          </form>
        {{else}}
          <form action="/followships" method="POST">
            <input type="hidden" name="id" value="{{viewUser.id}}" />
            <button type="submit" class="btn btn-outline-primary rounded-pill">跟隨</button>
          </form>
        {{/if}}
      {{/ifNotCond}}
    </div>
  </div>
  {{!-- Name, Account, Introduction & Followship --}}
  <div class="mt-3">
    <div class="d-flex flex-column">
      <h4 class="fw-bold" style="margin-bottom: 0px;">{{viewUser.name}}</h4>
      <span class="text-secondary" style="margin-top: -1px">@{{viewUser.account}}</span>
    </div>
    <div>
      <p class="mt-2">{{viewUser.introduction}}</p>
    </div>
    <div>
      <a href="/users/{{viewUser.id}}/followings" style="color: black;">
        <span class="fw-bold">{{arrayLength viewUser.Followings}} 個</span><span class="text-secondary">跟隨中</span> 
      </a>
      <a href="/users/{{viewUser.id}}/followers" style="color: black;">
        <span class="fw-bold ms-1">{{arrayLength viewUser.Followers}} 位</span><span class="text-secondary">跟隨者</span>
      </a>
    </div>
  </div>
</div>

{{!-- Setting Modal --}}
<div class="modal fade" id="settingModal-{{viewUser.id}}" tabindex="-1" aria-labelledby="settingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/api/users/{{viewUser.id}}" method="POST" enctype="multipart/form-data">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0px;"></button>
              <h6 class="ms-5 mb-0">編輯個人資料</h6>
            </div>
            <button class="btn btn-primary btn-block rounded-pill" type="submit">儲存</button>
          </div>
          <div>
            <div class="form-row">
              <label for="cover" class="w-100">
                <div class="cover-stack">
                  <div class="profile-cover">
                    {{#if viewUser.cover}}
                      <img src="{{viewUser.cover}}" width="100%" height="180px" style="transition: opacity 0.5s; opacity:0;
                       object-fit: cover;" onload="this.style.opacity=1;" class="mt-1 rounded-top rounded-3" />
                    {{else}}
                      <img src="https://via.placeholder.com/480" width="100%" height="180px" class="mt-3 rounded-top rounded-3" />
                    {{/if}}
                  </div>
                  <div class="profile-cover-tool d-flex justify-content-between align-items-center text-white">
                    <input class="form-control-file" type="file" name="cover" id="cover" style="display: none;">
                    <i class="fa-solid fa-camera fa-lg"></i>
                    <i class="fa-solid fa-xmark fa-lg"></i>
                  </div>
                </div>
              </label>
            </div>
            <div class="form-row">
              <label for="avatar">
                <div class="avatar-stack">
                  <div class="profile-avatar">                  
                    {{#if viewUser.avatar}}
                      <img src="{{viewUser.avatar}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
                        onload="this.style.opacity=1;" class="border border-4 border-light rounded-circle ms-3" />
                    {{else}}
                      <img src="https://via.placeholder.com/140" width="140px" height="140px"
                        class="border border-4 border-light rounded-circle ms-3" />
                    {{/if}}
                  </div>
                  <div class="profile-avatar-tool d-flex justify-content-between align-items-center text-white">
                    <input class="form-control-file" type="file" name="avatar" id="avatar" style="display: none;">
                    <i class="fa-solid fa-camera fa-lg"></i>
                  </div>
                </div>
              </label>
            </div>
            <div class="form-row mt-3">
              <label class="form-label" for="name">名稱</label>
              <input type="text" id="name" name="name" class="form-control" value="{{viewUser.name}}"
               maxlength="50" required>
              <div class="nameWordCount counter mt-1 d-flex justify-content-between flex-row-reverse">
                <div>
                  <span class="nameCurrentCount">{{textLength viewUser.name}}</span><span>/50</ span>
                </div>
              </div>
            </div>
            <div class="form-row mt-5">
              <label class="form-label" for="introduction">自我介紹</label>
              <textarea class="form-control" name="introduction" id="introduction" cols="30" rows="6"
               maxlength="160">{{viewUser.introduction}}</textarea>
              <div class="introductionWordCount counter mt-1 d-flex justify-content-between flex-row-reverse">
                <div>
                  <span class="introductionCurrentCount">{{textLength viewUser.introduction}}</span><span>/160</ span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>