<ul class='list-group rounded-0'>
  {{#each tweets}}
  <li class='list-group-item'>
    <div class='row d-flex justify-content-center'>
      <div class='col-2 p-0 d-flex justify-content-center avatar'>
        <a href="/users/{{this.User.id}}/tweets">
          <img
            src='{{this.User.avatar}}'
            alt='alphaCamp'
            width='50px'
            height='50px'
          />
        </a>
      </div>
      <div class='col p-0 ps-1 tweet-content'>
          <strong class='user-name'>{{this.User.name}}</strong>
          <span class='user-account'>@{{this.User.account}}</span>
          *
          <span class='user-account'>{{relativeTimeFromNow this.createdAt}}</span>
          <a href="#">
            <p class='user-name'>{{this.description}}</p>
          </a>
          <div class="row d-flex">
            <div class="col-2">
              <button class='tweet-comments'>回復</button>
              <span class='tweet-comments'>{{this.Replies.length}}</span>
            </div>
            <div class="col-2">
              <form action="#" method="post">
                <button class='tweet-likes' type="submit">喜愛</button>
                <span class='tweet-likes'>{{this.LikedUsers.length}}</span>
              </form>
            </div>
          </div>
      </div>
    </div>
  </li>
  {{/each}}
  {{#each replies}}
  <li class='list-group-item'>
    <div class='row d-flex justify-content-center'>
      <div class='col-2 p-0 d-flex justify-content-center avatar'>
        <a href="/users/{{this.Tweet.User.id}}/tweets">
          <img
            src='{{this.Tweet.User.avatar}}'
            alt='alphaCamp'
            width='50px'
            height='50px'
          />
        </a>
      </div>
      <div class='col p-0 ps-1 tweet-content'>
          <strong class='user-name'>{{../user.name}}</strong>
          <span class='user-account'>@{{../user.account}}</span>
          *
          <span class='user-account'>{{relativeTimeFromNow this.createdAt}}</span>
          <div class='user-account' style='color:#FF6600'>回覆 @{{this.Tweet.User.account}}</div>
          <a href="#">
            <p class='user-name'>{{this.comment}}</p>
          </a>
      </div>
    </div>
  </li>
  {{/each}}
  {{#each user.LikedTweets}}
  <li class='list-group-item'>
    <div class='row d-flex justify-content-center'>
      <div class='col-2 p-0 d-flex justify-content-center avatar'>
        <a href="/users/{{this.User.id}}/tweets">
          <img
            src='{{this.User.avatar}}'
            alt='alphaCamp'
            width='50px'
            height='50px'
          />
        </a>
      </div>
      <div class='col p-0 ps-1 tweet-content'>
          <strong class='user-name'>{{this.User.name}}</strong>
          <span class='user-account'>@{{this.User.account}}</span>
          *
          <span class='user-account'>{{relativeTimeFromNow this.createdAt}}</span>
          <a href="#">
            <p class='user-name'>{{this.description}}</p>
          </a>
          <div class="row d-flex">
            <div class="col-2">
              <button class='tweet-comments'>回復</button>
              <span class='tweet-comments'>{{this.Replies.length}}</span>
            </div>
            <div class="col-2">
              <form action="#" method="post">
                <button class='tweet-likes' type="submit">喜愛</button>
                <span class='tweet-likes'>{{this.LikedUsers.length}}</span>
              </form>
            </div>
          </div>
      </div>
    </div>
  </li>
  {{/each}}
</ul>