<div class="tab-contents">
  {{#each tweets}}
  <div class="tweet d-flex">
    <a href="/users/{{user.id}}/tweets">
      <img class="avatar" src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" alt="user1 avatar">
    </a>
    <div class="post-content">
      <div class="post-user d-flex flex-row align-items-end">
        <a href="/users/{{user.id}}/tweets">
          <h5>{{../user.name}}</h5>
        </a>
        <span class="secondary-text">@{{../user.account}}</span>
        <span class="secondary-text">•</span>
        <span class="secondary-text">{{relativeTimeFromNow this.createdAt}}</span>
      </div>
      <a href="#" class="content">{{this.description}}</a>
      <div class="tweet-buttons d-flex flex-row align-items-end">
        <button type="button" class="d-flex flex-row align-items-end">
          <i class="comment"></i>
          <span>{{this.Replies.length}}</span>
        </button>
        <button type="button" class="d-flex flex-row align-items-end">
          <i class="like"></i>
          <span >{{this.LikedUsers.length}}</span>
        </button>
      </div>
    </div> 
  </div>
  {{/each}}
  {{#each replies}}
  <div class="tweet d-flex">
    <a href="/users/{{user.id}}/tweets">
      <img class="avatar" src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" alt="user1 avatar">
    </a>
    <div class="post-content">
      <div class="post-user d-flex flex-row align-items-end">
        <a href="/users/{{user.id}}/tweets">
          <h5>{{../user.name}}</h5>
        </a>
        <span class="secondary-text">@{{../user.account}}</span>
        <span class="secondary-text">•</span>
        <span class="secondary-text">{{relativeTimeFromNow this.createdAt}}</span>
      </div>
      <div class='secondary-text reply-text'>回覆 <a href="#">@{{this.Tweet.User.account}}</a></div>
      <p class='content mb-0'>{{this.comment}}</p>
    </div> 
  </div>
  {{/each}}
  {{#each user.LikedTweets}}
  <div class="tweet d-flex">
    <a href="/users/{{user.id}}/tweets">
      <img class="avatar" src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" alt="user1 avatar">
    </a>
    <div class="post-content">
      <div class="post-user d-flex flex-row align-items-end">
        <a href="/users/{{user.id}}/tweets">
          <h5>{{this.User.name}}</h5>
        </a>
        <span class="secondary-text">@{{this.User.account}}</span>
        <span class="secondary-text">•</span>
        <span class="secondary-text">{{relativeTimeFromNow this.createdAt}}</span>
      </div>
      <a href="#" class="content">{{this.description}}</a>
      <div class="tweet-buttons d-flex flex-row align-items-end">
        <button type="button" class="d-flex flex-row align-items-end">
          <i class="comment"></i>
          <span>{{this.Replies.length}}</span>
        </button>
        <button type="button" class="d-flex flex-row align-items-end">
          <i class="like user-like"></i>
          <span >{{this.LikedUsers.length}}</span>
        </button>
      </div>
    </div> 
  </div>
  {{/each}}
</div>