<div class='d-flex flex-row profile-header'>
  <span class='d-flex justify-content-start align-items-center'>
    <a  href='{{ifQuery previousPage 'back=1'}}' >
      <img src='/images/back.svg' alt='back' />
    </a>
  </span>
  <span class='ms-3'>
    <h5 class='m-0'>{{user.name}}</h5>
    <p class='m-0 interact-counts-title'>{{user.tweetsCount}} 推文</p>
  </span>
</div>

<div class='card'>
  <img src='{{user.cover}}' class='card-img-top profile-cover' alt='cover'/>
  {{#if user.isLoginUser}}
    <div class="profile-user-img-block">
      <img src='{{user.avatar}}' class='profile-user-img ms-3' alt='avatar' onerror="this.style.visibility= 'hidden'"/>
    </div>
    <div class='profile-btn-block'>
      <a href="/users/{{user.id}}"></a>
      <div class='btn' data-bs-toggle='modal' data-bs-target='#edit-modal'>編輯個人資料</div>
    </div>
  {{else}}
    <div class='profile-btn-block'>
      <a class='mail-btn' href='#'>
        <img class='reply-icon' src='/images/profile/btn_msg.svg' alt='mail' />
      </a>
      <a class='notification-btn' href='#'>
        <img class='like-icon' src='/images/profile/btn_notfi.svg' alt='notification' />
      </a>
      <form class='' action='/follow/{{this.id}}' method='POST'>
        <button type='submit' class='btn'>正在跟隨</button>
      </form>
    </div>
  {{/if}}
  
  <div class='card-body'>
    <h5 class='card-title m-0'>{{user.name}}</h5>
    <p class='m-0 user-account'>@{{user.account}}</p>
    <p class='card-text profile-description-data'>{{user.introduction}}</p>
    <a href='/users/{{user.id}}/followings' class="profile-description-data underline">{{user.FollowingsCount}} 個<span class="profile-description-text">跟隨中</span></a>
    <a href='/users/{{user.id}}/followings' class="profile-description-data underline">{{user.FollowersCount}} 個<span class="profile-description-text">跟隨者</span></a>
  </div>
  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'tweets'}} active{{/ifCond}}' aria-current='page' href='/users/{{user.id}}/tweets'>推文</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'replies'}} active{{/ifCond}}' href='/users/{{user.id}}/replies'>回覆</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link {{#ifCond route 'likes'}} active{{/ifCond}}' href='/users/{{user.id}}/likes'>喜歡的內容</a>
    </li>
  </ul>
</div>

{{!-- modal --}}
{{> modal-edit}}

<script src="/javascript/profile.js"></script>
