<nav class="nav" style="border-bottom: 1px solid #E6ECF0;">
  <a href="/users/{{user.id}}/tweets">
    <button class="{{#if userTweet}}user-tab-active{{else}}user-tab{{/if}}" 
      aria-current="page" >推文
    </button>
  </a>
  <a href="/user/self/replies">
    <button class="{{#if userTweet}}user-tab-active{{else}}user-tab{{/if}}">回覆
    </button>
  </a>
  <a href="/users/{{user.id}}/likes">
    <button class="{{#if userLike}}user-tab-active{{else}}user-tab{{/if}}" >喜歡的內容
    </button>
  </a>
</nav>