{{#each users}}
{{!-- 每位 user --}}
<div class="d-flex flex-row align-items-center ps-4 pe-4 p-2 align-items-start" style="width: 100%">
  <div class="col col-10 d-flex align-items-center">
    {{!-- 用戶大頭貼 --}}
    <a href="/users/{{this.id}}/tweets" class="align-self-start">
      <figure class="me-2 flex-shrink-0" style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
        <img src="{{this.avatar}}" style="object-fit: cover;width:100%;height:100%">
      </figure>
    </a>
    <div class="me-2 d-flex flex-column flex-shrink-1">
      <div class="d-flex align-items-center">
        {{!-- 用戶名稱 --}}
        <p class="m-0 text-16px-med">{{this.name}}</p>
      </div>
      {{!-- tweets 內容 --}}
      <div class="m-0 text-16px-reg text-break mt-2">
        {{this.intro}}
      </div>
    </div>
  </div>
  {{!-- 追蹤按鈕 --}}
  <div class="col col-2 d-flex flex-row-reverse">
    {{#if this.isFollowed}}
    <form action="/followships/{{this.id}}?_method=DELETE" method="POST" class="me-1 pt-1">
      <button type="submit" class="pill pill-default pill-main">正在跟隨</button>
    </form>
    {{else}}
    <form action="/followships" method="POST" class="me-1 pt-1">
      <input type="text" name="id" value="{{this.id}}" style="display: none;">
      <button type="submit" class="pill pill-default pill-outline">跟隨</button>
    </form>
    {{/if}}
  </div>
</div>
<hr>
{{/each}}