<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple-Twitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9a9a9cf9c6.js" crossorigin="anonymous"></script>
</head>

<body>
  <main role="main">

    <div class="py-5 bg-light">
      <div class="row">

        <div class="col-3">
          <div class="vertical-nav bg-white" id="sidebar">
            <div class="py-4 px-3 mb-2 bg-light">
              <div class="media d-flex align-items-center">
                <img src="https://bc3-production-blobs-us-east-2.s3.us-east-2.amazonaws.com/22413b7c-cb64-11ea-b15b-ecf4bbd6f9a0?response-content-disposition=inline%3B%20filename%3D%2294ffe51c-87fc-45b3-b8a5-ddfc6c1de850_200x200.png%22%3B%20filename%2A%3DUTF-8%27%2794ffe51c-87fc-45b3-b8a5-ddfc6c1de850_200x200.png&response-content-type=image%2Fpng&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAS5PME4CT5QW2PJJU%2F20200723%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20200723T060507Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=7b0698a44a6a78f79764e66e0429fb7e7cfae8c7ce60575fbffd7cbbc10cc752" style="width:100px; height:100px">
                <div class="media-body">
                  <h4 class="m-0">Simple-Twitter</h4>
                  <p class="font-weight-light text-muted mb-0">ALPHA Camp project</p>
                </div>
              </div>
            </div>
          
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 ml-5 mb-0">Navigation</p>
          
            <ul class="nav flex-column bg-white ml-5 mb-0">
              <li class="nav-item">
                <a href="/" class="nav-link text-dark font-italic bg-light">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Home
                </a>

              {{#if user.isAdmin}}
                <li class="nav-item">
                  <a href="/admin" class="nav-link text-dark font-italic">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Admin 後台
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/users/{{user.id}}" class="nav-link text-dark font-italic">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/signOut" class="nav-link text-dark font-italic">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Sign Out
                  </a>
                </li>
              {{/if}}
              {{#if user}}                
                <li class="nav-item">
                  <a href="/users/{{user.id}}" class="nav-link text-dark font-italic">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/signOut" class="nav-link text-dark font-italic">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Sign Out
                  </a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>

        <div class="col-6">
          {{#if success_messages}}
          <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
            {{success_messages}}
          </div>
          {{/if}}
          {{#if error_messages}}
          <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
            {{error_messages}}
          </div>
          {{/if}}
          
          {{{body}}}
        </div>

        <div class="col-3"></div>

      </div>
    </div>
  </main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>