<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/149a22a609.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
  <div class="d-flex justify-content-center w-100">
    <div class="row d-flex flex-nowrap mt-0 mx-auto w-100 ">
      {{#if user}}
      {{#ifcond user.role "===" "admin"}}
      <div style="width:18vw; border-right: 1px solid #C0C0C0;">
        {{> admin_leftColumn}}
      </div>
      <div style="width:75vw;">
        {{> messages}}
        {{{body}}}
      </div>
      {{else}} {{#if OpenChat}}
      <div style="width:18vw; border-right: 1px solid #C0C0C0;">
        {{> admin_leftColumn}}
      </div>
      <div style="width:75vw;">
        {{> messages}}
        {{{body}}}
      </div>
      {{else}}
      <div style="width:18vw; border-right: 1px solid #C0C0C0;">
        {{> leftColumn}}
      </div>
      <div style="width:55vw;">
        {{> messages}}
        {{{body}}}
      </div>
      <div style="width:18vw;">
        {{> rightColumn}}
      </div>
      {{/if}}
      {{/ifcond}}
      {{else}}
      <div>
        {{> messages}}
        {{{body}}}
      </div>
      {{/if}}


    </div>
  </div>
  {{#if user}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/javascripts/chat.js"></script>
  {{/if}}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/profile.js"></script>

</html>