<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alphitter</title>
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  {{!-- Google Font --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Noto+Sans+TC:wght@400&display=swap"
    rel="stylesheet">
  {{!-- Custom CSS --}}
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  {{#if loginUser}}
  {{#if (isAdmin loginUser.role)}}
  <div class="row m-2">
    <div class="col-2">
      {{> left-nav}}
    </div>
    <div class="col-10">
      {{> messages}}
      {{{body}}}
    </div>
  </div>
  {{else}}
  <div class="row m-2">
    <div class="col-2">
      {{> left-nav}}
    </div>
    <div class="col-8">
      {{> messages}}
      {{{body}}}
    </div>
    <div class="col-2">
      {{!-- right Navigation --}}
    </div>
  </div>
  {{/if}}

  {{else}}
  <div class="pt-4 d-flex flex-column h-100 bg-light">
    <main class="mx-auto" style="width: 356px;">
      {{> messages}}
      {{{body}}}
    </main>
  </div>
  {{/if}}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</html>