<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Twitter</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>

<body>
  {{!-- Navbar --}}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <div>
      {{#if isAuthenticated}}
      <span style="margin-right: 10px;">Hi, {{user.email}}</span>
      <a href="/signout">前台登出</a>
      <a href="/admin/signout">後台登出</a>
      {{else}}
      <a href="/signin">前台登入</a>
      <a href="/admin/signin">後台登入</a>
      {{/if}}
    </div>
  </nav>
  <div class="container">
    {{!-- Messages --}}
    {{#if success_messages}}
    <div class="alert alert-success" role="alert" style="margin: 30px 0;">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert" style="margin: 30px 0;">
      {{error_messages}}
    </div>
    {{/if}}
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{this.message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×
      </button>
    </div>
    {{/each}}
    {{/if}}
    {{!-- Content --}}
    {{{body}}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>