<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simple Twitter</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>

  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

        {{#if success_messages}}
        <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
          {{success_messages}}
        </div>
        {{/if}}

        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
          {{error_messages}}
        </div>
        {{/if}}



        <div class="row mt-3 container-fluid">
          {{#if user}}
          <div class="col-3 ">
            <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
              style="width:75px; height:75px">

            <div class="d-flex flex-column mt-2 col ">
              </br>

              {{#if user.role}}
              <div class="d-flex">
                <div class="tweets" name="tweets">

                  <a class=" nav-link" href="/admin/tweets"><strong><i class="fas fa-home"></i>推文清單</strong></a>

                </div>

              </div>
              </br>
              <div class="d-flex">

                <div class="users" name="users">
                  <a class=" nav-link" href="/admin/users"><strong><i class="far fa-user"></i> 使用者列表</strong></a>
                </div>

              </div>
              {{else}}
              <div class="d-flex">
                <div class="main " name="main">

                  <a class=" nav-link" href="/main"><strong><i class="fas fa-home"></i>首頁</strong></a>

                </div>

              </div>
              </br>
              <div class="d-flex">

                <div class="user" name="user">
                  <a class=" nav-link" href="/main"><strong><i class="far fa-user"></i> 個人資料</strong></a>
                </div>

              </div>
              </br>
              <div class="d-flex">

                <div class="setting" name="setting">
                  <a class=" nav-link" href="/main"><strong> <i class="fas fa-cog"></i> 設定</strong></a>
                </div>

              </div>
              </br>
              <div class="d-flex">

                <!-- Button trigger modal -->
                <button type="button" class="mt-4 mb-4 btn" data-toggle="modal" data-target="#tweetModal"
                  style="background: #FF6600;border-radius: 50px;">
                  <span style="color: #FFFFFF;">推文</span></button>
                <!-- Modal -->
                <div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">

                      </div>
                      <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="left" class="d-flex">
                          <form method="POST" action="/tweets/{{user.dataValues.id}}">
                            <textarea name="description" cols="55" rows="5"
                              style="background: #FFFFFF;border: 1px solid #E6ECF0;box-sizing: border-box;"
                              placeholder="有什麼新鮮事"></textarea>
                            <button type="submit"
                              style="width: 64px;height: 40px;left: 899px;top: 123px;background: #FF6600;border-radius: 100px;">
                              <span style="color: #FFFFFF;">推文</span></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {{/if}}
              </br>
              </br>
              </br>
              </br>
              </br>

              <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">LogOut</button></a>

            </div>


          </div>
          {{/if}}

          {{{body}}}
        </div>


      </div>
    </div>
  </main>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>