<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Twitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <div class="container">
    {{#if success_messages}}
    <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
      {{error_messages}}
    </div>
    {{/if}}
  </div>
  <div class="container col col-lg-11 d-flex flex-column flex-lg-row justify-content-around"
    style="min-width: 760px; height: 900px;">

    {{#if myUser}}
    <div
      class="left-sec col-lg-3 border-right border-black-50 d-flex flex-row flex-lg-column justify-content-lg-between align-items-lg-center">
      <div class="d-flex flex-row flex-lg-column">
        <div class="logo mt-3 d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start 
      align-items-center" style="min-width: 260px;">
          <img src="https://i.imgur.com/73A1th4.png" alt="" class="rounded-circle m-2"
            style="width: 60px; height: 60px;">
          <div class="font-weight-bold h3">Twitter 衝一波</div>
        </div>
        <ul class="nav flex-row flex-lg-column justify-content-around align-items-lg-start">
          {{#whoAreYou myUser.role}}
          <li class="nav-item d-flex mt-4 {{#if isHomePage}} text-danger {{else}} text-dark {{/if}}">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill mt-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
            <a href="/tweets" class="nav-link h4 {{#if isHomePage}} text-danger {{else}} text-dark {{/if}}">首頁</a>
          </li>
          <li class="nav-item d-flex mt-4 {{#if isUserPage}} text-danger {{else}} text-dark {{/if}}">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill mt-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <a href="/users/{{myUser.id}}"
              class="nav-link h4 {{#if isUserPage}} text-danger {{else}} text-dark {{/if}}">個人資料</a>
          </li>
          <li class="nav-item d-flex mt-4 {{#if isEditPage}} text-danger{{else}} text-dark {{/if}}">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-gear mt-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z" />
              <path fill-rule="evenodd"
                d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z" />
            </svg>
            <a href="/users/{{myUser.id}}/edit"
              class="nav-link h4 {{#if isEditPage}} text-danger {{else}} text-dark {{/if}}">設定</a>
          </li>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            onclick="cleanTextarea()" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">

                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="cleanTextarea()">Close</button>

                </div>
                <div class="modal-body">
                  <form action="/tweets/newTweets" method="POST">
                    <div class="form-group">

                      <textarea class="form-control" id="newTweetModalTextarea" name="newTweet" rows="3"
                        placeholder="有什麼新鮮事?" oninput="showWordCountModal()" maxlength="140"></textarea>
                      <p><span id="wordCountModal">0</span>/140</p>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger rounded-pill">推文</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-danger rounded-pill w-100 mt-3" data-toggle="modal"
            data-target="#exampleModal"> 推文 </button>

          <script>
            function CloseModal() {
              $('#closeThis').click(function () {
                $('#newTweet').val('');
              })

            }
          </script>

          {{else}}
          <li class="nav-item d-flex mt-4 {{#if isAdminTweet}} text-danger {{else}} text-dark {{/if}}">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill mt-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
            <a href="/admin/tweets"
              class="nav-link h4 {{#if isAdminTweet}} text-danger {{else}} text-dark {{/if}}">推文清單</a>
          </li>
          <li class="nav-item d-flex mt-4 {{#if isAdminUser}} text-danger {{else}} text-dark {{/if}}">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill mt-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <a href="/admin/users"
              class="nav-link h4 {{#if isAdminUser}} text-danger {{else}} text-dark {{/if}}">使用者列表</a>
          </li>
          {{/whoAreYou}}

        </ul>
      </div>

      <a href="/logout" class="mt-2 mb-lg-4 text-dark h5" style="min-width: 80px;">
        <span>
          <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-left" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.854 11.354a.5.5 0 0 0 0-.708L5.207 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0 0 1h9A.5.5 0 0 0 15 8z" />
            <path fill-rule="evenodd"
              d="M2.5 14.5A1.5 1.5 0 0 1 1 13V3a1.5 1.5 0 0 1 1.5-1.5h8A1.5 1.5 0 0 1 12 3v1.5a.5.5 0 0 1-1 0V3a.5.5 0 0 0-.5-.5h-8A.5.5 0 0 0 2 3v10a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V13a1.5 1.5 0 0 1-1.5 1.5h-8z" />
          </svg>
        </span>
        登出
      </a>

    </div>

    {{/if}}

    <div class="main-sec col overflow-auto p-0" style="min-width: 470px;">
      {{{body}}}
    </div>

    {{#if topUsers}}
    <div class="right-sec mt-4 col-lg-3 mb-md-3 border-left border-black-50" style="min-width: 350px;">
      <ul
        class="list-group list-group-flush bg-light rounded-lg shadow d-inline-flex flex-row  flex-lg-column overflow-auto"
        style="max-width: 800px;">

        {{!-- 使用hbs each 產生使用者 --}}
        <li class="list-group-item font-weight-bold h5 bg-light">跟隨誰</li>
        {{#each topUsers}}
        <li class="list-group-item d-flex flex-column flex-lg-row justify-content-lg-between bg-light">

          <div class="user-wrap d-flex mb-2">
            <a href="/users/{{this.id}}">
              <img src="{{this.avatar}}" alt="" class="rounded-circle mr-2" style="width: 50px; height: 50px;">
            </a>
            <div class="user d-flex flex-column justify-content-center">
              <div class="user-name font-weight-bold">
                {{this.name}}
              </div>
              {{!-- 連結到user 頁面 --}}
              <a href="/users/{{this.id}}" class="user-account text-secondary">
                @{{this.account}}
              </a>

            </div>
          </div>

          {{#ifCond this.id ../myUser.id}}
          {{else}}
          {{#if this.isFollowed}}
          <form action="/followings/{{this.id}}?_method=DELETE" method="post" class="d-flex align-items-center ml-4"
            style="min-width: 100px;">
            <button type="submit" class="btn btn-danger rounded-pill"> 正在跟隨 </button>
          </form>
          {{else}}
          <form action="/followings/{{this.id}}" method="post" class="d-flex align-items-center ml-4">
            <button type="submit" class="btn btn-outline-danger rounded-pill"> 跟隨 </button>
          </form>
          {{/if}}
          {{/ifCond}}

          {{/each}}

        </li>
        <li class="list-group-item bg-light">
          <a href="#" class="text-danger font-weight-bold">顯示更多</a>
        </li>
      </ul>
    </div>
    {{/if}}

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script>
    const newTweetModalTextareaElement = document.getElementById('newTweetModalTextarea')
    function cleanTextarea() {

      newTweetModalTextareaElement.value = ''
      wordCountModalElement.innerHTML = 0
    }

    const newTweetTextareaModalElement = document.getElementById('newTweetModalTextarea')
    const wordCountModalElement = document.getElementById('wordCountModal')
    function showWordCountModal() {
      wordCountModalElement.innerHTML = newTweetTextareaModalElement.value.length
    }
  </script>

</body>

</html>