{{#if usersFollowers}}
{{#if noFollower}}
<div class="follow-tweet">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="follower" href="/users/{{viewUser.id}}/followers">追隨者</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="following" href="/users/{{viewUser.id}}/followings">正在追蹤</a>
    </li>
  </ul>
  <br /><br />

  <div class="no-followship">
    <i class="fas fa-user-clock"></i>
    尚無追隨
  </div>
  {{else}}
  {{!-- 追隨 --}}
  <div class="follow-tweet">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="follower" href="/users/{{viewUser.id}}/followers">追隨者</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="following" href="/users/{{viewUser.id}}/followings">正在追蹤</a>
      </li>
    </ul>
    <br /><br />
    {{!-- 追隨者開始 --}}
    {{#each usersFollowers}}
    <div class="user-tweet">
      <div class="tweet col-md-12">
        <div class="d-flex">
          <div class="mt-2 ml-2 col-md-1" style="padding:0">
            <a href="/users/{{this.id}}/tweets">
              <img class="user-pic mr-2" src="{{this.avatar}}" alt="">
          </div>

          <div class="col-md-11">
            <div class="account-followship">
              <div class="account-info" style="flex:auto">
                <a href="/users/{{this.id}}/tweets">
                  <div class="user-name">{{this.name}}</div>
                </a>
                <div class="account-time">@{{this.account}}</div>
              </div>


              {{#if this.isFollowed }}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                <div class="followship-button">
                  <button type="submit" class="btn follow-button">正在跟隨</button>
                </div>
              </form>
              {{else}}
              <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                <div class="followship-button">
                  <button type="submit" class="btn unfollow-button"> 跟隨 </button>
                </div>
              </form>
              {{/if}}

            </div>
            <div class="post-text d-flex" style="flex:auto">
              {{this.introduction}}
            </div>
          </div>

        </div>
      </div>
      <hr />
    </div>
    {{/each}}
    {{!-- 追隨者結束 --}}
    {{/if}}
    {{else}}
    {{#if noFollowing}}
    <div class="follow-tweet">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" id="follower" href="/users/{{viewUser.id}}/followers">追隨者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="following" href="/users/{{viewUser.id}}/followings">正在追蹤</a>
        </li>
      </ul>
      <br /><br />

      <div class="no-followship">
        <i class="fas fa-user-clock"></i>
        尚無追蹤
      </div>
      {{else}}
      <div class="follow-tweet">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" id="follower" href="/users/{{viewUser.id}}/followers">追隨者</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="following" href="/users/{{viewUser.id}}/followings">正在追蹤</a>
          </li>
        </ul>
        <br /><br />

        {{#each usersFollowings}}
        <div class="user-tweet">
          <div class="tweet col-md-12">
            <div class="d-flex">
              <div class="mt-2 ml-2 col-md-1" style="padding:0">
                <a href="/users/{{this.id}}/tweets">
                  <img class="user-pic mr-2" src="{{this.avatar}}" alt="">
                </a>
              </div>

              <div class="col-md-11">
                <div class="account-followship">
                  <div class="account-info" style="flex:auto">
                    <a href="/users/{{this.id}}/tweets">
                      <div class="user-name">{{this.name}}</div>
                    </a>
                    <div class="account-time">@{{this.account}}</div>
                  </div>

                  {{#if this.isFollowed }}
                  <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                    <div class="followship-button">
                      <button type="submit" class="btn follow-button">正在跟隨</button>
                    </div>
                  </form>
                  {{else}}
                  <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                    <div class="followship-button">
                      <button type="submit" class="btn unfollow-button"> 跟隨 </button>
                    </div>
                  </form>
                  {{/if}}
                </div>
                <div class="post-text d-flex" style="flex:auto">
                  {{this.introduction}}
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
        {{/each}}
        {{/if}}
        {{/if}}
      </div>
    </div>