<h1> User 清單 </h1>


{{#each users}}
<div>
  <hr>
  <h1> 名字: {{this.name}} </h1>
  <p> 帳號: {{this.account}} </p>
  <p> 推文數: {{this.tweetsCount}} </p>
  <p> 被按讚數量: {{this.likesCount}} </p>
  <p> 追隨數量: {{this.followingsCount}} </p>
  <p> 被追數量: {{this.followersCount}} </p>
</div>
{{/each}}