<div class="container-fluid" id="tweets">
    <div class="row flex-nowrap justify-content-between">
        <div class="col-3 col-lg-3">
            <a class="d-flex py-3 pl-4" href="/" style="text-decoration: none;">
                <i class="fab fa-twitter-square" style="font-size: 2.5em; color: #FF6600;"></i>
            </a>
            <div class="d-flex flex-column align-items-start pl-3 px-3 pt-2 min-vh-100">
                <ul class="nav flex-column nav-pills" id="menu" style="max-width:150px;">
                    <li class="nav-item py-1">
                        <a class="nav-link align-middle text-dark " href="/admin/tweets">
                            <i class="fas fa-home a-tomato" style="font-size: 1.2em;"></i>
                            <span class="h5 menu-text home a-tomato d-none d-sm-inline" style="color: #FF6600;">推文清單</span>
                        </a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link align-middle text-dark h-tomato" href="/admin/users">
                            <i class="far fa-user" style="font-size: 1.2em;"></i>
                            <span class="h5 menu-text user d-none d-sm-inline">使用者列表</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-9 mt-2 col-lg-9">
            <div class="card-header" style="font-size: 18px; font-weight: 700;">
                推文清單
            </div>

            {{#each tweets}}
            <div class="card col-12 hovercard d-flex flex-row">
                <div class="card-body col-12">
                    <div class="row  mb-1 p-2">
                        <div class="col-1 d-flex justify-content-center align-items-start">
                            <a href="/users/{{this.UserId}}">
                                <img src="{{#if this.User.avatar}}{{this.User.avatar}}{{else}}https://loremflickr.com/800/550/landscape{{/if}}"
                                    class="rounded-circle" style="width: 50px; height: 50px" alt="avatar">
                            </a>
                        </div>
                        <div class="col-11 row">
                            <div class="col-12 d-inline-flex justify-content-between align-items-center">
                                <div style="height: 22px; font-size: 15px;">
                                    <a href="/users/{{this.UserId}}"
                                        class="text-dark font-weight-bold">{{this.User.name}}</a>
                                    <span style="color: #657786;">@{{this.User.account}}．{{moment
                                        this.createdAt}}</span>
                                </div>
                            </div>
                            <div class="col-12 mt-1" onclick="javascript:location.href='/tweets/{{this.id}}'">
                                <p class="fw-bold">{{this.description}}</p>
                            </div>

                        </div>
                    </div>
                </div>


                <div>
                    <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-link h-delete" style="text-decoration: none; color: #657786;">X</button>
                    </form>
                </div>
            </div>
            {{/each}}

        </div>

    </div>
    <div class="d-flex fixed-bottom mb-3 ml-5 px-3">
        <a href="/admin/logout" class="d-flex" style="text-decoration: none;">
            <i class="fas fa-sign-out-alt" style="color: #000000; font-size: 1.2em;"></i>
            <span class="h5 logout-text">登出</span>
        </a>
    </div>
</div>