<div class="row mt-3">
  <div class="col-md-3 pl-0">

    {{> left}}

  </div>

  <div class="col-md-3 border-left border-right">

    <h5 class="">上線使用者(999)</h5>
    <hr>
    <div class="row align-items-center">
      <div class="ml-2">
        <img src="{{user.avatar}}" alt="" class="rounded-circle" style="width: 50px">
      </div>
      <div class="ml-2">
        <h4> {{user.name}} </h4>
      </div>
      <div class="ml-2">
        <h4 style="color:#7B7B7B"> {{user.account}} </h4>
      </div>
    </div>
    <hr>

    <div class="row align-items-center">
      <div class="ml-2">
        <img src="{{user.avatar}}" alt="" class="rounded-circle" style="width: 50px">
      </div>
      <div class="ml-2">
        <h4> {{user.name}} </h4>
      </div>
      <div class="ml-2">
        <h4 style="color:#7B7B7B"> {{user.account}} </h4>
      </div>
    </div>
    <hr>

    <div class="row align-items-center">
      <div class="ml-2">
        <img src="{{user.avatar}}" alt="" class="rounded-circle" style="width: 50px">
      </div>
      <div class="ml-2">
        <h4> {{user.name}} </h4>
      </div>
      <div class="ml-2">
        <h4 style="color:#7B7B7B"> {{user.account}} </h4>
      </div>
    </div>
    <hr>
  </div>

  <div class="col">
    <h5 class="">公開聊天室</h5>
    <hr>
  </div>




</div>