<div class="row mt-3">
  <div class="col-md-3 pl-0">
    {{> left}}
  </div>
  <div class="col-md-3 border-left border-right">
    <h5 class="onlineuser">上線使用者(<span id="online">0</span>)</h5>
    <hr>

    <div id="online-user-content">
      <div id=" " class="row align-items-center">
        <div class="ml-2">
          <img src="{{user.avatar}}" alt="" class="rounded-circle" style="width: 50px">
        </div>
        <div class="ml-2">
          <h4> {{user.name}} </h4>
        </div>
        <div class="ml-2">
          <h4 style="color:#7B7B7B"> {{user.account}} </h4>
        </div>
      </div>
      <hr>
    </div>

  </div>

  <div class="col chat-room content">

    <div class="col">
      <h5 class="">公開聊天室</h5>
      <hr>


      <div class="chat-messages  ">
        <div id="mario chat">

          <div id="chat-window">

            <div id="output">

              {{!-- 內容 --}}

            </div>
            <div id="feedback">

            </div>

          </div>

          <div class="row col send-btn" style="position: fixed; bottom: 220px ;width:25%">
            </br>
            <input id="avatar" type="hidden" value="{{user.avatar}}">
            <input id="name" type="hidden" value="{{user.name}}">
            <div class="form-group row " style="width:95%">
              <input id="message" type="text" class="form-control col-10" placeholder="輸入訊息">
              <button id="send" class="col btn" style="background-color:white; border:none;  outline:none"><i
                  class="far fa-paper-plane" style="color:rgb(255, 102, 0);"></i></button>
            </div>
          </div>

        </div>
      </div>
    </div>




  </div>



  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/script.js"></script>