<div class="row">
  <div class="col-md-4">
    <a href="/users/{{reply.User.id}}/tweets">
    <img class="img-circle" src="{{ reply.User.avatar }}" width="50" height="50">
    </a>
    <span>{{reply.User.name}}</span>
    <h2>
    <p>{{tweet.description}}</p>
    </h2>
    {{moment tweet.createdAt}}
    {{reply.}}
    <hr>
  </div>
</div>