<div class="row justify-content-center">
  <div class="col">
    {{>columnLeft}}
  </div>
   {{>modalIndex}}
  <div class="profile-container">
    <div class="mainpost-nav">
      <div class="row justify-content-start">
        <div class="col1">
          <a href="javascript:history.back()"><i class="bi bi-arrow-left nav-bold"></i></a>
        </div>
        <div class="col2">
          <p class="nav-bold">{{user.name}}</p><small>{{user.tweetCount}}推文</small>
        </div>
      </div>
    </div>
    <ul class="nav followship-tags">
      <li class="nav-item"><a class="nav-link {{#if tagA}}active{{/if}}"
          href="/profiles/{{ user.id }}/followers">跟隨者</a></li>
      <li class="nav-item"><a class="nav-link {{#if tagB}}active{{/if}}"
          href="/profiles/{{ user.id }}/followings">正在跟隨</a></li>
    </ul>
    <div class="col flex-direction-column">
      {{#each followers}}
      <!--start::跟隨者-->
      <div class="col-12 flex-direction-column">
        <div class="post">
          <div class="post-card1">
            <div class="avatar profile-avatar"><img src="{{this.avatar}}" alt="avatar-img" /></div>
          </div>
          <div class="post-card2">
            {{#if this.isFollowed}}
            <form class="ms-auto" action="/followships/{{ this.id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn-orange btn-short upper-right">正在跟隨</button>
            </form>
            {{else}}
            <form class="ms-auto" action="/followships/{{ this.id }}" method="POST">
              <button type="submit" class="btn-outline-orange btn-short upper-right">跟隨</button>
            </form>
            {{/if}}
            <h5 class="d-inline-block profile-nav-header post-title">{{this.name}}&nbsp;<span
                class="post-sub-info">{{this.account}}
                &#x2027; {{this.updatedAtFormated}}</span></h5>
            <p>{{this.introduction}}</p>
          </div>
        </div>
      </div>
      <!--start::跟隨者-->
      {{/each}}
      {{#each followings}}
      <!--start::正在跟隨-->
      <div class="col-12 flex-direction-column">
        <div class="post">
          <div class="post-card1">
            <div class="avatar profile-avatar"><img src="{{this.avatar}}" alt="avatar-img" /></div>
          </div>
          <div class="post-card2">
            <form class="ms-auto" action="/followships/{{ this.id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn-orange btn-short upper-right">正在跟隨</button>
            </form>
            <h5 class="d-inline-block profile-nav-header post-title">{{this.name}}&nbsp;<span
                class="post-sub-info">{{this.account}}
                &#x2027; {{this.updatedAtFormated}}</span></h5>
            <p>{{this.introduction}}</p>
          </div>
        </div>
      </div>
      <!--end::正在跟隨-->
      {{/each}}
    </div>
  </div>

  <div class="col">
    {{>columnRight}}
  </div>
</div>