<div class="row">
  <div class="col-lg-3">

    {{!-- left --}}
  </div>



  {{!-- following --}}
  <div class="col-lg-6" style="border: 1px #E6ECF0 solid;">

      <div class="row" style="height: 59px; margin-top: 16px; border: 1px #E6ECF0 solid; border-top:none;">
        <a href="javascript:history.back()" style="color: #171725; text-decoration: none;"
          class="col-auto d-flex align-items-center">
          <i class="fa-solid fa-arrow-left" style="font-size: 1.2em;"></i>
        </a>
        <a href="/users/{{user.id}}/tweets"
          class="col-auto d-flex flex-column align-items-start justify-content-center link-dark" style="text-decoration: none;">
          <span class="h5 text-dark" style="line-height: 15px; font-size: 30px; font-weight: 900;">name</span>
          <span class="text-dark" style="color: #6C757D; font-size: 13px; line-height: 15px">推文</span>
        </a>
      </div>

      <div class="row" style="height: 53px; border: 1px #E6ECF0 solid;">
        {{!-- <div class="follower-head col-12 row mt-3 position-absolute" style="z-index: 5; left: 15px; top: 90px;"> --}}
          <ul class="nav nav-tab mb-4" style="height: 53px;">
            {{!-- {{#ifCond route 'followings'}} --}}
            <li class="nav-item" style="border-bottom:2px solid #FF6600;">
              <a class="nav-link" href="/users/{{user.id}}/followings" >
                <font color="#FF6600">追蹤者</font>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/{{user.id}}/followers">
                <font color="#657786">正在追隨</font>
              </a>
            </li>
            {{!-- {{/ifCond}} --}}
        
        
            {{!-- {{#ifCond route 'followers'}} --}}
            <li class="nav-item">
              <a class="nav-link" href="/users/{{user.id}}/followings">
                <font color="#657786">追蹤者</font>
              </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid #FF6600;">
              <a class="nav-link" href="/users/{{user.id}}/followers">
                <font color="#FF6600">正在追隨</font>
              </a>
            </li>
            {{!-- {{/ifCond}} --}}
          </ul>
          {{!--
        </div> --}}
      </div>

      <div class="row">
        <div class="border-start border-end border-bottom d-flex flex-column pt-2" style="min-height: 130px;">
          <div class="align-self-start">
            <img src="https://i.imgur.com/hpSLhnx.png" title="source: imgur.com" style="width: 50px;height: 50px;" class="ms-4">
            <div class="d-inline-flex pt-3">
              <h5 class="mx-2" style="color: #171725;">Apple</h5>
            </div>
          </div>
          <div class="pe-2" style="max-width: 528px">
            <p class="ms-auto">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
              Voluptate exercitation incididunt
              aliquip deserunt reprehenderit elit laborum.
            </p>
          </div>
          
        </div>
      </div>

        
     

      


  </div>
  {{!-- following --}}




  <div class="col-lg-3">
    {{> right}}
  </div>

</div>
