<div class="d-flex justify-content-evenly" style="height: 1400px;width:1200px">

  {{> left-sidebar}}

  <div class="follower-following-page" style="width:45%">
    <!--header-->
    <div class="header">
      <button onclick="window.history.back()" class="back-icon">
        <img src="https://i.postimg.cc/QxZdg4vB/Vector.png" alt="back" class="arrow-left mb-1">
      </button>
      <div class="header-user">
        <h5 class="mb-0">{{user.name}}</h5>
        <p style="font-size: 13px; color: #6C757D;">{{tweetsLength}} 推文</p>
      </div>
    </div>
    <hr class="solid mt-2">
    <!--tabs-->
    <div class="user-follower d-flex flex-column mt-2">
      {{> follow-tabs route='follower'}}
      <hr class="solid mt-0">
      {{#each users}}
      <div class="following-user-content d-flex flex-row">
        <div class="user-avatar">
          <a href="/users/{{this.id}}/tweets">
            <img src="{{this.avatar}}" width="50px" ;height="50px"
              style="display:inline-block;border-radius:100%;border:2px  solid;margin:auto 8px auto 24px;margin:auto 8 auto 0"
              alt="avatar">
          </a>
        </div>
        <div class="d-flex flex-column">
          <div class="following-user-info d-flex justify-content-between">
            <div class="user-name-account d-flex col-11" style="align-items: center">
              <p style="font-size: 16px; margin:0; font-weight:700;">{{this.name}}</p>
            </div>
            <div class="col-1" style="margin-left: 100px;">
              {{#if this.isFollowed}}
              <form action='/followships/{{this.id}}?_method=DELETE' method='post'>
                <input class='form-control' type='hidden' name='id' value='{{this.id}}' />
                <button class='following' type='submit'>正在跟隨</button>
              </form>
              {{else}}
              <form action='/followships' method='post'><button class='follow' type='submit'>跟隨</button>
                <input class='form-control' type='hidden' name='id' value='{{this.id}}' />
              </form>
              {{/if}}
            </div>
          </div>
          <div class="tweet-content mt-3">
            <p class="content">{{this.introduction}}</p>
          </div>
        </div>
      </div>
      {{/each}}


    </div>

  </div>
  {{> right-sidebar}}
  {{> reply-page-modal}}
</div>