<div class="container-lg">
  <div class="row mt-2">
    {{!-- nav bar --}}
    <div class="col-lg-3 left-sidebar d-flex flex-column align-items-end">
      {{>left-sidebar route='user'}}
    </div>
    {{!-- main content --}}
    <div class="col-lg-6 main-content d-flex flex-column align-items-center justify-content-start">
      <div class="message d-flex flex-column justify-content-center">
        {{> messages}}
      </div>
      <div class="mb-3 pb-0">
        {{!-- content --}}
        <div class="content outline">
          {{!-- tittle --}}
          <div class="d-flex tittle-border">
            <a class="d-flex mt-3 ms-1" onclick="javascript:history.back()">
              <h4 class="navbar-brand mb-0 me-1">←</h4>
            </a>
            <div class="px-0 ms-2 mt-1">
              <p class="fs-5 mb-0 fw-bold">{{user.name}}</p>
              <p class="fs-6 mb-0 text-muted">{{user.Tweets.length}}推文</p>
            </div>
          </div>
          {{!-- tab --}}
          <ul class="nav nav-tabs pt-2 outline">
            <li class="nav-item">
              <a class="nav-link fw-bold {{#if followersSelect}}active{{/if}}"
                href="/users/{{user.id}}/followers?type=followers">追隨者</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold {{#if followingsSelect}}active{{/if}}"
                href="/users/{{user.id}}/followings?type=followings">正在追隨</a>
            </li>
          </ul>
          {{!-- followers --}}
          {{#if followersSelect}}
          {{#each user.Followers}}
            {{!-- user info --}}
            <div class="d-flex align-items-star outline">
              {{!-- avatar --}}
              <div class="ps-3 pt-3">
                <a href="/users/{{this.id}}">
                  <img src="{{this.avatar}}" class="avatar" alt="avatar">
                </a>
              </div>
              {{!-- others --}}
              <div class="container-fluid ps-3 pe-0">
                {{!-- name & btn --}}{{!--text-decoration-none text-dark--}}
                <div class="d-flex align-items-center justify-content-between mx-0 mt-2 pt-2">
                  {{!-- name --}}
                  <a class="text-decoration-none text-dark" href="/users/{{this.id}}">
                    <p class="fw-bold main-user-name">{{this.name}}</p>
                  </a>
                  {{!-- follow btn --}}
                  <div class="ms-auto follow-btn">
                    {{#if this.isFollowingsFollowed}}
                    <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                      <button type="submit" class="following-button text-white mx-3">正在跟隨</button>
                    </form>
                    {{else}}
                    <form action="/followships" method="POST">
                      <button type="submit" class="follower-button mx-3">跟隨</button>
                    </form>
                    {{/if}}
                  </div>
                </div>
                {{!-- user introduction --}}
                <div class="mt-1 pb-1">
                  <p>{{this.introduction}}</p>
                </div>
              </div> 
            </div>
          {{/each}}
          {{/if}}

          {{!-- followings --}}
          {{#if followingsSelect}}
          {{#each user.Followings}}
            {{!-- user info --}}
            <div class="d-flex align-items-star outline">
              {{!-- avatar --}}
              <div class="ps-3 pt-3">
                <a href="/users/{{this.id}}">
                  <img src="{{this.avatar}}" class="avatar" alt="avatar">
                </a>
              </div>
              {{!-- others --}}
              <div class="container-fluid ps-3 pe-0">
                {{!-- name & btn --}}{{!--text-decoration-none text-dark--}}
                <div class="d-flex align-items-center justify-content-between mx-0 mt-2 pt-2">
                  {{!-- name --}}
                  <a class="text-decoration-none text-dark" href="/users/{{this.id}}">
                    <p class="fw-bold main-user-name">{{this.name}}</p>
                  </a>
                  {{!-- follow btn --}}
                  <div class="ms-auto follow-btn">
                    {{#if this.isFollowingsFollowed}}
                    <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                      <button type="submit" class="following-button text-white mx-3">正在跟隨</button>
                    </form>
                    {{else}}
                    <form action="/followships" method="POST">
                      <button type="submit" class="follower-button mx-3">跟隨</button>
                    </form>
                    {{/if}}
                  </div>
                </div>
                {{!-- user introduction --}}
                <div class="mt-1 pb-1">
                  <p>{{this.introduction}}</p>
                </div>
              </div>
            </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- nav bar --}}
    <div class="col-lg-3 right-sidebar mx-0 px-0">
      {{> right-sidebar}}
    </div>
  </div>
</div>