{{currentUser.name}}
<p>{{currentUser.Tweets.length}}推文</p>

{{> followship-tabs route='followings'}}

{{#each followings }}
  <blockquote class="blockquote mb-0">
    <span><a href="/users/{{this.id}}">{{ this.name }}</a></span>
    <span class="blockquote-footer"> @{{ this.account }}</span>
    <span>{{ relativeTimeFromNow this.createdAt }}</span>
    
  {{#ifCond this.UserId ../logInUser.id }}
  {{else}}
    {{#if isFollowed}}
      <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
    {{else}}
      <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
    {{/if}}
  {{/ifCond}}


    <p>{{ this.introduction }}</p>
  </blockquote>


  <hr />
{{/each}}