{{!-- following --}}

{{!--
(.user-following>(.user-following-group>(.user-following-group-block>(img.user-avatar+p.user-name)+().user-following-group-block>a.user-following-btn))+(.user-following-group>p.user-info))
--}}

<div class="user-following">
  <div class="user-following-group">
    <div class="user-following-group-block">
      <img src="" alt="" class="user-avatar">
      <p class="user-name"></p>
      <div class="user-following-group-block"><a href="" class="user-following-btn"></a></div>
    </div>
  </div>
  <div class="user-following-group">
    <p class="user-info"></p>
  </div>
</div>



{{!-- test passing --}}

{{#each followings}}
  <div>
    <div>
      <a href="/users/{{this.id}}/tweets">
        <img src="{{this.avatar}}" alt="avatar">
        <p>{{this.name}}</p>
      </a>

      {{#if isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit">正在跟隨</button>
        </form>
      {{else}}
        <form action="/followships" method="POST">
          <button type="submit" name="id" value={{this.id}}>跟隨</button>
        </form>
      {{/if}}
    </div>
    <p>{{this.introduction}}</p>
  </div>
{{/each}}
