<div class="container">
  <div class="row justify-content-md-center">
    {{> left-side route='tweets'}}
    <div class="main col-6">
      {{#if personal}}
      {{> user-header route='followings'}}
      {{>follow-tabs route='followings'}}
      {{#each personal.Followings}}
      <div class="tweet-card">
        <a href="/users/{{this.id}}/tweets">
          <img class="me-auto rounded-circle" src="{{this.avatar}}" alt="avatar">
        </a>
        <a class="tweet-card-name" href="/users/{{this.id}}/tweets">
          <span class="font-name">{{this.name}}</span>
          <span class="font-account">@{{this.account}}・{{relativeTimeFromNow this.createdAt}}</span>
        </a>
        <div class="text-box">{{this.introduction}}
        </div>
      </div>
      {{/each}}
      {{else}}
      {{> user-header}}
      {{>follow-tabs route='followings'}}
      {{#each user.Followings}}
      <div class="tweet-card">
        <a href="/users/{{this.id}}/tweets">
          <img class="me-auto rounded-circle" src="{{this.avatar}}" alt="avatar">
        </a>
        <a class="tweet-card-name" href="/users/{{this.id}}/tweets">
          <span class="font-name">{{this.name}}</span>
          <span class="font-account">@{{this.account}}・{{relativeTimeFromNow this.createdAt}}</span>
        </a>
        <div class="text-box">{{this.introduction}}
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
    {{> right-side}}
  </div>
</div>