<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div>
        <ul class="list-group">

          <a href="/tweets">
            <li class="list-group-item ">
              <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </li>
          </a>


          <a href="/users/{{user.id}}/tweets">
            <li class="list-group-item active ">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>

        <div class="">
          <button type="summit" class="btn tweet-button" data-toggle='modal' data-target="#add-tweet">推文
          </button>
        </div>
        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>



    {{!-- 中間主欄位 --}}

    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title d-flex mt-0 mb-0">

        <a href="javascript:history.back()">
          <div class="back-icon">
            <i class="fas fa-arrow-left"></i>
          </div>
        </a>

        <div class="name-info">
          <div class="title-name">
            {{viewUser.name}}
          </div>
          <div class="title-info">
            {{viewUser.tweetsCount}}推文
          </div>
        </div>
      </div>

      {{#if usersFollowers}}
      {{!-- 追隨者 --}}
      {{!-- 推文/推文與回覆/喜歡的內容區塊 --}}
      <div class="follow-tweet">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link  active" id="follower" href="/users/{{user.id}}/followers">追隨者</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="following" href="/users/{{user.id}}/followings">正在追蹤</a>
          </li>
        </ul>
        <br /><br />

        {{#each usersFollowers}}
        <div class="user-tweet">
          {{!-- 貼文開始 --}}
          <div class="tweet col-md-12">
            <div class="d-flex">
              <div class="mt-2 ml-2 col-md-1" style="padding:0">
                <img class="user-pic mr-2" src="{{this.avatar}}" alt="">
              </div>

              <div class="col-md-11">
                <div class="account-followship">
                  <div class="account-info" style="flex:auto">
                    <div class="user-name">{{this.name}}</div>
                    <div class="account-time">@{{this.account}}</div>
                  </div>


                  {{#if this.isFollowed }}
                  <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                    <div class="followship-button">
                      <button type="submit" class="btn follow-button">正在跟隨</button>
                    </div>
                  </form>
                  {{else}}
                  <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                    <div class="followship-button">
                      <button type="submit" class="btn unfollow-button"> 跟隨 </button>
                    </div>
                  </form>
                  {{/if}}

                </div>
                <div class="post-text d-flex" style="flex:auto">
                  {{this.introduction}}
                </div>
              </div>

            </div>
          </div>
          <hr />
          {{!-- 貼文結束 --}}
        </div>
        {{/each}}

        {{!-- 追隨者結束 --}}


        {{else}}
        {{#if usersFollowings}}
        {{!-- 正在追蹤 --}}
        {{!-- 推文/推文與回覆/喜歡的內容區塊 --}}
        <div class="follow-tweet">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" id="follower" href="/users/{{user.id}}/followers">追隨者</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="following" href="/users/{{user.id}}/followings">正在追蹤</a>
            </li>
          </ul>
          <br /><br />

          {{#each usersFollowings}}
          <div class="user-tweet">
            {{!-- 貼文開始 --}}
            <div class="tweet col-md-12">
              <div class="d-flex">
                <div class="mt-2 ml-2 col-md-1" style="padding:0">
                  <img class="user-pic mr-2" src="{{this.avatar}}" alt="">
                </div>

                <div class="col-md-11">
                  <div class="account-followship">
                    <div class="account-info" style="flex:auto">
                      <div class="user-name">{{this.name}}</div>
                      <div class="account-time">@{{this.account}}</div>
                    </div>

                    {{#if this.isFollowed }}
                    <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                      <div class="followship-button">
                        <button type="submit" class="btn follow-button">正在跟隨</button>
                      </div>
                    </form>
                    {{else}}
                    <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                      <div class="followship-button">
                        <button type="submit" class="btn unfollow-button"> 跟隨 </button>
                      </div>
                    </form>
                    {{/if}}



                  </div>

                  <div class="post-text d-flex" style="flex:auto">
                    {{this.introduction}}
                  </div>
                </div>

              </div>
            </div>
            <hr />

            {{!-- 貼文結束 --}}
          </div>
          {{/each}}

          {{!-- 正在追蹤結束 --}}
          {{/if}}

          {{/if}}

        </div>
      </div>






      {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 跟隨中使用者開始 --}}
          {{#each topUsers}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div class="popular-user-pic">
                <a href="/users/{{this.id}}/tweets" class="text-muted">
                  <img class="user-pic" src="{{this.avatar}}" alt="">
                </a>
              </div>
              <div class="name-account">
                <a href="/users/{{this.id}}/tweets" class="text-muted">
                  <div class="name">{{this.name}}</div>
                </a>
                <div class="account">@{{this.account}}</div>
              </div>
              <div class="button">
    
                {{#if isSelf}}
                {{else}}
                {{#if isFollowed }}
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn follow-button">正在跟隨</button>
                </form>
                {{else}}
                <form action="/followships/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
                    class="btn unfollow-button"> 跟隨 </button></form>
                {{/if}}
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}
          {{!-- 使用者結束 --}}
    
        </ul>
      </div>
    
    
    
    </div>



    </div>
  </div>

  {{!-- add-tweet Modal --}}
  <div class="modal fade" id="add-tweet" tabindex="-1" role="dialog" aria-labelledby="add-tweet" aria-hidden="true">

    {{> add-tweet}}

  </div>
  {{!-- add-tweet Modal --}}

  <script>
    { { !--按鈕啟動active --} }
    {
      {
        !-- const followerBtn = document.querySelector('#follower')
        const followingBtn = document.querySelector('#following')

        followerBtn.addEventListener('click', function onClick(event) {
          followingBtn.classList.remove('active')
          followerBtn.classList.add('active')
        })

        followerBtn.addEventListener('click', function onClick(event) {
          followerBtn.classList.remove('active')
          followingBtn.classList.add('active')
        })--
      }
    }


  </script>