<div class="d-flex mt-2" style="margin-left: 20vw;">
  <div style="width: 54vw;">

    <div class="d-flex mb-2">
      {{!-- userName --}}
      <p class="mb-0 fs-3 h4 me-3" style="color: #313c4b;">{{ user.name }}</p>
      {{!-- tweetCount --}}
      <p class="mt-2 p-0" style="color: rgb(130, 130, 130);">{{ tweetCount }} 則推文</p>
    </div>

    <div class="d-flex align-items-center justify-content-between mb-4"
      style="background-color:white;border-radius: 1em;width:54.1vw;box-shadow:0 0 8px 3px #ccccccb3;">
      <a href="/users/{{ thisUser.id }}/followings" class="d-flex"
        style="background-color:#ffd572b5;border-radius:1em 0 0 1em;padding-top:1.3em;padding-left:7em;color: #313c4b;text-decoration:none;width: 27vw;height:11.6vh;">
        <i class="fas fa-rocket h3 me-2 mt-1"></i>
        <p class="h3">Following</p>
      </a>
      <a href="/users/{{ thisUser.id }}/followers" class="d-flex"
        style="padding-top:1.3em;padding-left:7em;color: #313c4b38;text-decoration:none;width: 27vw;height:11.6vh;">
        <i class="fas fa-pizza-slice h3 me-2 mt-1"></i>
        <p class="h3">Follower</p>
      </a>
    </div>

    {{!-- 推文區 --}}
    {{#each data }}
    <div class="d-flex align-items-center p-1 pt-2 ps-2 mb-4"
      style="background-color:white;text-decoration:none;border-radius: 1em;width:54.1vw;height:20vh;box-shadow:0 0 8px 3px #ccccccb3;">
      {{!-- avatar --}}
      <a href="/users/{{ this.user.id }}/tweets" style="margin-top: -0.2em;">
        {{#if this.user.avatar }}
        <img src="{{ this.user.avatar }}" style="border-radius: 0.7em;height: 15vh;margin-left:0.7em">
        {{else}}
        <img src="https://i.pinimg.com/564x/11/27/98/11279881d6995a0aef4915b3906aae3f.jpg"
          style="border-radius: 0.7em;height: 15vh;margin-left:0.7em">
        {{/if}}
      </a>
      {{!-- account --}}
      <div style="color:#313c4b;width:30vw" class="m-4">
        <div class="d-flex">
          <p class="fs-5 me-3 mb-0"><strong>{{ this.user.name }}</strong></p>
          <p class="mb-0" style="color: #313c4b84;margin-top:0.1em;">{{ this.user.account }}</p>
        </div>
        <p class="mt-1" style="font-size: small;">
          {{ this.user.introduction }}
        </p>
      </div>
      {{!-- view tweet btn --}}

      {{#if this.isFollowed}}
      <form action="/followships/{{ this.user.id }}?_method=DELETE" method="post">
        <button type="submit" class="btn"
          style="background-color: #ffd472;color: #313c4bc2;width: 8.5v;height:7vh;border-radius:0.5em">unFollow</button>
      </form>
      {{else}}
      <form action="/followships" method="post">
        <label>
          <input type="text" id="id" name="id" value="{{ this.user.id }}" style="display:none">
        </label>
        <button type="submit" class="btn"
          style="background-color: #ffd472;color: #313c4bc2;width: 8.5v;height:7vh;border-radius:0.5em">Follow</button>
      </form>
      {{/if}}


    </div>
    {{/each}}
  </div>
</div>