{{!-- followers --}}
{{!--
(.user-follower>(.user-follower-group>(.user-follower-group-block>(img.user-avatar+p.user-name)+().user-follower-group-block>a.user-follower-btn))+(.user-follower-group>p.user-info))
--}}

<div class="user-follower">
  <div class="user-follower-group">
    <div class="user-follower-group-block">
      <img src="" alt="" class="user-avatar">
      <p class="user-name"></p>
      <div class="user-follower-group-block"><a href="" class="user-follower-btn"></a></div>
    </div>
  </div>
  <div class="user-follower-group">
    <p class="user-info"></p>
  </div>
</div>






<div>
  {{#each followers}}
    <div>
      <div>
        <a href="/users/{{this.id}}/tweets">
          <img src="{{this.avatar}}" alt="avatar">
          <p>{{this.name}}</p>
        </a>
        {{#if isFollowed}}
          <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit">正在跟隨</button>
          </form>

        {{else}}
          <form action="/followships" method="POST">
            <button type="submit" name="id" value="{{this.id}}">跟隨</button>
          </form>
        {{/if}}
      </div>

      <p class="context">{{this.introduction}}</p>
    </div>
  {{/each}}
</div>


