<div class="row">
  <div class="col w-25">
    <div class="row my-0 py-3" style="border-bottom: 1px solid #C0C0C0">
      <h6>上線使用者 (5)</h6>
    </div>
    <div class="row my-0 py-3" style="border-bottom: 1px solid #C0C0C0">
      <div class="d-flex mx-auto">
        <a class="mx-2" href="/user/{{user.id}}">
          <img src="{{user.avatar}}" alt="" style="height: 40px; width: 40px; border-radius: 50%;">
        </a>
        <h6 class="fw-bolder" style="margin:0;">{{user.name}}</h6>
        <h6 style="margin:0; color:#A39480;">{{user.email}}</h6>
      </div>
    </div>
    <div class="row my-0 py-3" style="border-bottom: 1px solid #C0C0C0">
      <div class="d-flex mx-auto">
        <a class="mx-2" href="/user/{{user.id}}">
          <img src="{{user.avatar}}" alt="" style="height: 40px; width: 40px; border-radius: 50%;">
        </a>
        <h6 class="fw-bolder" style="margin:0;">{{user.name}}</h6>
        <h6 style="margin:0; color:#A39480;">{{user.email}}</h6>
      </div>
    </div>
  </div>
  <div class="col w-75">
    <div class="row my-0 py-3" style="border-bottom: 1px solid #C0C0C0">
      <h6>公開聊天室</h6>
    </div>
    <ul id="messages">
      {{#each talkers}}
      <li>
        <img src="{{this.fromId.dataValues.avatar}}" alt="" style="width: 50px; height:50px">
        {{this.dataValues.body.msg}}
      </li>
      {{/each}}
    </ul>
    <form action="">
      <input type="hidden" id="id" name="id" value="{{user.id}}">
      <input type="hidden" id="name" name="name" value="{{user.name}}">
      <input type="hidden" id="avater" name="avater" value="{{user.avatar}}">
      <input type="hidden" id="type" name="type" value="1">
      <input type="hidden" id="toId" name="toId" value="">
      <input id="m" autocomplete="off" name="comment" />
      <button>Send</button>
    </form>
  </div>
</div>
</div>






<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>