<div class="row justify-content-center">
  <div class="col-3">

  </div>
  <div class="col-5">
    <button class="btn btn-primary" data-toggle="modal" data-target="#createTweet">推文</button>
    {{#each tweets}}
    <a href="/tweets/{{this.id}}" style="text-decoration: none;">
      <div class="card" style="color:black">
        <div class="row no-gutters">
          <div class="col-md-1 mt-3">
            <img src="{{this.User.avatar}}" class="card-img" alt="img" style="border-radius: 50%;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <div class="row ml-1 align-items-center">
                <span>{{this.User.name}}</span>
                <small class="text-muted mr-auto">．{{moment this.createdAt}}</small>
                {{#ifEqual this.UserId ../currentUserId}}
                <form action="/tweets/{{this.id}}?_method=DELETE" method="post" id="deleteTweet">
                  <button type="submit" class="btn btn-outline-danger ml-auto">&times;</button>
                </form>
                {{/ifEqual}}
              </div>
              <p class="card-text">{{this.description}}</p>
            </div>
            <div class="col-12">
              <i class="far fa-comment mr-1"> {{this.replyCount}}</i>
              <i class="far fa-heart"> {{this.likeCount}}</i>
            </div>
          </div>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
  <div class="col-4">
    {{#each recommendFollowings}}
    <div class="card " style="width:350px">
      <div class="row no-gutters">
        <div class="col-md-1">
          <img src="{{this.avatar}}" class="card-img" alt="img">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <small>{{this.account}}</small>
          </div>
        </div>
        {{#if this.isFollowed}}
        <form action="/following/{{this.id}}?_method=DELETE" method="post">
          <div class="col ml-auto align-self-center">
            <button type="submit" class="btn btn-primary" style="color: white">取消跟隨</button>
          </div>
        </form>
        {{else}}
        <form action="/following/{{this.id}}" method="post">
          <div class="col ml-auto align-self-center">
            <button class="btn btn-outline-primary" style="color: blue">跟隨</button>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createTweet" tabindex="-1" role="dialog" aria-labelledby="createTweet" aria-hidden="true">
  <form action="/tweet" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTweetLabel">新增一則Tweet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="tweet" id="" cols="30" rows="10">有什麼新鮮事...</textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">推文</button>
        </div>
      </div>
    </div>
  </form>
</div>