<div class="d-flex mt-5">

  <div style="width: 780px;" class="me-5">
    {{!-- 標題 --}}
    <div class="p-2 mb-0" style="width: 100%; outline: 1px solid gray;height:55px">
      <h3><strong>首頁</strong></h3>
    </div>

    {{!-- 新增推文區 --}}
    <div class="d-flex flex-column align-items-center">
      <div style="width: 100%; outline: 1px solid gray; position:relative" class="d-flex flex-row p-3">
        {{!-- 大頭貼 --}}
        <div>
          <a href="/users/{{user.id}}/tweets">
            <img src="{{ user.avatar }}" style="border-radius: 100%;width: 60px">
          </a>
        </div>
        {{!-- 右側區塊 --}}
        <div class="ms-3 mt-2" style="height: 120px;color:#9197A3">
          <h4><strong>有什麼新鮮事?</strong></h4>
        </div>
        <div style="position:absolute; right:10px; bottom:10px;">
          <button type="button" class="btn"
            style="background-color: #FF6600;color: white; border-radius: 45%;font-size:20px" data-bs-toggle="modal"
            data-bs-target="#exampleModal" data-id="{{user.id}}">推文</button>
        </div>
      </div>
    </div>

    <div class="border border-3 p-1" style="background-color: #E6ECF0;"></div>

    {{!-- 推文區 --}}
    <div class="d-flex flex-column align-items-center">
      <div>
        {{#each data }}
        <div class="d-flex">
          {{!-- 大頭貼 --}}
          <div class="pt-2">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{ this.User.avatar }}" style="border-radius: 100%;width: 60px">
            </a>
          </div>
          {{!-- 右側文字 --}}
          <div class="ms-3" style="height: 150px;">
            {{!-- 發文者 --}}
            <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
              <div class="d-flex align-items-center mb-0">
                <p class="fs-5 me-2 mb-0" style="color: black;"><strong>{{ this.User.name }}</strong></p>
                <p class="mb-0" style="color: darkseagreen;">{{ this.User.account }}・{{momentCH this.createdAt}}</p>
              </div>
            </a>
            {{!-- 推文內容 --}}
            <a href="/tweets/{{this.id}}" style="text-decoration: none;">
              <p class="mt-4" style="font-size: small;color: black;">
                {{ this.description }}
              </p>
              {{!-- Reply and Like --}}
              <div style="color: black;">
                <span>Reply: {{this.replyCount}}</span>
                <span>Like: {{this.likeCount}}</span>
              </div>
            </a>
          </div>
        </div>

        <hr>
        {{/each}}
      </div>
      <div>
        {{!-- 分頁 --}}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/admin/tweets?page={{ prev }}" aria-label="Previous"
                style="color: darkseagreen;">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {{#each totalPage }}
            {{!-- {{ifCont this ../page}}
            <li class="page-item active"><a class="page-link" href="#" style="color: darkseagreen;">{{
                this }}</a></li>
            {{else}} --}}
            <li class="page-item"><a class="page-link" href="/?page={{ this }}" style="color: darkseagreen;">{{
                this }}</a></li>
            {{!-- {{ifCont}} --}}
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="/?page={{ next }}" aria-label="Next" style="color: darkseagreen;">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div>{{> recommendedFollower }}</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:700px;height:400px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></h5>

      </div>
      <div class="modal-body d-flex flex-row justify-content-around pb-0">
        <div>
          <img src="{{ user.avatar }}" style="border-radius: 100%;width: 60px">
        </div>
        <form action="/tweets" method="POST" class="mt-3" style="width: 550px;" id="newTweetForm">
          <textarea name="description" id="newTweet" cols="30" rows="8" maxlength="140" placeholder="有什麼新鮮事?"
            style="width: 100%;border:none;background-color:transparent;resize:none;outline:none;font-size:18px"
            required></textarea>

      </div>
      <div class="d-flex flex-column align-items-end p-2"><button type="submit" class="btn post-a-tweet"
          style="background-color: #FF6600;color: white; border-radius: 45%;font-size:20px;"
          onclick="submitButtonClick(event)">推文</button></div>
      </form>
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="https://yt3.ggpht.com/ytc/AKedOLSMq3y4-2mILcS9X7GTvNYswkMqpjyE6y1c0U3A6w=s900-c-k-c0x00ffffff-no-rj"
        class="rounded me-2" alt="..." style="width: 30px;height:30px;">
      <strong class="me-auto">AC Tweet</strong>
      <small>1 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>