{{> left}}

<div class="col-6 d2">
  <div class="row row-cols-1 row-cols-md-1">
    <!-- logo -->
    <div class="col">
      <div class="card pagetitle_card">
        <div class="card-body">
          <p class="pagetitle_title">
            首頁
          </p>
        </div>
      </div>
    </div>

    {{!-- 新增推文 --}}
    <div class="col">
      <div class="card push_card">
        <div class="card-body">
          <p class="push_title">
            <a href="/users/{{user.id}}/tweets" class="push_img">
              <img src="{{ user.avatar }}" class="push_img" alt="{{ this.User.name }}">
            </a>
          </p>
          <form action="/tweets" method="POST">
            <textarea class="push_content" placeholder="有什麼新鮮事?" name="description" id="description" style=" maxlength="
              140""></textarea>
            <div>
              <button class="btn tweet_btn" type="submit" style="margin-top:-1px ; margin-left:500px">推文</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{!-- 推文列 --}}
    <div class="card tweets_card">
      {{#each tweets}}
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
          <div class="tweet_card">
            <div class="popular_imgbody">
              <a href="/users/{{this.UserId}}/tweets">
                <img src="{{ this.User.avatar }}" class="popular_img" alt="...">
              </a>
            </div>
            <div class="card-body tweet_cardbody">
              <div class="tweet_title">
                <a href="/users/{{this.UserId}}/tweets" style="text-decoration: none; ">
                  <p class="tweet_name">{{ this.User.name }}</p>
                </a>
                <p class="tweet_acount">
                  @{{this.User.account}}
                </p>
                <p class="tweet_acount">
                  • {{relativeTimeFromNow this.createdAt}}
                </p>
              </div>
              <div class="tweet_description">
                <a href="/tweets/{{this.id}}/replies" style="text-decoration: none; color: #171725;">
                  <p style="maxlength=" 140";">
                    {{this.description}}
                  </p>
                </a>
              </div>
              <div class="tweet_icon">
                {{!-- 回覆 --}}
                <span class=" me-1">
                  <a href="/tweets/{{this.id}}/replies" style='text-decoration: none;' data-bs-toggle="modal"
                    data-bs-target="#reply-tweet-{{this.id}}">
                    <img src="/images/回覆框.svg" alt="">
                  </a>

                  <!-- Modal -->
                  <div class="modal fade" id="reply-tweet-{{this.id}}" tabindex="-1"
                    aria-labelledby="indexTweetModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content" style="border-radius: 20px;width: 700px;height: 500px;top: 56px;">
                        <div class="modal-header" style="left: 0%;right: 0%;top: 5.33%; bottom: 81%;">
                          <button type="button" class="close ml-0 pl-0" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="col">
                          <div class="modal-body">
                            <div class="media d-flex">
                              <div class="popular_imgbody">
                                <a href="/users/{{this.UserId}}/tweets">
                                  <img src="{{ this.User.avatar }}" class="popular_img" alt="...">
                                </a>
                              </div>
                              <div class="card-body tweet_cardbody">
                                <div class="tweet_title">
                                  <a href="/users/{{this.UserId}}/tweets" style="text-decoration: none; ">
                                    <p class="tweet_name">{{ this.User.name }}</p>
                                  </a>
                                  <p class="tweet_acount">
                                    @{{this.User.account}}
                                  </p>
                                  <p class="tweet_acount">
                                    • {{relativeTimeFromNow this.createdAt}}
                                  </p>
                                </div>
                                <div class="modaltweet_description">
                                  <a href="/tweets/{{this.id}}/replies" style="text-decoration: none; color: #171725;">
                                    <p style="maxlength=" 140";">
                                      {{this.description}}
                                    </p>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tweet_icon" style="  margin-top: 280px; width:300px; ">
                          <p class="modal_text">回覆給</p>
                          <a href="/users/{{this.UserId}}/tweets">
                            <p class="tweet_acount" style="color: #FC5A5A;margin-left: -148px ">
                              @{{this.User.account}}
                            </p>
                          </a>
                        </div>
                        <div class="modal_line"></div>
                        <div class="col">
                          <div class="modal-body">
                            <div class="media d-flex tweet_cardbody">
                              <div class="popular_imgbody">
                                <a href="/users/{{this.UserId}}/tweets">
                                  <img src="{{ ../logInUser.avatar }}" class="popular_img" alt="...">
                                </a>
                              </div>
                              <div class="media-body" style="margin-left: 30px;">
                                <form action="/tweets/{{ id }}/replies" id="tweets" method="post">
                                  <div class="d-flex d-inline">
                                    <textarea name="comment" id="tweet-content" rows="5" class="form-control"
                                      placeholder="推你的回覆" maxlength="140"
                                      style=" width: 500px;height: 90px;top: 56px; border:0px; resize : none; outline : 0; overflow:hidden;"></textarea>
                                  </div>
                                  <div class="d-flex d-inline">
                                    <div id='add-tweet-info' class='tweet-error-message'>
                                      內容不可空白
                                    </div>
                                    <button class=" btn tweet_btn" type="submit"
                                      style='width:70px; background-color: #FF6600;border-radius:100px; color:white; font-weight:bold; font-size:18px;position: absolute; right: 15px; bottom:15px;'>回覆</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {{#if this.Replies}}
                  {{ this.Replies }}
                  {{else}}
                  0
                  {{/if}}
                </span>

                {{!-- 喜歡 this.isLiked --}}
                {{#if this.isLiked}}
                <form action="/tweets/{{ this.id }}/unlike" method="POST">
                  <button type="submit" style="background: transparent; border-width:0px; outline:none">
                    <img src="/images/紅心.svg" alt="">
                    {{#if this.Likes}}
                    {{ this.Likes}}
                    {{else}}
                    0
                    {{/if}}

                  </button>
                </form>

                {{else}}

                <form action="/tweets/{{ this.id }}/like" method="POST">
                  <button type="submit" style="background: transparent; border-width:0px; outline:none">
                    <img src="/images/案讚數.svg" alt="">
                    {{#if this.Likes}}
                    {{ this.Likes}}
                    {{else}}
                    0
                    {{/if}}

                  </button>
                </form>

                {{/if}}

              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


{{> right}}