<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div style="text-align: left">
        <ul class="list-group">

          <li class="list-group-item active " style="background-color: white; color:#FF6600">
            <a href="/"></a>
            <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </a>
          </li>


          <a href="/users/{{user.id}}/edit">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>
        <button type="submit" class="tweet-button">推文</button>
        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>

    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title">首頁</div>

      <hr style="margin:0; padding:0">
      {{!-- 新增貼文處 --}}
      <div class="add-post d-flex">
        <div class="mt-2 ml-2">
          <img class="user-pic"
            src="https://lh3.googleusercontent.com/proxy/DJ0Cdy5jSI5lJEzSa0TCAXIZA5tt2jRlchLHCCQwH2zrAYOVTndf8OvyK9nKn21r8RGcZ-9vkapH0955Nqg62_bL9IT7f_jOONoNO0Dh3uLko9vREyXHEJjA9-Zz_Put762In8mvUl9Ij5k1SQ_kDH6reHQM6cP1MkCNj7MfL9boI4rzqA"
            alt="">
        </div>
        <div class="type-location">
          <input type="text" class="new-post-content" placeholder="有什麼新鮮事？">
        </div>
      </div>
      <div class="send-area">
        <button type="submit" class="send-button">推文</button>
      </div>
      <hr style="border: 5px solid #E6ECF0; margin:0">

      {{!-- //TODO:擇一貼文做模板用Each即可 --}}
      {{!-- 貼文1開始 --}}
      {{#each tweet}}
      <div class="tweet col-md-12">
        <div class="d-flex">
          <div class="mt-2 ml-2 col-md-1" style="padding:0">
            <img class="user-pic" src="" alt="404">
          </div>

          <div class="col-md-11">
            <div class="account-info d-flex" style="flex:auto">
              <div class="user-name">{{this.User.name}}</div>
              <div class="account-time ml-2">@apple．3小時</div>
            </div>

          <a href="/index/{{this.id}}"  class="text-muted">
          <div class="post-text d-flex" style="flex:auto">
            {{this.description}}
          </div>
          </a>  

            <div class="reply-like d-flex mt-2">
              <div><i class="far fa-comment mr-2"></i>留言數</div>
              <div class="ml-4"><i class="far fa-heart mr-2"></i>讚數</div>
            </div>
          </div>
         
        </div>
      </div>
      <hr />
      {{!-- 貼文1結束 --}}
      {{/each}}
      {{!-- 貼文2開始 --}}
      <div class="tweet col-md-12">
        <div class="d-flex">
          <div class="mt-2 ml-2 col-md-1" style="padding:0">
            <img class="user-pic mr-2" src="" alt="404">
          </div>

          <div class="col-md-11">
            <div class="account-info d-flex" style="flex:auto">
              <div class="user-name">Orange</div>
              <div class="account-time ml-2">@orange．3小時</div>
            </div>

            <div class="post-text d-flex" style="flex:auto">
              [筆記] 談談Javascript 中的 Hoisting
              [筆記] JavaScript: undefined不是真的undefined !!
              [筆記] 不同execution context的變項不會互相影響─了解function背後運作的邏輯
              [筆記] JavaScript中Scope Chain和outer environment的概念
              [筆記] 談談JavaScript中的asynchronous和event queue
              [筆記] 談談JavaScript的Precedence和Associativity
              [筆記] 談談JavaScript的coercion
              [筆記] JavaScript中coercion的實際使用--if判斷式
              [筆記] JavaScript中coercion的實際使用--建立函式預設值(default value)
            </div>

            <div class="reply-like d-flex mt-2">
              <div><i class="far fa-comment mr-2"></i>留言數</div>
              <div class="ml-4"><i class="far fa-heart mr-2"></i>讚數</div>
            </div>
          </div>

        </div>
      </div>
      <hr />
      {{!-- 貼文2結束 --}}

    </div>

    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div class="popular-user-pic">
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account">
                <div class="name">Pizza Hut</div>
                <div class="account">@pizzahut</div>
              </div>
              <div class="button">
                <button type="submit" class="follow-button">正在跟隨</button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

          {{!-- 未跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div  class="popular-user-pic">
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account">
                <div class="name">McDonald's</div>
                <div class="account">@McDonald's</div>
              </div>
              <div class="button">
                <button type="submit" class="unfollow-button"> 跟隨 </button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>