<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div style="text-align: left">
        <ul class="list-group">

          <a href="/tweets">
            <li class="list-group-item active">
              <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </li>
          </a>


          <a href="/users/{{user.id}}/tweets">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>

        <div class="">
          <button type="summit" class="btn tweet-button" data-toggle='modal' data-target="#add-tweet">推文
          </button>
        </div>


        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>

      </div>
    </div>

    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title">首頁</div>

      <hr style="margin:0; padding:0">
      {{!-- 新增貼文處 --}}


      <form action="/tweets" method="POST">
      <div class="add-post d-flex">
        <div class="mt-2 ml-2">
          <a href="/users/{{user.id}}">
            <img class="user-pic" src="{{currentUser.avatar}}" alt="">
          </a>
        </div>

  
          <div class="type-location">
            <textarea type="text" class="new-post-content" name="description" placeholder="有什麼新鮮事？" rows="2" maxlength="140"   id="description"></textarea>
          </div>
      </div>
      <div class="send-area">
        <button type="submit" class="btn send-button">推文</button>
      </div>
      </form>
      <hr style="border: 5px solid #E6ECF0; margin:0">

      {{!-- //TODO:依照時間排序，時間/讚數/留言數待傳入，點大頭貼會進入使用者頁面 --}}
      {{!-- 貼文開始 --}}
      {{#each tweets}}
      <div class="tweet col-md-12">
        <div class="d-flex">
          <div class="mt-2 ml-2 col-md-1" style="padding:0">
            <a href="/users/{{this.User.id}}/tweets">
              <img class="user-pic" src="{{this.User.avatar}}" alt="">
            </a>
          </div>

          <div class="col-md-11">
            <div class="account-info d-flex" style="flex:auto">
              <a href="/users/{{this.User.id}}/tweets">
                <div class="user-name">{{this.User.name}}</div>
              </a>
              <div class="account-time ml-2">@{{this.User.account}}．{{fromNow this.createdAt}}</div>
            </div>


            <a href="/tweets/{{this.id}}" class="text-muted">
              <div class="post-text d-flex" style="flex:auto">
                {{this.description}}
              </div>
            </a>



            <div class="reply-like d-flex mt-2">
              {{!-- modal叫出貼文回覆 --}}
              <div class="reply" id="reply" data-toggle="modal" data-target="#reply-tweet{{this.id}}">
                <div class="number"></div>
                <i class="far fa-comment mr-2"></i>留言數{{this.Replies}}
              </div>


              <div class="ml-4 d-flex index-like">
                
                <form action="/tweets/{{this.id}}/like?_method=DELETE" method="POST">
                  <button class="btn" type="submit">
                    <i class="far fa-heart"></i>
                    {{#if isLiked}}
                    <i class="fas fa-heart" style="color:#E0245E"></i>
                    {{/if}}
                  </button>
                </form>
                <div class="index-like-count ml-2"><div class="number"></div>讚數{{this.Likes}}</div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <hr />
      {{!-- 貼文結束 --}}

      {{!-- reply-tweet Modal --}}
      <div class="modal fade" id="reply-tweet{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="reply-tweet"
        aria-hidden="true">

        {{> reply-tweet account=this.User.account currentUser=../currentUser tweet=this}}

      </div>
      {{!-- reply-tweet Modal --}}

      {{/each}}
    </div>

    {{!-- TODO:topUser Controller昨完引入資料 --}}
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 跟隨中使用者開始 --}}
          {{#each isFollowed}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div class="popular-user-pic">
                <img class="user-pic" src="{{this.avatar}}" alt="">
              </div>
              <div class="name-account">
                <div class="name">{{this.name}}</div>
                <div class="account">{{this.account}}</div>
              </div>
              <div class="button">
                <button type="submit" class="btn follow-button">正在跟隨</button>
              </div>
            </div>
          </li>
          {{/each}}
          {{!-- 使用者結束 --}}
        
          {{!-- 未跟隨中使用者開始 --}}
          {{#each unFollowed}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div class="popular-user-pic">
                <img class="user-pic" src="{{this.avatar}}" alt="">
              </div>
              <div class="name-account">
                <div class="name">{{this.name}}</div>
                <div class="account">{{this.account}}</div>
              </div>
            {{#if myself}}
              <div></div>
              {{else}}
              <div class="button">
                <button type="submit" class="btn unfollow-button"> 跟隨 </button>
              </div>
            {{/if}}
            </div>
          </li>
          {{/each}}
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>




{{!-- add-tweet Modal --}}
<div class="modal fade" id="add-tweet" tabindex="-1" role="dialog" aria-labelledby="add-tweet" aria-hidden="true">

  {{> add-tweet currentUser=currentUser}}

</div>
{{!-- add-tweet Modal --}}





<script>

</script>