<div class="row justify-content-center">
  <div class="col">
    {{>columnLeft}}
  </div>

  {{>modalIndex}}
  <div class="profile-container">
    <div class="profile-nav">
      <h3 class="profile-nav-header">首頁</h3>
    </div>
    {{>upperCenter ucChoice=true}}
    <div class="posts-container">
      <!--start::list of post-->
      {{#each tweets}}
      <div class="post">
        <div class="post-card1">
          <div class="avatar profile-avatar">
            <img src="{{this.User.avatar}}" alt="avatar-img">
          </div>
        </div>
        <div class="post-card2">
          <h5 class="d-inline-block post-title">{{this.User.name}}&nbsp;<span
              class="post-sub-info">{{this.User.account}} ‧
              {{this.createdAt}}</span></h5>
                <a href="/posts/{{this.id}}">
          <p class="post-text" >{{this.description}}</p>
          </a>
          <p class="post-sub-info">
              <span class="post-icon-block">
                <i class="bi bi-chat"></i>{{this.ReplyCount}}
              </span
              ><span class="post-icon-block">                
                  <form action="posts/{{this.id}}/like?_method=PUT" method="POST" class="heart-form">
                  <button type="submit" class="bi bi-heart btn"></button>{{this.LikedCount}}
                  </form>
              </span>      
          </p>
        </div>
      </div>
      {{/each}}
      <!--end::list of post-->
    </div>
  </div>

  <div class="col">
    {{>columnRight}}
  </div>
</div>