{{> left}}

<div class="col-6 d2">
  <div class="row row-cols-1 row-cols-md-1">
    {{> user-profile user=user}}
    <div class="col" style="margin-top:420px ;border-radius: 0%;  border-left: 1px solid #d5d5dc;
          border-right: 1px solid #d5d5dc;">
      {{> user-tabs route='likes'}}
    </div>


    <div class="card tweets_card" style="margin-top:301px;">
      {{#each user.Likes}}
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
          <div class="tweet_card">
            <div class="popular_imgbody">
              <a href="/users/{{this.Tweet.UserId}}">
                <img src="{{this.Tweet.User.avatar}}" class="popular_img" alt="...">
              </a>
            </div>
            <div class="card-body tweet_cardbody">
              <div class="tweet_title">
                <a href="/users/{{this.Tweet.UserId}}" style="text-decoration: none; ">
                  <p class="tweet_name">{{ this.Tweet.User.name }}</p>
                </a>
                <p class="tweet_acount">
                  @{{ this.Tweet.User.account }}
                </p>
                <p class="tweet_acount">
                  • {{relativeTimeFromNow this.createdAt}}
                </p>
              </div>
              <div class="tweet_description">
                <a href="/tweets/{{this.id}}/replies" style="text-decoration: none; color: #171725;">
                  <p style="maxlength=" 140";">
                    {{this.Tweet.description}}
                  </p>
                </a>
              </div>

              <div class="tweet_icon">
                {{!-- 回覆 --}}
                <span class=" me-1">
                  <a href="/tweets/{{ this.id }}/replies" style='text-decoration: none;'>
                    <img src="/images/回覆框.svg" alt="">
                  </a>

                  {{#if this.Tweet.Replies.length}}
                  {{ this.Tweet.Replies.length }}
                  {{else}}
                  0
                  {{/if}}
                </span>
                {{!-- 喜歡 --}}
                <form action="/tweets/{{ this.Tweet.id }}/unlike" method="POST">
                  <button type="submit" style="background: transparent; border-width:0px; outline:none">

                    <img src="/images/紅心.svg" alt="">
                    {{#if this.Tweet.LikedBy.length}}
                    {{ this.Tweet.LikedBy.length}}
                    {{else}}
                    0
                    {{/if}}

                  </button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>



  </div>
</div>
{{> right}}