{{> nav}}
<div class="card mb-3 mr-5">
  <div>
    <div>
      <a href="javascript:history.back()">回上一頁</a>
    </div>
    <div>
      <h4>{{userView.name}}</h4>
      <p>{{userView.TweetsCount}}推文</p>
    </div>
  </div>
  <img src="{{userView.cover}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{userView.name}}</h5>
    <span>{{userView.account}}</span>
    <p class="card-text">{{userView.introduction}}</p>
    <!-- Button trigger modal -->
    {{#ifCond userView.id user.id}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      編輯個人資料
    </button>
    {{else}}
    {{#if isFollowed}}
    <form class="" action="/followships/{{userView.id}}?_method=DELETE" method="POST">

      <button type="submit" class="btn"
        style="background: #FF6600; border-radius: 100px; color: white; width: 92px; height: 30px; font-size: 15px; line-height: 15px;">正在跟隨</button>

    </form>
    {{else}}
    <form action="/followships/" method="POST">
      <input type="hidden" name="id" value="{{userView.id}}">
      <button type="submit" class="btn"
        style="border: 1px solid #FF6600; border-radius: 100px; color: #FF6600; width: 62px; height: 30px; font-size: 15px; line-height: 15px;">跟隨</button>
    </form>
    {{/if}}
    {{/ifCond}}
    <p class="card-text"><small class="text-muted"><a
          href="/users/{{userView.id}}/followings">{{userView.FollowingCount}}個跟隨中</a><a
          href="/users/{{userView.id}}/followers">{{userView.FollowerCount}}位跟隨者</a></small></p>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="/users/{{userView.id}}/tweets">推文</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/users/{{userView.id}}/replies">推文與回覆</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/users/{{userView.id}}/likes">喜歡的內容</a>
    </li>
  </ul>
  {{#each userView.tweets}}
  <div class="card" style="min-height: 136px;border-radius: 0; border: 1px solid #E6ECF0">
    <div class="row no-gutters" style="">

      <div class="col-md-1 ml-3" style="margin-top: 10px; margin-right: 10px">
        <img src="{{this.User.avatar}}" alt="..." style="width: 50px;
            height: 50px; border-radius: 50%">
      </div>

      <div class="col-md" style="margin-top: 10px;">
        <a href="/tweets/{{this.id}}/replies" style="text-decoration: none;color: black">
          <div class="card-body p-0" style="width: 510px">
            <div class="card-text">
              <span style="color: #1C1C1C">{{this.User.name}}</span>
              <span style="color: #657786;">{{this.User.account}} ‧ {{moment_fromNow this.createdAt}}</span>

              <p>{{this.description}}</p>
            </div>

          </div>
        </a>

        {{!-- ==================留言數，喜歡數，ICON============ --}}
        <div class="row">
          <button class="ml-2" type="submit" style="border: none; background: none;" data-toggle="modal"
            data-target="#reply{{this.id}}">
            <i class="far fa-comment"></i>
            <span>{{this.totalReplies}}</span>
          </button>


          {{#if this.isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST">
            <button type="submit" style="border: none; background: none;">
              <i class="fas fa-heart" style="color: red;"></i>
              <span>{{../totalLikes}}</span>
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST">
            <button type="submit" style="border: none; background: none;">
              <i class="far fa-heart" style="color: red;"></i>
              <span>{{../totalLikes}}</span>
            </button>
          </form>
          {{/if}}
        </div>
        {{!-- ==================留言數，喜歡數，ICON============ --}}

      </div>
    </div>

  </div>
  {{/each}}
</div>

<!--================= 跟隨 ================= -->
{{> follower}}

<!--Modal--->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
        <h5 class="modal-title" id="exampleModalLabel">編輯個人資料</h5>
        <form action="/users/{{user.id}}/edit" method="POST" enctype="multipart/form-data">
          <button type="submit" class="btn btn-primary">儲存</button>
      </div>
      <div class="modal-body">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{user.cover}}" alt="Card image cap">
          <input type="file" name="cover"> cover
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
          <input type="file" name="avatar"> avatar
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">名稱:</label>
          <input type="text" class="form-control" id="recipient-name" name="name" value="{{user.name}}">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">自我介紹:</label>
          <textarea class="form-control" id="message-text" name="introduction"></textarea>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--================= 側邊欄推文 Modal ================= -->
<div class="modal fade" id="postTweet" tabindex="-1" aria-labelledby="postTweetModalLabel" aria-hidden="true">
  <form action="/tweets" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row no-gutters">
            <div class="col-md-1 mr-2">
              <img src="{{user.avatar}}" style="width: 50px;
              height: 50px; border-radius: 50%" alt="">
            </div>

            <div class="col-md ml-2">
              <textarea name="description" placeholder="有什麼新鮮事..."
                style="width: 380px;height: 80px; overflow-y: hidden; resize: none; outline: none; wrap:off; border-color: transparent;"></textarea>
              <div class="card-text text-right">
                <button class="btn" style="background: #FF6600;
                border-radius: 100px; color: white" type="submit">推文</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>