<div class="center container">
  <div class="left-bar">
    {{> navbar}}
  </div>

  <div class="right-bar">
    {{> topUser}}
  </div>

  <div class="header">
    <div class="p-3 m-0 font-weight-bold light-border" style="font-size: 18px; line-height: 26px;">
      <a class="mr-5" href="/tweets"><img class="mb-1" src="/images/pre.svg" alt=""></a>
      {{userData.name}}喜歡的內容
    </div>
  </div>
  
  <div class="list-tweet">
    <ul class="list-group">
      {{#each userData.LikedTweets}}
      <li class="list-group-item px-3 d-flex align-items-start justify-content-start">
        <a href="/users/{{this.User.id}}">
          <img class="mr-3 thumbnail" src="{{this.User.avatar}}" alt="">
        </a>
        <div class="content-wrapper w-100">
          <div class="mb-2">
            <p class="font-weight-bold d-inline">{{this.User.name}}</p>
            <p class="light-color d-inline">@{{this.User.account}}．{{moment this.createdAt}}</p>
          </div>
          <a class="link-description" href="/tweets/{{this.id}}">
            <p>{{this.description}}</p>
          </a>
          <div class="d-flex justify-content-between" style="width: 150px;">
            <!-- comment -->
            <a class="light-color action-icon {{#if this.isReplied}}isReplied{{/if}}" href="#">
              <i class="far fa-comment mr-3"></i>{{this.replyCount}}
            </a>
            <!-- like -->
            {{#if this.isLiked}}
            <form class="action-icon" action="/tweets/{{this.id}}/unlike" method="POST">
              <button class="light-color isLiked" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{else}}
            <form class="action-icon" action="/tweets/{{this.id}}/like" method="POST">
              <button class="light-color" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>