{{!-- Center --}}
<div class="col">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>上線使用者</strong>
    </li>
    {{#each users}}
      <li class="list-group-item">
        <div class="flex-container">
          <div class="mr-2">
            <a href="/users/{{this.id}}/tweets">
              <img src="{{this.avatar}}" alt="user avatar" class="user-avatar"
                style="border-radius: 50%; height:50px; width: 50px">
            </a>
          </div>
          <div style="display: flex; align-items: center">
            <a href="/users/{{this.id}}/tweets" style="text-decoration:none; color:black"><strong>{{this.name}}</strong></a>
            <font class="text-muted">@{{this.account}} </font>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
{{!-- Right side --}}
<div class="col">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>公開聊天室</strong>
    </li>
    <li class="list-group-item">
      
    </li>
    <li class="list-group-item">
      <div style="width:90%; float: left;">
        <textarea placeholder="輸入訊息..." class="form-control" id="description" name="description" rows="1" style="border: none; background-color:lightgrey; border-radius:20px;"></textarea>
      </div>
      <div style="display: flex;">
        <button type="submit" style="background-color:white; border:none;"><i class="fas fa-paper-plane" style="color:rgb(255, 102, 0);"></i></button>
      </div>
    </li>
  </ul>
</div>