<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div style="text-align: left">
        <ul class="list-group">

          <a href="/tweets">
            <li class="list-group-item">
              <div class="d-flex">
                <i class="fas  fa-fw fa-home mr-4"></i>
                首頁
              </div>
            </li>
          </a>

          <a href="">
            <li class="list-group-item active">
              <div class="d-flex">
                <i class="fas fa-fw fa-fh fa-bell mr-4">
                  {{!-- 若有通知 --}}
                  {{!-- <span class="bubble">1</span> --}}
                  {{!-- 若有通知 --}}
                </i>
                通知
              </div>
            </li>
          </a>

          <a href="/messages">
            <li class="list-group-item">
              <div class="d-flex">
                <i class="fas  fa-fw  fa-fh fa-comments mr-4">
                  {{!-- 若有通知 --}}
                  {{!-- <span class="bubble">10</span> --}}
                  {{!-- 若有通知 --}}
                </i>
                公開聊天室
              </div>
            </li>
          </a>


          <a href="/messages/{{user.id}}">
            <li class="list-group-item">
              <div class="d-flex">
                <i class="fas fa-fw fa-fh fa-envelope mr-4">
                  {{!-- 若有通知 --}}
                  {{!-- <span class="bubble">100</span> --}}
                  {{!-- 若有通知 --}}
                </i>
                私人訊息
              </div>
            </li>
          </a>

          <a href="/users/{{user.id}}/tweets">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas  fa-fw fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas  fa-fw fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>

        <div class="">
          <button type="summit" class="btn tweet-button" data-toggle='modal' data-target="#add-tweet">推文
          </button>
        </div>


        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>

      </div>
    </div>

    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title d-flex align-items-center">
        <div class="name-info">
          <div class="title-name">
            通知
          </div>
        </div>
      </div>
      <hr style="margin:0; padding:0">

      {{!-- 含內容的通知 --}}
      <div class="notification-content">
        <div class="avatar">
          <a href="">
            <img src="https://loremflickr.com/320/240/boy/?lock=23" alt="">
          </a>
        </div>
        <div class="notification-title">
          "使用者"/"你的貼文"有新的"推文通知"/"新的回覆"
        </div>
        <div class="notification-text">
          內容12312312312312312312332131231231211111111111111111111111111111111111111111111111111111111111
        </div>
      </div>
      <hr>
      {{!-- 含內容的通知 --}}

      {{!-- 不含內容的通知 --}}
      <div class="notification-nocontent">
        <div class="avatar">
          <a href="">
            <img src="https://loremflickr.com/320/240/boy/?lock=23" alt="">
          </a>
        </div>
        <div class="notification-title">
          "使用者"/"你的貼文"有新的"推文通知"/"新的回覆"
        </div>
      </div>
      <hr>
      {{!-- 不含內容的通知 --}}



      {{!-- 回覆結束 --}}
    </div>




    {{!-- 右側欄位 --}}
    <div class="right-side col-md-4">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          跟隨誰
        </div>
        <ul class="list-group">
          {{!-- 跟隨中使用者開始 --}}
          {{#each topUsers}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div class="popular-user-pic">
                <a href="/users/{{this.id}}/tweets" class="text-muted">
                  <img class="user-pic" src="{{this.avatar}}" alt="">
                </a>
              </div>
              <div class="name-account">
                <a href="/users/{{this.id}}/tweets" class="text-muted">
                  <div class="name">{{this.name}}</div>
                </a>
                <div class="account">@{{this.account}}</div>
              </div>
              <div class="button">

                {{#if isSelf}}
                {{else}}
                {{#if isFollowed }}
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn follow-button">正在跟隨</button>
                </form>
                {{else}}
                <form action="/followships" method="POST" style="display: contents;">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit" class="btn unfollow-button"> 跟隨 </button>
                </form>
                {{/if}}
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}

          <li  class="list-group-item">
            <a href="">
            <div class="show-more">
              顯示更多
            </div>
            </a>
          </li>
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>

{{!-- add-tweet Modal --}}
<div class="modal fade" id="add-tweet" tabindex="-1" role="dialog" aria-labelledby="add-tweet" aria-hidden="true">

  {{> add-tweet currentUser=currentUser}}

</div>
{{!-- add-tweet Modal --}}