<div class="container">
  <div class="row justify-content-md-center">
    {{> left-side}}
    <div class="main col-6">
      <div class="row">
        <div class="d-flex m-2">
          <a href="">
            <h3 class="my-2 fw-normal" onclick="history.back()">←</h3>
          </a>
          <div class="col ms-0 ps-2">
            <span class="my-0 py-0 fw-bold">{{user.name}}</span><br />
            <small class="my-0 py-0 text-secondary">5推文</small>
          </div>
        </div>
      </div>
      <div class="hr-line-b"></div>
      <div class="py-3">

        <ul class="nav nav-tabs mx-0 px-0mb-4;">
          <li class="nav-item px-2">
            <a class="col text-center pb-2" href="/users/{{user.id}}/followers"
              style="text-decoration:none;color:{{#if followers}}#FF6600;border-bottom:solid;border-color:#FF6600;{{else}}black{{/if}}">
              追隨者
            </a>
          </li>
          <li class="nav-item px-2">
            <a class="col text-center pb-2 " href="/users/{{user.id}}/followings"
              style="text-decoration:none;color:{{#if followings}}#FF6600;border-bottom:solid;border-color:#FF6600;{{else}}black{{/if}}">
              正在追隨
            </a>
          </li>
        </ul>
      </div>
      {{#if followers}}
      {{#each tweets}}
      {{> tweet}}
      {{/each}}
      {{/if}}

      {{#if followings}}
      {{#each tweets}}
      {{> tweet}}
      {{/each}}
      {{/if}}

    </div>
    {{> right-side}}
  </div>
</div>