<div>this is profile.hbs</div>
<div>name: {{user.name}}</div>
<div>email: {{user.email}}</div>
<div>@account: {{user.account}}</div>
<div>introduction: {{user.introduction}}</div>
<img class="img-responsive center-block" src="{{user.cover}}" style="width: 250px;margin-bottom: 25px;">
<img class="img-responsive center-block" src="{{user.avatar}}" style="width: 250px;margin-bottom: 25px;">