<div class="container" id="profile-region" style="height: 1200px;">
  <div id="profile-left">
    {{#ifCond targetUser.id user.id}}
      {{> home-tabs route='tweet' }}
    {{else}}
      {{> home-tabs }}
    {{/ifCond}}
  </div>

  <div id="profile-middle">
    <div class="header">
      <div class="coin">
        <a href="javascript:history.back()">
          <img src="/images/vector.png" alt="vector">
        </a>
      </div>
      <div class="name">
        <h5 id="header-name">{{targetUser.name}}</h5>
        <span>{{tweetsLength}} 推文</span>
      </div>
    </div>
    <div class="user-info">
      <img id="profile-cover" src="{{targetUser.cover}}" alt="cover" style="width: 100%; height: 200px;">
      <div class="avatar-button">
        <img class="avatar" id="profile-avatar" src="{{targetUser.avatar}}" alt="avatar">

        {{#ifCond targetUser.id user.id}}
        <button type="button" class="btn" id="edit-btn">
          編輯個人資料
        </button>
        {{else}}
          {{#if user.isFollowed}}
          <form action="/followships/{{targetUser.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn follow-bottom">正在跟隨</span>
            </button>
          </form>
          {{else}}
          <form action="/followships" method="POST">
            <button type="submit" class="btn follow-bottom removefollow" name="id" value={{targetUser.id}}>
              跟隨
            </button>
          </form>
          {{/if}}
        {{/ifCond}}

        {{!-- edit profile function --}}
        <script type="module">
          const editBtn = document.querySelector('#edit-btn')
          const saveBtn = document.querySelector('.save-button')
          const myModal = new bootstrap.Modal(document.getElementById('edit-profile-modal'), {
              keyboard: false
            })
          const coverInput = document.querySelector('#cover')
          const avatarInput = document.querySelector('#avatar')
          const nameInput = document.querySelector('#name')
          const introductionInput = document.querySelector('#introduction')
          editBtn.addEventListener('click', () => {
            axios.get('/api/users/' + {{user.id}})
              .then(response => {
                const userInfo = response.data
                coverInput.src = userInfo.cover
                avatarInput.src = userInfo.avatar
                nameInput.value = userInfo.name
                introductionInput.value = userInfo.introduction
                document.querySelector('.name-count span').innerText = userInfo.name.length + '/50'
                document.querySelector('.introduction-count span').innerText = userInfo.introduction.length + '/160'
                myModal.show()
              }).catch(err => console.warn(err))
          })
          
          saveBtn.addEventListener('click', () => {
            if (nameInput.value.length > 50 || introductionInput.value.length > 160) {
              return alert('字數超出上限！')
            }
            const data = {
              cover: coverInput.src,
              avatar: avatarInput.src,
              name: nameInput.value,
              introduction: introductionInput.value
            }
            axios.post('/api/users/' + {{ user.id }}, data)
            .then(response => {
              history.go(0)
            })
            .catch(err => console.warn(err))
          })
        </script>

        <!-- Modal -->
        <div class="modal fade" id="edit-profile-modal" aria-hidden="true">
          <div class="modal-dialog m-0 p-0" style="width: 634px; height: 610px;">
            <div class="modal-content" style="width: 634px; height: 610px;">
              <div class="modal-header">
                <div class="header-left">
                  <button type="button" class="btn-close p-0 m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  <h5 class="modal-title" style="font-weight: 700; margin-left: 36.5px;">編輯個人資料</h5>
                </div>
                <form action="POST" class="header-right">
                  <button type="button" class="btn save-button">
                    儲存
                  </button>
                </form>
              </div>
              <div class="modal-body p-0" style="width: 634px; height: 552px;">
                <img class="cover" id="cover" src="" alt="cover">
                <div class="icons">
                  <img src="/images/camera.png" alt="camera" style="margin-right: 36px;">
                  <img src="/images/ventor_close_2.png" alt="cancel">
                </div>
                <div class="avatar-icon">
                  <div class="avatar">
                    <img id="avatar" src="" alt="avatar">
                  </div>
                  <img class="icon" src="/images/camera.png" alt="camera" style="margin-right: 36px;">
                </div>
                <div class="input name-input" style="height: 54px">
                  <label for="name">名稱</label>
                  <input name="name" id="name" type="text" placeholder="請輸入使用者名稱" onfocus="changeFocus('name')"
                    onblur="changeFocus('name')" oninput="counts('name')" required>
                  <div class="status name-status"></div>
                  <div class="d-flex">
                    <div class="helper name-helper"><span></span></div>
                    <div class="count name-count"><span>0/50</span></div>
                  </div>
                </div>
                <div class="input" style="height: 147px">
                  <label for="name">自我介紹</label>
                  <textarea name="introduction" id="introduction" type="text" placeholder="請輸入使用者名稱" onfocus="changeFocus('introduction')"
                  onblur="changeFocus('introduction')" oninput="counts('introduction')"
                  onkeydown="if(event.keyCode == 13) return false;"
                  style="height: 123px;"></textarea>
                  <div class="status introduction-status"></div>
                  <div class="d-flex">
                    <div class="helper introduction-helper"><span></span></div>
                    <div class="count introduction-count"><span>0/160</span></div>
                  </div>
                </div>
                <script>
                  function changeFocus(element) {
                    const target = document.querySelector('.' + element + '-status')
                    if (target.classList.contains('focus')) {
                      target.classList.remove('focus')
                      return
                    }
                    target.classList.toggle('focus')
                  }
                  function counts(element) {
                    let maxLength = 50
                    if (element === 'introduction') {
                      maxLength = 160
                    }
                    const counts = document.querySelector('#' + element).value.length
                    document.querySelector('.' + element + '-count span').innerText = counts + `/${maxLength}`
                    const status = document.querySelector('.' + element + '-status')
                    if (status.classList.contains('focus') && counts > maxLength) {
                      document.querySelector('.' + element + '-helper span').innerText = '字數超出上限！'
                      status.classList.remove('focus')
                      status.classList.toggle('warn')
                      return
                    }
                    if (status.classList.contains('warn') && counts <= maxLength) {
                      status.classList.remove('warn')
                      status.classList.toggle('focus')
                      document.querySelector('.element-helper span').innerText = ''
                    }
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="name">
        <h5 id="profile-name">{{targetUser.name}}</h5>
        <span>@{{targetUser.account}}</span>
      </div>
      <span class="introduction" id="profile-introduction" style="display: block;">{{targetUser.introduction}}</span>
      <div class="follow">
        <div style="margin-right: 20px;">
          <span class="first">{{targetUser.Followings.length}} 個</span>
          <span class="second"><a href="/users/{{targetUser.id}}/followings">跟隨中</a></span>
        </div>
        <div>
          <span class="first">{{targetUser.Followers.length}} 位</span>
          <span class="second"><a href="/users/{{targetUser.id}}/followers">跟隨者</a></span>
        </div>
      </div>
    </div>
    {{#if tweets}}
      {{> profile-tabs route='tweets'}}
      <div class="scroll-container">
      {{#each tweets}}
      <a href="/tweets/{{this.id}}">
        <div class="tweet">
          <div>
            <img class="avatar" src="{{../targetUser.avatar}}" alt="avatar">
          </div>
          <div class="content">
            <div class="d-flex align-items-center" style="height: 26px;">
              <span class="name">{{../targetUser.name}}</span>
              <span class="account">@{{../targetUser.account}}•{{relativeTimeFromNow this.createdAt}}</span>
            </div>
            <div class="description">
              {{this.description}}
            </div>
            <div class="footer">
              <img src="/images/comment.png" alt="comment">
              <span style="margin-right: 41.3px;">{{this.repliedCount}}</span>
              {{#if isLiked}}
              <form action="/tweets/{{this.id}}/unlike" method="POST">
                <button type="submit"><img src="/images/redLove.png" alt="like"></button>
              </form>
              {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST">
                <button type="submit"><img src="/images/like.png" alt="like"></button>
              </form>
              {{/if}}
              <span>{{this.likedCount}}</span>
            </div>
          </div>
        </div>
      </a>
      {{/each}}
      </div>
    {{/if}}
    {{#if replies}}
    {{> profile-tabs route='replies'}}
    <div class="scroll-container">
      {{#each replies}}
      <div class="tweet">
        <div>
          <img class="avatar" src="{{../targetUser.avatar}}" alt="avatar">
        </div>
        <div class="content">
          <div class="d-flex align-items-center" style="height: 26px;">
            <span class="name">{{../targetUser.name}}</span>
            <span class="account">@{{../targetUser.account}}•{{relativeTimeFromNow this.createdAt}}</span>
          </div>
          <div class="reply-to">
            <span class="reply">回復</span>
            <span class="account">@{{this.Tweet.User.account}}</span>
          </div>
          <div class="description">
            {{this.comment}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
    {{#if likes}}
      {{> profile-tabs route='likes'}}
      <div class="scroll-container">
        {{#each likes}}
        <a href="/tweets/{{this.Tweet.id}}">
          <div class="tweet">
            <div>
              <img class="avatar" src="{{this.Tweet.User.avatar}}" alt="avatar">
            </div>
            <div class="content">
              <div class="d-flex align-items-center" style="height: 26px;">
                <span class="name">{{this.Tweet.User.name}}</span>
                <span class="account">@{{this.Tweet.User.account}}•{{relativeTimeFromNow this.createdAt}}</span>
              </div>
              <div class="description">
                {{this.Tweet.description}}
              </div>
              <div class="footer">
                <img src="/images/comment.png" alt="comment">
                <span style="margin-right: 41.3px;">{{this.repliedCount}}</span>
                {{#if isLiked}}
                <form action="/tweets/{{this.Tweet.id}}/unlike" method="POST">
                  <button type="submit"><img src="/images/redLove.png" alt="like"></button>
                </form>
                {{else}}
                <form action="/tweets/{{this.Tweet.id}}/like" method="POST">
                  <button type="submit"><img src="/images/like.png" alt="like"></button>
                </form>
                {{/if}}
                <span>{{this.likedCount}}</span>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    {{/if}}
  </div>
  
  <div id="profile-right">
    {{> home-user-tabs-middleware-ByYS}}
  </div>
</div>