{{>left}}
<div class="col-6">
  <div class="col container">
    <div class=" card mb-3">
      <div class="row back-bar m-3">
        <div class="col-6 col-sm-1 back-image">
          <a href="/">
            <img src="/images/back.png" alt="back" style="width:17px;hegith:14px">
          </a>
        </div>
        <div class="col-6 col-sm-1 back-user" style="width:100px;height:50px;">
          <p class="user-name m-0" style="color: #171725;font-size: 18px;">
            <string>{{user.name}}</string>
          </p>
          <p class="user-name m-0" style="color: #6C757D;font-size: 13px;">25推文</p>
        </div>
      </div>
      <img src="{{user.cover}}" class="card-img-top position-relative" alt="...">
      <div class="image position-absolute" style="top:180px; margin:16px">
        <a href="/users/{{user.id}}/profile">
          <img src="{{user.avatar}}" alt="logo" class="user-avatar rounded-circles" style="width:140px;height:140px">
        </a>
      </div>
      <div class="editprofile d-flex justify-content-end m-3" data-bs-toggle="modal" data-bs-target="#edit-modal">
        <button type="submit" class="btn btn-primary"
          style="color: #ff6600;font-size: 16px;background-color:white;border: 1px solid #FF6600;border-radius:20px; width:128px;height:40px">編輯個人資料</button>
      </div>
      <div class="card-body" style="margin-top:8px">
        <p class="user-name m-0" style="color: #171725;font-size: 18px;">
          <string>{{user.name}}</string>
        </p>
        <p class="user-name m-0" style="color: #6C757D;font-size: 14px;">@{{user.name}}</p>
        <p class="card-text mt-3">{{user.introduction}}</p>
        <div class="d-flex flex-row card-bottom">
          <div class="m-2">
            <a href="/user/:id/followings" style="text-decoration:none;">
              <p class="card-text" style="color: #6C757D;font-size: 14px;">
                34個跟隨中</p>
            </a>
          </div>
          <div class="m-2">
            <a href="/user/:id/followers" style="text-decoration:none;">
              <p class="card-text" style="color: #6C757D;font-size: 14px;">
                59個跟隨者</p>
            </a>
          </div>
          </p>
        </div>
      </div>
      <div class="d-flex flex-row group">
        <div class="group-item mb-3">
          <a class="text-decoration-none"
            style="color:{{#ifCond route 'tweets'}} #ff6600 {{else}} #657786 {{/ifCond}};font-size: 15px;margin-left:50px"
            href="/">推文</a>
        </div>
        <div class="group-item mb-3">
          <a class="text-decoration-none"
            style="color:{{#ifCond route 'tweets'}} #ff6600 {{else}} #657786 {{/ifCond}};font-size: 15px;margin-left:50px"
            href="/">回覆</a>
        </div>
        <div class="group-item mb-3">
          <a class="text-decoration-none"
            style="color:{{#ifCond route 'tweets'}} #ff6600 {{else}} #657786 {{/ifCond}};font-size: 15px;margin-left:50px"
            href="
            /">喜歡</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{>right}}
<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="edit-modal-label">編輯個人資料</h5>
        <button type="submit" class="btn btn-primary" style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:64px;height:40px
            ;margin-left:24px">儲存</button>
      </div>
      <div class="modal-body m-0">
        <img src="https://loremflickr.com/639/200/nature" class="card-img-top position-relative" alt="...">
        <div class="image position-absolute" style="top:100px">
          <a href="/users">
            <img src="/images/logo.svg" alt="logo" class="user-avatar rounded-circles" style="width:140px;height:140px">
          </a>
        </div>
      </div>
      <div class="form-group form-floating m-3">
        <input type="text" name="name" id="name" class="form-control font-weight-bold" placeholder="名稱" value="{{name}}"
          style="background-color:#F5F8FA; border-bottom: 2px solid #657786;width:440px;height:54px" required autofocus>
        <label for="name">名稱</label>
      </div>
      <div class="form-group form-floating m-3">
        <input type="text" name="text" id="text" class="form-control font-weight-bold" placeholder="名稱" value="{{name}}"
          style="background-color:#F5F8FA; border-bottom: 2px solid #657786;width:440px;height:54px;height:147px"
          required autofocus>
        <label for="name">自我介紹</label>
      </div>
    </div>
  </div>
</div>