<div class="col-2 nav-left">
  {{#ifCond user.id userData.id}}
  {{> nav-left route='personal-info'}}
  {{else}}
  {{> nav-left}}
  {{/ifCond}}
</div>

<div class="col-8 nav-body" style="font-family: 'Noto Sans TC'; font-style: normal;">
  <ul class="list-group" style="border-radius: 0px;">

    {{>profile-following-header route='following'}}

    {{#each userData.Followings}}
    <li class="list-group-item" style="border:#E6ECF0 solid 1px;">
      <div class="row">
        {{!-- avatar （連結到該user個人頁面）--}}
        <div class="col-1">
          <a href="/users/{{this.id}}" style="text-decoration: none;">
            <div class="mt-2" style="height: 50px; width: 50px; margin-right: 12px">
              {{#if this.avatar}}
              <div class="mt-2 rounded-circle" style="height: 50px; width: 50px; margin-right: 12px; background: url('{{this.avatar}}'); background-size: cover; background-position: center;"></div>
              {{else}}
              <div class="mt-2 rounded-circle" style="height: 50px; width: 50px; margin-right: 12px; background: url('/images/img.png'); background-size: cover; background-position: center;"></div>
              {{/if}}
            </div>
          </a>
        </div>
        
        {{!-- user name & introduction--}}
        <div class="col-8">
          <div class="d-flex flex-column justify-content-end" style="word-break: break-word; width: 100%px; height: 100%;">
            <a style="text-decoration: none; color: #171725; margin-top: 17px" href="/users/{{this.id}}">
              <span style="font-size: 16px; font-weight: 700; line-height: 26px; color: #171725;">{{this.name}}</span>
            </a>
            <div style="word-break: break-word; width: 100%px; height: 100%;" class="mt-2">
              <span style="font-size: 16px; font-weight: 400; font-size: 16px; line-height: 26px; color: #171725; margin: 10px 0 12px 0">{{this.introduction}}</span>
            </div>
          </div>
        </div>

        {{!-- follow button --}}
        <div class="col-3">
          <div class="container d-flex justify-content-end" style="margin-top: 10px">
            {{#if this.Followship.match}}
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST" class="rol-10">
              <button type="submit" name="id" value="{{this.id}}" class="btn btn-primary rounded-pill ms-5" style="background-color: #FF6600;   width:96px; border:#E6ECF0 solid 1px;">正在跟隨</button>
            </form>
            {{else}}
            <form action="/followships" method="POST">
              <button type="submit" name="id" value="{{this.id}}" class="btn btn-primary rounded-pill ms-5" style="background-color: #FFFFFF; color:#FF6600; border:#FF6600 solid 1px;  width:64px;">跟隨</button>
            </form>
            {{/if}}
          </div>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="col-2 nav-right">
  {{> nav-right}}
</div>