<div class="col-2 nav-left">
  {{#ifCond user.id userData.id}}
  {{> nav-left route='personal-info'}}
  {{else}}
  {{> nav-left}}
  {{/ifCond}}
</div>

<div class="col-8 nav-body" style="font-family: 'Noto Sans TC'; font-style: normal;">
  <ul class="list-group" style="border-radius: 0px;" id="tweets-panel">
    {{>profile-header route='likes'}}
    
    {{!-- 喜歡版 --}}
    {{#each userData.Likes}}
    <li class="list-group-item d-flex align-items-start" style="border:#E6ECF0 solid 1px;">

        {{!-- avatar （連結到該user個人頁面）--}}
        <a href="/users/{{this.Tweet.User.id}}">
          <div class="mt-2" style="height: 50px; width: 50px; margin-right: 12px">
            {{#if this.Tweet.User.avatar}}
            <div class="mt-2 rounded-circle" style="height: 50px; width: 50px; margin-right: 12px; background: url('{{this.Tweet.User.avatar}}'); background-size: cover; background-position: center;"></div>
            {{else}}
            <div class="mt-2 rounded-circle" style="height: 50px; width: 50px; margin-right: 12px; background: url('/images/img.png'); background-size: cover; background-position: center;"></div>
            {{/if}}
          </div>
        </a>

        {{!-- 推文區塊 --}}
        <div class="mt-2" style="width: 100%;">
          {{!-- 第一橫列：user information & create time --}}
          <div>
            <a style="text-decoration: none; color: #171725" href="/users/{{this.Tweet.User.id}}">
              <span style="font-size: 16px"><b>{{this.Tweet.User.name}}</b></span>
            </a>
            <span style="font-size: 14px; padding-left: 8px; color: #6C757D">@{{this.Tweet.User.account}}・</span>
            <a style="text-decoration: none; color: #6C757D" href="/tweets/{{this.Tweet.id}}/replies">
              <span style="font-size: 14px">{{relativeTimeFromNow this.Tweet.createdAt}}</span>
            </a>
          </div>
          
          {{!-- 第二橫列：tweet content --}}
          <div style="width:100%; height:100%;word-break:break-word;">
            <a href="/tweets/{{this.Tweet.id}}/replies" style=" text-decoration: none; color: #171725">
              <p class="mt-2">{{this.Tweet.description}}</p>
            </a>
          </div>

          {{!-- 第三橫列：reply & 按讚 --}}
          <div style="font-size: 14px; color: #6C757D">
            <i class="fa-regular fa-comment me-2 pointer" style="font-size: 16px" data-bs-toggle="modal" data-bs-target="#post-reply" 
            data-userid="{{this.Tweet.User.id}}" 
            data-username="{{this.Tweet.User.name}}" 
            data-useraccount="{{this.Tweet.User.account}}" 
            data-tweetcreate="{{relativeTimeFromNow this.Tweet.description}}" 
            data-tweetdescription="{{this.Tweet.description}}" 
            data-tweetid="{{this.Tweet.id}}" 
            {{#if this.Tweet.User.avatar}}data-useravatar="{{this.Tweet.User.avatar}}"{{else}}data-useravatar="/images/img.png"{{/if}} 
            {{#if ../user.avatar}}data-loginuseravatar="{{../user.avatar}}"{{else}}data-loginuseravatar="/images/img.png"{{/if}}>
            </i>
            <span>{{this.Tweet.Replies.length}}</span>


            <div class="d-inline-block mb-1" style="padding-left: 35px;">
              {{#if this.isLiked}}
              <form action="/tweets/{{this.Tweet.id}}/unlike" method="POST" class="d-inline-block" >
                <button type="submit" style="all: unset; cursor: pointer;">
                  <i class="fa-solid fa-heart me-2" style="font-size: 16px"></i>
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{this.Tweet.id}}/like" method="POST" class="d-inline-block" >
                <button type="submit" style="all: unset; cursor: pointer;">
                  <i class="fa-regular fa-heart me-2" style="font-size: 16px"></i>
                </button>
              </form>
              {{/if}}
              <span>{{this.Tweet.Likes.length}}</span>
            </div>
          </div>
        </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="col-2 nav-right">
  {{> nav-right}}
</div>

{{> modal-reply}}

<script src="/stylesheets/script.js">
</script>