<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8 mb-4">
        <img class="rounded-circle" src="{{user.avatar}}" style="width:50%">
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" href="/api/users/{{user.id}}/edit">
          編輯個人資料
        </a>
      </div>
    </div>
    <h6>{{user.name}}</h6>
    <small>{{user.email}}</small>
    <p>{{user.introduction}}</p>
    <p>?個跟隨中 ?位跟隨者</p>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">跟隨誰</li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-3">
            <img class="rounded-circle w-100" src="{{user.avatar}}" />
          </div>
          <div class="col-4">
            <p>User's name</p>
          </div>
          <div class="col-4">
            <form action="/followships/:userId" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">跟隨</button></form>
          </div>
        </div>
      </li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <hr>
</div>
<br />
<br />