<div class="d-flex justify-content-evenly" style="height: 1400px;width:1200px">

  {{> left-sidebar}}

  <div class="show-tweet-page" style="width:45%">
    <!--header-->
    <div class="header">
      <button onclick="window.history.back()" class="back-icon">
        <img src="https://i.postimg.cc/QxZdg4vB/Vector.png" alt="back" class="arrow-left">
      </button>
      <h4 class="header-tweet">推文</h4>
    </div>
    <!--推文-->
    <div class="show-tweet-replies-context d-flex flex-column mt-2">
      <div class="show-tweet-context d-flex flex-column mt-2">
        <div class="show-tweet-user-info d-flex flex-row">
          <div class="user-avatar">
            <img src="{{tweet.User.avatar}}" width="50px" ;height="50px"
              style="display:inline-block;border-radius:100%;border:2px  solid;margin:auto 8px auto 24px;margin:auto 8 auto 0"
              alt="avatar">
          </div>
          <div class="user-name-account">
            <p style="font-size: 16px;margin:0;">{{tweet.User.name}}</p>
            <p style="font-size: 14px;margin:0;color:#6C757D">@{{tweet.User.account}}</p>
          </div>
        </div>
        <div class="tweet-content mt-2" style="padding:  0 0 0 24px;">
          <p style="margin: 0 0 8px;">{{tweet.description}} </p>
        </div>
        <div class="tweet-created-at" style="padding:  0 0 0 24px;">
          <p style="font-size: 14px;color:#6C757D;margin: 0 0 8px;">{{tweetCreatedAt tweet.createdAt}}</p>
        </div>
        <hr class="solid" style="margin: 8px 0 16px 0;">
        <div class="reply-and-like d-flex flex-row" style="padding:  0 0 0 24px;font-size:19px">
          <span>&nbsp; {{replyQuantity}}回覆 </span>
          <span>&nbsp; {{likeQuantity}}喜歡次數 </span>
        </div>
        <hr class="solid" style="margin: 8px 0 16px 0;">
        <div class="d-flex" style="padding:  0 0 0 24px">
          <div class="replies">
            <button type="button" class="btn reply-btn" data-bs-toggle="modal" data-bs-target="#replyModal">
              <!--<img src="/images/reply-small.svg" alt="reply"> -->
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.36401 0.49446L5.59867 0.487793H5.59734C2.68134 0.487793 0.397339 2.77246 0.397339 5.68913C0.397339 8.42113 2.52134 10.4931 5.37401 10.6025V13.1545C5.37401 13.2265 5.40334 13.3451 5.45401 13.4231C5.54867 13.5731 5.71001 13.6545 5.87534 13.6545C5.96734 13.6545 6.06001 13.6291 6.14334 13.5758C6.31934 13.4638 10.4587 10.8158 11.5353 9.90513C12.8033 8.83179 13.562 7.25846 13.564 5.69713V5.68579C13.56 2.77446 11.2773 0.49446 8.36401 0.493793V0.49446ZM10.8887 9.14246C10.1327 9.78246 7.64734 11.4125 6.37401 12.2378V10.1131C6.37401 9.83713 6.15067 9.61313 5.87401 9.61313H5.61001C3.17001 9.61313 1.39801 7.96246 1.39801 5.68913C1.39801 3.33313 3.24334 1.48779 5.59801 1.48779L8.36267 1.49446H8.36401C10.7187 1.49446 12.564 3.33846 12.5653 5.69179C12.5633 6.96513 11.9373 8.25446 10.8893 9.14246H10.8887Z"
                  fill="#6C757D" />
              </svg>
            </button>
          </div>
          <div class="likes">
            <button type="button" class="btn like-btn" data-bs-toggle="modal">
              <!--         <img src="/images/like-small.svg" alt="like"> -->
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.00005 13.4253H6.99072C5.26872 13.3933 0.300049 8.90392 0.300049 4.65192C0.300049 2.60925 1.98338 0.815918 3.90205 0.815918C5.42872 0.815918 6.45538 1.86925 6.99938 2.63592C7.54205 1.87058 8.56871 0.815918 10.096 0.815918C12.016 0.815918 13.6987 2.60925 13.6987 4.65258C13.6987 8.90325 8.72938 13.3926 7.00738 13.4239H7.00005V13.4253ZM3.90272 1.81658C2.51605 1.81658 1.30072 3.14192 1.30072 4.65325C1.30072 8.47992 5.99005 12.3839 7.00072 12.4253C8.01272 12.3839 12.7007 8.48058 12.7007 4.65325C12.7007 3.14192 11.4854 1.81658 10.0987 1.81658C8.41338 1.81658 7.47205 3.77392 7.46405 3.79325C7.31072 4.16792 6.69338 4.16792 6.53938 3.79325C6.53005 3.77325 5.58938 1.81658 3.90338 1.81658H3.90272Z"
                  fill="#6C757D" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <hr class="solid">
      {{#each replies}}
      <div class="tweet-replies d-flex flex-column mt-2">
        <div class="show-reply-user-info d-flex flex-row">
          <div class="user-avatar">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{this.User.avatar}}" width="50px" ;height="50px"
                style="display:inline-block;border-radius:100%;border:2px  solid;margin:auto 8px auto 24px;margin:auto 8 auto 0"
                alt="avatar">
            </a>
          </div>
          <div class="d-flex flex-column">
            <div class="user-name-account-time ">
              <span style="font-size: 16px;margin:0;">{{this.User.name}}</span>
              <span style="font-size: 14px;margin:0;color:#6C757D">@{{this.User.account}}</span>
              <span class="time"><b>•</b>&nbsp;{{relativeTimeFromNow this.createdAt}}</span>
            </div>
            <div class="reply-to-who" style="font-size:14px">回應@{{this.Tweet.User.account}}</div>
            <div class="reply-content mt-2">
              <p class="content">{{this.comment}} </p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
  {{> right-sidebar}}
  {{> reply-page-modal}}
</div>