{{> leftbar}}

<div class="middle right-line-2 left-line-2">
  <div class="d-flex align-items-center" style="border:1px solid #E6ECF0; height:74px">
    <p class="middle-title"><a href="/tweets"><img src="/images/Vector.png" class="me-3"></a>推文</p>
  </div>
  {{!-- 推文 start--}}
  <div style="border:1px solid #E6ECF0;">
    <div class="d-flex align-items-center mt-1">
      <div style="width:50px; height:50px">
        <a href="/users/{{tweet.User.id}}"><img class="ac-img" src="{{tweet.User.avatar}}" style="border-radius: 50%" alt=""></a>
      </div>
      <div class="ms-2">
        <a href="/users/{{tweet.User.id}}" class="text-decoration-n">
          <span class="twitterbox-name d-block">{{tweet.User.name}}</span>
        </a>
        <span class="twitterbox-time d-block">@{{tweet.User.account}}</span>
      </div>
    </div>
    <div class="ms-3 mt-1 me-3">
      <p class="mb-1" style="font-weight: 400;line-height: 36px;font-size: 24px;">
        {{tweet.description}}
      </p>
      <span class="twitterbox-time d-block mb-1">{{relativetimeFromNNow tweet.createdAt}} </span>
      <div class="d-flex align-items-center " style="height:60px; border-top:2px solid #E6ECF0;font-weight: 700; font-family: 'Montserrat';font-size: 19px; ">
        <span class="twitterbox-time" style="margin-right:24px "><span style="color:black">{{replies.length}}</span> 回覆</span>
        <span class="twitterbox-time "><span style="color:black">{{tweet.Likes.length}} </span>喜歡次數</span>
      </div>
      <div style="height:68px; border-top:2px solid #E6ECF0" class="d-flex align-items-center">

        <span class="twitterbox-time mx-40" style="margin-right:133.3px"><img width="24.69px" height="24.69px"
            src="/images/reply@2x.png" alt="" data-bs-target="#staticBackdrop" data-bs-toggle="modal"></span>

        {{#if tweet.isLiked}}
        <form action="/tweets/{{tweet.id}}/unlike" method="POST" style="display: contents;">
          <span class="twitterbox-time">
            <button type="submit" class="btn">
              <img width="24.69px" height="24.69px"src="/images/like@2x.png" alt="">
            </button>
          </span>
        </form>
        {{else}}
        <form action="/tweets/{{tweet.id}}/like" method="POST" style="display: contents;">
          <span class="twitterbox-time">
            <button type="submit" class="btn">
              <img width="24.69px" height="24.69px" src="/images/unlike@2x.png" alt="">
            </button>
          </span>
        </form>
        {{/if}}

      </div>
    </div>
  </div>
  {{!-- 推文 end--}}

  {{#each replies}}
  {{!-- 留言 start--}}
  <div>
    <div class="fl">
      <a href="/users/{{this.User.id}}"><img class="ac-img" src="{{this.User.avatar}}" style="border-radius: 50%" alt=""></a>
    </div>
    <div class="tweet-flow-text fl">
      <a href="/users/{{this.User.id}}" class="text-decoration-n">
        <span class="twitterbox-name">{{this.User.name}}</span>
      </a>
      <span class="twitterbox-time">@{{this.User.account}} ‧ {{relativetimeFromNNow this.createdAt}} </span>
      <div>
        <span class="twitterbox-time">回覆 <span style="color: #FF6600">@ {{../tweet.User.account}}</span></span>
      </div>
      <p class="twitterbox-text">
        {{this.comment}}
      </p>
      <div class="bottom-line-f"></div>
    </div>
  </div>
  {{!-- 留言 end--}}
  {{/each}}

</div>

{{!-- 彈跳留言回覆 --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="height:500px">
      <div class="modal-header">
        <div class=" fl">
          <button type="button font-color-or" class="btn-close btn-close-re" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="tweet-flow-text fl">
          <span class="twitterbox-name">{{this.User.name}}</span>
          <span class="twitterbox-time">@{{this.User.name}} ‧ {{relativetimeFromNNow this.createdAt}} </span>
          <p class="twitterbox-text">
            {{this.description}}
          </p>
          <span class="twitterbox-time mx-40"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">13</span>

          {{#if isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
            <span class="twitterbox-time">
              <button type="submit" class="btn">
                <img class="tweet-flow-img" src="/images/like@2x.png" alt="">
                {{this.Likes.length}}
              </button>
            </span>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
            <span class="twitterbox-time">
              <button type="submit" class="btn">
                <img class="tweet-flow-img" src="/images/unlike@2x.png" alt="">
                {{this.Likes.length}}
              </button>
            </span>
          </form>
          {{/if}}

          <div class="bottom-line-f"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> user-tweet}}
{{> user-put}}
{{> rightbar}}

<script>
  const replyButton = document.querySelector('.reply-button')
  const reply = document.querySelector('.reply')
  const hint = document.querySelector('.hint')
  replyButton.addEventListener('click', (e) => {
    if (reply.innerText === '') {
      e.preventDefault()
      hint.innerText = '內容不可空白'
    }
  })
</script>

