<div class="row">
  {{>leftColumn}}
  <div class="col-5">
    <div class="row justify-content-center" id="tweet-detail" style="border: 1px solid black;">
      <div class="col-auto" id="person-img">
        <a href="/users/{{tweet.User.id}}">
          <img style="width: 50px;height:50px; border-radius: 50%" src="{{tweet.User.avatar}}" alt="pic">
        </a>
      </div>
      <div class="col" id="person-indo">
        <div class="row">
          <div class="col-12">{{tweet.User.name}}</div>
          <div class="col-12">{{tweet.User.account}}</div>
        </div>
      </div>
      <div class="col-12">
        <p>
          {{tweet.description}}
        </p>
        <small class="mr-auto">
          {{moment_format tweet.createdAt}}
        </small>
        <hr>
      </div>
      <div class="col-12">
        {{tweet.replyCount}} 回覆 {{tweet.likeCount}}喜歡次數
      </div>
      <div class="col-12">
        <i class="far fa-comment fa-2x mr-5" data-toggle="modal" data-target="#replyTweet"></i>
        {{#if isLiked}}
        <a href="/unlike/{{tweet.id}}"><i class="fas fa-heart fa-2x" style="color: salmon;"></i></a>
        {{else}}
        <a href="/like/{{tweet.id}}"><i class="far fa-heart fa-2x" style="color: salmon;"></i></a>
        {{/if}}
      </div>
    </div>

    <div class=" row" id="reply-list">
      {{#each replies}}
      <div class="row w-100" style="border: 1px solid grey;">
        <div class="col-1">
          <a href="/users/{{this.User.id}}">
            <img src="{{this.User.avatar}}" alt="" style="width: 50px;height:50px; border-radius: 50%">
          </a>
        </div>
        <div class="col-11">
          <div class="row">
            <div class="col ml-3">{{this.User.name}} <small
                class="ml-3">{{this.User.account}}．{{moment this.createdAt}}</small></div>
            {{#ifEqual this.User.id ../currentUserId}}
            <form action="/tweets/{{this.TweetId}}/{{this.id}}?_method=DELETE" method="post" class=" ml-auto">
              <button class="btn btn-outline-danger pull-right" type="submit">&times;</button>
            </form>
            {{/ifEqual}}
          </div>
          <div class="col-12">回覆{{../tweet.User.account}}</div>
          <div class="col-12">{{this.comment}}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{>rightColumn}}
</div>


<!-- Modal -->
<div class="modal fade" id="replyTweet" tabindex="-1" role="dialog" aria-labelledby="replyTweet" aria-hidden="true">
  <form action="/tweets/{{tweet.id}}/reply" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="replyTweetLabel">回覆</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center" id="tweet-detail">
            <div class="col-auto" id="person-img">
              <img style="width: 50px;height:50px" src="{{tweet.User.avatar}}" alt="pic">
            </div>
            <div class="col" id="person-indo">
              <div class="row">
                <div class="col-12">{{tweet.User.name}}</div>
                <div class="col-12">{{tweet.User.account}}</div>
              </div>
            </div>
            <p>
              {{tweet.description}}
            </p>
            <small class="mr-auto">
              回覆給 {{tweet.User.account}}
            </small>
          </div>
          <hr>
          <div class="row w-100">
            <textarea name="reply" id="" cols="30" rows="10">回覆的內容</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">回覆</button>
        </div>
      </div>
    </div>
  </form>
</div>