<div class="container">
  <div class="row justify-content-md-center">
    {{> left-side}}
    <div class="main col-6">
      <div class="home-page font-lg-dark">
        <a href="/tweets">推文</a>
      </div>
      <div class="hr-line"></div>
      <div class="reply-tweet-card d-flex flex-column bd-highlight">
        <div class="d-flex flex-column bd-highlight">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight mt-3 ps-3">
              <a href="/users/{{tweet.User.id}}/tweets">
                <img class="reply-main-avatar" src="{{tweet.User.avatar}}" alt="avatar" style="width:50px; ">
              </a>
            </div>
            <div class="name-container d-flex flex-column bd-highlight mt-3 ms-2">
              <a href="/users/${topFollowerUser.id}/tweets">
                <div class="font-name">{{tweet.User.name}}</div>
                <div class="font-account">@{{tweet.User.account}}</div>
              </a>
            </div>
          </div>
          <div class="text-box p-3 pt-2 bd-highlight">
            <span style="word-wrap:
              break-word; font-size:24px;">{{tweet.description}}</span>
            <p class="gray mt-3">{{normalTimeForm tweet.createdAt}}</p>
          </div>
        </div>

        <div class="count d-flex flex-row bd-highlight p-2">
          <div class="me-4">
            <span class="reply-num me-1">{{replies.length}}</span>
            <span class="reply-font">回覆</span>
          </div>
          <span class="reply-num me-1">{{tweet.Likes.length}}</span>
          <span class="reply-font">喜歡次數</span>
        </div>
        <div class="d-flex flex-row bd-highlight p-3">
          <button class="me-5" type="submit">
            <a href="" data-bs-toggle="modal" data-bs-target="#replyInputModatl">
              <img src="https://upload.cc/i1/2022/07/26/rKCiDo.png" alt="reply"
                style="width: 30px;height:30px;background-color:#FFFFFF">
            </a>
          </button>

          {{#if user.isLiked}}
          <form class="ms-5 ps-5" action="/tweets/{{tweet.id}}/unlike" method="POST">
            <button type="submit">
              <img src="/images/icons/like.png" alt="reply" style="width: 30px;height:30px;background-color:#FFFFFF">
            </button>
          </form>
          {{else}}
          <form class="ms-5 ps-5" action="/tweets/{{tweet.id}}/like" method="POST">
            <button type="submit">
              <img src="/images/icons/like-w.png" alt="reply" style="width: 30px;height:30px;background-color:#FFFFFF">
            </button>
          </form>
          {{/if}}
        </div>
      </div>

      {{#each replies}}
      {{> tweet route='replies'}}
      {{/each}}

    </div>
    {{> right-side}}
  </div>
</div>

{{!-- Modal --}}

<div class="modal fade" id="replyInputModatl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="height:500px">
      <div class="modal-header" style=" margin:0px">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row" style=" margin-top:0px; top:0px">

        <div class="col-2 " style="height:200px">
          <img src="{{tweet.User.avatar}}" class="rounded-circle" style="width:50px;height:50px">
        </div>
        <div class="col px-0" style="max-width: 80%;height:200px">
          <span class="fw-bold fs-6">{{tweet.User.name}}</span><small>@{{tweet.User.account}} ‧
          </small><span>{{relativeTimeFromNow tweet.updatedAt}}</span>
          <br />
          <p class="my-2" style="word-wrap: break-word; word-break: normal;">{{tweet.description}}</p>
          <small>回覆給<span style="color:#FF6600">@{{tweet.User.account}}</span></small>
        </div>

        <form action="/tweets/{{tweet.id}}/replies" method="POST" style="border-top:1px solid #E6ECF0 ;">
          <div class="row mt-3">
            <div class="col-2 me-0">
              <img src="{{user.avatar}}" class="rounded-circle" style="width:50px;height:50px">
            </div>
            <div class="col mx-0 px-0">
              <input name="comment" class="border-0 mt-2 mx-0 px-0"
                style="width:95%; border: none;outline: none;resize:none" placeholder="推你的回覆" id="floatingTextarea2"
                rows="4" maxlength="140" required></input>
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="btn"
              style="background-color:#FF6600;border-radius: 50px;color:white">回覆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>