{{>navs/user-left-column  route='tweets'}}

<div style=" margin: 0px 25px; width:641px; " class="border">
  {{>header route='tweetreplies' title='推文'}}
  {{!-- 貼文 --}}
  <div class="col-12 mx-auto" style="border: 1px solid #E6ECF0">
 

    <div class="d-flex flex-column p-2">
      <div class="d-flex flex-row">
        <a href="#">
          <img src={{#if
          tweet.User.avatar}}{{tweet.User.avatar}}{{else}}"https://s3.ap-southeast-2.amazonaws.com/cdn.greekherald.com.au/wp-content/uploads/2020/07/05194617/default-avatar.png"{{/if}}
          style="aspect-ratio: 1 / 1;width: 40px;object-fit: cover;object-position: center; border-radius: 30px" alt="avatar">
        </a>
        <div class="d-flex flex-column">
          <span class="ms-1" style="font-size:16px">{{tweet.User.name}}</span>
          <span class="ms-2" style="font-size:14px; color:#6C757D;">@{{tweet.User.account}}</span>
        </div>
      </div>
      <div>
        <P class="text-break">{{tweet.description}}</P>
      </div>
      <div>
        <span style="font-size:14px; color:#6C757D;">{{localTime tweet.createdAt}}</span>
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px; height: 1px; background-color: #cad4db;">
      <div>
        <span style="font-weight: bold;">{{tweet.Replies.length}}<span style="color:#6C757D">回覆</span></span>
        <span style="font-weight: bold;">{{tweet.Likes.length}}<span style="color:#6C757D">喜歡次數</span></span>
      </div>

      <hr style="margin-top: 5px; margin-bottom: 5px; height: 1px; background-color: #cad4db;">

      <div class="d-flex flex-row">
        <div class="me-5">
          <button type="submit" style="background-color:transparent; border-color:transparent; border: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#ModaltweetsReplies" > 
          <img src="/icon/Reply.png" alt="..." width="20px" height="20px"/>
          </button>
        </div>

      <div class="d-flex flex-row">
        {{#if isLiked}}
          <form action="/tweets/{{tweet.id}}/unlike" method="POST">
            <button type="submit" style="background-color:transparent; border-color:transparent; border: none; padding: 0;"> 
            <img src="/icon/icon_like_fill.png" alt="..." width="13px" height="13px"/>
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{tweet.id}}/like" method="POST">
            <button type="submit" style="background-color:transparent; border-color:transparent; border: none; padding: 0;"> 
            <img src="/icon/icon_like.png" alt="..." width="16px" height="16px"/>
            </button>
          </form>
        {{/if}}
      </div>
      </div>
    </div>
  </div>

{{!-- 貼文回覆 --}}
  <div class="col-12 mx-auto mt-2">
    {{#each replies}}
      <div class="col-12 mx-auto p-2" style="border: 1px solid #E6ECF0">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row ">
            <a href="/users/{{this.userId}}/tweets">
              <img src={{#if
              this.User.avatar}}{{this.User.avatar}}{{else}}"https://s3.ap-southeast-2.amazonaws.com/cdn.greekherald.com.au/wp-content/uploads/2020/07/05194617/default-avatar.png"{{/if}}
              style="aspect-ratio: 1 / 1;width: 40px;object-fit: cover;object-position: center; border-radius: 30px" alt="avatar">
            </a>
            <p class="inline ms-1 mt-1">{{this.User.name}}</p>
            <span class="ms-1 mt-2" style="font-size: 0.2rem;">@{{this.User.account}}</span>
            <span class="ms-1 mt-2" style="font-size: 0.2em;">・{{relativeTimeFromNow this.createdAt}}</span>
          </div>

          <span class="ms-5" style="font-size:14px; color:#6C757D;">回覆 <span style="color:#FF6600">
          @{{this.Tweet.User.name}}</span></span>
          
          <p class="text-break">{{this.comment}}</p>
        </div>
      </div>
    {{/each}}
  </div>

</div>


{{!-- modal --}}
<div class="modal" id="ModaltweetsReplies" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="d-flex justify-content-start">
        <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px;">

      <form action="/tweets/{{tweet.id}}/replies" method="POST">
        <div class="ms-2">
          <div class="d-flex flex-row">
            <a href="#">
              <img src={{#if
              tweet.User.avatar}}{{tweet.User.avatar}}{{else}}"https://s3.ap-southeast-2.amazonaws.com/cdn.greekherald.com.au/wp-content/uploads/2020/07/05194617/default-avatar.png"{{/if}}
              style="aspect-ratio: 1 / 1;width: 40px;object-fit: cover;object-position: center; border-radius: 30px" alt="avatar">
            </a>
            <p class="inline ms-1 mt-1">{{tweet.User.name}}</p>
            <span class="ms-1 mt-2" style="font-size: 0.2rem;">@{{tweet.User.account}}</span>
            <span class="mt-2" style="font-size: 0.2em;">・{{relativeTimeFromNow tweet.createdAt}}</span>
          </div>

          <div class="col-10 mx-auto ps-1">
            <p class="text-break">{{tweet.description}}</p>
            <P style="font-size: 14px">回覆給<span style="color:#FF6600">@{{tweet.User.account}}</span></P>
          </div>

          <div class="d-flex flex-row">
            <a href="#">
              <img src={{#if user.avatar}}
              {{user.avatar}}
              {{else}}
              "https://s3.ap-southeast-2.amazonaws.com/cdn.greekherald.com.au/wp-content/uploads/2020/07/05194617/default-avatar.png"{{/if}}
              style="aspect-ratio: 1 / 1;width: 40px;object-fit: cover;object-position: center; border-radius: 30px" alt="avatar">
            </a>
            <textarea class="ms-1 mt-2" name="comment" cols="45" rows="6" placeholder="推你的回覆"style="border:none" id="contentInput2"></textarea>
          </div>
        </div>

        <div class="d-flex flex-row-reverse mb-3 me-2">
          <button id="submitBtn2" class="btn pt-1 pb-1 ps-3 pe-3" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit">
          回覆
          </button>
          <span id="contentMessage2" class="text-danger me-2 mt-2" style="font-size: 10px"></span>
        </div>
      </form>
    </div>
  </div>
</div>
{{>top-users-bar}}