{{> user-profile user=user}}
{{> user-tabs route='replies'}}

{{!-- replies --}}
<h3 class="mb-3">使用者的所有replies</h3>
{{#each user.Replies}}
  <blockquote class="blockquote mb-0">
    <span><a href="/users/{{this.UserId}}">{{ ../user.name }}</a></span>
    <span class="blockquote-footer"> @{{ ../user.account }}</span>
    <span>{{ relativeTimeFromNow this.createdAt }}</span>
    <p>回覆對象連結<a href="/users/{{this.Tweet.UserId}}"> {{ this.Tweet.User.name }}</a>  </p>
    <p>{{ this.comment }}</p>
  </blockquote>
  <hr />
{{/each}}