<div class="container d-flex flex-column align-items-center">

  <div class="card" style="width: 38rem;">

    <div class="d-flex align-items-center">
      <a href="/" class="btn">
        <i class="fas fa-arrow-left"></i>
      </a>
      <div class="d-flex flex-column ms-4">
        <h5 class="mb-0 mt-2 fontWeight900">{{user.name}}</h5>
        <p class="mt-0 mb-2" style="color:#657786;">{{totalTweet}} 推文</p>
      </div>
    </div>

    <img src="https://w.wallhaven.cc/full/72/wallhaven-72rxqo.jpg" style="position:absolute z-index:-1;" class=""
      alt="...">
    <img src="https://randomuser.me/api/portraits/men/88.jpg"
      style="width: 9rem; position:absolute; top: 20rem; left: 1rem;" class="rounded-circle" alt="...">
    <div class="d-flex flex-row-reverse m-2">
      <a href="/user/self/edit/{{user.id}}" class="btn btn-orange-white rounded-pill">編輯個人資料</a>
    </div>
    <div class="card-body">
      <h5 class="card-title fontWeight900">{{user.name}}</h5>
      <h6 style="color:#657786;">@{{user.account}}</h6>
      <p class="card-text">{{user.introduction}}</p>
    </div>

    <div class="d-flex mx-3">
      <a href="/user/self/following" class="btn ps-0">
        <span class="fontWeight500">34個</span><span style="color:#657786;">跟隨中</span>
      </a>
      <a href="/user/self/follower" class="btn">
        <span class="fontWeight500">59位</span><span style="color:#657786;">跟隨者</span>
      </a>
    </div>

    <ul class="nav nav-tabs mt-4">
      <li class="nav-item">
        <a class="nav-link fontWeight700 active" href="#">推文</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontWeight700" href="/users/self/reply/{{user.id}}">推文與回覆</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontWeight700" href="/users/self/like/{{user.id}}">喜歡的內容</a>
      </li>
    </ul>

    {{#each tweet}}
    <div class="card p-3">
      <div class="d-flex">
        <div>
          <img src="https://randomuser.me/api/portraits/men/88.jpg" style="width: 3rem" class="rounded-circle me-3"
            alt="...">
        </div>
        <div class="col-md-8">
          <div class="userInfo d-flex">
            <h6 class="fontWeight700 me-2">{{user.name}}</h6>
            <h6 class="fontWeight500" style="color:#657786;">@{{user.account}}</h6>
            <h6 class="fontWeight500" style="color:#657786;">‧{{moment this.createdAt}}</h6>
          </div>
          <p class="card-text fontWeight500">{{this.content}}</p>
          <i class="far fa-heart me-3"></i><span class="fontWeight500 me-5">{{this.likeCount}}</span>
          <i class="far fa-comment me-3"></i><span class="fontWeight500">{{this.replyCount}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>