<div class="row" style="width:100%;">
  {{!-- navbar --}}
  <div class="col-3">
    <img class="mb-4 pl-2" src="/images/logo.png">
    <div class="nav-ul-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item py-2">
          <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            <span class="ml-3">首頁</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link" href="/users/{{user.id}}/tweets">
            <i class="far fa-user"></i>
            <span class="ml-3">個人資料</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link active" href="/users/{{user.id}}/setting/edit">
            <i class="fas fa-cog"></i>
            <span class="ml-3">設定</span>
          </a>
        </li>
        <li class="nav-item nav-btn-modal py-2">
          <a class="btn btn-modal py-2" data-toggle="modal" data-target="#tweetModal">推文</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">登出</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- content --}}
  <div class="col-5 content-container">
    <form class="form-signin" action="/users/{{ user.id }}/setting?_method=PUT" method="POST" style="width: 100%;">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">帳戶設定</h1>
      </div>
      
      <div class="form-label-group mb-2">
        <label for="inputAccount">帳號<span style="color: red;">*</span></label>
        <input type="text" name="account" class="form-control" placeholder="請輸入帳號" value="{{ user.account }}" required autofocus>
      </div>
      
      <div class="form-label-group mb-2">
        <label for="inputName">名稱<span style="color: red;">*</span></label>
        <input type="text" name="name" class="form-control" placeholder="請輸入名稱" value="{{ user.name }}" required autofocus>
      </div>
      
      <div class="form-label-group mb-2">
        <label for="inputEmail">Email<span style="color: red;">*</span></label>
        <input type="text" name="email" class="form-control" placeholder="請輸入Email" value="{{ user.email }}" required autofocus>
      </div>
      
      <div class="form-label-group mb-2">
        <label for="inputPassword">密碼</label>
        <input type="password" name="password" class="form-control" placeholder="請輸入密碼">
      </div>
      
      <div class="form-label-group mb-2">
        <label for="inputPasswordCheck">確認密碼</label>
        <input type="password" name="passwordCheck" class="form-control" placeholder="請再次輸入密碼" >
      </div>
      <br />
      <div class="d-flex justify-content-end pr-1">
        <button class="btn" type="submit">修改</button>
      </div>
    </form>
  </div>

  {{!-- popular --}}
  <div class="col-4">
    <div class="card border-light popular">
      <div class="card-header">
        Popular
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex">
          <div class="mr-2">
            <img class="avatar small" src="/images/exampleAvatar1.png">
          </div>
          <div class="mr-5">
            <p class="mb-0">Pizza Hut</p>
            <p class="atAccount">@pizzahut</p>
          </div>
          <div class="pt-2">
            <a class="btn py-2" href="#">正在追蹤</a>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="mr-2">
            <img class="avatar small" src="/images/exampleAvatar2.png">
          </div>
          <div class="mr-5">
            <p class="mb-0">MacDonald</p>
            <p class="atAccount">@macdonald</p>
          </div>
          <div class="pt-2">
            <a class="btn btn-outline py-2" href="#">追蹤</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

{{!-- Edit-User-Modal --}}
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="edituserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/api/users/{{ user.id }}" method="POST" enctype="multipart/form-data">
        <div class="modal-header">
          <div class="d-flex">
            <button type="button" class="btn-dismiss close mr-3" data-dismiss="modal">X</button>
            <h5 class="modal-title" id="exampleModalLabel">編輯個人資料</h5>
          </div>
          <button type="submit" class="btn">儲存</button>
        </div>
        <div class="modal-body px-0">
          <div class="image-wrapper">
            {{!-- Edit Cover --}}
            <div class="cover-wrapper" id="cover-wrapper">
              {{#if user.cover}}
              <img class="cover" id="current-cover" src="{{ user.cover }}" alt="">
              {{ else }}
              <div class="cover none" id="current-cover"></div>
              {{/if}}
            </div>
            <div class="cover-input-wrapper d-flex" id="cover-input-wrapper">
              <div class="form-group mb-0 mt-2">
                <label for="cover-input"><i class="fas fa-camera"></i>
                  <input type="file" class="form-control-file hide" id="cover-input" name="cover">
                </label>
              </div>
              <button type="button" class="btn btn-delete py-0 hide" id="delete-cover-btn">X</button>
            </div>
            {{!-- Edit Avatar --}}
            <div class="avatar-wrapper" id="avatar-wrapper">
              {{#if user.avatar }}
              <img class="avatar large" id="current-avatar" src="{{ user.avatar }}">
              {{else}}
              <div class="avatar-none-large" id="current-avatar"></div>
              {{/if}}
            </div>
            <div class="form-group avatar-input-wrapper">
              <label for="avatar-input"><i class="fas fa-camera"></i>
                <input type="file" class="form-control-file hide" id="avatar-input" name="avatar">
              </label>
            </div>
          </div>
        </div>
        {{!-- Edit-Name & Introduction --}}
        <div class="form-group px-3">
          <label for="name">名稱</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{ user.name }}"
            required>
        </div>
        <div class="form-group px-3">
          <label for="introduction">自我介紹</label>
          <textarea class="form-control" id="introduction" name="introduction"
            rows="3">{{ user.introduction }}</textarea>
        </div>
    </div>
    </form>
  </div>
</div>
</div>

{{!-- tweetModal --}}
<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="reply-tweet" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex">
      <button type="button" class="btn-dismiss close d-flex justify-content-start ml-3 mt-2"
        data-dismiss="modal">x</button>
      <hr />
      <form action="/tweets" method="POST">
        <div class="type-area d-flex">
          <div class="avatar">
            <a href="/users/{{user.id}}/tweets">
              <img src="{{user.avatar}}" class="avatar small ml-1">
            </a>
          </div>
          <div class="type-text">
            <textarea type="text" class="post-content form-control mb-2 ml-2" id="description-modal" name="description"
              placeholder="有什麼新鮮事?" rows="5" cols="47"></textarea>
            <div class="invalid-feedback" id="add-tweet"></div>
          </div>
        </div>
        <div class="add-button d-flex justify-content-end mr-2">
          <button type="submit" class="btn mb-2" id="modal-post-button">推文</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- replyModal --}}
<div class="modal fade" id="exampleModal-reply" tabindex="-1" role="dialog" aria-labelledby="reply-tweet"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex">
      <button type="button" class="btn-dismiss close d-flex justify-content-start ml-3 mt-2"
        data-dismiss="modal">x</button>
      <hr />
      <div class="reply-tweet">
        <div class="reply-modal-tweet d-flex">
          <div class="mt-2" style="padding: 0%;">
            <div>
              <a href="/users/{{tweet.User.id}}/tweets">
                <img src="{{tweet.User.avatar}}" class="avatar small ml-1">
              </a>
            </div>
            <div class="headerDivider"></div>
          </div>
          <div class="mt-2" style="flex-grow: 1; position:relative">
            <div class="account-info d-flex" style="flex:auto">
              <a href="/users/{{tweet.User.id}}/tweets">
                <div class="modal-name ml-3">{{tweet.User.name}}</div>
              </a>
              <div class="atAccount modal-info ml-2">@{{tweet.User.account}}•{{moment
                this.createdAt}}</div>
            </div>
            <p class="modal-description d-flex ml-3" style="flex: auto">
              {{tweet.description}}
            </p>
            <div class="reply d-flex" style="margin-left">
              <div class="reply-text ml-3 mb-2">回覆給</div>
              <a href="/users/{{user.id}}/tweets">
                <div class="reply-account ml-2">@{{user.account}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <form action="/tweets/{{this.TweetId}}/replies" method="POST">
        <div class="type-area d-flex">
          <div>
            <a href="/users/{{user.id}}/tweets">
              <img src="{{user.avatar}}" class="avatar small ml-1">
            </a>
          </div>
          <div class="type-text form-group">
            <input type="hidden" name="TweetId" value="{{tweet.id}}">
            <textarea class="form-control new-post-content is-invalid ml-2" name="comment" id="comment-modal"
              placeholder="推你的回覆" rows="5" cols="47" maxlength="140"></textarea>
            <div class="invalid-feedback" id="reply-tweet"></div>
          </div>
        </div>
        <div class="add-button  d-flex justify-content-end mr-2">
          <button type="submit" class="btn mb-2" id="replybtn">回覆</button>
        </div>
      </form>
    </div>
  </div>
</div>