<div class="container-fluid " id="tweets">
    <div class="row flex-nowrap justify-content">
        <div class="col-3 col-lg-3 d-flex flex-column">
            <div class="flex-grow-1">
                <a class="d-flex pl-4 py-3" href="/">
                    <i class="fab fa-twitter-square" style="font-size: 2.5em; color: #FF6600;"></i>
                </a>
                <div class="d-flex flex-column align-items-start pl-3 px-3 pt-2 min-vh-100">
                    <ul class="nav flex-column nav-pills" id="menu" style="max-width:150px;">
                        <li class="nav-item py-1">
                            <a class="nav-link align-middle text-dark " href="/tweets">
                                <i class="fas fa-home" style="font-size: 1.2em;"></i>
                                <span class="h5 menu-text home d-none d-sm-inline">首頁</span>
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link align-middle text-dark h-tomato" href="/messages/public">
                                <i class="far fa-envelope" style="font-size: 1.2em;"></i>
                                <span class="h5 menu-text public d-none d-sm-inline">公開聊天室</span>
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link align-middle text-dark h-tomato" href="/users/{{user.id}}/tweets">
                                <i class="far fa-user" style="font-size: 1.2em;"></i>
                                <span class="h5 menu-text user d-none d-sm-inline">個人資料</span>
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link align-middle text-dark h-tomato" href="/setting">
                                <i class="fas fa-cog a-tomato" style="font-size: 1.2em;"></i>
                                <span class="h5 menu-text setting d-none d-sm-inline" style="color: #FF6600;">設定</span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <button type="button" class="btn btn-tomato rounded-pill mt-3"
                                style="width: 100%; border-radius: 30px 30px 30px 30px;" data-toggle="modal" data-target="#tweetModal"
                                data-bs-toggle="modal">
                                <span class='tweet-btn d-none d-sm-inline'>推文</span>
                                <i class='fas fa-feather-alt d-block d-sm-none'></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <a href="/signout" class="d-flex ml-4 px-2 py-1 h-tomato" style="text-decoration:none;">
                    <i class="fas fa-sign-out-alt" style="color: #1C1C1C; font-size: 1.2em;"></i>
                    <span class="h5 logout-text d-none d-sm-inline">登出</span>
                </a>
            </div>
        </div>
        <div class="col-9 col-md-7 col-lg-6 py-2">
            <div class="img mt-5 mb-2">
                <strong>帳戶設定</strong>
            </div>

            <form action="/setting?_method=PUT" method="POST">

                <div class="form-group" style="height:54px;">
                    <label for='account' style='margin-bottom: -30px; margin-left: 8px;'>帳號</label>
                    <input type='text' class='form-control pt-4' id='account' name='account'
                        style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
                        aria-describedby='accountHelp' value='{{account}}' />
                    <div id="accountHelp" class="form-text ps-2"></div>
                </div>

                <div class="form-group mt-3" style="height:54px;">
                    <label for='name' style='margin-bottom: -30px; margin-left: 8px;'>名稱</label>
                    <input type='text' class='form-control pt-4' id='name' name='name'
                        style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
                        aria-describedby='nameHelp' value='{{name}}' />
                </div>

                <div class="form-group mt-2" style="height:54px;">
                    <label for='email' style='margin-bottom: -30px; margin-left: 8px;'>Email</label>
                    <input type='email' class='form-control pt-4' id='email' name='email'
                        style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
                        aria-describedby='emailHelp' value='{{email}}' />
                </div>

                <div class="form-group mt-2" style="height:54px;">
                    <label for='password' style='margin-bottom: -30px; margin-left: 8px;'>密碼</label>
                    <input type='password' class='form-control pt-4' id='password' name='password'
                        style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
                        aria-describedby='passwordHelp' value='{{password}}' />
                </div>

                <div class="form-group mt-4" style="height:54px;">
                    <label for='checkPassword' style='margin-bottom: -30px; margin-left: 8px;'>密碼確認</label>
                    <input type='password' class='form-control pt-4' id='checkPassword' name='checkPassword'
                        style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
                        aria-describedby='checkPasswordHelp' value='{{checkPassword}}' />
                </div>

                <div class="d-flex justify-content-end">
                    <button class="test btn btn-tomato btn-block mt-4 " style="border-radius:30px; width:100px"
                        type="submit">儲存</button>
                </div>
            </form>
        </div>
    </div>

    
</div>