<link rel="stylesheet" href="/stylesheets/showPage.css">


{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12 justify-content-center" style="margin:0">
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div>
        <ul class="list-group">

          <a href="/index">
            <li class="list-group-item ">
              <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </li>
          </a>


          <a href="/users/{{user.id}}/edit">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item  active ">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>
        {{!-- //TODO:待加入modal --}}
        <a href="/index/create" type="button" class="tweet-button">推文</a>

        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>

    {{!-- <div class="headerDivider"></div> --}}

    <div class="right-side col-md-8" style="padding:0; height:100%">
      <div class="text-title">帳戶資訊</div>
      <hr style="width:60vw;margin:0">
      <form action="/users/{{user.id}}/setting?_method=PUT" method="POST" data-toggle="validator">
        <div class="mt-4">
          <input type="text" name="account" class="form-control ml-2" id="account" placeholder="帳號" aria-label="account"
            data-minleng="5" value="{{user.account}}">
          <div class="invalid-feedback ml-2">
            帳號至少需5個字
          </div>
        </div>
        <div class="mt-4">
          <input type="text" name="name" id="name" class="form-control ml-2" placeholder="名稱" aria-label="name"
            data-maxleng="50" value="{{user.name}}">
          <div class="invalid-feedback ml-2">
            名稱不得超過50個字
          </div>
        </div>
        <div class="mt-4">
          <input type="email" name="email" id="email" class="form-control ml-2" placeholder="Email" aria-label="email"
            value="{{user.email}}">
          <div class="invalid-feedback ml-2">
            email為必填欄位
          </div>
        </div>
        <div class="mt-4">
          <input type="password" name="password" id="password" class="form-control ml-2" placeholder="密碼"
            aria-label="password">
          <div class="invalid-feedback ml-2">
          </div>
        </div>
        <div class="mt-4">
          <input type="password" name="checkPassword" id="checkPassword" class="form-control  ml-2" placeholder="密碼確認"
            aria-label="checkPassword">
          <div class="invalid-feedback ml-2">
            密碼與確認密碼不相符
          </div>
        </div>
        <div class="save-area mt-4">
          <button type="submit" class="btn save-button">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  const account = document.querySelector("#account")
  const name = document.querySelector("#name")
  const email = document.querySelector("#email")
  const password = document.querySelector("#password")
  const checkPassword = document.querySelector("#checkPassword")
  const saveButton = document.querySelector(".save-button")
  saveButton.addEventListener("click", function check(event) {
    if (account.value.length < 5) {
      account.classList.add("is-invalid")
      event.preventDefault()
    }
    if (name.value.length > 50) {
      name.classList.add("is-invalid")
      event.preventDefault()
    }
    if (email.value.length < 1) {
      email.classList.add("is-invalid")
      event.preventDefault()
    }
    if (password.value !== checkPassword.value) {
      password.classList.remove("is-invalid")
      checkPassword.classList.add("is-invalid")
      event.preventDefault()
    }
  })
</script>