<h4 class="pt-4 ps-4 pe-4 pb-1">帳戶設定</h4>
<hr>
{{!-- 表單 --}}
<form class="form-setting" action="/users/{{ userId }}/setting?_method=PUT" method="POST"
  style="position: relative; top: 24px; width: 100%; margin: 0 auto; padding: 0 16px;">
  {{!-- 帳號 --}}
  <div class="form-row">
    <label class="form-label text-14px-reg color-dark-80" for="account">帳號</label>
    <input class="form-input text-16px-reg" id="account" type="text" name="account" placeholder="請輸入帳號"
      value="{{ account }}" required autofocus>
  </div>
  <div class="form-gap d-flex">
    <label class="flex-fill text-12px-med text-start color-error" id="helper"></label>
    <label class="flex-fill text-12px-med text-end color-dark-80" id="count"></label>
  </div>
  {{!-- 名稱 --}}
  <div class="form-row">
    <label class="form-label text-14px-reg color-dark-80" for="name">名稱</label>
    <input class="form-input text-16px-reg" id="name" type="text" name="name" placeholder="請輸入使用者名稱" value="{{ name }}"
      required>
  </div>
  <div class="form-gap d-flex">
    <label class="flex-fill text-12px-med text-start color-error" id="helper"></label>
    <label class="flex-fill text-12px-med text-end color-dark-80" id="count"></label>
  </div>
  {{!-- Email --}}
  <div class="form-row">
    <label class="form-label text-14px-reg color-dark-80" for="email">Email</label>
    <input class="form-input text-16px-reg" id="email" type="email" name="email" placeholder="請輸入Email"
      value="{{ email }}" required>
  </div>
  <div class="form-gap d-flex">
    <label class="flex-fill text-12px-med text-start color-error" id="helper"></label>
    <label class="flex-fill text-12px-med text-end color-dark-80" id="count"></label>
  </div>
  {{!-- 密碼 --}}
  <div class="form-row">
    <label class="form-label text-14px-reg color-dark-80" for="password">密碼</label>
    <input class="form-input text-16px-reg" id="password" type="password" name="password" placeholder="請輸入密碼"
      value="{{ password }}" required>
  </div>
  <div class="form-gap d-flex">
    <label class="flex-fill text-12px-med text-start color-error" id="helper"></label>
    <label class="flex-fill text-12px-med text-end color-dark-80" id="count"></label>
  </div>
  {{!-- 密碼確認 --}}
  <div class="form-row">
    <label class="form-label text-14px-reg color-dark-80" for="checkPassword">密碼確認</label>
    <input class="form-input text-16px-reg" id="checkPassword" type="password" name="checkPassword"
      placeholder="請再次輸入密碼" value="{{ checkPassword }}" required>
  </div>
  <div class="form-gap d-flex">
    <label class="flex-fill text-12px-med text-start color-error" id="helper"></label>
    <label class="flex-fill text-12px-med text-end color-dark-80" id="count"></label>
  </div>
  {{!-- 儲存 --}}
  <button class="pill-default pill-main" type="submit" style="margin-top: 8px; margin-left: auto;">儲存</button>
</form>