<div class="container-lg">
  <div class="row my-2">
    {{!-- nav bar --}}
    <div class="col-lg-3 left-sidebar d-flex justify-content-end">
      {{>left-sidebar route='setting'}}
    </div>
    {{!-- main content --}}
    <div class="col-lg-6 d-flex flex-column justify-content-center">
      {{!-- message bar --}}
      <div>
        {{> messages}}
      </div>
      {{!-- form --}}
      <div class="setting-form">
        {{!-- header --}}
        <div class="py-3 outline">
          <div class="px-2">
            <p class="fs-4 mb-0 fw-bold">帳戶設定</p>
          </div>
        </div>
        {{!-- body --}}
        <div class="p-3 outline">
          <form action="/users/{{user.id}}/setting?_method=PUT" method="POST">
            <div class="mb-4 mt-2 d-flex flex-column">
              <label class="input-form-label" for="account">帳號</label>
              <input class="input-form" id="account" type="text" name="account" value="{{user.account}}" required>
            </div>
            <div class="mb-4 d-flex flex-column">
              <label class="input-form-label" for="name">名稱</label>
              <input class="input-form" id="name" type="text" name="name" value="{{user.name}}" required>
            </div>
            <div class="mb-4 d-flex flex-column">
              <label class="input-form-label" for="email">Email</label>
              <input class="input-form" id="email" type="text" name="email" value="{{user.email}}" required>
            </div>
            <div class="mb-4 d-flex flex-column">
              <label class="input-form-label" for="password">密碼</label>
              <input class="input-form" id="password" type="password" name="password" placeholder="請設定密碼"
                value="{{ password }}" required>
            </div>
            <div class="mb-4 d-flex flex-column">
              <label class="input-form-label" for="checkPassword">密碼確認</label>
              <input class="input-form" id="checkPassword" type="password" name="checkPassword" placeholder="再次輸入密碼"
                value="{{ checkPassword }}" required>
            </div>
            <div class="d-flex justify-content-end mt-5">
              <button class="form-btn fs-5" type="submit">儲存</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>