<div style="display: flex; justify-content: center;">
  <div style="
    box-sizing: border-box;
    position: relative;
    width: 1400px;
    height: 1200px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D5D5DC;">
    {{> messages}}
    <form action="/signup" method="POST" style="display: flex; flex-direction: column; align-items: center">
      <div style="position: absolute; width: 50px; height: 50px; top: 64px;">
        <img src="/images/logo.png" alt="login" style="height: 50px; width: 50px;">
      </div>
      <div style="position: absolute; width: 168px; height: 26px;
          top: 138px;">
        <h1 class="h3 font-weight-normal mb-3">建立你的帳號</h1>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 204px; border-radius: 2px; justify-content: center;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signup-account">帳號</label>
          <input class="input-form-admin" id="signup-account" type="text" name="account" placeholder="請輸入帳號"
            value="{{account}}">
          <span class="signup-account-message">
            {{accountMessages}}
          </span>
          </span>
        </div>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 290px; border-radius: 2px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signup-name">名稱</label>
          <input class="input-form-admin" id="signup-name" type="text" name="name" placeholder="請輸入名稱" value="{{name}}">
          <span class="signup-name-message">
            {{nameMessages}}
          </span>
        </div>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 376px; border-radius: 2px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signup-email">Email</label>
          <input class="input-form-admin" id="signup-email" type="text" name="email" placeholder="請輸入Email"
            value="{{email}}">
          <span class="signup-email-message">
            {{emailMessages}}
          </span>
        </div>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 462px; border-radius: 2px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signup-password">密碼</label>
          <input class="input-form-admin" id="signup-password" type="password" name="password" placeholder="請輸入密碼"
            value="{{password}}">
          <span class="signup-password-message">
            {{passwordMessages}}
          </span>
        </div>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 550px; border-radius: 2px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signup-checkPassword">密碼確認</label>
          <input class="input-form-admin" id="signup-checkPassword" type="password" name="checkPassword"
            placeholder="請再次輸入密碼" value="{{checkPassword}}">
          <span class="signup-checkPasswor-message">
            {{checkPasswordMessages}}
          </span>
        </div>
      </div>
      <button id="signup-botton" class="btn btn-primary btn-block" type="submit"
        style="display: inline-block; width: 356px; height: 46px; position: absolute; top: 642px; background: #FF6600; border-radius: 50px;">註冊
      </button>
      <div style="position: absolute; top: 710px;">
        <a class="signin-href" href="/signin">取消</a>
      </div>
    </form>
  </div>
</div>