<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto sign-up-section">
      <div class="logo-container text-center">
        <img src="/stylesheets/icons/icon.png" alt="logo" class="logo">
      </div>
      <h3 class="text-center">建立你的帳號</h3>
      {{> messages}}
      <form action="/signup" method="POST" id="form" class="needs-validation" novalidate>

        {{!-- Account --}}
        <div class="bg-form-gray">
          <label for="account" class="form-label">帳號</label>
          <input type="text" id="account" name="account" placeholder="請輸入帳號" class="form-input" value="{{ account }}"
            required>
          {{!-- 驗證錯誤的提示訊息 --}}
          <div class="invalid-feedback">請輸入10個字以內</div>
          <div class="input-minmax"></div>
        </div>

        {{!-- Name --}}
        <div class="bg-form-gray">
          <label for="name" class="form-label">名稱</label>
          <input type="text" id="name" name="name" placeholder="請輸入使用者名稱" class="form-input" value="{{ name }}"
            required>
          <div class="invalid-feedback">請輸入50個字以內</div>
          <div class="input-minmax"></div>
        </div>

        {{!-- Email --}}
        <div class="bg-form-gray">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" placeholder="請輸入Email" class="form-input" value="{{ email }}"
            required>
          <div class="invalid-feedback">請輸入Email</div>
          <div class="input-minmax"></div>
        </div>

        {{!-- Password --}}
        <div class="bg-form-gray">
          <label for="password" class="form-label">密碼</label>
          <input type="password" id="password" name="password" placeholder="請設定密碼" class="form-input"
            value="{{ password }}" required>
          <div class="invalid-feedback">請設定密碼</div>
          <div class="input-minmax"></div>
        </div>

        {{!-- Confirm Password --}}
        <div class="bg-form-gray">
          <label for="confirmPassword" class="form-label">密碼確認</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="請再次輸入密碼" class="form-input"
            value="{{ confirmPassword }}" required>
          <div class="invalid-feedback">密碼不一致</div>
          <div class="input-minmax"></div>
        </div>


        {{!-- button --}}
        <div class="">
          <button type="submit" class="btn btn-info btn-submit" id="submit">註冊</button>
        </div>
      </form>

      <p class="text-center btn-cancel">
        <a href="/signin">取消</a>
      </p>
    </div>
  </div>
</div>

<script src="/javascripts/register.js"></script>