<div class='container mt-5 vh-100' style='width: 356px '>
  <form action='/signup' method='POST'>
    <div>
      <div class='text-center py-4'>
        <img src='#' alt='logo' />
      </div>

      <div class='admin-text text-center mb-4'>
        <h2 class='mb-3'>建立你的帳號</h2>
      </div>
      {{#if errors}}
        {{#each errors}}
          <div
            class='alert alert-warning alert-dismissible fade show'
            role='alert'
          >
            <strong>錯誤!</strong>
            {{this.message}}
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='alert'
              aria-label='Close'
            ></button>
          </div>
        {{/each}}
      {{/if}}
      <div
        class='form-label mb-4 mt-5'
        style='background-color: #F5F8FA; border-bottom: 2px solid black; border-radius: 2px'
      >
        <label for='account'>*帳號</label>
        <input
          id='account'
          name='account'
          type='text'
          class='form-control'
          placeholder='請輸入帳號'
          value='{{account}}'
          style='border: none;background-color: #F5F8FA'
          required
        />
      </div>

      <div
        class='form-label mb-4'
        style='background-color: #F5F8FA; border-bottom: 2px solid black; border-radius: 2px'
      >
        <label for='name'>名稱</label>
        <input
          id='name'
          name='name'
          type='text'
          class='form-control'
          placeholder='請輸入使用者名稱'
          value='{{name}}'
          maxlength='50'
          style='border: none;background-color: #F5F8FA'
        />
      </div>

      <div
        class='form-label mb-4'
        style='background-color: #F5F8FA; border-bottom: 2px solid black; border-radius: 2px'
      >
        <label for='email'>*Email</label>
        <input
          id='email'
          name='email'
          type='email'
          class='form-control'
          placeholder='請輸入Email'
          value='{{email}}'
          style='border: none;background-color: #F5F8FA'
          required
        />
      </div>

      <div
        class='form-label mb-4'
        style='background-color: #F5F8FA; border-bottom: 2px solid black; border-radius: 2px'
      >
        <label for='password'>*密碼</label>
        <input
          id='password'
          name='password'
          type='password'
          class='form-control'
          placeholder='請設定密碼'
          value='{{password}}'
          style='border: none;background-color: #F5F8FA'
          required
        />
      </div>

      <div
        class='form-label mb-4'
        style='background-color: #F5F8FA; border-bottom: 2px solid black; border-radius: 2px'
      >
        <label for='checkPassword'>*密碼確認</label>
        <input
          id='checkPassword'
          name='checkPassword'
          type='password'
          class='form-control'
          placeholder='請再次輸入密碼'
          value='{{checkPassword}}'
          style='border: none;background-color: #F5F8FA'
          required
        />
      </div>

      <button
        class='btn btn-lg btn-primary btn-block mb-3 w-100'
        style='background-color: #ff6600; border: none; border-radius: 50px;'
        type='submit'
      >
        註冊
      </button>
      <div class='text-center mb-3 w-100'>
        <p class='text-center'>
          <a href='/signin'>取消</a>
        </p>
      </div>
    </div>
  </form>
</div>