<div class="d-flex mt-5">
  {{!-- 左側欄位 --}}
  <div class="row" style="height: 500px;width: 250px;">
    {{!-- 上 --}}
    <div class="col-12">
      <p>Twitter</p>
    </div>
    {{!-- 中 --}}
    <div class="col-12 pt-0">
      <a href="/" style=" text-decoration:none;color:rgb(179, 123, 50)">
        <p>首頁</p>
      </a>
      <a href="/users/{{user.id}}" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>個人資料</p>
      </a>
      <a href="/users/{{user.id}}/edit" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>設定</p>
      </a>
      <a href="/users/{{user.id}}/tweets" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>推文</p>
      </a>
    </div>
    {{!-- 下 --}}
    <div class="col-12">
      <p>登出</p>
    </div>
  </div>

  <div style="width: 780px;" class="me-5">
    {{!-- 標題 --}}
    <div class="p-2 mb-0" style="width: 100%; outline: 1px solid gray;height:55px">
      <h3><strong>推文</strong></h3>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div style="width: 100%; outline: 1px solid gray;" class="p-3">
        <div class="d-flex align-items-center">
          {{!-- 大頭貼 --}}
          <div>
            <a href="/users/{{tweet.User.id}}/tweets">
              <img src="{{ tweet.User.avatar }}" style="border-radius: 100%;width: 60px">
            </a>
          </div>
          {{!-- 右側文字 --}}
          <div class="ms-3" style="height: 80px;">
            {{!-- 發文者 --}}
            <a href="/users/{{tweet.User.id}}/tweets" style="text-decoration: none;">
              <div class="mb-0">
                <p class="fs-5 me-2 mb-0" style="line-height: 40px;color: black;">{{ tweet.User.name }}</p>
                <p class="mb-0" style="color: darkseagreen;" style="line-height: 40px;">{{ tweet.User.account
                  }}</p>
              </div>
            </a>
          </div>
        </div>
        {{!-- 推文內容 --}}
        <p class="mt-0" style="font-size: large;height: 80px;">
          {{ tweet.description }}
        </p>
        <small>{{momentCH tweet.createdAt}}</small>
        {{!-- Reply and Like --}}
        <div>
          <span>{{replyCount}} 回復</span>
          <span>{{likeCount}} 喜歡次數</span>
        </div>
      </div>
    </div>

    <div class="border border-3 p-1" style="background-color: #E6ECF0;"></div>

    <div class="d-flex flex-column align-items-center">

      <div style="width: 100%;">
        {{#each reply }}
        <div class="d-flex">
          {{!-- 大頭貼 --}}
          <div class="mt-2" style="line-height:40px;">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{ this.User.avatar }}" style="border-radius: 100%;width: 60px"></a>
          </div>
          {{!-- 右側文字 --}}
          <div class="ms-3" style="height: 150px;">
            {{!-- 發文者 --}}
            <div style="line-height: 40px;">
              <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
                <div class="d-flex align-items-center mb-0">
                  <p class="fs-5 me-2 mb-0" style="color: black;">{{ this.User.name }}</p>
                  <p class="mb-0" style="color: darkseagreen;">{{ this.User.account }}・{{momentCH this.createdAt}}</p>
                </div>
              </a>
              {{!-- 回復區 --}}
              <span style="color:darkgrey;">回復 </span><span style="color: #FF6600;">{{../tweet.User.account}}</span>
            </div>
            {{!-- 推文內容 --}}
            <p class="mt-0" style="font-size: small;">
              {{ this.comment }}
            </p>
          </div>
        </div>

        <hr>
        {{/each}}
      </div>
      <div>

      </div>
    </div>
  </div>
  <div>{{> recommendedFollower }}</div>
</div>