<div class="right-content text-monospace" style="max-width: 30%;">
  <div class="card follow-content">
    <div class="card-header follow-title font-weight-bold text-grey" style="background-color: rgb(250, 250, 248);">
      跟隨誰
    </div>
    <div class="top-follow-list" style="background-color: rgb(255, 255, 255);">
      {{#each topUsers}}
      <div class="list-item my-2 follow-body d-flex flex-row align-items-center justify-content-between">

        <div class="user-info d-flex flex-row align-items-center">
          <a href="/users/{{this.id}}/tweets" class="follow-avatar ml-2">
            <img src="{{this.avatar}}" class=" rounded-circle" style="width: 55px;height:55px;">
          </a>

          <div class="list-item-name ml-2 d-flex flex-column">
            <a class=" text-decoration-none" href="/users/{{this.id}}/tweets" style="color: black;">{{this.name}}
            </a>
            <div class="list-item-account" style="font-size: smaller;color:rgb(163, 186, 230);">@{{this.account}}
            </div>
          </div>
        </div>
        {{#if this.isFollowed}}
        <form action="/users/{{this.id}}/follow?_method=DELETE" method="POST">
          <button class="btn btn-outline-warning btn-sm mr-2 text-white font-weight-bold active"
            style="border-radius: 50px;" aria-pressed="true" name="id" value="{{this.id}}">正在追蹤</button>
        </form>
        {{else}}
        {{#isEqual this.id ../loginUserId}}
        {{else}}
        <form action="/users/{{this.id}}/follow" method="POST">
          <button class="btn btn-outline-warning btn-sm mr-2 font-weight-bold" style="border-radius: 50px;" name="id"
            value="{{this.id}}">追蹤</button>
        </form>
        {{/isEqual}}
        {{/if}}
      </div>
      <hr>
      {{/each}}
    </div>
    <div class="card-footer text-muted follow-footer" style="background-color: rgb(250, 250, 248);">
    </div>
  </div>
</div>