<div class="d-flex mt-2" style="margin-left: 20vw;">

  <div style="width: 54vw;">
    {{!-- 標題 --}}
    <div class="d-flex mb-4" style="height: auto;">

      <div class="d-flex flex-column align-items-center"
        style="margin-right: 2vw;background-color:white;border-radius:1em;box-shadow:0 0 8px 3px #ccccccb3;">
        <img style="width: 16.7vw;height: 16.5vw;border-radius:1em;object-fit: cover;" src="{{ thisUser.avatar }}"
          alt="shareYourPet">
        <p class="h4 pt-4" style="color: #313c4b;">{{ thisUser.name }}</p>
        <p class="" style="color: #313c4b;">{{ thisUser.account }}</p>
      </div>

      <div class="d-flex flex-column align-items-center"
        style="margin-right: 2vw;background-color:white;border-radius:1em;box-shadow:0 0 8px 3px #ccccccb3;">
        <img style="width: 35vw;height: 16.5vw;border-radius:1em;object-fit: cover;" src="{{ thisUser.cover }}"
          alt="shareYourself">
        <p class="px-5 py-4" style="color: #313c4b;">{{ thisUser.introduction }}</p>
      </div>

    </div>
  </div>
</div>

<div style="width: 780px;" class="me-5">
  {{!-- 標題 --}}
  <div class="d-flex flex-column">
    <img src="{{ user.cover }}" alt="" srcset="" style="height: 300px;object-fit: cover;">
    <div class="d-flex flex-column ms-4">
      <img src="{{ user.avatar }}" alt="" srcset=""
        style="height: 200px;width:200px;object-fit: cover;margin-top:-100px;border-radius:50%;border: solid 10px white">
      <p class="fs-3 fw-bold mb-0">{{ user.name }}</p>
      <p style="color: darkseagreen;">{{ user.account }}</p>
      <p>{{ user.introduction }}</p>

      <div class="d-flex">
        <p class="me-3">{{ followingCount }} 個追蹤中</p>
        <p>{{ followerCount }} 位跟隨者</p>
      </div>

      {{!-- select bar --}}
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="/users/{{ user.id }}/tweets"
            style="color: rgb(94, 94, 94);border-bottom: solid 3px darkseagreen">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{ user.id }}/replies" style="color: darkseagreen;">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{ user.id }}/likes" style="color: darkseagreen;">喜歡的內容</a>
        </li>
      </ul>

      {{#each tweets }}
      {{!-- 推文 --}}
      <a href="/tweets/{{ this.id }}" class="d-flex align-items-center mb-2" style="color: black;text-decoration:none;">
        {{!-- 大頭貼 --}}
        <div>
          <img src="{{ ...user.avatar }}" style="border-radius: 100%;width: 60px">
        </div>
        {{!-- 右側文字 --}}
        <div class="ms-3" style="height: 80px;">
          {{!-- 發文者 --}}
          <div class="d-flex align-items-center mb-0">
            <p class="fs-5 me-2 mb-0">{{ ...user.name }}</p>
            <p class="mb-0" style="color: darkseagreen;">{{ ...user.account }}・{{ momentCH this.createdAt }}</p>
          </div>
          {{!-- 推文內容 --}}
          <p class="mt-0" style="font-size: small;">
            {{ this.description }}
          </p>
        </div>
      </a>
      <hr>
      {{/each}}

    </div>
  </div>
</div>