{{> message}}
<div class="container-fluid">
  {{> modal}}
  <!-- 左邊導覽選單區塊 -->
  <div class="left-content">
    <div class="left-column">
      <img class="logo" src="/images/icon.svg" alt="">
      <div class="nav">
        <div class="nav-item">
          <a href="/tweets">
            <img class="home-icon" src="/images/icon-home.svg" alt="">首頁
          </a>
        </div>
        <div class="nav-item">
          <a href="/users/:id/tweets">
            <img class="pr-1" src="/images/icon-user.svg" alt="">
            個人資料
          </a>
        </div>
        <div class="nav-item">
          <a href="/api/users/:id">
            <img src="/images/icon-setting.svg" alt="">
            設定
          </a>
        </div>
      </div>
      <button type="button" class="tweet-button" data-toggle="modal" data-target="#tweetModal">
        推文
      </button>
    </div>
    <div class="logout">
      <a href="/logout">
        <img class="logout-icon" src="/images/icon-logout.svg" alt="">登出
      </a>
    </div>
  </div>

  <!-- 中間主要區塊 -->
  <div class="main-content">
    <div class="main-title">
      首頁
    </div>
    <div class="main-text">
      <img src="{{user.avatar}}" alt="" class="avtar">
      <form method="POST" action="/tweets">
        <textarea name="description" id="description" cols="30" rows="10" placeholder="有什麼新鮮事？"></textarea>
        <button class="tweet-post-button" type="submit" disabled style="background: rgba(255,102,0,.6);">推文</button>
      </form>
    </div>
    <div class="main-tweet-list">
      <!-- 推文清單列表迴圈 -->
      {{#each tweets}}
      <div class="tweet-item" onclick="location.href='/'">
        <div class="tweet-item-left">
          <img src="{{this.User.avatar}}" alt="" class="avtar">
        </div>
        <div class="tweet-item-right">
          <div class="tweet-item-title">
            <span class="mt-1 user-name">{{this.User.name}}</span>
            <span class="user-account">
              {{this.User.account}}．{{moment this.createdAt}}
            </span>
          </div>
          <div class="tweet-item-text">
            <p>{{this.description}}
            </p>
          </div>
          <div class="tweet-item-footer">
            <button class="button reply-link" data-target="#tweetModal">
              <img class="icon-s" src="/images/icon-reply.svg" alt="">
              {{this.Replies.length}}
            </button>
            <form method="POST">
              <button href="/like" class="like-link button">
                <img class="icon-s" src="/images/icon-like-solid.svg" alt="">
                {{!-- <img class="icon-s" src="/images/icon-like.svg" alt=""> --}}
                {{this.likedUsers.length}}
              </button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
      <!-- 迴圈結束 -->
    </div>
  </div>

  {{> right-content}}

</div>