<div class="row border-right">
  <div class="col mt-2">
    <div class="row row-cols-1">
      <div class="col">
        <a href="/tweets">首頁</a>
      </div>
      <form action="/tweets" method="POST">
        <div class="col mt-2 border-top">
          <div class="input-group mb-3">
            <a href="/users/{{user.id}}/tweets">
              <img class="mt-2" style="width: 50px;height: 50px;left: 393px;top: 63px;border-radius: 50%;margin-right: 8px;" src="{{user.avatar}}" />
            </a>
            <input style="display: inline;border-radius: 100px;" type="text" class="form-control mt-3 border-0" placeholder="有甚麼新鮮事" name="description" id="description" value="{{tweets.description}}">
          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
          <button style="border-radius: 100px" type="submit" class="btn btn-primary">推文</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-3 ">
      <div class="col">
        {{#each tweets}}
          <div class="border-top">
            <h6 class="card-title">
              <a href="/users/{{this.UserId}}/tweets">
                <img class="mt-2" style="width: 50px;height: 50px;left: 393px;top: 63px;border-radius: 50%;margin-right: 8px;" src="{{this.User.avatar}}" />
                {{this.User.name}}
              </a> 
              <small class="text-muted">{{this.User.account}} ◆ {{moment this.createdAt}}</small>
            </h6>
          </div>
          <div class="text-break" style="display: inline;">
            <a href="/tweets/{{this.id}}">
              <p class="card-text">{{this.description}}</p>
            </a>
            <p class="card-text">
              <div class="row justify-content-around">
                <div class="col">
                  <small class="text-muted">
                    <i class="far fa-comment"> {{this.Replies.length}}</i>
                  </small>
                </div>
                <div class="col">
                  <small class="text-muted">
                    <i class="far fa-heart" style="color: red;"> {{this.LikedUsers.length}}</i>
                  </small>
                </div>
              </div>
            </p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>