<div class="body-container text-center">
  {{> side-menu route='tweets'}}
  {{!-- 中央部分 --}}
  <div class="center-part border" id="center-part">
    <div class="text-index border-bottom" id="text-index">
      <div class="user-tweets-header text-start ms-3 mt-4 mb-3 ">
        <h4 class="fw-bold ">首頁</h4>
      </div>
    </div>
    <div class="scroll-part scrollbar">
      <div class="tweet-input ms-3">
        <form class="needs-validation" action="/tweets" method="POST" id="tweet-form" novalidate>
          <div class="d-flex flex-wrap mt-3">
            <div class="me-1">
              <img src="{{currentUser.avatar}}" alt="" class="avatar-sm rounded-pill">
            </div>
            <textarea class="description-input w-auto border border-0 ms-1 mb-1 needs-validation" name="description"
              id="description" cols="65" rows="3" placeholder="有什麼新鮮事？" maxlength='140' required></textarea>
            <div class="d-flex justify-content-end align-times-center w-100 mb-3">
              <div class="text-black-50 ms-auto me-3 fs-6 align-self-center" id="description-length"></div>
              <button type="submit" class="send-button btn btn-brand rounded-pill px-3 me-3">推文</button>
            </div>
          </div>
        </form>
      </div>
      <div class="diver"></div>
      {{!-- 推文卡片 --}}
      <div class="tweet-container">
        {{#each tweets}}
        <div class="tweet-cards border-bottom border-1 mb-2">
          <div class="d-flex flex-nowrap ms-3 mt-3">
            <div class="avatar-container me-1">
              <a href="/users/{{this.User.id}}/tweets">
                <img src="{{this.User.avatar}}" alt="" class="avatar-sm rounded-pill"
                  id="tweet-avatar-{{this.User.id}}">
              </a>
            </div>
            <div class="user-description-container d-flex flex-column text-start ms-1 me-3 w-100">
              <div class="user-name-account mb-2">
                <a href="/users/{{this.User.id}}/tweets" class="name-link">
                  <h6 class="user-name fw-bold fs-5 " id="tweet-name-{{this.User.id}}">{{this.User.name}}</h6>
                </a>
                <a href="/users/{{this.User.id}}/tweets" class="account-link">
                  <span class="user-account fw-normal fs-6"
                    id="tweet-account-{{this.User.id}}">@{{this.User.account}}</span>
                </a>
                <span class="fw-normal fs-6" id="tweet-time-{{this.id}}">・{{relativeTimeFromNow this.createdAt}}</span>
              </div>
              <a href="/tweets/{{this.id}}/replies" class="description-link">
                <div class="description me-4" id="description-{{this.id}}">
                  <p class="description-content">{{this.description}}</p>
                </div>
              </a>
              <div class="description-like-btn-container mb-3">
                <button class="reply-btn me-5 d-flex align-items-center" data-bs-toggle="modal"
                  data-bs-target="#reply-modal-{{this.id}}" data-tweetid="{{this.id}}" data-userid="{{this.User.id}}">
                  <i class="reply"></i>
                  <span class="reply-count ms-2" id="reply-count-{{this.id}}">{{this.Replies.length}}</span>
                </button>
                {{#if this.isLiked}}
                <button type="button" class="d-flex align-items-center like-submit-btn liked"
                  data-tweetid="{{this.id}}">
                  <i class="like"></i>
                  <span class="like-count ms-2">{{ this.Likes.length}}</span>
                </button>
                {{else}}
                <button type="button" class="d-flex align-items-center like-submit-btn" data-tweetid="{{this.id}}">
                  <i class="like outline-like"></i>
                  <span class="like-count ms-2">{{ this.Likes.length}}</span>
                </button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{> reply-modal tweet=this user=../currentUser}}
        {{/each}}
      </div>
      {{!-- 推文卡片結束 --}}
    </div>
  </div>
  {{!-- 中央部分結束 --}}
  {{> recommend-follow }}
</div>