<div class="row">
  {{> homeNavBar}}
  <div class="tweets col d-flex flex-column mx-4" id="tweet">
    <div class="p-2">
      <a href="#"><i class="fas fa-arrow-left me-4" style="color: #1C1C1C;"></i></a>
      <span class="tweet-word">推文</span>
    </div>
    <div class="tweet-block d-flex flex-column">
      <div class="d-flex">
        <div>
          <img class="rounded-circle" src="{{user.avatar}}" alt="avatar" title="avatar" width="50px" height="50px">
        </div>
        <div class="tweet-name-account">
          <p class="tweet-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="tweet-account">account</span></p>
        </div>
      </div>
      <div class="tweet-description-block">
        <p class="tweet-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime modi deserunt at impedit totam illum ad incidunt, doloremque dolorem officia enim, labore ducimus natus animi porro necessitatibus voluptas dolore.</p>
      </div>
      <div class="tweet-time">上午 10:05・2020年6月10日</div>
    </div>
    <div class="tweet-reply-like-count">
      <span class="tweet-reply-count">34&nbsp;</span>
      <span class="tweet-like-count ms-3">808&nbsp;</span>
    </div>
    <div class="d-flex tweet-icon">
      <div class="">
        <i class="reply-icon far fa-comment" data-bs-toggle="modal" data-bs-target="#tweetReplyModal"
          data-id="{{this.id}}"></i>
      </div>
      <div  class="tweet-like" id="tweet-like">
        {{#if this.isLiked}}
        <i class="unlike-icon fas fa-heart" data-id="{{this.id}}"></i>
        {{else}}
        <i class="like-icon far fa-heart" data-id="{{this.id}}"></i>
        {{/if}}
      </div>
    </div>
    {{#each reorganizationTweets}}
    <div class="tweets-article d-flex">
      <div class="">
        <a href="/users/{{this.UserId}}/tweets">
          <img class="rounded-circle" src="{{this.userAvatar}}" alt="avatar" title="avatar" width="50px" height="50px">
        </a>
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <a href="/users/{{this.UserId}}/tweets">
            <span class="name">{{this.userName}}</span>
            <span class="account">&nbsp;{{this.userAccount}}</span>
          </a>
          <span class="time"><b>•</b>&nbsp;{{moment this.createdAt}}</span>
        </div>
        <div class="mt-2" id="tweet-reply-modal-account">
          <span class="reply-to">回覆給</span>
          <span class="reply-account">&nbsp;{{user.account}}</span>
        </div>
        <p class="content"><a href="/tweets/{{this.id}}/replies" class="content">{{this.description}}</a></p>
      </div>
    </div>
    {{/each}}
  </div>
  {{> popular}}
</div>