
{{>sideBar}}

<div id="main-content">
      <div class="header">
        <div class="headerItem"><a href=""><svg class="iconBack" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.9995 10.9999H6.4135L10.7065 6.70687C11.0965 6.31687 11.0965 5.68388 10.7065 5.29288C10.3165 4.90188 9.6835 4.90288 9.2925 5.29288L3.2925 11.2929C2.9025 11.6829 2.9025 12.3159 3.2925 12.7069L9.2925 18.7069C9.4875 18.9019 9.7425 18.9999 9.9995 18.9999C10.2565 18.9999 10.5115 18.9019 10.7065 18.7069C11.0965 18.3169 11.0965 17.6839 10.7065 17.2929L6.4135 12.9999H18.9995C19.5525 12.9999 19.9995 12.5529 19.9995 11.9999C19.9995 11.4469 19.5525 10.9999 18.9995 10.9999Z" />
            </svg>
          </a> </div>
        <div class="headerItem"><span>推文</span></div>
      </div>
      <div class="reply">
      <div class="post">
        <div class="postHead">
          <a href="/users/{{tweet.User.id}}/tweets">
          <img class="postAvatar" src="{{tweet.User.avatar}}" alt="" width="50" height="50">
          </a>
          <div class="headItem">
            <span class="card-name">{{tweet.User.name}}</span> 
            <span class="card-account">@{{tweet.User.account}}</span>
          </div>
        </div>
        <div class="postContent">
          <p>{{tweet.description}}</p>
          <div class="postItem">
            <span class="postDate">{{moment tweet.createdAt}}</span>
          </div>
        </div>
        <div class="postFooter">
          <span class="number">{{tweet.Replies.length}}</span>
          <span class="string">回覆</span>
          <span class="number">{{tweet.LikedUsers.length}}</span>
          <span class="string">喜歡次數</span>
        </div>
        <div class="postFeedback">
          <div class="icon-reply">
            <span>
            <svg class="iconReply" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5576 2.80254L12.3726 2.79004H12.3701C6.90262 2.79004 2.62012 7.07379 2.62012 12.5425C2.62012 17.665 6.60262 21.55 11.9514 21.755V26.54C11.9514 26.675 12.0064 26.8975 12.1014 27.0438C12.2789 27.325 12.5814 27.4775 12.8914 27.4775C13.0639 27.4775 13.2376 27.43 13.3939 27.33C13.7239 27.12 21.4851 22.155 23.5039 20.4475C25.8814 18.435 27.3039 15.485 27.3076 12.5575V12.5363C27.3001 7.07754 23.0201 2.80254 17.5576 2.80129V2.80254ZM22.2914 19.0175C20.8739 20.2175 16.2139 23.2738 13.8264 24.8213V20.8375C13.8264 20.32 13.4076 19.9 12.8889 19.9H12.3939C7.81887 19.9 4.49637 16.805 4.49637 12.5425C4.49637 8.12504 7.95637 4.66504 12.3714 4.66504L17.5551 4.67754H17.5576C21.9726 4.67754 25.4326 8.13504 25.4351 12.5475C25.4314 14.935 24.2576 17.3525 22.2926 19.0175H22.2914Z" />
            </svg>
            </span>
          </div>
          <div class="icon-like">
            {{#if isLiked}}
            <form action="/tweets/{{tweet.id}}/unlike" method="post" style="display: inline-block;">
            <button type="submit" style="background: none;border: none;">
            <span>
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 19.6381H10.986C8.40295 19.5901 0.949951 12.8561 0.949951 6.47812C0.949951 3.41412 3.47495 0.724121 6.35295 0.724121C8.64295 0.724121 10.183 2.30412 10.999 3.45412C11.813 2.30612 13.353 0.724121 15.644 0.724121C18.524 0.724121 21.048 3.41412 21.048 6.47912C21.048 12.8551 13.594 19.5891 11.011 19.6361H11V19.6381Z" fill="#E0245E"/>
              </svg>
            </span>
            </button>
            </form> 
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="post" style="display: inline-block;">
            <button type="submit" style="background: none;border: none;">
            <span>
            <svg class="iconLike" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 27.0473H14.9825C11.7537 26.9873 2.4375 18.5698 2.4375 10.5973C2.4375 6.76728 5.59375 3.40479 9.19125 3.40479C12.0537 3.40479 13.9787 5.37979 14.9987 6.81729C16.0162 5.38229 17.9412 3.40479 20.805 3.40479C24.405 3.40479 27.56 6.76729 27.56 10.5985C27.56 18.5685 18.2425 26.986 15.0137 27.0448H15V27.0473ZM9.1925 5.28104C6.5925 5.28104 4.31375 7.76603 4.31375 10.5998C4.31375 17.7748 13.1062 25.0948 15.0012 25.1723C16.8987 25.0948 25.6887 17.776 25.6887 10.5998C25.6887 7.76603 23.41 5.28104 20.81 5.28104C17.65 5.28104 15.885 8.95104 15.87 8.98729C15.5825 9.68979 14.425 9.68979 14.1362 8.98729C14.1187 8.94979 12.355 5.28104 9.19375 5.28104H9.1925Z" />
            </svg>
            </span>
            </button>
            </form> 
            {{/if}}

          </div>
        </div>
      </div>
      </div>
      {{#each tweet.Replies}}
      <div class="tweet-body">
        <div class="card-tweets">
          <a href="/users/{{this.User.id}}/tweets">
          <img class="card-avatar" src="{{this.User.avatar}}" alt="avatar" width="50" height="50">
          </a>
          <div class="card-warp">
            <div class="card-header">
              <span class="card-name">{{this.User.name}}</span> <span class="card-account">@{{this.User.account}} • {{moment this.createdAt}}</span>
            </div>
            <div class="card-reply-for">
              <span class="replyItem">回覆</span>
              <a href="/users/{{../tweet.User.id}}/tweets">
              <span class="replyReceiver">@{{../tweet.User.account}}</span>
              </a>         
            </div>
            <div class="card-content">
              {{this.comment}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    </div>

    {{>sideBarRight}}