<div class="container">
  <div class="row">
    {{> leftbar}}
    <div class="col-7">
      <div class="main-page">
        <h4><strong>首頁</strong></h4>
      </div>

      <hr>

      <div class="tweet-post">
        {{> user-avatar}}
        <div class="tweet-box" data-bs-toggle="modal" data-bs-target="#user-tweet-modal">
          <form action="">
            <textarea class="modal-input-tweets" placeholder="有什麼新鮮事？" name="" id="" maxlength="140" rows="3"
              cols="100"></textarea>
          </form>
          <div class="d-flex flex-row-reverse mb-1">
            <button class="tweetbtn">推文</button>
          </div>
        </div>
        {{!-- user推文彈跳視窗 --}}
        <div class="modal" tabindex="-1" id="user-tweet-modal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                {{!-- <h5 class="modal-title">User name</h5> --}}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{> user-avatar}}
                <form action="">
                  <textarea class="modal-input-tweets" placeholder="有什麼新鮮事？" name="user-tweet-description" id="user-tweet-description" maxlength="200" rows="3"
                    cols="100"></textarea>
                </form>
              </div>
              <div class="modal-footer">
                <div class="d-flex flex-row-reverse mb-1">
                  <button class="tweetbtn" type="submit">推文</button>
                  <p id="description-alert" class="user-tweet-alertMsg">字數不可超過 140 字</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="border: 2px solid #B5B5B5;"></div>
      <div class="mt-5">
        {{!-- <div class=""> --}}
          {{!-- {{#each tweets}} --}}
          <div data-bs-toggle="modal" data-bs-target="#reply-modal">
            <div class="row">
              <div class="col-1">
                {{> following-avatar}}
              </div>
              <div class="col-11">
                <div>
                  <a href="/users/{{this.id}}"><strong>Apple</strong></a>
                  <span>@apple‧3小時</span>
                </div>
                <p>merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign merjc idblid
                  ngijsnli gririr leirhielr gli g grgiur
                  hghbgn ign merjc idblid ngijsnli gririr leirhielr
                  gli g grgiur hghbgn ign</p>
              </div>
            </div>
            <div class="d-flex">
              <form action="/reply /:id" method="POST">
                <button type="submit" class="btn" style="padding-right: 0px;"><img class="left-bar-icon"
                    src="/images/reply-outlined@2x.png" alt="reply"></button>
                <span
                  style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">78{{this.replyCount}}</span>
              </form>
              {{!-- {{#if isLiked}} --}}
              {{!-- <form action="/like/:id?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger m-1">Unlike</button>
              </form> --}}
              {{!-- {{else}} --}}
              <form action="/like/:id" method="POST">
                <button type="submit" class="btn" style="padding-right: 0px;"><img class="left-bar-icon"
                    src="/images/like-outlined@2x.png" alt="like"></button>
                <span
                  style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">87{{this.likeCount}}</span>
              </form>
              {{!-- {{/if}} --}}
            </div>
            <hr>
          </div>
          {{!-- 回覆彈跳視窗 --}}
          <div class="modal" tabindex="-1" id="reply-modal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  {{!-- <h5 class="modal-title">User name</h5> --}}
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-2">
                      {{> following-avatar}}
                      <div class="reply-modal-vr-line"></div>
                    </div>
                    {{!-- --}}
                    <div class="col-10">
                      <div>
                        <a href="/users/{{this.id}}"><strong>Apple</strong></a>
                        <span>@apple‧3小時</span>
                      </div>
                      <div>
                        <p>merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign merjc idblid ngijsnli gririr
                          leirhielr gli g grgiur
                          hghbgn ign merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign</p>
                        <span>回覆給<span class="ms-1" style="color: #FF6600;">@mitsubishi</span></span>
                      </div>

                    </div>

                  </div>

                  {{> user-avatar}}
                  <form action="">
                    <textarea class="modal-input-tweets" placeholder="推你的回覆" name="" id="" maxlength="140" rows="3"
                      cols="100"></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="d-flex flex-row-reverse mb-1">
                    <button class="tweetbtn" type="submit">回覆</button>
                    <p class="user-reply-alertMsg">內容不可空白</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- {{/each}} --}}
          {{!--
        </div> --}}
      </div>
    </div>
    {{> rightbar}}
  </div>
</div>