<div class="container">
  <div class="row">
    {{>message}}
    {{>left-sidebar route="homepage"}}
    {{!-- 首頁/tweets --}}
    <div class="col-6 top">
      <div class="card">
        <div class="card-home">
          <div class=" home-header">
            首頁
          </div>
          <div class="main-top">
            <img src="{{#if user.avatar}} {{user.avatar}} {{else}}/images/icon/User Photo.png{{/if}}" class="user-avatar">
            <div class="">
              <form action="/tweets" method="POST">
                <textarea style=" resize:none;" type="text" name="description" id="description" placeholder="有什麼新鮮事？"
                  required></textarea>
                <button type="submit" class="btn-sml">推文</button>
              </form>
            </div>
          </div>
          <div class="main-bottom">
            {{#each Tweets}}
            <div class="card-body tweets-box">
              <img src="{{#if this.User.avatar}} {{this.User.avatar}} {{else}}/images/icon/User Photo.png{{/if}}" alt="" class="user-avatar">
              <div class="tweets-box-main">
                <div class="tweets-header">
                  <a class="card-title tweets-name" href="/users/{{this.User.id}}/tweets">{{this.User.name}}</a>
                  <span class="tweets-account"> @{{this.User.account}} ．{{relativeTimeFromNow this.createdAt}}</span>
                </div>
                <div class="tweets-content">
                  <a href="tweets/{{this.id}}" id="toReply" class="card-text">
                    {{this.description}}
                  </a>
                </div>
                <div class="tweets-icons">
                  <a><img src="/images/basic/white/reply.svg">{{this.repliesCount}}</a>
                  <a><img src="/images/basic/white/like.svg">{{this.likesCount}}</a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{>right-sidebar}}
  </div>
</div>
