<div class="container-lg">
  <div class="row mt-2">
    {{!-- nav bar --}}
    <div class="col-lg-3 left-sidebar d-flex flex-column align-items-end">
      {{>left-sidebar route='tweets'}}
    </div>
    {{!-- main content --}}
    <div class="col-lg-6 main-content d-flex flex-column justify-content-start">
      <div class="message">
        {{> messages}}
      </div>
      {{!-- content --}}
      <div class="content outline mb-3 pb-0">
        {{!-- tittle --}}
          <a class="d-flex py-3 ps-1 outline"  onclick="javascript:history.back()">
            <h4 class="navbar-brand mb-0">← 推文</h4>
          </a>
        {{!-- tweet --}}
        <div class="row pt-3 px-0 mx-0">
          <div class="col-2 ms-3">
            <img class="avatar" src="{{tweet.User.avatar}}" alt="avatar" >
          </div>
          <div class="col-5 px-1">
            <p class="right-user-name">{{tweet.User.name}}</p>
            <p class="right-user-account">@{{tweet.User.account}}</p>
          </div>
          <div class=" pt-2">
            <p class="right-reply-description mx-3 my-2">{{tweet.description}}</p>
            <p class="right-reply-time ms-3 mt-3">{{time tweet.createdAt}}</p>
          </div>
          <div class="d-flex align-items-center outline py-3">
            <p class="my-0 ps-2">{{data.replyCount}} 回覆</p>
            <p class="my-0 ps-4">{{data.likeCount}} 喜歡次數</p>
          </div>
          <div class="d-flex my-3 ms-1">
            <i class="far fa-comment me-5 ms-1 d-flex align-items-center " data-bs-toggle="modal" data-bs-target="#replyModal"></i>
            {{#if data.isLiked}}
            <form action="/tweets/{{tweet.id}}/unlike" method="post">
              <button type="submit" style=" border: transparent; background: transparent;">
                <i class="fa-solid fa-heart ms-5" style="color: #E0245E;"></i>
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="post">
              <button type="submit" style=" border: transparent; background: transparent;">
                <i class="far fa-heart ms-5"></i>
              </button>
            </form>
            {{/if}}
          </div>
        </div>
        {{!-- reply --}}
        {{#each data.replies}}
        <div class="row py-3 mx-0 outline">
          <a href="/users/{{this.User.id}}" class="col-2 ms-2 ps-3">
            <img src="{{this.User.avatar}}" class="avatar" alt="avatar">
          </a>
          <div class="col-9">
            <div class="d-flex flex-row align-items-center">
              <p class="right-user-name">{{this.User.name}}</p>
              <p class="right-user-account ms-2">@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</p>
            </div>
            <p class="mt-2 right-user-account">回覆
              <span style="color:#FF6600;text-decoration: none">@{{../tweet.User.account}}</span>
            </p>
            <div class="mt-2">
              <p>{{this.comment}}</p>
            </div>
            <div>
              <i class="far fa-comment me-3">
                <span class="ms-2">666</span>
              </i>
              <i class="far fa-heart mx-3">
                <span class="ms-2">777</span>
              </i>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{!-- nav bar --}}
    <div class="col-lg-3 right-sidebar mx-0 px-0">
      {{> right-sidebar}}
    </div>
  </div>
</div>

{{!-- reply modal --}}
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-w">
    <div class="modal-content modal-outline">
      {{!-- modal header --}}
      <button id="closeReply" type="button" class="btn-close mt-3 ms-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <hr>
      {{!-- tweet content --}}
      <div class="modal-body pt-0">
        <div class="row mb-1">
          {{!-- tweeter's avatar --}}
          <div id="tweeter" class="col-2 d-flex flex-column justify-content-start align-items-center">
            <a href="{{tweet.User.id}}">
              <img src="{{tweet.User.avatar}}" class="avatar" alt="avatar">
            </a>
            <div class="mx-3 mt-3 reply-divider"></div>
          </div>
          {{!-- tweet's content --}}
          <div class="col-10 content-anchor">
            {{!-- tweeter's info --}}
            <div class="d-flex flex-row align-items-center">
              <p class="main-user-name">{{tweet.User.name}}</p>
              <p class="main-user-account">@{{tweet.User.account}}．{{relativeTimeFromNow tweet.createdAt}}</p>
            </div>
            {{!-- tweet's description --}}
            <div class="mt-2">
              <p>{{tweet.description}}</p>
            </div>
            <p class="mt-2 main-user-account">回覆給
              <span class="reply-modal-account">@{{tweet.User.account}}</span>
            </p>
          </div>
        </div>
        {{!-- reply content --}}
        <form action="/tweets/{{tweet.id}}/replies" method="POST" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-2 d-flex justify-content-center">
              <img src="{{user.avatar}}" class="avatar" alt="avatar">
            </div>
            <div class="col-9 mb-2 mt-1 reply-content-anchor">
              <textarea class="form-control reply-textarea mt-2" id="" name="comment" rows="6" placeholder="推你的回復" required></textarea>
              <div class="invalid-feedback reply-error-anchor">內容不可為空白</div>
            </div>
          </div>
          <div id="reply-btn" class="d-flex flex-row-reverse align-items-baseline me-1">
            <button type="submit" class="text-white main-tweet-btn" id="modal-send-button">回覆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>