{{> user-profile }}
{{> user-tabs route='tweets'}}
<p>tweets</p>
{{!-- tweets --}}
<h3 class="mb-3">所有tweets</h3>
{{#each user.Tweets}}
  <blockquote class="blockquote mb-0">
    <span><a href="/users/{{this.UserId}}">{{ ../user.name }}</a></span>
    <span> @{{ ../user.account }}</span>
    <p>{{ this.description }}</p>
    <footer class="blockquote-footer">{{ this.createdAt }}</footer>
  </blockquote>
  <hr />
{{/each}}