{{>left route='tweets'}}
<div class="col-6">
  {{!-- test --}}
  <div class="card">
    <div class="cards-home opacity-100" style="background-color:white;border-bottom: 18px solid #E6ECF0;">
      {{>header route='tweets'}}
      <div class="post-tweet" style="width:634px;height:153px;border-top: 1px solid	#E6ECF0;" data-bs-toggle="modal"
        data-bs-target="#tweet-modal">
        <div class="card-image m-3">
          {{#if user.avatar}}
          <img src="{{user.avatar}}" class="user-photo" class="user-avatar"
            style="width:50px;height:50px;border-radius:50%;">
          {{else}}
          <img src="/images/avatar.png" class="user-photo" class="user-avatar"
            style="width:50px;height:50px;border-radius:50%;">
          {{/if}}
          <span style="color:#6C757D;font-size: 18px;margin:8px;">有什麼新鮮事？</span>
        </div>
        <div class="d-flex justify-content-end m-3">
          <button type="submit" class="btn btn-primary"
            style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;margin-left:24px">推文</button>
        </div>
      </div>
    </div>
    <div>
      <div class="tweets-home" style="margin-top:220px;">
        {{#each tweets}}
        {{>tweet route='tweets'}}
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- pagination --}}
  <nav class="m-3" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
        <a class="page-link" href="/tweets?page={{pagination.prev}}">Previous</a>
      </li>
      {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
      <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/tweets?page={{this}}">{{this}}</a></li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
        <a class="page-link " href="/tweets?page={{pagination.next}}">Next</a>
      </li>
    </ul>
  </nav>
</div>
{{>right route='followers'}}