<div class="wrapper d-flex">

  <!-- Sidebar -->
  <nav id="left-sidebar" style="display:flex; align-items:stretch; width:15%;height:1200px; margin-left:130px;">
    <ul class="list-unstyled" style="position:fixed ">
      <img src="" alt="ac-logo" style=" margin-top: 20px;margin-bottom:10px;">
      <li style=" margin-bottom: 20px;">
        <h4><a href="/tweets" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-house"></i> 首頁</a>
        </h4>
      </li>
      <li style=" margin-bottom: 20px;">
        <h4><a href="/users/{{user.id}}" style="text-decoration: none; color: inherit;"><i
              class="fa-solid fa-user-astronaut"></i> 個人資料</a></h4>
      </li>
      <li style=" margin-bottom: 20px;">
        <h4><a href="/users/{{user.id}}/setting" style="text-decoration: none; color: inherit;"><i
              class="fa-solid fa-gear"></i> 設定</a></h4>
      </li>
      {{!-- todo: 跳出modal --}}
      <li style=" margin-bottom: 20px;">
        <h4>
          <a href="/tweets/modal" class="badge rounded-pill text-bg-warning" style="text-decoration: none;">推文</a>
        </h4>
      </li>
  </nav>

  <div class="container"
    style="margin:0px; padding:0px;  border-left: 2px solid rgb(209, 203, 203); border-right: 2px solid rgb(209, 203, 203); width:65%;">
    <div>
      <h4 class="fw-bold" style="padding:15px; border-bottom:2px solid rgb(209, 203, 203)"><a href="/tweets"
          style="text-decoration: none; color: inherit;">首頁</a></h4>
      <div class="mb-3" style="border-bottom:8px solid rgb(209, 203, 203)">
        <img src="{{user.profile_photo}}" alt="avatar" style="position:relative;">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" placeholder="有什麼新鮮事 ?" style="height:100px; resize: none;"></textarea>
        {{!-- todo: 跳出modal --}}
        <h4>
          <a href="/tweets/modal" class="badge rounded-pill text-bg-warning" style="text-decoration: none;">推文</a>
        </h4>
      </div>
      <table class="table align-middle">
        <tbody>
          {{#each tweets}}
          <tr>
            <td>icon</td>
            <td>使用者名稱{{user.name}}
              <small>@帳號{{user.account}}．{{relativeTimeFromNow this.createdAt}}</small>
              <p>{{this.description}}</p>
              <div>
                <small>{{replies.length}}xx回應</small>
                <small>{{likes.length}}xx喜歡</small>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{>right-content}}
  
</div>