<div class="container">
  <div class="row">
    <h5 class="border-bottom px-0 py-2 m-0">← 推文</h5>
  </div>
  <div class="row d-flex">
    <div class="col-auto px-1">
      {{#if tweet.User.avatar}}
      <img src="{{tweet.User.avatar}}" class="img-flid rounded-circle" style="width: 50px;max-height: 50px;">
      {{else}}
      <img class="rounded-circle" src="https://i.imgur.com/3P9xRqb.jpg" alt="" style="width: 50px;max-height: 50px;">
      {{/if}}
    </div>
    <div class="col d-flex flex-column px-1">
      <div>{{tweet.User.name}}</div>
      <div class="user-link">@{{tweet.User.account}}</div>
    </div>
  </div>
  <div class="row">
    <p class="my-2">{{tweet.description}}</p>
  </div>
  <div class="row border-bottom py-0">
    <p class="my-2">{{momentTimeStamp tweet.createdAt}}</p>
  </div>
  <div class="row my-2">
    <div class="col-3">{{tweet.Replies.length}} 回覆</div>
    <div class="col-3">{{tweet.LikedUsers.length}} 喜歡次數</div>
  </div>
  <div class="row py-2 border-bottom border-top">
    <div class="col-3">R</div>
    <div class="col-3">♡</div>
  </div>
  {{!-- 重複的項目 --}}
  {{#each tweet.Replies}}
  <div class="row border-bottom py-2">

    <div class="col-auto py-0 px-1">
      {{#if this.User.avatar}}
      <img src="{{this.User.avatar}}" class="img-flid rounded-circle" height="50px" width="50px">
      {{!-- style="width: 50px;max-height: 50px;" --}}
      {{else}}
      <img class="rounded-circle" src="https://i.imgur.com/3P9xRqb.jpg" alt="" style="width: 50px;max-height: 50px;">
      {{/if}}
    </div>

    <div class="col py-0 px-1 d-flex flex-column">
      <div class="d-flex">
        <div class="me-2">{{this.User.name}}</div>
        <div class="user-link">@{{this.User.account}} · {{moment this.createdAt}}</div>
      </div>
      <div class="d-flex">
        <div class="me-2">回覆</div>
        <div class="user-link">@{{../tweet.User.account}}</div>
      </div>
      <div class="my-2">{{this.comment}}</div>
    </div>

  </div>
  {{/each}}
</div>