<div class="page-container">
  {{> left-sidebar route="getTweets"}}
  <div class="main-middle" id="tweets-page-container"  style="overflow:scroll">
    {{> main-middle route="getTweets"}}
    <div class="flex-shrink-1 p-0 m-0 d-column justify-content-start align-items-start border-start border-end" style="height: 128px;">
      <button class="tweet-click-block bg-white my-0" data-bs-toggle="modal" data-bs-target="#newTweet" style="height: 128px; width: 639px;">        
        <div class="form-row d-flex flex-column mb-0 mt-0" style="display:inline-block">
          <div class="left d-flex flex-row">
            <div class="user-avatar">
              <img src="{{user.avatar}}" alt="avatar" class="modal-user-avatar ms-2 mb-1">
            </div>
            <h5 style="color: #6C757D; font-weight: 700;" class="d-block align-items-start mt-2">有什麼新鮮事?</h5>
          </div>
          <div class="right d-flex justify-content-end">
            <div id="fake-tweet" class="d-block align-items-end me-3 mp-0">推文</div>
          </div>
        </div>
      </button>
    </div>
    <div style="height: 9px; background-color: #E6ECF0;" class="m-0 bg-body-tertiary border-start border-end"></div>
    <div class="tweets-container border border-top-0">
          {{#each tweets}}
          <div class="card col-12 hovercard d-flex flex-row rounded-0 border-0 border-bottom">
            <div class="card-body col-12 p-3">
              <div class="row p-1">
                <div class="col-1 d-flex justify-content-center align-items-start">
                  <a href="/users/{{this.user.id}}/tweets">
                    <img src="{{#if this.user.avatar}}{{ this.user.avatar }}{{else}}https://i.imgur.com/7sJckYK.png{{/if}}"
                      class="rounded-circle" style="width: 50px; height: 50px" alt="avatar">
                  </a>
                </div>
                <div class="col-10 row">
                  <div class="col-12 d-inline-flex align-items-center">
                    <div style="height: 26px; font-size: 15px">
                      <a href="/users/{{ this.user.id }}/tweets" class="text-dark"
                        style="font-size: 16px; font-weight: 700; margin-right: 8px; text-decoration: none;">
                        {{ this.user.name }}
                      </a>
                      <span style="font-size: 14px; font-weight: 400">
                        @{{ this.user.account }}·{{ relativeTime this.createdAt }}
                      </span>
                    </div>
                  </div>
                  <div class="col-12 mt-1 me-0" onclick="javascript:location.href='/tweets/{{this.id}}/replies'" style="cursor: pointer;">
                    {{ this.description }}
                  </div>
                  <div class="tweets-icon-container d-flex flex-row mt-2">
                    <div class="reply">
                      <button class="reply bg-white" type="button" data-bs-toggle="modal" data-bs-target="#reply-tweet-{{this.id}}">
                        <img src="/images/icons/reply.png" alt="" style="height: 16px; width: 16px;" class="mb-1">
                        <span class="ms-1" style="height: 14px; width: 14px; font-family: Montserrat;">{{this.repliesCount}}</span>
                      </button>
                      {{> reply-modal}}
                    </div>
                    {{#if isLiked}}
                      <form action="/tweets/{{this.id}}/unlike" method="POST" class="like ms-4" style="background: none;">
                        <button type="submit" class="like-button" style="background-color: transparent;">
                          <img src="/images/icons/red-liked.png" alt="" style="height: 16px; width: 16px;" class="mb-1">
                          <span class="ms-1" style="height: 14px; width: 14px; font-family: Montserrat;">{{this.likesCount}}</span>
                        </button>
                      </form>
                    {{else}}
                      <form action="/tweets/{{this.id}}/like" method="POST" class="like ms-4" style="background: none;">
                        <button type="submit" class="like-button" style="background-color: transparent;">
                          <img src="/images/icons/like.png" alt="" style="height: 16px; width: 16px;" class="mb-1">
                          <span class="ms-1" style="height: 14px; width: 14px; font-family: Montserrat;">{{this.likesCount}}</span>
                        </button>
                      </form>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
    </div> 
  </div>
  {{> right-sidebar topUsers=topUsers}}
</div>