<div id="left">
	<div id="left-container">
		<ul class="nav flex-column justify-content-between" style="height: 100vh;">
			<div class="flex-colum ">
				<a class="navbar-brand ml-3" href="/">
					<img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" width="30"
						height="30" alt="">
				</a>
				<li class="nav-item">
					<a class="nav-link" href="/tweets" style="color: #ff6600; "><i class="fas fa-home"></i>首頁</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/{{user.id}}/tweets" style="color: black;"><i class="fas fa-user"></i>個人資料</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/setting/{{user.id}}" style="color: black;margin-bottom: 19px"><i
							class="fas fa-cog"></i>設定</a>
				</li>
				<button type="button" class="btn btn-block" style="border-radius: 23px;background:#ff6600; color:white"
					data-toggle="modal" data-target="#tweetModal">
					推文
				</button>
			</div>
			<li class="nav-item">
				<a class="nav-link" href="/logout" style="color: black;"><i class="fas fa-sign-out-alt"></i>登出</a>
			</li>
		</ul>
	</div>
</div>
{{!-- 中間區域 --}}

<div id="main">
	<div class="main-top">首頁</div>
	<div class="post-area">
		<form action="/tweets" method="POST">
			<div class="form-group d-flex">
				<img src="{{ user.avatar }}" class="rounded-circle" alt="有什麼新鮮事?" width="50px" height="50px">
				<textarea class="form-control" id="text" name="text" rows="2" placeholder="有什麼新鮮事？"
					style="border: none; outline:none;"></textarea>
			</div>
			<div class="post-button d-flex justify-content-end">
				<button type="submit" class="btn mr-2 mb-2"
					style="border-radius: 23px;background:#ff6600; color:white;">推文</button>
			</div>
		</form>
	</div>
	{{#each tweets}}
	<div class="card mb-3" style="max-width: 900px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<a href="/users/{{this.User.id}}/tweets">
					<img src="{{ this.User.avatar }}" class="rounded-circle" alt="no avatar" width="100" height="100">
				</a>
			</div>
			<div class="col-md-8">
				<div class="card-body" onclick="location.href='/replylist/{{ this.id }}';">
					<h5 class="card-title">
						<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
						● <small class="text-muted">{{moment this.createdAt }}</small>
					</h5>
					<p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap">
						{{ this.description }}
					</p>
				</div>
				<div class="card-footer" style="background-color:#ffffff">
					<form action="/replylist/{{ this.id }}" method="POST" style="display: inline;">
						<!-- a modal -->
						<a data-toggle="modal" href="#exampleModalCenter{{ this.id }}">回覆</a>
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter{{ this.id }}" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="col-md-10">
										<a href="/users/{{this.User.id}}/tweets">
											<img class="rounded-circle" src="{{ this.User.avatar }}" width="50" height="50">
										</a>
										<span>{{this.User.name}}/{{moment this.createdAt}}</span>
										<p>{{this.description}}</p>
										回覆給
										<a href="/users/{{this.User.id}}/tweets">
											@{{this.User.account}}
										</a>
									</div>
									<div class="form-group">
										<img src="{{ ../user.avatar }}" class="rounded-circle" width="50" height="50">
										<span>推你的回覆</span>
										<textarea class="form-control" id="text" name="text" rows="3" style="max-width: 900px;"></textarea>
									</div>
									<input type="hidden" name="tweetId" value="{{this.id}}" />
									<button type="submit" class="btn btn-info btn-sm">回覆</button>
								</div>
							</div>
						</div>
					</form>
					{{!-- like --}}
					{{#if isLiked }}
					<form action="/like/{{this.id}}?_method=DELETE" method="POST">
						<button type="submit" class="fas fa-heart"></button>
					</form>
					{{else}}
					<form action="/like/{{this.id}}" method="POST">
						<button type="submit" class="far fa-heart"></button>
					</form>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{!-- 右邊 --}}
<div id="right">
	{{>rightColumn}}
</div>

<!-- tweetModal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/tweets" method="POST">
					<div class="form-group">
						<img src="{{ user.avatar }}" class="rounded-circle" width="100" height="100">
						<span>有什麼新鮮事?</span>
						<textarea class="form-control" id="text" name="text" rows="3" style="max-width: 900px;"
							placeholder="what's on your mind?"> </textarea>
					</div>
					<input type="hidden" name="tweetId" value="{{tweet.description}}" />
					<button type="submit" class="btn btn-warning btn-lg">推文</button>
				</form>
			</div>
		</div>
	</div>
</div>