<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div>
        <ul class="list-group">

          <a href="/index">
            <li class="list-group-item ">
              <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </li>
          </a>


          <a href="/users/{{user.id}}/edit">
            <li class="list-group-item active ">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>
        {{!-- //TODO:待加入modal --}}
        <a href="/index/create" type="button" class="tweet-button">推文</a>

        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>

      </div>
    </div>

    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title d-flex align-items-center">
        
        <a href="javascript:history.back()">
        <div class="back-icon">
          <i class="fas fa-arrow-left"></i>    
        </div>
        </a>

        <div class="name-info">
          <div class="title-name">
            推文
          </div>
        </div>
      </div>
      <hr style="margin:0; padding:0">

      <div class="main-reply-tweet">
        <div class="account-info d-flex">
          <div>
            <img class="user-pic" src="{{tweet.User.avatar}}" alt="">
          </div>
          <div class="name-account">
            <div class="name">{{tweet.User.name}}</div>
            <div class="account">@{{tweet.User.account}}</div>
          </div>

        </div>

        <div class="content">
         <h2>{{tweet.description}}</h2> 
        </div>

{{!-- //TODO:時間格式要調整 --}}
        <div class="time">
          {{tweet.createdAt}}
          should be:上午10:05．2020年6月10日
        </div>

        <hr>

        <div class="number-followers  d-flex">
          <div class="reply">
            <div class="number">{{tweet.Replies.length}}</div>
            <div class="text">回覆</div>
          </div>
          <div class="reply d-flex">
            <div class="number">808</div>
            {{!-- TODO:待回傳LIKE數 --}}
            <div class="text">喜歡次數</div>
          </div>
        </div>

        <hr>

        <div class="icon-reply d-flex">
          <div>
            <a href="/tweets/{{tweet.id}}/replies"><i class="far fa-comment"></i></a>
          </div>
          {{!-- //TODO:要分實心空心 --}}
          <div>
{{!-- 測試like功能用的超醜按鈕 --}}
            <form action="/tweets/{{tweet.id}}/like" method="POST">
              <button type="submit"><i class="far fa-heart mr-2"></i></button>
            </form>
            <form action="/tweets/{{tweet.id}}/like?_method=DELETE" method="POST">
              <button type="submit">Unlike</button>
            </form>
{{!-- 測試like功能用的超醜按鈕 --}}
          </div>
        </div>
        <hr>

        {{!-- 回覆開始 --}}
    {{#each tweet.Replies}}
        <div class="tweet col-md-12">
          <div class="d-flex">
            <div class="mt-2 ml-2 col-md-1" style="padding:0">
              <img class="user-pic mr-2" src="{{this.User.avatar}}" alt="">
            </div>

            <div class="col-md-11">
              <div class="account-info d-flex" style="flex:auto">
                <div class="user-name">{{this.User.name}}</div>
                {{!-- //TODO:時間回傳格式要改 --}}
                <div class="account-time ml-2">@{{this.User.account}}．多久前</div>
              </div>
              <div class="reply">
                <div class="reply-text">回覆</div>
                <div class="reply-account">@{{../tweet.User.account}}</div>
              </div>

              <div class="post-text d-flex" style="flex:auto">
                {{this.comment}}
              </div>
            </div>

          </div>
        </div>
        <hr />
        {{/each}}
        {{!-- 回覆結束 --}}



      </div>

    </div>



    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div>
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account ml-2">
                <div class="name">Pizza Hut</div>
                <div class="account">@pizzahut</div>
              </div>
              <div class="button">
                <button type="submit" class="btn follow-button">正在跟隨</button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

          {{!-- 未跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div>
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account ml-2">
                <div class="name">McDonald's</div>
                <div class="account">@McDonald's</div>
              </div>
              <div class="button">
                <button type="submit" class="btn unfollow-button"> 跟隨 </button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>