<div class="body-container text-center">
  {{> side-menu route='tweets'}}
  {{!-- 中央部分 --}}
  <div class="center-part border" id="center-part">
    <div class="text-index border-bottom" id="text-index">
      <div class="user-tweets-header text-start ms-3 mt-4 mb-3 ">
        <h4 class="fw-bold ">首頁</h4>
      </div>
    </div>
    <div class="scroll-part scrollbar">
      <div class="tweet-input ms-3">
        <form class="needs-validation" action="/tweets" method="POST" id="tweet-form" novalidate>
          <div class="d-flex flex-wrap mt-3">
            <div class="me-1">
              <img src="{{currentUser.avatar}}" alt="" class="avatar-sm rounded-pill">
            </div>
            <textarea class="description-input w-auto border border-0 ms-1 mb-1 needs-validation" name="description"
              id="description" cols="65" rows="3" placeholder="有什麼新鮮事？" maxlength='140' required></textarea>
            <div class="d-flex justify-content-end align-times-center w-100 mb-3">
              <div class="text-black-50 ms-auto me-3 fs-6 align-self-center" id="description-length"></div>
              <button type="submit" class="send-button btn btn-brand rounded-pill px-3 me-3">推文</button>
            </div>
          </div>
        </form>
      </div>
      <div class="diver"></div>
      {{!-- 推文卡片 --}}
      <div class="tweet-container">
        {{#each tweets}}
        <div class="tweet-cards border-bottom border-1 mb-2">
          <div class="d-flex flex-nowrap ms-3 mt-3">
            <div class="avatar-container me-1">
              <a href="/users/{{this.User.id}}/tweets">
                <img src="{{this.User.avatar}}" alt="" class="avatar-sm rounded-pill"
                  id="tweet-avatar-{{this.User.id}}">
              </a>
            </div>
            <div class="user-description-container d-flex flex-column text-start ms-1 me-3 w-100">
              <div class="user-name-account mb-2">
                <a href="/users/{{this.User.id}}/tweets" class="name-link">
                  <h6 class="user-name fw-bold fs-5 " id="tweet-name-{{this.User.id}}">{{this.User.name}}</h6>
                </a>
                <a href="/users/{{this.User.id}}/tweets" class="account-link">
                  <span class="user-account fw-normal fs-6"
                    id="tweet-account-{{this.User.id}}">@{{this.User.account}}</span>
                </a>
                <span class="fw-normal fs-6" id="tweet-time-{{this.id}}">・{{relativeTimeFromNow this.createdAt}}</span>
              </div>
              <a href="/tweets/{{this.id}}/replies" class="description-link">
                <div class="description me-4" id="description-{{this.id}}">
                  <p class="description-content">{{this.description}}</p>
                </div>
              </a>
              <div class="description-like-btn-container mb-3">
                <button class="reply-btn me-5 d-flex align-items-center" data-bs-toggle="modal"
                  data-bs-target="#reply-modal-{{this.id}}" data-tweetid="{{this.id}}" data-userid="{{this.User.id}}">
                  <i class="reply"></i>
                  <span class="reply-count ms-2" id="reply-count-{{this.id}}">{{this.Replies.length}}</span>
                </button>
                {{#if this.isLiked}}
                <button type="button" class="d-flex align-items-center like-submit-btn liked"
                  data-tweetid="{{this.id}}">
                  <i class="like"></i>
                  <span class="like-count ms-2">{{ this.Likes.length}}</span>
                </button>
                {{else}}
                <button type="button" class="d-flex align-items-center like-submit-btn" data-tweetid="{{this.id}}">
                  <i class="like outline-like"></i>
                  <span class="like-count ms-2">{{ this.Likes.length}}</span>
                </button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{!-- 每個人都有第一個管理員的推 --}}
        <div class="tweet-cards border-bottom border-1 mb-2">
          <div class="d-flex flex-nowrap ms-3 mt-3">
            <div class="avatar-container me-1">
              <a href="#">
                <i class="logo avatar-sm rounded-pil"></i>
              </a>
            </div>
            <div class="user-description-container d-flex flex-column text-start ms-1 me-3 w-100">
              <div class="user-name-account mb-2">
                <a href="#" class="name-link">
                  <h6 class="user-name fw-bold fs-5 ">Alphitter</h6>
                </a>
                <a href="/tweets" class="account-link">
                  <span class="user-account fw-normal fs-6">@Alphitter</span>
                </a>
              </div>
              <a href="/tweets/{{this.id}}/replies" class="description-link">
                <div class="description me-4" id="description-{{this.id}}">
                  <ul>
                    <li>
                      <h5 class="description-content">歡迎使用Alphitter：</h1>
                    </li>
                    <li>此為預設說明 α 文，若想開始追蹤使用者推文，可以嘗試點擊右側推薦名單，並重新整理頁面，即可看到追蹤者的 α 文。</li>
                    <li>您可以透過上方輸入框，輸入想說的話，來發出自己的第一則 α 文。</li>
                    <li>左側推文按鈕則是可以讓你隨時隨地想發推就發推。</li>
                    <li>追蹤後，可以透過回文按鈕來回覆 α 文，也可以透過點擊愛心，來加入喜歡的 α 文。</li>
                    <li>左邊個人資料，可以看到自己的版面，自己的推文，自己的回覆，自己的喜歡 α 文。</li>
                    <li>自己的版面點擊跟隨中文字以及跟隨者，能看到正在追隨清單和追隨者清單。</li>
                    <li>自己的版面點擊編輯個人資料，可以編輯大頭照、背景圖、名稱、自我介紹。</li>
                    <li>左邊設定為帳號相關設定，可以設定自己的帳號(不得和他人重複)、名稱、email(不得和他人重複)、重設密碼</li>
                    <li>右側為熱門推薦使用者，可以瞧瞧他們 α 了什麼?<br></li>
                    <li>點擊追蹤者或自己的推文，可以進到推文的回覆詳細頁面，來看看大家回應了些什麼<br></li>
                    <li>您也可以在推文的回覆詳細頁面，點擊回覆按鈕來回覆，愛心按鈕加入喜歡<br></li>
                    <li>您也可以觀看別人的版面，來瞧瞧別人都發了些什麼 α 文，回覆了那些內容，以及喜歡的 α 文<br></li>
                    </p>
                    </ol>
                </div>
              </a>
            </div>
          </div>
        </div>
        {{> reply-modal tweet=this user=../currentUser}}
      </div>
      {{!-- 推文卡片結束 --}}
    </div>
  </div>
  {{!-- 中央部分結束 --}}
  {{> recommend-follow }}
</div>