<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div>
        <ul class="list-group">

          <a href="/tweets">
            <li class="list-group-item ">
              <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </li>
          </a>


          <a href="/users/{{user.id}}/tweets">
            <li class="list-group-item active ">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>

        <div class="">
          <button type="summit" class="btn tweet-button" data-toggle='modal' data-target="#add-tweet">推文
          </button>
        </div>

        <a href="/logout">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>
    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title d-flex">

        <a href="javascript:history.back()">
          <div class="back-icon">
            <i class="fas fa-arrow-left"></i>
          </div>
        </a>

        <div class="name-info">
          <div class="title-name">
            {{currentUser.name}}
          </div>
          <div class="title-info">
            {{currentUser.Tweets.length}}推文
          </div>
        </div>


      </div>

      <hr style="margin:0; padding:0">
      {{!-- 個人資訊 --}}
      <div class="cover">
        <img src="{{currentUser.cover}}" alt="">
      </div>

      <div class="user-info">
        <div class="avatar">
          <img src="{{currentUser.avatar}}" alt="">
        </div>
        <div class="edit-button">

          {{#ifCond user.id currentUser.id}}
          <button type="submit" class="btn unfollow-button edit-user" data-toggle="modal"
            data-target="#edit-user">編輯個人資料</button>
          {{else}}
          {{#if this.isFollowed }}
          <div class="other-user-icon">
            <div class="mail"><i class="far fa-envelope"></i></div>
            <div class="notification"><i class="far fa-bell"></i></div>
            <form action="/followships/{{currentUser.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn follow-button">正在跟隨</button>
            </form>
          </div>
          {{else}}
          <div class="other-user-icon">
            <div class="mail"><i class="far fa-envelope"></i></div>
            <div class="notification"><i class="far fa-bell"></i></div>
            <form action="/followships/{{currentUser.id}}" method="POST" style="display: contents;"><button
                type="submit" class="btn unfollow-button"> 跟隨 </button></form>
          </div>



          {{/if}}
          {{/ifCond}}

        </div>

      </div>

      <div class="text-info-tweets">

        <div class="info-text">
          <div class="name"> {{currentUser.name}}</div>
          <div class="account">@{{currentUser.account}}</div>
          <div class="introduction">{{currentUser.introduction}}</div>
          <div class="follow d-flex">
            <div class="followship d-flex m-0">
              <div class="follow-title">
                {{currentUser.Followings.length}}個
              </div>
              <div class="follow-body">
                跟隨中
              </div>

              <div class="follow-title ml-2">
                {{currentUser.Followers.length}}位
              </div>
              <div class="follow-body">
                跟隨者
              </div>
            </div>

          </div>


        </div>

        {{!-- 個人資訊結束 --}}

        {{!-- 推文/推文與回覆/喜歡的內容區塊 --}}
        {{!-- 推文區開始 --}}
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/users/{{currentUser.id}}/tweets">推文</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{currentUser.id}}/replied">推文與回覆</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{currentUser.id}}/likes">喜歡的內容</a>
          </li>
        </ul>
        <br /><br />
        {{!-- 貼文開始 --}}
        <div class="user-tweet">
          {{#each data}}
          <div class="tweet col-md-12">
            <div class="d-flex">
              <div class="mt-2 ml-2 col-md-1" style="padding:0">
                <a href="/users/{{../currentUser.id}}/tweets" class="text-muted">
                  <img class="user-pic mr-2" src="{{../currentUser.avatar}}" alt="">
                </a>
              </div>

              <div class="col-md-11">
                <div class="account-info d-flex" style="flex:auto">
                  <div class="user-name">{{../currentUser.name}}</div>
                  <div class="account-time ml-2">@{{../currentUser.account}}．{{fromNow this.createdAt}}</div>
                </div>
                <a href="/tweets/{{this.id}}" class="text-muted">
                  <div class="post-text d-flex" style="flex:auto">
                    {{this.description}}
                  </div>
                </a>
                <div class="reply-like d-flex mt-2">
                  <a href="/tweets/{{this.id}}" class="text-muted">
                    <div><i class="far fa-comment mr-2"></i>{{this.Replies.length}}</div>
                  </a>
                  <div class="ml-4 like"><i class="far fa-heart mr-2"></i>{{this.Likes.length}}</div>


                  {{#if isLiked}}
                  <form action="/tweets/{{this.id}}/like?_method=DELETE" method="POST">
                    <button class="btn" type="submit"><i class="fas fa-heart" style="color:#E0245E"></i></button>
                  </form>
                  {{else}}
                  <form action="/tweets/{{this.id}}/like" method="POST">
                    <button class="btn" type="submit"><i class="far fa-heart"></i></button>
                  </form>
                  {{/if}}


                </div>
              </div>

            </div>
          </div>
          <hr />
          {{/each}}
        </div>
        {{!-- 貼文結束 --}}

        {{!-- 推文區結束 --}}

        {{!-- 推文/推文與回覆/喜歡的內容區塊結束 --}}
      </div>



    </div>
    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 使用者開始 --}}
          {{#each topUsers}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div>
                <img class="user-pic" src="{{this.avatar}}" alt="">
              </div>
              <div class="name-account ml-2">
                <div class="name">{{this.name}}</div>
                <div class="account">@{{this.account}}</div>
              </div>
              <div class="button">

                {{#if this.isFollowed }}
                <form action="/followships/{{currentUser.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn follow-button">正在跟隨</button>
                </form>
                {{else}}
                <form action="/followships/{{currentUser.id}}" method="POST" style="display: contents;"><button
                    type="submit" class="btn unfollow-button"> 跟隨 </button></form>
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>

{{!-- add-tweet Modal --}}
<div class="modal fade" id="add-tweet" tabindex="-1" role="dialog" aria-labelledby="add-tweet" aria-hidden="true">

  {{> add-tweet currentUser=currentUser}}

</div>
{{!-- add-tweet Modal --}}

{{!-- edit-user Modal --}}
<div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="edit-user" aria-hidden="true">

  {{> editUser currentUser=currentUser}}

</div>
{{!-- edit-user Modal --}}


<script>
  const name = document.querySelector("#name")
  const introduction = document.querySelector("#introduction")
  const saveButton = document.querySelector("#save-button")

  saveButton.addEventListener("click", function check(event) {
    console.log(event)
    if (name.value.length < l) {
      name.classList.add("is-invalid")
      name.nextElementSibling.innerHTML = "名稱不得為空"
      event.preventDefault()
    }

    if (introduction.value.length < l) {
      introduction.classList.add("is-invalid")
      introduction.nextElementSibling.innerHTML = "名稱不得為空"
      event.preventDefault()
    }


    if (name.value.length > 50) {
      name.classList.add("is-invalid")
      event.preventDefault()
    }
    if (introduction.value.length > 150) {
      email.classList.add("is-invalid")
      event.preventDefault()
    }
  })
</script>