<div class="row">
    <div class="col">{{> left-nav}}</div>
    
    <div class="col-7 border-start border-end px-0">
        <div class="d-flex py-2">
            <h4 class="my-0 pe-0 me-0 fw-bold blockstyle" onclick="history.back()" >←</h4>
            <h4 class="my-0 ms-0 px-1 fw-bold">推文</h4>
        </div>
        <hr class="my-2 "/>
        <div class="row mx-0 px-0">
            <div class="col-1">
                <img src="{{tweet.User.avatar}}" class="rounded-circle" style="width:50px;height:50px;">
            </div>
            <div class="col">
                    <span class="fw-bold fs-5">{{tweet.User.name}}</span>
                    <small>@{{tweet.User.account}}</small>
            </div>
        </div>
        <div class="row  mx-0 px-0 ">
            <div class="col">
                <p class="fs-4 mb-0">{{tweet.description}}</p>
            </div>
        </div>
        <div class="row  mx-0 px-0 ">
            <div class="col ">
                <small>{{localizedTimeFormat tweet.createdAt}}</small>
            </div>
        </div>
        <hr class="my-2 "/>
        <div class="row mx-0 px-0">
            <div class="col">{{replies.count}}回覆  {{likes.count}}喜歡次數</div>
        </div>
        <hr class="my-2 "/>
        <div class="row mx-0 px-0">
            <div class="d-flex">
                <div class="col-1">
                    <button type="button" class="border-0 bg-body" data-bs-toggle="modal" data-bs-target="#tweet{{tweet.id}}Reply"><i class="far fa-comment"></i></button>
                </div>
                <div class="modal fade" id="tweet{{tweet.id}}Reply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="modal-body row">
                                <div class="col-2 me-0">
                                    <img src="{{tweet.User.avatar}}" class="rounded-circle" style="width:50px;height:50px">
                                </div>
                                <div class="col px-0">
                                    <span class="fw-bold fs-6">{{tweet.User.name}}</span><small>@{{tweet.User.account}} ‧ </small><span>{{relativeTimeFromNow tweet.updatedAt}}</span>
                                    <br/>
                                    {{tweet.description}}
                                    <br/>
                                    <small>回覆給<span style="color:#FF6600">@{{tweet.User.account}}</span></small>
                                </div>
                                <br/>                                   
                                <form method="POST" action="/tweets/{{tweet.id}}/replies">
                                    <div class="row">
                                        <div class="col-2 me-0">
                                            <img src="{{user.avatar}}" class="rounded-circle" style="width:50px;height:50px"> 
                                        </div>
                                        <div class="col mx-0 px-0">
                                            <textarea class="border-0 mt-2 mx-0 px-0" style="width:100%; border: none;outline: none;resize:none" placeholder="推你的回覆" id="floatingTextarea2" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn border-0 text-light rounded-pill " style="background-color: #FF6600;">回覆</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if likes.isLiked}}
                    <form method="POST" action="/tweets/{{tweet.id}}/unlike">
                        <button type="submit" class="border-0 bg-body"><i class="fas fa-heart text-danger text-danger"></i> {{this.totalLike}}</button>
                    </form>
                {{else}}
                    <form method="POST" action="/tweets/{{tweet.id}}/like">
                        <button type="submit" class="border-0 bg-body"><i class="far fa-heart"></i> {{this.totalLike}}</button> 
                    </form>                        
                {{/if}}
            </div>
        </div>
        <hr class="mt-2 mb-0"/>
        {{#each replies.rows}}
            {{> reply-block tweet=../tweet User=this.User}}
        {{/each}}
    </div>

    <div class="col-3">{{> right-nav}}</div>
</div>
