<div class="container-fluid">
  <div class="row flex-nowrap ps-xl-4 ps-md-3">
    <div class="col-3 col-lg-3 col-md-2 px-sm-2 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
        style="position: fixed;">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ps-3" href="/">
          <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-8192.png"
            alt="" class="img-fluid my-3" style="display: block; width: 50px;" />
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu"
          style="width: 100%;">
          <li class="nav-item p-2">
            <a class="nav-link align-middle text-dark h-tomato" href="/tweets">
              <i class="fas fa-home a-tomato" style="font-size: 1.2em;"></i>
              <span class="d-none d-sm-inline h5 ps-3 a-tomato fw-bold">首頁</span>
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link align-middle text-dark h-tomato" href="/users/{{user.id}}">
              <i class="far fa-user" style="font-size: 1.2em;"></i>
              <span class="d-none d-sm-inline h5 ps-3 fw-bold">個人資料</span>
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link align-middle text-dark h-tomato" href="/setting">
              <i class="fas fa-cog" style="font-size: 1.2em;"></i>
              <span class="d-none d-sm-inline h5 ps-3 fw-bold">設定</span>
            </a>
          </li>
          <li class="nav-item p-2" style="width: inherit;">

            <button type="submit" class="btn btn-tomato rounded-pill mt-3" style="width: 100%;" data-bs-toggle="modal"
              data-bs-target="#tweetModal">
              <span class='h5 fw-bold d-none d-sm-inline'>推文</span>
              <i class="fas fa-feather-alt d-sm-none"></i>
            </button>
          </li>
        </ul>
        <hr />
        <div class="dropdown p-2 pb-4">
          <a href="/signout" class="d-flex align-middle text-decoration-none text-dark">
            <i class="fas fa-sign-out-alt" style="font-size: 1.2em;"></i>
            <span class="d-none d-sm-inline h5 ps-2 fw-bold">登出</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row col-9 col-lg-6 col-md-7 col-sm-8 py-2">
      <div class="card-header col-12">
        <a href="javascript:history.back()"  class="d-flex align-middle text-decoration-none text-dark">
        <i class="fas fa-long-arrow-alt-left" style="font-size: 1.6em;  margin-right: 10px"></i>
        <span class="h5" style="font-weight: bold;">推文</span>
        </a>
      </div>
      {{> message}}
      <div class="card-body">
        <div class="row justify-content-around mb-1">
          <div class="row col-11">
            <div class="card-image col-1 d-flex justify-content-center align-items-center">
              <a href="/users/{{tweet.UserId}}" class="h5 text-dark text-decoration-none">
              <img src="{{tweet.User.avatar}}" class="rounded-circle p-md-0 p-1" style="width: 50px; height: 50px" alt="A user" /></a>
            </div>
            <div class="col-11 align-self-center px-md-2 px-4">
              <a href="/users/{{tweet.UserId}}" class="h5 text-dark text-decoration-none">{{tweet.User.name}}</a>
              <span style="color: #6c757d; font-size: 0.875em">@{{tweet.User.account}}．{{moment tweet.createdAt}}</span>
              <p class="mt-2">{{tweet.description}} </p>
              <div class="col-3 d-flex align-items-center justify-content-center ">
                {{#if this.isLiked }}
                <form action="/tweets/{{tweet.id}}/unlike" method="POST">
                  <button type="submit" class="btn" style="width: 60px; height: 30px">
                    <i class="fas fa-heart"> {{ tweet.likes }}</i>
                  </button>
                </form>
                {{else}}
                <form action="/tweets/{{tweet.id}}/like" method="POST">
                  <button type="submit" class="btn" style="width: 60px; height: 30px">
                    <i class="far fa-heart"> {{ tweet.likes }}</i>
                  </button>
                </form>
                {{/if}}

                {{#if tweet.replyCount}}
                  <button type="submit" class="btn" style="width: 60px; height: 30px" data-bs-toggle="modal"
                    data-bs-target="#replyModal">
                    <span class='h5 fw-bold d-none d-sm-inline'></span>
                    <i class="fas fa-comment"> {{ tweet.replyCount }}</i>
                  </button>
                {{else}}
                <button type="submit" class="btn" style="width: 60px; height: 30px" data-bs-toggle="modal" data-bs-target="#replyModal">
                  <span class='h5 fw-bold d-none d-sm-inline'></span>
                  <i class="far fa-comment"> {{ tweet.replyCount }}</i>
                </button>               
                {{/if}}

              </div>
            </div>
          </div>
          {{#ifCond user.id tweet.UserId}}
          <div class="col-1 d-flex align-items-center justify-content-center">

            <form action="/tweets/{{this.id}}?_method=DELETE" method="post" onsubmit="return deleteConfirm()">
              <button type="submit" class="btn">
                <i class="fas fa-times"></i>
              </button>
            </form>
          </div>
          {{/ifCond}}
        </div>
      <hr>
      <div class="card-body">
        {{#each tweet.Replies}}
        <div class="row justify-content-around mb-1">
          <div class="row col-11">
            <div class="card-image col-1 d-flex justify-content-center align-items-center">
              <img src="{{this.User.avatar}}" class="rounded-circle p-md-0 p-1" style="width: 50px; height: 50px" alt="A user" />
            </div>
            <div class="col-11 align-self-center px-md-2 px-4">
              <a href="/users/{{this.UserId}}" class="h5 text-dark text-decoration-none">{{this.User.name}}</a>
              <span style="color: #6c757d; font-size: 0.875em">@{{this.User.account}}．{{moment this.createdAt}}</span>
              <p class="mt-2 text-break">{{this.content}} </p>
            </div>
          </div>
            {{#ifCond this.User.id ../user.id}}
            <div class="col-1 d-flex align-items-center justify-content-center">
              <form action="/replies/{{this.id}}?_method=DELETE" method="post" onsubmit="return deleteConfirm()">
                <button type="submit" class="btn">
                  <i class="fas fa-times"></i>
                </button>
              </form>
            </div>
            {{/ifCond}}
          </div>
          <hr />
          {{/each}}
        </div>
      </div>  
    </div>
  </div>
