{{!-- TODO:只滾動 col-md-6 部分 --}}

{{> left}}


<div class="col-6 d2">
  <div class="col-md-6">
    <div>
      {{!-- 查看單篇推文回覆列表 --}}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/tweets"><span>←推文</span></a>

      </nav>
    </div>

    <div>
      <blockquote class="blockquote mb-0">
        <img src="{{ tweet.User.avatar }}" alt="user-picture" class="rounded-circle" style="width: 64px; height:64px;">
        <span><a href="/users/{{ tweet.User.id }}">{{ tweet.User.name }}</a></span>
        <span class="blockquote-footer"> @{{ tweet.User.account }}</span>
        <span>{{ localizedFormat tweet.createdAt }}</span>
        <p>{{ tweet.description }}</p>
        <div>
          <span><a href="/tweets/{{tweet.id}}/repliesFake"><img src="/images/回覆框.svg" alt="">{{ tweet.Replies }}</a></span>
          {{!-- this.isLiked --}}
          {{#if tweet.isLiked}}
          <form action="/tweets/{{ tweet.id }}/unlike" method="POST">
            <button class="tweets_btn" type="submit" style="background: transparent;border-width:0px; outline:none">
              <img src="/images/紅心.svg" alt="">
              {{#if tweet.Likes}}
              {{ tweet.Likes}}
              {{else}}
              0
              {{/if}}
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{ tweet.id }}/like" method="POST">
            <button class="tweets_btn" type="submit"style="background: transparent;border-width:0px; outline:none">
              <img src="/images/案讚數.svg" alt="">
              {{#if tweet.Likes}}
              {{ tweet.Likes}}
              {{else}}
              0
              {{/if}}
            </button>
          </form>
          {{/if}}
        </div>
      </blockquote>
      <hr />
    </div>
    {{#each replies}}
    <blockquote class="blockquote mb-0">
      <img src="{{ this.User.avatar }}" alt="user-picture" class="rounded-circle" style="width: 64px; height:64px;">
      <span><a href="/users/{{ this.userId }}">{{ this.User.name }}</a></span>
      <span class="blockquote-footer"> @{{ this.User.account }}</span>
      <span>{{ relativeTimeFromNow this.createdAt }}</span>
      <p>{{ this.comment }}</p>
      <div>
        {{!-- 延伸挑戰 --}}
        {{!-- <span><a href="/tweets/{{this.id}}/replies">回覆</a></span> --}}
        <span><img src="/images/回覆框.svg" alt=""></span>
        {{!-- 延伸挑戰 --}}
        {{!-- <span><a href="/tweets/{{this.id}}/like">喜歡</a></span> --}}
        <span><img src="/images/案讚數.svg" alt=""></span>
      </div>
    </blockquote>
    <hr />
    {{/each}}
  </div>
</div>



{{> right topUsers=topUsers}}
</div>