{{!-- Center --}}
<div class="col border-left border-right">
  <ul class="list-group" >
    <li class="list-group-item">
      <strong>首頁</strong>
    </li>
    <li class="list-group-item">
    <form>
      <div class="row">
        <div class="col-2">
          <img src="" alt="user avatar" style="width: 50px; border-radius: 50%;">
        </div>
        <div class="col-10">  
          <textarea placeholder="有什麼新鮮事?" class="form-control" id="tweet" name="tweet" rows="3"  style="border: none;"></textarea>
        </div>
      </div>
      <a href="#" class="btn" style="border-radius: 18px; background:coral; color:white; width: 60px; float: right;" >推文</a>
    </form>
    </li>
  
    {{#each tweets}}
    <li class="list-group-item">
      <div class="row"> 
        <div class="col-2">
          <a href="">
            <img src="{{this.user.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%">
          </a>
        </div>
        <div class="col-10">
          <strong style="display: inline;">{{this.user.name}}</strong> <font color="grey">@{{this.user.account}} {{moment this.createdAt}}</font> 
          <p>{{this.description}}</p>
          <div class="row">
            <div class="col-2">
              <a href="" style="color:black;"><i class="far fa-comment-alt"></i>  {{this.repliesCount}}</a>
            </div>
            <div class="col-2">
              <form action="">
                <i class="far fa-heart"></i>  {{this.likesCount}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  
  {{/each}}
</div>
{{!-- Right side --}}
<div class="col-4">
  <ul class="list-group mt-3 ml-3" >
    <li class="list-group-item" style="background-color:lightgray;">
      <strong>跟隨誰</strong>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <div class="d-flex">
        {{!-- <div class="p-3">Avatar</div> --}}
        <img class="mr-3" src="#" alt="Avatar">
        <div>
          <strong>Name</strong><br> 
          <span class="text-muted">@UserName</span>
        </div>
        <div class="align-self-center ml-auto">
          <a href="#" class="btn" style="border-radius: 18px; background:coral; color:white; width: auto">正在跟隨</a>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <div class="d-flex">
        <img class="mr-3" src="#" alt="Avatar">
        <div>
          <strong>Name</strong><br>
          <span class="text-muted">@UserName</span> 
        </div>
        <div class="align-self-center ml-auto">
          <a href="#" class="btn" style="border-radius: 18px; width: auto; border-color: coral; color:coral">跟隨</a>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <a href="#" style="color: coral;">顯示更多</a>
    </li>
  </ul>
</div>