<div class="container-fluid">
  {{!-- left-column --}}
  {{> left-column}}
  <div class="tweets-center">
    <div class="tweets-title">
      首頁
    </div>
    <div class="tweets-input">
      <div class="main-left">
        <img src="{{userSelf.avatar}}" class="rounded-circle" style="width: 50px;height:50px;">
      </div>
      <div class="main-right">
        <form action="/tweets" method="POST">
          <textarea class="form-control tweetText" id="tweetText" name="tweetText" placeholder="有什麼新鮮事？"></textarea>
          <button type="submit" class="btn btn-tweet-2" id="tweetTextBtn">推文</button>
        </form>
      </div>
    </div>
    <div class="tweets-list">
      {{#each tweets}}
      <div class="card tweets-content">
        <div class="card-body tweets-body">
          <div class="left-item">
            <a href="/users/{{this.UserId}}">
              <img src="{{this.User.dataValues.avatar}}" class="rounded-circle"
                style="width: 50px;height:50px;background-color:#C4C4C4;">
            </a>
          </div>
          <div class="right-item">
            <div class="title">
              <span class="name">
                <a href="/users/{{this.UserId}}">
                  {{this.User.dataValues.name}}
                </a>
              </span>
              <span class="time">
                @{{this.User.dataValues.account}}・{{moment this.createdAt}}
              </span>
            </div>
            <div class="body">
              {{this.description}}
            </div>
            <div class="footer">
              <div class="footer-item reply-item">
                <button type="button" class="btn reply-on" data-toggle="modal" data-target="#replyModal">
                  <i class="icon-reply"></i>
                </button>
                <div class="item-count reply-count">{{this.Replies.length}}</div>
              </div>
              <div class="footer-item like-item">
                <button type="button" class="btn">
                  <i class="icon-like"></i>
                </button>
                <div class="item-count like-count">{{this.Likes.length}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- right-column --}}
  {{> right-column}}
  {{> modal}}
</div>