
<div class="row" style="width:100%;">
  {{!-- navbar --}}
  <div class="col-3">
    <img class="mb-4 pl-2" src="/images/logo.png">
    <div class="nav-ul-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item py-2">
          <a class="nav-link active" href="/">
            <i class="fas fa-home"></i>
            <span class="ml-3">首頁</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link" href="/users/{{ user.id }}/tweets">
            <i class="far fa-user"></i>
            <span class="ml-3">個人資料</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link" href="/users/{{ user.id}}/setting/edit">
            <i class="fas fa-cog"></i>
            <span class="ml-3">設定</span>
          </a>
        </li>
        <li class="nav-item nav-btn-modal py-2">
          <a class="btn btn-modal py-2" data-toggle="modal" data-target="#tweetModal">推文</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">登出</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- content --}}
  <div class="col-5 content-container">
    <div class="card border-light mb-3 ">
      <div class="card-header"><span class="header1">首頁</span></div>
      <div class="card-body d-flex">
        <a href="/users/{{user.id}}/tweets">
          <img class="avatar small mr-3" src="{{user.avatar}}">
        </a>
        <form action="/tweets" method="POST" style="width:100%;">
          <div class="form-group">
            <label for="tweet"></label>
            <textarea type="text" class="post-content form-control " id="description" name="description"
              placeholder="有什麼新鮮事?" rows="5" cols="47"></textarea>
          </div>
          <button type="submit" class="btn" id="btn">推文</button>
        </form>
      </div>
    </div>

    {{!-- tweets --}}
    <div class="card">
      {{#each tweets}}
      <div class="card-body d-flex">
        <img class="avatar small mr-3" src="{{this.tweetsUserAvatar}}">
        <div>
          <p class="card-title">{{this.tweetsUserName}}
            <span class="atAccount">@{{this.tweetsUserAccount}}•{{moment
              this.tweetsCreatedAt}}</span>
          </p>
          <a href="/tweets/{{this.tweetsId}}/replies" class="text-muted">
            <p class="post-text">{{this.tweetsContent}}</p>
          </a>
          <div class="d-flex">
            <div class="reply" id="reply" data-toggle="modal" data-target="#exampleModal-reply">
              <i class="far fa-comment"></i>
              <span class="ml-2">30</span>
            </div>
            <div class="likeBtn">
              {{!-- unlike tweet --}}
              {{#if this.isLiked}}
              <form action='/tweets/{{this.tweetsId}}/unlike' method="POST">
                <button class="" type="submit">
                  <i class="far fa-heart"></i>
                  <span class="ml-2">{{this.likeTotal}}</span>
                </button>
              </form>
              {{else}}
              {{!-- Like tweet --}}
              <form action='/tweets/{{this.tweetsId}}/like' method="POST">
                <button class="btn" type="submit">
                  <i class="far fa-heart"></i>
                  <span class="ml-2">{{this.likeTotal}}</span>
                </button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- popular --}}
  <div class="col-4">
    <div class="card border-light popular">
      <div class="card-header">
        Popular
      </div>
      <ul class="list-group list-group-flush">
        {{#each users}}
        <li class="list-group-item d-flex">
          <div class="mr-2">
            <img class="avatar small" src="{{this.topUserAvatar}}">
          </div>
          <div class="mr-5">
            <p class="mb-0">{{this.topUserName}}</p>
            <p class="atAccount">@{{this.topUserAccount}}</p>
          </div>
          <div class="pt-2">
            {{#if this.isFollowed}}
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn py-2">正在跟隨</button>
            </form>
            {{else}}
            <form action="/followships/{{this.id}}" method="POST">
              <button type="submit" class="btn py-2">跟隨</button>
            </form>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>