<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>

  {{>modal}}

  <div class="center-content d-flex" id="tweet-content">
    <div class="head justify-content-between ">
      <h5 class="tweet-title">首頁</h5>
      <div class="tweet-content">
        <div class="tweet-avatar">
          <img class="ml-2 mt-2" {{#if user.avatar}}src={{user.avatar}}{{/if}}
            style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
        </div>
        <form method="POST" action="/tweets">
          <div class="tweet-comment">
            <textarea name="description" id="description" rows="10" cols="30" placeholder="有什麼新鮮事？"></textarea>
          </div>
          <button type="submit" class="tweet-content-button">
            推文
          </button>
        </form>
      </div>
      <div class="tweet-all">
        {{#each tweets}}
        <div class="tweet-content-box" onclick="location.href='/tweets/{{this.id}}'">
          <div class="tweet-content-left">
            <a href="/users/{{this.User.id}}/tweets">
              <img class="ml-2 mt-2" {{#if this.User.avatar}}src={{this.User.avatar}}{{/if}}
                style="background: #C4C4C4;border-radius: 100%; width: 50px; height: 50px">
            </a>
          </div>
          <div class="tweet-content-right">
            <div class="tweet-content-username">
              <a href="/users/{{this.User.id}}/tweets" class="user-name">{{this.User.name}}</a>
              <span class="user-account">@{{this.User.account}}．{{moment this.createdAt}}</span>
            </div>
            <div class="tweet-content-info">
              <span class="tweet-content-description">{{this.description}}</span><br>
            </div>
          </div>
        </div>
        <div class="tweet-content-bottom" style="margin-left: 60px">
          {{!-- reply icon --}}
          <button type="button" class="button tweet-reply-link" data-toggle="modal" data-target="#replyModal{{@index}}">
            <i class="fas fa-cus-reply" aria-hidden="true"></i>{{this.Replies.length}}
          </button>
          {{!-- like/unlike icon --}}
          {{#if isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST">
            <button type="submit" class="button tweet-like-link">
              <i class="fas fa-cus-filled-like"></i>{{this.LikedUsers.length}}
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST">
            <button type="submit" class="button tweet-like-link">
              <i class="fas fa-cus-like"></i>{{this.LikedUsers.length}}
            </button>
          </form>
          {{/if}}
        </div>

        {{!-- reply modal --}}
        <div class="modal" tabindex="-1" role="dialog" id="replyModal{{@index}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="reply-modal">
                <div class="reply-modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="tweet-modal-close-button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="reply-modal-body">
                  <div class="reply-modal-tweet d-flex">
                    <div class="tweet-content-left d-flex flex-column align-items-center">
                      <img class="mt-2" {{#if this.User.avatar}}src={{this.User.avatar}}{{/if}}
                        style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px; margin-left:15px">
                      <div class="extension-line"></div>
                    </div>
                    <div class="tweet-content-right">
                      <div class="tweet-content-username">
                        <span class="user-name">{{this.User.name}}</span>
                        <span class="user-account">@{{this.User.account}}．{{moment this.User.createdAt}}</span><br>
                      </div>
                      <div class="tweet-content-info">
                        <span class="tweet-content-description">{{this.description}}</span><br>
                        <span class="reply-account">回覆@</span><span
                          class="reply-tweet-account">{{this.User.account}}</span><br><br>
                      </div>
                    </div>
                  </div>
                  <div class="reply-modal-reply" style="padding-top: 3px">
                    <img {{#if ../user.avatar}}src={{../user.avatar}}{{/if}}
                      style=" background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
                    <form method="POST" action="/tweets/{{this.id}}/replies">
                      <textarea class="tweet-modal-textarea" name="comment" id="comment" cols="30" rows="10"
                        placeholder="推你的回覆"></textarea>
                      <button type="submit" class="tweet-modal-button">
                        回覆
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
  </div>

  <div class="right-content">
    {{>right-column}}
  </div>
</div>