<div class="row">
  <div class="col-md-3 d-flex flex-column flex-shrink-0 p-3">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <h4>
              <a class="nav-link" href="/tweets">首頁</a>
            </h4>
          </div>
          <div>
            <h4>
              <a class="nav-link" href="/users/self/{{user.id}}">個人介面</a>
            </h4>
          </div>
          <div>
            <h4>
              <a class="nav-link" href="/users/setting">設定</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 d-flex flex-column flex-shrink-0 p-3">
    <div class="card">
      <div class="card-header">
        推文清單
      </div>

      <div class="card-body">
        <tbody>
          {{#each tweets}}
          <tr>
            <td>
              <h4>
                <a href="/tweets/{{this.id}}">{{this.User.name}}</a>
              </h4>
            </td>
            <td>
              <p>{{this.content}}</p>
            </td>
            <td>
              {{moment this.createdAt}}
            </td>
            <hr>
          </tr>
          {{/each}}
        </tbody>
      </div>
    </div>
  </div>


  {{!-- add by kou sidebar of followering--}}
  <div class="d-flex flex-column flex-shrink-0 co" style="width: 350px">
    <div class="card" style="width: 22rem;border:none;position:fixed">
      <ul class="list-group list-group">
        <li class="list-group-item bg-light"
          style="height: 50px;font-size:large;border-left: none;border-right: none;border-top: none">
          跟隨誰
        </li>
        {{#each followship}}
        <li class="list-group-item bg-light" style="border-left: none;border-right: none">
          <div class="row">
            <div class="col-2">
              <a href="/users/other/{{this.id}}" class="text-center">
                <img src="{{this.img}}" alt="" width="65" height="65" class="rounded-circle rounded"> </a>
            </div>

            <div class="col-5" style="margin-top:auto;margin-botton:auto;margin-left:1vw">
              <p>{{this.name}} <br>
                <small class="text-muted"> @{{this.account}}</small>
              </p>
            </div>

            <div class="col-4" style="margin:auto">
              {{#if this.isFollowed}}
              <button type=" submit" class="btn btn-success btn-sm rounded-pill">正在跟隨</button>
              {{else}}
              <button type="submit" class="btn btn-outline-success btn-sm rounded-pill">跟隨</button>
              {{/if}}
            </div>
          </div>
        </li>
        {{/each}}
        <li class="list-group-item bg-light" style="border-left: none;border-right: none;border-bottom: none">
          <a href=" /users/{{id}}/follower" class="bg-light" style="text-decoration: none;color:tomato">顯示更多</a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- add by kou --}}
</div>