{{> leftbar}}

<div class="middle right-line-2 left-line-2">
  <div>
    <p class="middle-title">首頁</p>
  </div>
  <div class="tweetbox top-line-2 rel">
    <form action="/tweets" method="POST">
      <img class="avatar-img m16-8-0-27 fl" src="{{viewUser.avatar}}" alt="" style="border-radius: 50%">
      <span>
        <textarea class="modal-input-tweets mt-3" type="description" name="description" id="description" cols="30"
          rows="10" placeholder="有什麼新鮮事?" maxlength="140"></textarea>
        <input type="hidden" name="UserId" value="{{tweets.User.id}}" />
      </span>
      <div>
        <button class="tweetbtn-s abs" type="submit">推文</button>
      </div>
    </form>
  </div>
  <div class="bottom-line-10 m-0 p-0"></div>


  {{#each tweets}}
  <div>
    <div class="fl">
      <img class="ac-img" src="{{this.User.avatar}}" alt="" style="border-radius: 50%">
    </div>
    <div class="tweet-flow-text fl">
      <div class="tweet-flow-text fl">
        <a href="/users/{{this.User.id}}/tweets" class="text-decoration-n">
          <span class="twitterbox-name">{{this.User.name}}</span>
        </a>
        <span class="twitterbox-time">@{{this.User.name}} ‧ {{relativetimeFromNNow this.createdAt}} </span>
        <a href="/tweets/{{this.id}}/replies" class="text-decoration-n">
          <p class="twitterbox-text">
            {{this.description}}
          </p>
        </a>
        <span class="twitterbox-time mx-40">
          <button class="btn" data-bs-target="#replyModal{{this.id}}" data-bs-toggle="modal"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">{{this.Replies.length}}</button></span>
        </span>
        {{!-- isLiked --}}
        {{#if this.isLiked}}
        <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
          <span class="twitterbox-time">
            <button type="submit" class="btn">
              <img class="tweet-flow-img" src="/images/like@2x.png" alt="">
              {{this.Likes.length}}
            </button>
          </span>
        </form>
        {{else}}
        <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
          <span class="twitterbox-time">
            <button type="submit" class="btn">
              <img class="tweet-flow-img" src="/images/unlike@2x.png" alt="">
              {{this.Likes.length}}
            </button>
          </span>
        </form>
        {{/if}}
        <div class="bottom-line-f"></div>
      </div>
    </div>
  </div>
  {{> reply-modal}}
  {{/each}}

  {{> user-tweet}}
  

</div>

{{> rightbar}}




  <script>
    const replyButton = document.querySelector('.reply-button')
    const reply = document.querySelector('.reply')
    const hint = document.querySelector('.hint')
    replyButton.addEventListener('click', (e) => {
      if (reply.innerText === '') {
        e.preventDefault()
        hint.innerText = '內容不可空白'
      }
    })
    const tweetOneButton = document.querySelector('.tweetOne-button')
      const tweet = document.querySelector('.tweetOne')
      const hint = document.querySelector('.hint')
      tweetOneButton.addEventListener('click', (e) => {
        if (tweet.innerText === '') {
          e.preventDefault()
          console.log(hint.innerText)
          hint.innerText = '內容不可空白'
        }
      })
  </script>
