<div class="row">
  <!-- 左側nav bar -->
  <div class="col-3" style="padding:0 0 0 70px;">

    <div class=" container" style="padding: 0;">

      <nav class="navbar">
        <div class="container-fluid">
          <img src="/stylesheets/icons/logo.svg" width="40" height="40" href="#" alt="logo">
        </div>
      </nav>

      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/tweets" style="color: rgb(255, 106, 0);font-size:18px;">
            <img style="margin: 0 7px 5px 0;" src="/stylesheets/icons/home_filled.svg" width="18" height="18"
              alt="homepage">
            <strong>首頁</strong>
          </a>
        </div>
      </nav>

      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users/{{user.id}}/tweets" style="color: black;font-size:18px;">
            <img style="margin: 0 7px 5px 0;" src="/stylesheets/icons/user_outlined.svg" width="18" height="18"
              alt="profile">
            <strong>個人資料</strong>
          </a>
        </div>
      </nav>

      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: black;font-size:18px;">
            <img style="margin: 0 7px 5px 0;" src="/stylesheets/icons/cog_outlined.svg" width="18" height="18" href="#"
              alt="setting">
            <strong>設定</strong>
          </a>
        </div>
      </nav>

      <nav class="navbar">
        <div class="container-fluid">
          <button type="button" id="btn-nav-tweet" data-bs-toggle="modal" data-bs-target="#tweetModal"
            style="color: white; background-color:rgb(255, 106, 0); font-size:18px;">
            <strong>推文</strong>
          </button>
        </div>
      </nav>

    </div>


    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/logout" style="color: black;font-size:18px;">
          <img style="margin: 0 7px 5px 0;" src="/stylesheets/icons/logout.svg" width="18" height="18" href="#"
            alt="logout">
          <strong>登出</strong>
        </a>
      </div>
    </nav>

  </div>

  <!-- 中間首頁 -->
  <div class="col-5" style="padding:0;background-color:white; border:2px #ECECEC solid; border-top-color:white;">
    <div style="padding:15px;height:50px;display: flex; align-items:center;">
      <span style="font-size: 22px;"><strong>首頁</strong></span>
    </div>
    <div style="padding:15px; border-top:2px #ECECEC solid;">
      <div class="position-relative" data-bs-toggle="modal" data-bs-target="#tweetModal" style="height:100px;">
        <div style="margin: 0 10px;"></div>
        <img src={{user.avatar}} width="50" height="50" style="border-radius: 99em">
        <strong style="color:	#757676; font-size: 18px; margin:0 5px;">有什麼新鮮事?</strong>
        <button type="button" id="btn-tweet" class="position-absolute bottom-0 end-0"
          style="color: white; background-color:rgb(255, 106, 0); font-size:14px;">
          <strong>推文</strong>
        </button>
      </div>
    </div>

    <div style="margin: 0;height:7px;background-color: #ECECEC;"></div>

    <!-- 中間推文 -->
    {{#each tweets}}
    <div style="padding:5px 15px; border-top:2px #ECECEC solid; display:flex;">
      <img src={{this.User.avatar}} width="50" height="50" style="border-radius: 99em">
      <div class="position-relative" style="margin:0 0 0 5px;">
        <span style=" font-size:18px;" id="name"><strong>{{this.User.name}} </strong></span>

        <a href="/tweets/{{this.id}}/replies" style="text-decoration:none; color:black;">
          <span style="color:gray; font-size:14px;"> @{{this.User.account}}·{{relativeTimeFromNow
            this.createdAt}}</span>
          <div style="margin: 2px 0; word-break: break-all;">{{this.description}}
          </div>
        </a>
        <div id="icon-container" style="display: flex; align-items:center">

          <img id="reply" data-bs-toggle="modal" data-bs-target="#replyModal" style="margin: 0; cursor:pointer;"
            src="/stylesheets/icons/reply_outlined.svg" width="16" height="16" href="#" alt="reply"
            onclick="btnReply(`{{this.id}}`)">
          <span style="margin:0 35px 0 8px;">{{this.replyCount}}</span>
          {{#if this.isLiked}}
          <form id="unlike" name="unlike" action="/tweets/{{this.id}}/unlike" method="POST"
            style="display: flex; align-items:center;">
            <input type="image" img src="/stylesheets/icons/like_filled.svg" width="16" height="16"
              onClick="document.unlike.submit()">
          </form>
          {{else}}
          <form id="like" name="like" action="/tweets/{{this.id}}/like" method="POST"
            style="display: flex; align-items:center;">
            <input type="image" img src="/stylesheets/icons/like_outlined.svg" width="16" height="16"
              onClick="document.unlike.submit()">
          </form>
          {{/if}}
          <span style="margin:0 8px;">{{this.likeCount}}</span>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

  <!-- 右側推薦跟隨 -->
  <div class=" col-4" style="padding: 12px 0 0 20px;">
    <div class=" card" style="width: 15rem; padding: 0 0 16px 0; background-color: #F5F5F5;">
      <div class="card-header" style="display:flex;align-items:center; background-color: #F5F5F5;">
        <span style="font-size:22px;"><strong>推薦跟隨</strong></span>
      </div>
      <ul class="list-group list-group-flush">
        {{#each users}}
        <li class="list-group-item" style="background-color: #F5F5F5; border-color:#F5F5F5"></li>
        <div style="display: flex; background-color: #F5F5F5; padding: 0 16px; justify-content:space-between;">
          <div style="display: flex;">
            <img src={{this.avatar}} width="50" height="50" style="border-radius: 99em">
            <div style="padding:0 5px;">
              <span style="font-size:18px; font-weight:bold;" id="name">{{this.name}} </span>
              <div style="color:gray; font-size:14px;"> @{{this.account}}</div>
            </div>
          </div>
          {{#if this.isFollowed}}
          <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" id="btn-tweet"
              style="color: white; background-color:rgb(255, 106, 0); font-size:14px; display: flex; width:90px;">
              正在跟隨
            </button>
          </form>
          {{else}}
          <form action="/followships" method="POST" style="display: flex; align-items:center;">
            <input type="hidden" name="id" value={{this.id}} />
            <button type="submit" id="btn-tweet"
              style="color: rgb(255, 106, 0); border: solid; border-color: rgb(255, 106, 0); background-color:white; font-size:14px; display: flex; margin:0; padding:0;">
              跟隨
            </button>
          </form>
          {{/if}}
        </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>

<!-- 推文Modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tweetModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/tweets" method="POST">
        <div class="modal-body">
          <textarea class="form-control" id="description" name="description" rows="3" cols="140" placeholder="有什麼新鮮事?"
            required></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" id="btn-tweet" style="color: white; background-color:rgb(255, 106, 0); font-size:14px;">
            <strong>推文</strong>
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- 回覆Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form id="action" action="" method="POST">
        <div class="modal-body">
          <div style="display: flex;">
            <img id="replyModalAvatar" src="" width="50" height="50" style="border-radius: 99em">
            <div style="margin: 0 10px;">
              <strong><span style="font-size:18px;" id="replyModalName"></span></strong>

              <span style="color:gray; font-size:14px;" id="replyModalAccount"></span>

              {{!-- <sapn style="color:gray; font-size:14px;" id="replyModalFromNow"></span> --}}

                <p style="margin: 2px 0; word-break: break-all;" id="replyModalDescription"></p>

                <span style="color:gray; font-size:14px;" id="replyModalAccount">回覆給</span>

                <span style="color:rgb(255, 106, 0); font-size:14px;" id="replyModalAt"></span>
            </div>
          </div>

          <div style="display: flex; margin:8px 0;">
            <img id="userAvatar" src="" width="50" height="50" style="border-radius: 99em">
            <div style="margin: 0 10px;">
              <span style="color:gray; font-size:14px;">推你的回覆</span>
            </div>
          </div>

          <textarea class="form-control" id="comment" name="comment" rows="3" cols="140" style="margin: 10px 0 0 0;"
            required></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" id="btn-tweet" style="color: white; background-color:rgb(255, 106, 0); font-size:14px;">
            <strong>回覆</strong>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  function btnReply(id) {
    const replyModal = document.getElementById('replyModal')

    if (replyModal) {
      replyModal.addEventListener('shown.bs.modal', event => {
        fetch(`http://localhost:3000/api/tweets/${id}`)
          .then(res => {
            return res.json();
          })
          .then(result => {
            document.querySelector('#replyModalAvatar').src = result.avatar
            document.querySelector('#replyModalName').textContent = result.name
            document.querySelector('#replyModalAccount').innerHTML = `  @${result.account}·`
            // document.querySelector('#replyModalFromNow').innerHTML = dayjs(${ result.createdAt }).fromNow()
            document.querySelector('#replyModalDescription').textContent = result.description
            document.querySelector('#replyModalAt').innerHTML = `  @${result.account}`
            document.querySelector('#userAvatar').src = result.loginUserAvatar
            document.querySelector('#action').action = `/tweets/${result.tweet_id}/replies`
          })
          .catch(error => console.error("Error:", error))
      })

    }
  }

</script>