{{!-- Center --}}
<div class="col">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="/tweets" style="color:black;"><i class="fas fa-arrow-left mr-4"></i></a>
      <strong>推文</strong>
    </li>
    <li class="list-group-item">
      <div class="flex-container">
          <img class="mr-2" src="{{tweet.User.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          <div> 
            <strong>{{tweet.User.name}}</strong><br> 
            <font color="grey">@{{tweet.User.account}}</font>
          </div>
      </div>
      <div class="mt-2">
        <p>{{tweet.description}}</p>
        <font color="grey" size="2px">{{date tweet.updatedAt}}</font>
      </div>
    </li>
    <li class="list-group-item">
      <strong>{{tweet.Replies.length}}</strong> 回覆 &nbsp
      <strong>{{tweet.Likes.length}}</strong> 喜歡次數
    </li>
    <li class="list-group-item">
      <button data-toggle="modal" data-target="#s{{tweet.id}}" style="color:black; border:none; background-color:white;" class="mr-5"><i class="far fa-comment-alt fa-lg"></i></button>
      {{#if isLikedTweet}}
      <form action="/like/{{tweet.id}}?_method=DELETE" method="POST" style="display: inline-block;">
        <button type="submit" style="color:black; border:none; background-color:white;"><i class="fas fa-heart fa-lg"></i></button>
      </form>
      {{else}}
      <form action="/like/{{tweet.id}}" method="POST" style="display: inline-block;">
        <button type="submit" style="color:black; border:none; background-color:white;"><i class="far fa-heart fa-lg"></i></button>
      </form>
      {{/if}}
    </li>
    {{#each tweet.Replies}}
    <li class="list-group-item">
      <div class="flex-container">
          <div class="item img">
            <img class="mr-2" src="{{this.User.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          </div>
          <div> 
            <strong>{{this.User.name}}</strong>
            <font color="grey">@{{this.User.account}} • {{moment this.updatedAt}}</font>
            <br>
            <font color="grey" size="2px">回覆</font>
            <a href="" style="color: coral;" style="font-size: 2px;">@{{../tweet.User.name}}</a>
            <section>{{this.comment}}</section>
            <button data-toggle="modal" data-target="#r{{this.id}}" style="color:black; font-size:10px; border:none; background-color:white;" class="mr-5"><i class="far fa-comment-alt"></i> {{this.ReplyComments.length}}</button>
            {{#if ../isLikedReply}}
            <form action="/like/{{this.id}}/replies?_method=DELETE" method="POST" style="display: inline-block;">
              <button type="submit" style="color:black; border:none; background-color:white; font-size: 2px;"><i class="fas fa-heart"></i></button>
              <div style="float: right;">{{this.Likes.length}}</div>   
            </form>
            {{else}}
            <form action="/like/{{this.id}}/replies" method="POST" style="display: inline-block; font-size: 2px;">
              <button type="submit" style="color:black; border:none; background-color:white;"><i class="far fa-heart"></i></button>
              <div style="float: right; ">{{this.Likes.length}}</div>   
            </form>
            {{/if}}
          </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{!-- Right side --}}
<div class="col-4">
  <ul class="list-group mt-3 ml-3" >
    <li class="list-group-item" style="background-color:lightgray;">
      <strong>跟隨誰</strong>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <div class="d-flex">
        {{!-- <div class="p-3">Avatar</div> --}}
        <img class="mr-3" src="#" alt="Avatar">
        <div>
          <strong>Name</strong><br> 
          <span class="text-muted">@UserName</span>
        </div>
        <div class="align-self-center ml-auto">
          <a href="#" class="btn" style="border-radius: 18px; background:coral; color:white; width: auto">正在跟隨</a>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <div class="d-flex">
        <img class="mr-3" src="#" alt="Avatar">
        <div>
          <strong>Name</strong><br>
          <span class="text-muted">@UserName</span> 
        </div>
        <div class="align-self-center ml-auto">
          <a href="#" class="btn" style="border-radius: 18px; width: auto; border-color: coral; color:coral">跟隨</a>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="background-color: lightgray;">
      <a href="#" style="color: coral;">顯示更多</a>
    </li>
  </ul>
</div>

<div class="modal fade" id="s{{tweet.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: coral;">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="flex-container mb-2">
          <div>
            <img class="mr-3" src="{{tweet.User.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          </div>
          <div>
            <strong>{{tweet.User.name}}</strong>
            <font color="grey">@{{tweet.User.account}} • {{moment tweet.updatedAt}}</font>
            <p>
              {{tweet.description}}
            </p>
            <font color="grey" size="2px">回覆給</font><font color="coral" size="2px">@{{tweet.User.name}}</font> 
          </div>
        </div>
        <div class="flex-container">
          <div>
            <img src="{{user.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          </div>
          <div style="width: 600px;">
            <form action="/tweets/{{tweet.id}}/replies" method="POST">
              <textarea placeholder="推你的回覆" class="form-control" id="comment" name="comment" rows="3"  style="border: none;"></textarea>
              <button class="btn" type="submit" style="border-radius: 18px; background:coral; color:white; width: 60px; float: right;">留言</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#each tweet.Replies}}
<div class="modal fade" id="r{{this.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: coral;">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div class="flex-container mb-2">
          <div>
            <img class="mr-3" src="{{this.User.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          </div>
          <div>
            <strong>{{this.User.name}}</strong>
            <font color="grey">@{{this.User.account}} • {{moment this.updatedAt}}</font>
            <p>
              {{this.comment}}
            </p>
            <font color="grey" size="2px">回覆給</font><font color="coral" size="2px">@{{this.User.name}}</font> 
          </div>
        </div>
        <div class="flex-container">
          <div>
            <img src="{{../user.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
          </div>
          <div style="width: 600px;">
            <form action="/replies/{{this.id}}" method="POST">
              <textarea placeholder="推你的回覆" class="form-control" id="comment" name="comment" rows="3"  style="border: none;"></textarea>
              <button class="btn" type="submit" style="border-radius: 18px; background:coral; color:white; width: 60px; float: right;">留言</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}