<div class="wrapper">
  <div class='container user-homepage'>
    <div class="profile-setting d-flex flex-column justify-content-between">{{> leftColumn}}</div>
    <div class="main">
      <div class='user-tweets-header'>
        <h4 class="mb-0">首頁</h4>
      </div>
      <form action='/tweets' method='POST'>
        <div class="tweet tweet-post d-flex">
          <a href="/users/{{user.id}}/tweets">
            <img class="avatar" src='{{user.avatar}}' alt='{{user.name}}\' s avatar'>
          </a>
          <textarea class='home-post-description' id='description' name='description' placeholder='有什麼新鮮事？' maxlength='140'></textarea>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <span class="secondary-text"><span class="home-post-number">0</span>/140</span>
          <button type="submit" class="btn btn-primary home-post-btn" disabled>推文</button>    
        </div>   
      </form>
      {{#each tweets}}
      <div class="tweet d-flex">
        <a href="/users/{{this.User.id}}/tweets">
          <img class="avatar" src="{{this.User.avatar}}" alt='{{this.User.name}}\' s avatar'>
        </a>
        <div class="post-content">
          <div class="post-user d-flex flex-row align-items-end">
            <a href="/users/{{this.User.id}}/tweets">
              <span class="user-name">{{this.User.name}}</span>
            </a>
            <span class="secondary-text">@{{this.User.account}}</span>
            <span class="secondary-text">•</span>
            <span class="secondary-text">{{relativeTimeFromNow this.createdAt}}</span>
          </div>
          <a href="#" class="content">{{this.description}}</a>
          <div class="tweet-buttons d-flex flex-row align-items-end">
            <button type="button" class="d-flex flex-row align-items-end">
              {{!-- 回覆部分後續會用modal --}}
              <i class="comment"></i>
              <span>{{this.Replies.length}}</span>
            </button>

            {{!-- 以下為like --}}
            {{#if isLiked}}
              <button type="button" class="d-flex flex-row align-items-end like-submit-btn liked" data-tweetId="{{this.id}}">
                <i class="like user-like"></i>
                <span class="liked-numbers">{{this.LikedUsers.length}}</span>
              </button>
            {{else}}
              <button type="button" class="d-flex flex-row align-items-end like-submit-btn" data-tweetId="{{this.id}}">
                <i class="like"></i>
                <span class="liked-numbers">{{this.LikedUsers.length}}</span>
              </button>
            {{/if}}
            
          </div>
        </div> 
      </div>
      {{/each}}
    </div>
    <div class="top-users-list"> {{> rightColumn}}</div>
  </div> 
</div>