<div class="container">
  <div class="row">
    {{>left-sidebar}}
    <div class="col-6 " id="top-tweet-box">
      <div class="border-end border-start">
        {{!-- style="width: 56%;" --}}
        <div class="d-flex align-items-center border-bottom">
          <div class="p-4">
            <img src="/images/basic/back.svg" width="20px" />
          </div>
          <h4 class="mb-0">推文</h4>
        </div>
        <div class="p-3 border-bottom">
          <div class="d-flex align-items-center">
            {{!-- <img src="{{tweet.avatar}}" alt="{{tweet.name}}" /> --}}
            <img src="/images/icon/User Photo.png" width="50px" />
            <div style="margin-left: 8px;">
              <p style="font-size: 16px; line-height: 26px;" class="mb-0">tweet.name{{tweet.name}}</p>
              <p style="font-weight: 400; font-size: 14px; line-height: 22px;" class="mb-0">@
                tweet.account{{tweet.account}}
              </p>
            </div>
          </div>
          <h4 class="my-2" style="font-weight: 400; line-height: 36px; color: #171725;">{{tweet.description}}
            >>>>tweet.description Some quick example text to
            build on the card title and make up the bulk of the card's content.Some quick example text to
            build on the card title and make up the bulk of the card's content.
            </h1>
            <p class="mb-2" style="font-weight: 500; font-size: 14px; line-height: 22px; color: #6C757D;">
              tweet.createdAt
              {{tweet.createdAt}}
            </p>
            <div class="d-flex border-top border-bottom py-3">
              <p style="font-size: 19px; line-height: 23px; margin-right: 24px;" class="mb-0">
                <span style="font-weight: 700; color: #171725;">34{{tweet.reply}}</span>
                <span style="color: #6C757D;">回覆</span>
              </p>
              <p style="font-size: 19px; line-height: 23px;" class="mb-0">
                <span style="font-weight: 700; color: #171725;">88{{tweet.like}}</span>
                <span style="color: #6C757D;">喜歡次數</span>
              </p>
            </div>
            {{!-- 加上 reply modal 彈跳視窗 --}}
            <div class="d-flex pt-3">
              <div class="reply-icon">
                <a href="" data-bs-toggle="modal" data-bs-target="#reply-Modal" id="reply-button">
                  <img src="/images/basic/white/reply.svg" width="25px" style="margin-right: 100px;" />
                </a>
              </div>
              <img src="/images/basic/white/like.svg" width="25px" />
            </div>
        </div>
        <div style="height: calc(100vh - 372px); max-height: calc(100vh - 372px); overflow-y: auto">
          {{!-- reply card --}}
          <div class="d-flex px-4 py-3 border-bottom">
            <div>
              <img src="/images/icon/userIcon@2x.png" width="50px" />
              {{!-- <img src="{{tweet.replierAvatar}}" alt="{{tweet.replierName}}" /> --}}
            </div>
            <div style="margin-left: 8px">
              <div class="d-flex">
                <p class="mb-0" style="line-height: 26px;">
                  <span
                    style="font-weight: 700; font-size: 16px; color: #171725;">tweet.replierName{{tweet.replierName}}</span>
                  <span
                    style="font-weight: 400; font-size: 14px; color: #6C757D;">tweet.replierAccount{{tweet.replierAccount}}・tweet.replierCreatedAt{{tweet.replierCreatedAt}}</span>
                </p>
              </div>
              <p style="font-size: 14px; line-height: 22px;" class="mb-2">
                <span style="color: #6C757D;">回覆 </span>
                <span style="color: #FF6600;">@ tweet.account{{tweet.account}}</span>
              </p>
              <p style="font-weight: 400; font-size: 16px; line-height: 26px;" class="mb-0">
                build on the card title and make up the bulk of the card's content.Some quick example text to
                build on the card title and make up the bulk of the card's content.
                {{tweet.replierComment}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> right-sidebar}}
  </div>
</div>

{{!-- reply Modal --}}
<div class="modal fade" id="reply-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:636px">
    <div class="modal-content" style="border-radius: 14px;height: 502px;">
      <div class="modal-card-title" style="height: 56px">
        <label for="description" class="form-label">
        </label>
        <button type="button" class="close" aria-label="Close"
          style="color:#ff6600;background: #FFFFFF;border: none;padding: 5px 10px;font-size: x-large;"
          data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/images/basic/close-orange.svg"
              alt=""></span></button>
      </div>
      <hr style="margin: 2px 0px;">
      <div class="modal-body" style="padding: 15px 5px;">
        {{!-- tweet reply--}}
        <div class="row g-0">
          <div class="col-2" style="width: 50px;height: 50px;margin-left: 10px;">
            {{#if this.User.avatar}}
            <img src="{{this.User.avatar}}" class="user-avatar" alt="User Photo" style="width: 50px; height: 50px;">
            {{else}}
            <img src="/images/icon/User Photo.png" class="user-avatar" alt="User Photo"
              style="width: 50px; height: 50px;">
            {{!-- 垂直線 --}}
            <p class="Vertical-line"
              style="width: 25px;height: 150px;border-right:solid #CCD6DD;align-items-center;margin-top: 10px;margin-bottom: 10px;">
            </p>
            {{/if}}
          </div>
          <div class="col-0" style="width: 536px;height:200px;margin: 10px 10px 10px 10px;">
            <span class="fw-bold fs-6">{{tweet.User.name}}</span><small>@{{tweet.User.account}} ‧
            </small><span>{{relativeTimeFromNow tweet.updatedAt}}
            </span>
            <br />
            <p class="my-2"
              style="font-size: 15px;font-weight: 400;line-height: 22px;letter-spacing: 0px;text-align: left;">
              {{tweet.description}}
            </p>
            <small>回覆給
              <span style="color:#FF6600"> @{{tweet.User.account}}
              </span>
            </small>
          </div>
          {{!-- user reply--}}
          <form action="/tweets/{{tweet.id}}/replies" method="POST">
            <div class="modal-post-reply-body">
              <div class="row g-0">
                <div class="col-1 md-2" style="width: 50px;height: 50px;margin-left: 10px;">
                  {{#if user.avatar}}
                  <img src="{{user.avatar}}" class="user-avatar" style="width:50px;height:50px;">
                  {{else}}
                  <img src="/images/icon/User Photo.png" class="user-avatar" style="width:50px;height:50px">
                  {{/if}}
                </div>
                <div class="col-sm-2 col-md-15">
                  <textarea name="comment" class="replies-text" type="text"
                    style="width: 510px;height:100px;font-size: 13px; padding: 12px 0px;margin: 0px 0px 50px 10px; border: none;outline: none;resize:none"
                    id="repliescomment" rows="3" maxlength="140" placeholder="推你的回覆..." oninput="repliesCounts()"
                    required></textarea>
                </div>
                <div class="modal-description d-flex justify-content-sm-end align-items-center">
                  <div class="p-2 bd-highlight">
                    <span style="color:#FC5A5A;font-size:15px;line-height: 15px;" id="repliesEnterMessage">內容不可空白</span>
                  </div>
                  <div class="px-2 bd-highlight">
                    <div id="replieschar_count" style="display:inline;font-weight: 500;font-size: 15px;">
                      <span>0/140</span>
                    </div>
                  </div>
                  <div class="px-3 bd-highlight">
                    <button type="submit" class="btn btn-primary "
                      style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;font-family: 'Noto Sans TC';border-radius: 100px;height: 40px;">回覆</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{!-- reply Modal function --}}
  <script>
    function repliesCounts() {
      const counts = document.getElementById('repliescomment').value.length
      const repliesEnterMessage = document.getElementById('repliesEnterMessage')
      const chatText = document.getElementById('replieschar_count')
      chatText.innerText = counts + '/140'
      if (counts > 140) {
        repliesEnterMessage.innerText = '字數超出上限！'
        return
      }
      if (counts > 0 && counts <= 140) {
        repliesEnterMessage.innerText = ''
      }
      if (counts === 0) {
        repliesEnterMessage.innerText = '內容不可空白'
      }
    }
  </script>