<div class="wrapper d-flex">

  {{> modals}}
  {{>left-content}}

  <div class="container">
    <div>
      <h4 id="header"><a href="/tweets">首頁</a>
      </h4>
      <div class="mb-3 post-tweet">
        <a href="/users/{{user.id}}"><img src="{{user.avatar}}" alt="avatar" id="avatar"></a>
        <p id="placeholder" data-bs-toggle="modal" data-bs-target="#myModal">有什麼新鮮事 ?</p>
        <form method="POST" action="/tweets" data-bs-toggle="modal" data-bs-target="#myModal">
          <textarea name="description" id="description" class="tweetTextarea" disabled></textarea>
          <h4>
            <button type="button" class="badge rounded-pill text-bg-warning tweet-button post-tweet-button">
              推文
            </button>
          </h4>
        </form>
      </div>
      <table class="table" id="postPanel">
        <tbody>
          {{#each tweets}}
          <tr class="post">
            <td><a href="/users/{{this.User.id}}/tweets"><img src="https://upload.cc/i1/2022/07/29/CW8Hu0.png"
                  alt="post-icon" class="post-icon"></td>
            <td>
              <a href="/tweets/{{this.id}}/replies" class="post-link">
                <span>{{this.User.name}}</span>
                <small>@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</small>
                <p>{{this.description}}</p>
              </a>
              <div>
                <small> <img src="https://upload.cc/i1/2022/07/29/Os3ojA.png" alt="
                  reply" id="reply" class="btn-show-reply" data-bs-toggle="modal" data-bs-target="#replyModal"
                    data-id="{{this.id}}">{{this.Replies.length}} 回應</small>
                <small> <img src="https://upload.cc/i1/2022/07/29/15GUkZ.png" alt="likes"
                    id="likes">{{this.Likes.length}} 喜歡</small>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{>right-content}}
</div>