{{!-- Center --}}
<div class="col">
  <ul class="list-group" >
    <li class="list-group-item">
      <strong>首頁</strong>
    </li>
    <li class="list-group-item">
    <form action="/tweets" method="POST">  
      <div class="flex-container">
        <div>
          <img src="{{LoginUser.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%;">
        </div>
        <div style="width: 600px;">  
          <textarea placeholder="有什麼新鮮事?" class="form-control" id="description" name="description" rows="3"  style="border: none;"></textarea>
        </div>
      </div>
      <button class="btn" type="submit" style="border-radius: 18px; background:coral; color:white; width: 60px; float: right;">推文</button>
    </form>
    </li>
  
    {{#each tweetFollowings}}
    <li class="list-group-item">
      <div class="flex-container"> 
        <div class="mr-2">
          <a href="">
            <img src="{{this.user.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%">
          </a>
        </div>
        <div>
          <strong style="display: inline;">{{this.user.name}}</strong> <font color="grey">@{{this.user.account}} {{moment this.createdAt}}</font> 
          <p>{{this.description}}</p>
          <div class="display: inline-block;">
            <a href="/tweets/{{this.id}}" style="color:black;" class="mr-4"><i class="far fa-comment-alt"></i>  {{this.repliesCount}}</a>
            {{#if this.isLiked}}
            <form action="/like/{{this.id}}?_method=DELETE" method="POST" style="display: inline-block;">
              <button type="submit" style="color:black; border:none; background-color:white;"><i class="fas fa-heart"></i></button>
              <div style="float: right;">{{this.likesCount}}</div>   
            </form>
            {{else}}
            <form action="/like/{{this.id}}" method="POST" style="display: inline-block;">
              <button type="submit" style="color:black; border:none; background-color:white;"><i class="far fa-heart"></i></button>
              <div style="float: right;">{{this.likesCount}}</div>   
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </li>
  </ul>
  
  {{/each}}
</div>
{{!-- Right side --}}
<div class="col-4">
  <ul class="list-group mt-3 ml-3" >
    <li class="list-group-item" style="background-color:lightgray;">
      <strong>跟隨誰</strong>
    </li>
    {{#each users}}
    <li class="list-group-item" style="background-color: lightgray;">
      <div class="flex-container">
        {{!-- <div class="p-3">Avatar</div> --}}
        <div class="mr-2">
        <img src="{{this.avatar}}" alt="user avatar" style="width: 50px; border-radius: 50%">
        </div>
        <div>
          <strong>{{this.name}}</strong><br> 
          <span class="text-muted">@{{this.account}}</span>
        </div>
        <div class="align-self-center ml-auto">
          {{#if this.isFollowing}}
          <form action="/following/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn" style="border-radius: 18px; background:coral; color:white; width: auto">正在跟隨</button>
          </form>
          
          {{else}}
          <form action="/following/{{this.id}}" method="POST">
            <button type="submit" class="btn" style="border-radius: 18px; width: auto; border-color: coral; color:coral">跟隨</button>
          </form>
          {{/if}}
        </div>
      </div>
    </li>
    {{/each}}
    <li class="list-group-item" style="background-color: lightgray;">
      <a href="#" style="color: coral;">顯示更多</a>
    </li>
  </ul>
</div>