<div>
  <h1>Simple Twitter</h1>
  <hr />
  <h2>登入相關</h2>
  <br />
  <h3>前台</h3>
  <ul>
    <li><a href='/signin'>Sign In</a></li>
    <li><a href='/signup'>Sign Up</a></li>
  </ul>
  <h3>後台</h3>
  <ul>
    <li><a href='/admin/signin'>Sign In</a></li>
    <li><a href='/admin'>後台主頁</a></li>
  </ul>
  <br />
  <h2>主畫面</h2>
  <br />
  <h3>左側選單</h3>
  <ul>
    <li><a href='/'>首頁</a></li>
    <li><a href='/profile/user:{{id}}'>個人資料(需userId)</a></li>
    <li><a href='/settings'>設定</a></li>
    <li><a href='/user:{{id}}'>推文(需userId)</a></li>
  </ul>
  <button class='btn btn-danger btn-block' type='submit'>登出</button>
  <p></p>
  <h3>中央區域</h3>
  <button class='btn btn-primary btn-block' type='submit'>推文</button>
  <button class='btn btn-primary btn-block' type='submit'>Like</button>
  <button class='btn btn-primary btn-block' type='submit'>回應</button>
  {{#each tweets}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{this.User.account}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.User.name}}</h6>
      <p class="card-text">{{this.description}}
      </p>
      {{#if isLiked}}
      <form action="/tweets/{{this.id}}/unlike" method="POST">
        <button type="submit" class="btn btn-primary m-1">Dislike</button>
      </form>
      {{else}}
      <form action="/tweets/{{this.id}}/like" method="POST">
        <button type="submit" class="btn btn-primary m-1">like</button>
      </form>
      {{/if}}
    </div>
  </div>
  {{/each}}
  <p></p>
  <h3>右側推薦跟隨</h3>
  <button class='btn btn-primary btn-block' type='submit'>追蹤</button>
  <p></p>
  <h3>共用</h3>
  <ul>
    <li><a href='/user:{{id}}'>查看使用者推文牆(需userId)</a></li>
    <li><a href='/tweets:{{id}}'>查看特定推文(需tweetId)</a></li>
  </ul>
  <p></p>
</div>