<div>
  <h1>this is Tweets Page ( views / tweets.hbs )</h1>
  {{#if user.avatar}}
  <img src="{{user.avatar}}" alt="" style="max-width: 100px; border-radius: 50%">
  {{else}}
  <img src="https://i.imgur.com/3P9xRqb.jpg" alt="" style="max-width: 100px;border-radius: 50%">
  {{/if}}

  {{!-- <button class="btn btn-primary" data-toggle="modal" data-target="#post-tweet-modal" data-id="1"
    id="post-button">推文</button> --}}

  {{#each tweets}}
  <hr>
  <a href="/tweets/{{this.id}}">第 {{this.id}} 個 tweet:</a>
  <p>作者名稱: {{this.User.name}}</p>
  <p>作者照片:{{this.User.avatar}}</p>
  <p>內容:{{this.description}}</p>
  <p>時間: {{moment this.createdAt}}</p>
  {{/each}}
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="post-tweet-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-1">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">X</button>
      </div>

      <div class="modal-body">
        <form action="/tweets" method="POST">
          <div class="row">
            <div class="col-auto p-0">
              {{#if user.avatar}}
              <img src="{{user.avatar}}" class="img-flid" style="max-width: 50px; border-radius: 50%">
              {{else}}
              <img src="https://i.imgur.com/3P9xRqb.jpg" alt="" style="max-width: 50px; border-radius: 50%">
              {{/if}}
            </div>
            <div class="col">
              <textarea name="description" class="form-control" aria-label="With textarea"
                placeholder="有什麼新鮮事？"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary btn-sm float-right mt-2" type="submit">推文</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>