<div class="container-lg">
  <div class="row mt-2">
    {{!-- nav bar --}}
    <div class="col-lg-3 left-sidebar d-flex flex-column align-items-end">
      {{>left-sidebar route='tweets'}}
    </div>
    {{!-- main content --}}
    <div class="col-lg-6 main-content d-flex flex-column justify-content-start">
      <div class="message">
        {{> messages}}
      </div>
      {{!-- content --}}
      <div class="content outline mb-3 pb-0">
        {{!-- tittle --}}
          <a class="d-flex py-3 ps-1 outline"  onclick="javascript:history.back()">
            <h4 class="navbar-brand mb-0">← 推文</h4>
          </a>
        {{!-- tweet --}}
        <div class="row pt-3 px-0 mx-0">
          <div class="col-2 ms-3">
            <img class="avatar" src="{{tweet.User.avatar}}" alt="avatar" >
          </div>
          <div class="col-5 px-1">
            <p class="right-user-name">{{tweet.User.name}}</p>
            <p class="right-user-account">@{{tweet.User.account}}</p>
          </div>
          <div class=" pt-2">
            <p class="right-reply-description mx-3 my-2">{{tweet.description}}</p>
            <p class="right-reply-time ms-3 mt-3">{{time tweet.createdAt}}</p>
          </div>
          <div class="d-flex align-items-center outline py-3">
            <p class="my-0 ps-2">{{data.replyCount}} 回覆</p>
            <p class="my-0 ps-4">{{data.likeCount}} 喜歡次數</p>
          </div>
          <div class="d-flex my-3 ms-1">
            <i class="far fa-comment me-5 ms-1 d-flex align-items-center " data-bs-toggle="modal" data-bs-target="#replyModal"></i>
            {{#if data.isLiked}}
            <form action="/tweets/{{tweet.id}}/unlike" method="post">
              <button type="submit" style=" border: transparent; background: transparent;">
                <i class="fa-solid fa-heart ms-5" style="color: #E0245E;"></i>
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="post">
              <button type="submit" style=" border: transparent; background: transparent;">
                <i class="far fa-heart ms-5"></i>
              </button>
            </form>
            {{/if}}
          </div>
        </div>
        {{!-- reply --}}
        {{#each data.replies}}
        <div class="row py-3 mx-0 outline">
          <a href="/users/{{this.User.id}}" class="col-2 ms-2 ps-3">
            <img src="{{this.User.avatar}}" class="avatar" alt="avatar">
          </a>
          <div class="col-9">
            <div class="d-flex flex-row align-items-center">
              <p class="right-user-name">{{this.User.name}}</p>
              <p class="right-user-account ms-2">@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</p>
            </div>
            <p class="mt-2 right-user-account">回覆
              <span style="color:#FF6600;text-decoration: none">@{{../tweet.User.account}}</span>
            </p>
            <div class="mt-2">
              <p>{{this.comment}}</p>
            </div>
            <div>
              <i class="far fa-comment me-3">
                <span class="ms-2">666</span>
              </i>
              <i class="far fa-heart mx-3">
                <span class="ms-2">777</span>
              </i>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{!-- nav bar --}}
    <div class="col-lg-3 right-sidebar mx-0 px-0">
      {{> right-sidebar}}
    </div>
  </div>
</div>

{{!-- reply modal --}}
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog" style="max-width: 600px">
    <div class="modal-content" style="border-radius: 15px">
      {{!-- modal header --}}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        style="margin: 15px 0px 0px 15px;"></button>
      <hr class="mb-0">
      {{!-- tweet content --}}
      <div class="modal-body">
        <div class="row">
          {{!-- tweeter's avatar --}}
          <div id="tweeter" class="col-2 d-flex flex-column justify-content-start align-items-center">
            <div style="height: 50px;">
              <a href="{{tweet.User.id}}">
                <img src="{{tweet.User.avatar}}" alt="avatar" style="height: 50px ;width: 50px; border-radius: 50px;">
              </a>
            </div>
            <div class="mx-3 mt-3" style="height: 60%; width: 3px; background: #899095;"></div>
          </div>
          {{!-- tweet's content --}}
          <div class="col-10">
            {{!-- tweeter's info --}}
            <div class="d-flex flex-row align-items-center">
              <p style="font-size: 16px; margin: 0 0;">{{tweet.User.name}}</p>
              <p style="font-size: 14px; margin: 0 8px; color: #6C757D;">@{{tweet.User.account}}．{{relativeTimeFromNow
                tweet.createdAt}}</p>
            </div>
            {{!-- tweet's description --}}
            <div class="mt-2">
              <p>{{tweet.description}}</p>
            </div>
            <p class="mt-2" style="font-size: 14px; color: #6C757D;">回覆給
              <span style="color:#FF6600;text-decoration: none">@{{tweet.User.account}}</span>
            </p>
          </div>
        </div>
        {{!-- reply content --}}
        <form action="/tweets/{{tweet.id}}/replies" method="POST">
          <div class="row">
            <div class="col-2 d-flex justify-content-center">
              <img src="{{user.avatar}}" alt="avatar" style="height: 50px ;width: 50px; border-radius: 50%;">
            </div>
            <div class="col-9 mb-3 ">
              <textarea type="text" class="form-control me-2" id="reply" name="comment" rows="5" placeholder="推你的回復"
                style="width: 450px; border: none; background-color: white; word-wrap: break-word;"></textarea>
            </div>
          </div>
          <div class="d-flex flex-row-reverse me-3 mb-3">
            <button type="submit" class="btn btn-primary" id="modal-send-button" data-bs-dismiss="modal"
              style="height: 40px; width: 64px; border-radius: 50px; background: #FF6600;">回覆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>