{{>left route='tweets'}}
<div class="main-middle">
  <div class="header">首頁</div>
  {{!-- tweet --}}
  <div class="post-tweet" data-bs-toggle="modal" data-bs-target="#tweet-modal">
    <div style="">
      <img src="" class="user-photo">
      <span>有什麼新鮮事？</span>
    </div>
    <div class="tweet-btn-outline">
      <button type="button" class="btn tweet-btn">
        <span class="tweet-btn-text">推文</span>
      </button>
    </div>
  </div>
  {{!-- tweet end --}}
  {{!-- feed --}}
  {{#each tweets}}
    <div class="card mb-3 mx-auto" style="width: 639px;height: 153px;">
      <div class="row g-0">
        <div class="col-md-1" style="width: 50px; height: 50px;">
          <a href="/users/{{this.User.id}}/tweets">
            <img src="{{this.User.avatar}}" class="img-fluid rounded-circle" alt="User Photo">
          </a>
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <h5 class="card-text">{{this.User.name}}
              <span class="fs-6 fw-lighter mr-1">@{{this.User.account}}．{{relativeTimeFromNow this.createdAt}}</span>
            </h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">
            <form action="/tweets/{{this.id}}/replies" method="GET" style="display:inline">
              <small class="text-muted">
                <button type="submit" style="border:none;background: none;"><i
                    class="fa-regular fa-comment-dots"></i></button>
                <span>{{this.repliedCount}}</span>
              </small>
            </form>
            {{#if this.isLiked}}
              <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: inline">
                <small class="text-muted">
                  <i class="fa-regular fa-heart"></i>
                  <span>{{this.likedCount}}</span>
                </small>
              </form>
            {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST" style="display: inline">
                <small class="text-muted">
                  <i class="fa-solid fa-heart"></i>
                  <span>{{this.likedCount}}</span>
                </small>
              </form>
            {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{!-- tweet Modal --}}
<div class="modal fade" id="tweet-modal" tabindex="-1" aria-labelledby="tweet-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:639px; position:relative; right:40px;">
    <div class="modal-content" style="border-radius:16px">
      <div class="" style="">
        <label for="description" class="form-label">
        </label>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/tweets" method="POST">
        <div class="modal-body d-flex">
          <img src="" class="bi pe-none me-2" style="width:50px;height:50px;">
          <textarea class="form" id="description" name="description" rows="4" maxlength="141" placeholder="有什麼新鮮事？"
            style="border:none; width:600px;position:relative; top:10px;resize:none;height:250px;" required></textarea>
          <div class="" style="color:#FF0000;position: absolute;top: 270px;right: 120px;">
            <span id="insertEmptyMessage"></span>
          </div>
          <div class="" id="char_count"><span>140/140</span></div>
        </div>
        <button type="submit" class="btn btn-orange btn-tweets-models"
          style="border-radius: 50px;position:relative; left:550px;bottom:20px;">
          <span class="" style="font-size:16px;">推文</span>
        </button>
      </form>
    </div>
  </div>
</div>
{{!-- tweet Modal end --}}
{{>right}}
<script>
  const textArea = document.getElementById( 'description' )
  const charCount = document.getElementById( 'char_count' )
  let insertEmptyMessage = document.getElementById( 'insertEmptyMessage' )
  const maxNumOfCount = 140
  const countCharacters = () => {
    const numOfEnter = textArea.value.length
    const counter = maxNumOfCount - numOfEnter
    charCount.textContent = counter + '/140'
    if ( numOfEnter === 0 ) {
      insertEmptyMessage.innerText = '內容不可以是空白'
    }
    if ( counter < 0 || counter >= 140 ) {
      charCount.style.color = 'red'
    }
  }
  textArea.addEventListener( 'input', countCharacters )
</script>