<div class="container-fluid" id="tweets">
  <div class="row flex-nowrap justify-content-between mr-3">
    <div class="col-auto col-lg-3 bg-white">
      <a class="d-flex ml-5 py-3 pl-4" href="/">
        <i class="fab fa-twitter-square" style="font-size: 2.5em; color: #FF6600;"></i>
      </a>
      <div class="d-flex flex-column align-items-start ml-5 px-3 pt-2 min-vh-100">
        <ul class="nav flex-column nav-pills pr-5" id="menu" style="width: 100%;">
          <li class="nav-item px-2 py-1">
            <a class="nav-link align-middle text-dark " href="/tweets">
              <i class="fas fa-home a-tomato" style="font-size: 1.2em;"></i>
              <span class="h5 menu-text home a-tomato" style="color: #FF6600;">首頁</span>
            </a>
          </li>
          <li class="nav-item px-2 py-1">
            <a class="nav-link align-middle text-dark h-tomato" href="/users/{{user.id}}">
              <i class="far fa-user" style="font-size: 1.2em;"></i>
              <span class="h5 menu-text user">個人資料</span>
            </a>
          </li>
          <li class="nav-item px-2 py-1">
            <a class="nav-link align-middle text-dark h-tomato" href="/setting">
              <i class="fas fa-cog" style="font-size: 1.2em;"></i>
              <span class="h5 menu-text setting">設定</span>
            </a>
          </li>
          <li class="nav-item px-2">
            <button type="button" class="btn btn-tomato rounded-pill mt-3"
              style="width: 100%; border-radius: 30px 30px 30px 30px;" data-toggle="modal" data-target="#tweetModal">
              <span class='tweet-btn'>推文</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row col-9 col-lg-6 col-md-7 col-sm-8 bg-white">
      <div class="card-header col-12 row m-0 bg-white">
        <a href="javascript:history.back()" style="text-decoration:none; color: #000000;"
          class="col-1 d-flex align-items-center">
          <i class="fas fa-arrow-left " style="font-size: 18px;"></i>
        </a>
        <span class="col-auto" style="font-size: 18px; font-weight:bold;">推文</span>
        </a>
      </div>
      <div class="card-body col-12 m-0">
        <div class="row justify-content-around align-items-start mb-1 p-2 bg-white">
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a href="/users/{{tweet.UserId}}">
              <img src="{{tweet.User.avatar}}" class="rounded-circle" style="width: 50px; height: 50px" alt="avatar">
            </a>
          </div>
          <div class="col-11 row px-0">
            <div class="col-12 flex-column justify-content-center align-items-start">
              <div style="height: 15px; line-height: 22px;">
                <a href="/users/{{tweet.UserId}}" class="text-dark" style="font-size: 15px; font-weight:700; text-decoration:none;">{{tweet.User.name}}</a>
              </div>
              <span style="color: #657786; font-size: 15px;line-height: 22px;">@{{tweet.User.account}}</span>
              <div>
                {{!-- {{#ifCond user.id tweet.UserId}}
                <form action="/tweets/{{this.id}}?_method=DELETE" method="post" onsubmit="return deleteConfirm()">
                  <button type="submit" class="btn">
                    <i class="fas fa-times"></i>
                  </button>
                </form>
                {{/ifCond}} --}}
              </div>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-1">
          <p class="mt-1" style="font-weight: 500; font-size: 23px; line-height: 34px;">{{tweet.description}}</p>
        </div>
        <div class="row col-12">
          <span style="font-size: 15px; font-weight:500;color:#657786;">{{momentDetailTime this.createdAt}}．{{momentDetailDate this.createdAt}}</span>
        </div>
        <hr>
        <div class="row col-12">
          <div class="" style="; line-height: 22px">
            <span class="" style="font-size: 19px; font-weight: bold;">{{tweet.replyCount}}</span>
            <span class="mr-2" style="color:#657786;">回覆</span>
            <span class="" style="font-size: 19px; font-weight: bold;">{{tweet.likeCount}}</span>
            <span style="color:#657786;">喜歡次數</span>
          </div>
        </div>
        <hr>
        <div class="row col-12" style="height:25px;">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#replyModal" style="margin-right: 85px;">
              <i class="far fa-comment" style="color: navy;width:25px;height:18px;"></i>
            </button>
            {{#if isLiked}}
            <form action="/tweets/{{tweet.id}}/unlike" method="POST">
              <button type="submit" class="btn btn-outline-light">
                <i class="fas fa-heart" style="color: red;width:25px;height:18px;"></i>
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="POST">
              <button type="submit" class="btn btn-outline-light">
                <i class="far fa-heart" style="color: red; width: 25px; height: 18px;"></i>
              </button>
            </form>
            {{/if}}
          </div>
        <hr>
        <div class="card-body p-0">
          {{#each tweet.Replies}}
          <div class="row justify-content-around align-items-start px-2" style="margin-top: -10px; margin-bottom: -20px;">
            <div class="col-1 d-flex justify-content-center align-items-center">
              <img src="{{this.User.avatar}}" class="rounded-circle" style="width: 50px; height: 50px" alt="avatar">
            </div>
            <div class="col-11 row px-md-2 px-4 pt-1">
              <div class="col-12 flex-column">
                <div style="height: 22px; line-height: 22px">
                  <a href="/users/{{this.UserId}}" class="text-dark" style="font-size: 15px; font-weight:700; text-decoration:none;">{{this.User.name}}</a>
                  <span style="color: #657786; font-size: 15px;line-height: 22px;">@{{this.User.account}}．{{moment this.createdAt}}</span>
                </div>
                {{!-- {{#ifCond this.User.id ../user.id}}
                <form action="/replies/{{this.id}}?_method=DELETE" method="post" onsubmit="return deleteConfirm()">
                  <button type="submit" class="btn">
                    <i class="fas fa-times"></i>
                  </button>
                </form>
                {{/ifCond}} --}}
                <div style="height: 22px; line-height: 22px">
                  <span style="color: #657786; font-size: 15px;line-height: 20px;">回覆</span>
                  <span style="color: #FF6600; font-size: 15px;line-height: 20px;">@{{../tweet.User.account}}</span>
                </div>
                <div class="" style="font-size:15px;font-weight:400;">
                  <p class="" style="max-width: 600px; overflow-wrap: break-word;">{{this.comment}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {{/each}}
        </div>
      </div>
    </div>
    {{!-- follower bar --}}
    <div class="col-auto col-md-3 col-lg-3">
      <div class="card d-none d-md-flex flex-column mt-1" style="border: none;">
        <ul class="list-group-flush">
          <li class="list-group-item bg-light" style="font-size: 18px; font-weight: bold; border: none;">Popular</li>
          <!--第二個跟隨者-->
          {{#each users}}
          <li class="list-group-item bg-light" style="border-left: none;border-right: none">
            <div class="row justify-content-around align-items-center">
              <div class="col-2 d-flex justify-content-center align-items-center" style="padding-left: 20px;">
                <a href="/users/{{this.id}}">
                  <img src={{this.avatar}} alt="" width="50" height="50" class="rounded-circle">
                </a>
              </div>
          
              <div class="col-6 pt-3 d-flex flex-column align-items-start">
                <h5 style="line-height: 18px;">{{this.name}}</h5>
                <p class="text-muted" style="line-height: 16px;">@{{this.account}}</p>
              </div>
          
              <div class="col-4 d-flex justify-content-center">
          
                {{#if this.isFollowed}}
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-tomato" name="{{user.id}}"
                    style="font-size: 15px; border-radius: 30px 30px 30px 30px;font-weight: bold;">正在跟隨</button>
                </form>
                {{else}}
                <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-outline-tomato" name="{{user.id}}"
                    style="font-size: 15px; border-radius: 30px 30px 30px 30px;font-weight: bold;">跟隨</button>
                </form>
                {{/if}}
          
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex fixed-bottom mb-3 ml-5 px-3">
    <a href="/signout" class="d-flex">
      <i class="fas fa-sign-out-alt" style="color: #000000; font-size: 1.2em;"></i>
      <span class="h5 logout-text">登出</span>
    </a>
  </div>
</div>


<!--回覆 modal-->
{{!-- Modal reply--}}
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-outline-light a-tomato" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row align-items-start mb-1 px-3 ">
          <div class="card-image col-1 d-flex justify-content-center align-items-center">
            <img src="{{tweet.User.avatar}}" class="rounded-circle mr-2"
              style="width: 50px; height: 50px;" alt="大頭貼">
          </div>
          <div class="col-11 row">
            <div class="col-12 d-inline-flex justify-content-between align-items-center">
              <div style="height: 22px; line-height: 22px">
                <span class="" style="font-size: 15px; font-weight: bold;">{{tweet.User.name}}</span>
                <span class="" style="color: #657786; font-size: 15px;font-weight: 500;">@{{tweet.User.account}}．{{moment tweet.createdAt}}</span>
              </div>
            </div>
            <div class="col-12">
              <p class="" style="font-size: 15px;font-weight: 400;">{{tweet.description}}</p>
            </div>
            <div class="col-12 inline-flex mt-2">
              <span style="font-size: 10px">回覆給</span>
              <span style="color: #FF6600; font-size: 10px">@{{user.account}}</span>
            </div>
          </div>
        </div>
        <p class="position-absolute vertical-line" style="z-index: 3;left: -13px; top: 70px;"></p>

        <div class="row">
          <form action="/tweets/{{tweet.id}}/replies" method="POST" class="mt-2 ">
            <div class="position-relative" style="margin-left:20px; padding: 75px 0;">
              <div class="position-absolute" style="z-index: 5; left: -12px; top: 0px;">
                <img
                  src="{{user.avatar}}"
                  class="rounded-circle mt-1" style="width: 50px; height: 50px;" alt="大頭貼" />
              </div>
              <div class="position-absolute" style="z-index: 0; width: 430px; top:-5px; left:-10px;">
                <textarea class="mt-1 bd" id="comment" name="comment" rows="3" placeholder="推你的回覆" maxlength="140"
                  style="width:inherit; border:none; outline: none; padding-left: 58px; padding-top: 17px; padding-bottom: 50px; font-size:1.1em;"
                  required></textarea>
                <input type="hidden" name="TweetId" value="{{tweet.id}}">
              </div>
              <div class="position-absolute" style="z-index: 5; right: -460px; bottom: 0;">
                <button type="submit" class="tweet-btn btn btn-tomato"
                  style="font-size:18px;font-weight:500; border-radius: 30px 30px 30px 30px;">回覆</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>