<div class="container-fluid">
  <!-- 左邊導覽選單區塊 -->
  <div class="left-content">
    <div class="left-column">
      <img class="logo" src="/images/icon.svg" alt="">
      <div class="nav">
        <div class="nav-item">
          <a href="#">
            <img class="home-icon" src="/images/icon-home.svg" alt="">首頁
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <img class="pr-1" src="/images/icon-user.svg" alt="">
            個人資料
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <img src="/images/icon-setting.svg" alt="">
            設定
          </a>
        </div>
      </div>
      <button class="tweet-button">推文</button>
    </div>
    <div class="logout">
      <a href="#">
        <img class="logout-icon" src="/images/icon-logout.svg" alt="">登出
      </a>
    </div>
  </div>

  <!-- 中間主要區塊 -->
  <div class="main-content">
    <div class="main-title">
      <a href="/" class="ml-1 mr-5"><img src="/images/icon-back.png" alt=""></a>
      推文
    </div>

    <div class="tweet-content w-100">
      <div class="tweet-content-top d-flex justify-content-start align-items-center">
        <a href="/users/{{tweet.User.id}}" class="mt-1 mb-1 user-name">
          <img src="" alt="" class="avtar">
        </a>
        <div class="column ml-1">
          <a href="/users/{{tweet.User.id}}" class="mt-1 mb-1 user-name">{{tweet.User.name}}</a>
          <a href="/users/{{tweet.User.id}}" class="user-account">{{tweet.User.account}}</a>
        </div>
      </div>
      <div class="tweet-content-main">
        <p>{{tweet.description}}</p>
      </div>
      <div class="tweet-content-footer">
        <div class="tweet-time">{{changeTime tweet.createdAt}}
        </div>
        <div class="tweet-data">
          <span class="number">{{tweet.Replies.length}}</span> 回覆 <span
            class="number ml-2">{{tweet.likedUsers.length}}</span>
          喜歡次數
        </div>
        <div class="tweet-like-reply-link d-flex justify-content-start align-items-center">
          <a href="/reply" class="reply-link ml-1">
            <img class="icon-m" src="/images/icon-reply.svg" alt="">
          </a>
          <form method="POST">
            <button type="submit" class="button like-link">
              {{!-- <img class="icon-m" src="/images/icon-like-solid.svg" alt=""> --}}
              <img class="icon-m" src="/images/icon-like.svg" alt="">
            </button>
          </form>

        </div>
      </div>

    </div>

    <div class="reply-list w-100">
      {{#each tweet.Replies}}
      <div class="reply-item d-flex justify-content-start align-items-start">
        <div class="left mr-2">
          <a href="/users/{{this.User.id}}" class="mt-1 mb-1 user-name">
            <img src="{{this.User.avatar}}" alt="" class="avtar">
          </a>
        </div>
        <div class="right">
          <div><a href="/users/{{this.User.id}}" class="user-name mt-1">{{this.User.name}}
              <sapn class="user-account">{{this.User.account}}．{{moment this.createdAt}}</sapn></a>
          </div>
          <div>

            <span class="replyto-span-m">回覆</span> <span class="user-account-color-span"><a
                href="/users/{{../tweet.User.id}}" style="color: #ff6600;">{{../tweet.User.account}}</a></span>
          </div>
          <p>{{this.comment}}
          </p>
          <!-- 先註解掉，因為reply目前沒有like和回覆 -->
          <!--<div class="reply-like-post d-flex justify-content-start align-items-center">
            <a href="/reply"
              class="reply-link reply-to-comment ml-2 mr-4 d-flex justify-content-start align-items-center">
              <img class="icon-s" src="/images/icon-reply.svg" alt="">
              <span>34</span>
            </a>
            <form method="POST">
              <button type="submit" class="button like-link d-flex justify-content-start align-items-center">
                {{!-- <img class="icon-s" src="/images/icon-like-solid.svg" alt=""> --}}
                <img class="icon-s" src="/images/icon-like.svg" alt="">
                <span>12</span>
              </button>
            </form>
          </div> -->
        </div>
      </div>
      {{/each}}
      <!-- 迴圈結束 -->

      <!-- 推文作者回覆 先註解掉，如果要做回覆再用 -->
      <!--<div class="reply-item">
        <div class="reply-author-command d-flex justify-content-start align-items-start">
          <div class="left mr-2">
            <a href="/users/:id" class="mt-1 mb-1 user-name">
              <img src="" alt="" class="avtar">
            </a>
          </div>
          <div class="right">
            <div>
              <a href="" class="user-name">Pineapple<span class="user-account">@pineapple．3小時</span></a>
            </div>
            <div>
              <span class="replyto-span-m">回覆</span> <span class="user-account-color-span">@apple</span>
            </div>
            <div>
              <p class="pt-1">ue euconsequat ac felis donec et odio pellentes
                vitaecongue euconsequat ac felis donec et odio pellpellentes
                vitaecongue euconsequat ac felis donec et ec et odio pellngue euconsequa
              </p>
              <div class="reply-like-post d-flex justify-content-start align-items-center">
                <a href="/reply" class="reply-link reply-to-comment ml-2 mr-4  d-flex align-items-center">
                  <img class="icon-s" src="/images/icon-reply.svg" alt="">
                  <span>34</span>
                </a>
                <form method="POST">
                  <button type="submit" class="button like-link d-flex align-items-center">
                    {{!-- <img class="icon-s" src="/images/icon-like-solid.svg" alt=""> --}}
                    <img class="icon-s" src="/images/icon-like.svg" alt="">
                    <span>12</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="author-relply d-fex justify-content-start align-items-start" style="display: flex;">
          <div class="extention-line"></div>
          <div class="left mr-2">
            <a href="/users/:id" class="mt-1 mb-1 user-name">
              <img src="" alt="" class="avtar">
            </a>
          </div>
          <div class="right">
            <div>
              <a href="" class="user-name">Apple<span class="user-account">@apple．3小時</span></a>
            </div>
            <div>
              <p class="pt-1">ue euconsequat ac felis donec et odio pellentes
                vitaecongus donec et ec et odio pellngue euconsequa
              </p>
              <div class="reply-like-post d-flex justify-content-start align-items-center">
                <a href="/reply" class="reply-link reply-to-comment ml-2 mr-4 d-flex align-items-center">
                  <img class="icon-s" src="/images/icon-reply.svg" alt="">
                  <span>34</span>
                </a>
                <form method="POST">
                  <button type="submit" class="button like-link d-flex align-items-center">
                    {{!-- <img class="icon-s" src="/images/icon-like-solid.svg" alt=""> --}}
                    <img class="icon-s" src="/images/icon-like.svg" alt="">
                    <span>12</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      
      </div> -->
    </div>
  </div>

  {{> right-content}}
</div>