{{> leftbar}}

<div class="middle right-line-2 left-line-2">
  {{!-- <div class="middle-tab">
    {{> tweet-tabs route='tweet'}}
  </div> --}}
  {{#each tweets}}
  {{!-- 推文 start--}}
  <div>
    <div class="fl">
      <a href="/users/{{this.User.id}}"><img class="ac-img" src="/images/img@2x.png" alt=""></a>
    </div>
    <div class="tweet-flow-text fl">
      <a href="/users/{{this.User.id}}" class="text-decoration-n">
        <span class="twitterbox-name">{{this.User.name}}</span>
      </a>
      <span class="twitterbox-time">@{{this.User.name}} ‧ {{relativetimeFromNNow this.createdAt}} </span>
      <p class="twitterbox-text">
        {{this.description}}
      </p>
      <span class="twitterbox-time mx-40"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">13</span>
      <span class="twitterbox-time"><img class="tweet-flow-img" src="/images/like@2x.png" alt="">16</span>
      <div class="bottom-line-f"></div>
    </div>
  </div>
  {{!-- 推文 end--}}
  {{/each}}

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class=" fl">
            <button type="button font-color-or" class="btn-close btn-close-re" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
        </div>
        <form action="/tweets/{{tweets.User.id}}" method="POST"></form>
        <div class="modal-body">
          <form action="/tweets" method="POST">
            <img class="avatar-img fl" src="/images/avatar@2x.png" alt="">
            <span>
              <textarea class="modal-input-tweets mt-3" type="description" name="description" id="description" cols="30"
                rows="10" placeholder="有什麼新鮮事?" maxlength="140" required></textarea>
              <input type="hidden" name="UserId" value="{{tweets.User.id}}" />
            </span>
            <button class="tweetbtn-s abs" type="submit">推文</button>
          </form>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{{> rightbar}}