<!-- 新推文Modal -->
<div class="modal fade" id="newTwitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="createTweet border">
        <form action="/tweets" method="POST">
          <div class="d-flex">
            <a href="" class="avatar m-2">
              <img src="{{noImage user.image}}" alt="" class="rounded-circle userImage">
            </a>
            <textarea class="whathtNew" id="description" name="description" placeholder="有甚麼新鮮事?" maxlength="140"
              required></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <div class="round m-3">
              <button type="submit" class="orange btn text-white round">推文</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row grid">

  <div>
    <nav class="userSidebar fixed">
      <div class="logo">
        <img src="https://i.imgur.com/ZUJriDp.png" alt="" id="ac-logo">
      </div>
      <div class="buttonList mt-5">
        <div class="navItem index d-flex mb-4 ">
          <div class="icon d-flex align-items-center color-orange">
            <i class="fas fa-home my-auto"></i>
          </div>
          <a href="/tweets" class="btn sidebarItem">
            <span class="fs-5 fw-bolder">首頁</span>
          </a>
        </div>
        <div class="navItem userProfile d-flex mb-4 ">
          <div class="icon d-flex align-items-center">
            <i class="fas fa-users"></i>
          </div>
          <a href="/user/{{user.id}}/tweets" class="btn sidebarItem">
            <span class="fs-5 fw-bolder">個人資料</span>
          </a>
        </div>
        <div class="navItem setting d-flex mb-4">
          <div class="icon d-flex align-items-center">
            <i class="fas fa-cog"></i>
          </div>
          <a href="/setting" class="btn sidebarItem">
            <span class="sidebar-item fs-5 fw-bolder">設定</span>
          </a>
        </div>
      </div>
      <div class="d-grid gap-2 col-9 round">
        <button type="button" class="orange btn text-white round" data-bs-toggle="modal"
          data-bs-target="#newTwitModal">推文</button>
      </div>
      <div class="logout d-flex">
        <div class="logoutLogo me-3 d-flex align-items-center">
          <i class="fas fa-sign-out-alt"></i>
        </div>
        <a href="/logout" class="btn">
          <span class="fs-5 fw-bolder">登出</span>
        </a>
      </div>
    </nav>
  </div>

  <div class="mainSection ">
    {{>message}}
    <div class="title border">
      <h5 class="fw-bolder m-3">首頁</h5>
    </div>
    <div class="createTweet border">
      <div class="d-flex">
        <a href="" class="avatar m-2">
          <img src="{{noImage user.avatar}}" alt="" class="rounded-circle userImage">
        </a>
        <div class="d-flex align-items-center">
          <button type="button" class="btn text-secondary" data-bs-toggle="modal"
            data-bs-target="#newTwitModal">有甚麼新鮮事?</button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="round m-3">
          <button type="button" class="orange btn text-white round" data-bs-toggle="modal"
            data-bs-target="#newTwitModal">推文</button>
        </div>
      </div>
    </div>
    <div class="tweets border-top border-5">
      {{#each tweets}}
      <div class="tweet border">
        <div class="d-flex">
          <a href="/user/{{this.User.id}}/tweets" class="avatar m-2 btn">
            <img src="{{noImage this.user.avatar.url}}" alt="" class="rounded-circle userImage">
          </a>
          <div class="">
            <div class="d-flex">
              <a href="/user/{{this.User.id}}/tweets" class="name m-2 btn">{{this.userName}}</a>
              <div class="tag m-2 mt-2 pt-1">@{{this.userAccount}}</div>
              <div class="time m-2 mt-2 pt-1" title="{{momentFormat this.createdAt}}">
                {{moment this.createdAt}}
              </div>
            </div>
            <a href="/tweets/{{this.id}}" class="tweetContent m-2 btn">
              <p>{{this.description}}</p>
            </a>
            <div class="d-flex mb-2 align-items-center">
              <a href="/tweets/{{this.id}}" class="comment d-flex me-2 btn">
                <span class="commentIcon me-2">
                  <i class="far fa-comment"></i>
                </span>
                <span class="commentAmount">{{this.Replies.length}}</span>
              </a>
              <div clss="like col-lg-2 d-flex">
                <span class="likeIcon me-2">
                  {{#if this.data.isLiked}}
                  <form action="/like/{{this.id}}?_method=DELETE" method="POST">
                    <button  type="submit" class="btn">
                      <i class="fas fa-heart"></i>
                    </button>
                  </form>
                  {{else}}
                  <form action="/like/{{this.id}}" method="POST" style="display: contents;">
                    <button type="submit" class="btn">
                      <i class="far fa-heart"></i>
                    </button>
                  </form>
                  {{/if}}
                </span>
                <span class="likeAmount">{{this.likedCount}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="topUser">
    <div class="popularArea fixed mt-4 border">
      <div class="title m-3">
        <h5 class="fw-bolder">Popular</h5>
      </div>
      {{#each users}}
      {{#ifCondNot this.id ../theUser}}
      <div class="popularList border-top">
        <div class="popularUser d-flex border-bottom justify-content-between">
          <div class="user d-flex">
            <div class="avatar m-2">
              <a href="/user/{{this.id}}/tweets">
                <img src="{{noImage this.image}}" alt="" class="rounded-circle userImage">
              </a>
            </div>
            <div class="information">
              <a href="/user/{{this.id}}/tweets" class="name mt-3 ms-1 fw-bolder btn">{{this.name}} </a>
              <span>{{#if this.isFollowed }} 追隨中 {{/if}}</span>

              <div class="account ms-1">{{this.account}}</div>
            </div>
          </div>
          <div class="round m-3">
            {{#if this.isFollowed}}
            <form action="/following/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn orange text-white round">取消跟隨</button>
            </form>
            {{else}}
            <form action="/following/{{this.id}}" method="POST">
              <button type="submit" class="btn followButton round">跟隨</button>
            </form>
            {{/if}}
          </div>
        </div>
        {{/ifCondNot}}
        {{/each}}

      </div>
    </div>

  </div>