<!-- Modal -->
<div class="modal fade" id="newTwitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="createTweet border">
        <div class="d-flex">
          <a href="" class="avatar m-2">
            <img src="{{noImage user.image}}" alt="" class="rounded-circle userImage">
          </a>
          <textarea class="whathtNew" id="description" name="description" placeholder="有甚麼新鮮事?"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <div class="round m-3">
            <button type="button" class="orange btn text-white round" data-bs-toggle="modal"
              data-bs-target="#newTwitModal">推文</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newReplyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="d-flex border">
        <span class="avatar m-2">
          <img src="{{noImage tweet.avatar}}" alt="" class="rounded-circle userImage">
        </span>
        <div class="tweetInformation">
          <div class="d-flex">
            <div class="name me-2">
              <p class="text-secondary mt-3 fw-bolder">{{tweet.User.name}}</p>
            </div>
            <p class="text-secondary mt-3 me-1">@{{tweet.User.account}}</p>
            <p class="mt-3 text-secondary">‧</p>
            <div class="text-secondary ms-1 mt-3">{{moment tweet.created_at}}</div>
          </div>
          <div class="tweetContent">
            <p>{{tweet.description}}</p>
          </div>
          <div class="d-flex">
            <p>回覆給</p>
            <p class="color-orange">@{{tweet.User.account}}</p>
          </div>
        </div>
      </div>
      <div class="createReply">
        <form action="/replies" method="POST">
          <div class="d-flex">
            <a href="" class="avatar m-2">
              <img src="{{noImage user.image}}" alt="" class="rounded-circle userImage">
            </a>
            <textarea class="whathtNew" id="comment" name="comment" placeholder="推你的回覆" maxlength="140"
              required></textarea>
            <input type="hidden" name="TweetId" value="{{tweet.id}}" />
            <input type="hidden" name="UserId" value="{{user.id}}" />
          </div>
          <div class="d-flex justify-content-end">
            <div class="round m-3">
              <button type="submit" class="orange btn text-white round">回覆</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row grid">

  <div>
    <nav class="userSidebar fixed">
      <div class="logo">
        <img src="https://i.imgur.com/ZUJriDp.png" alt="" id="ac-logo">
      </div>
      <div class="buttonList mt-5">
        <div class="navItem index d-flex mb-4 ">
          <div class="icon d-flex align-items-center color-orange">
            <i class="fas fa-tweets my-auto"></i>
          </div>
          <a href="/tweets" class="btn sidebarItem">
            <span class="fs-5 fw-bolder">首頁</span>
          </a>
        </div>
        <div class="navItem userProfile d-flex mb-4 ">
          <div class="icon d-flex align-items-center">
            <i class="fas fa-users"></i>
          </div>
          <a href="/users/{{user.id}}/tweets" class="btn sidebarItem">
            <span class="fs-5 fw-bolder">個人資料</span>
          </a>
        </div>
        <div class="navItem setting d-flex mb-4">
          <div class="icon d-flex align-items-center">
            <i class="fas fa-cog"></i>
          </div>
          <a href="/setting" class="btn sidebarItem">
            <span class="sidebar-item fs-5 fw-bolder">設定</span>
          </a>
        </div>
      </div>
      <div class="d-grid gap-2 col-9 round">
        <button type="button" class="orange btn text-white round" data-bs-toggle="modal"
          data-bs-target="#newTwitModal">推文</button>
      </div>
      <div class="logout d-flex">
        <div class="logoutLogo me-3 d-flex align-items-center">
          <i class="fas fa-sign-out-alt"></i>
        </div>
        <a href="/logout" class="btn">
          <span class="fs-5 fw-bolder">登出</span>
        </a>
      </div>
    </nav>
  </div>




  <div class="mainSection">
    {{>message}}
    <div class="title border d-flex">
      <a href="/tweets" class="arrow me-3 d-flex align-items-center btn">
        <i class="fas fa-arrow-left fs-4"></i>
      </a>
      <h5 class="fw-bolder m-3">推文</h5>
    </div>
    <div class="tweet border">
      <div class="d-flex">
        <span class="avatar m-2">
          <img src="{{noImage tweet.avatar}}" alt="" class="rounded-circle userImage">
        </span>
        <div class="name ">
          <p class="text-secondary m-0 mt-3 fw-bolder">{{tweet.User.name}}</p>
          <p class="text-secondary m-0">@{{tweet.User.account}}</p>
        </div>
      </div>
      <div class="tweetContent m-3">
        <p>{{tweet.description}}</p>
      </div>
      <div class="time m-3">
        <div>{{momentFormat tweet.created_at}}</div>
      </div>
    </div>
    <div class="border">
      <div class="d-flex m-3">
        <div class="replies me-5 d-flex">
          <div class="repliesAmount fw-bolder me-2">{{tweet.Replies.length}}</div>
          <div>回覆</div>
        </div>
        <div class="likes d-flex">
          <div class="likesAmount fw-bolder me-2">808</div>
          <div>喜歡次數</div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="d-flex">
        <button type="button" class="btn commentIcon me-5" data-bs-toggle="modal"data-bs-target="#newReplyModal">
          <i class="far fa-comment fs-3 text-secondary"></i>
        </button>
        
        <div class="likeIcon btn">
          <i class="far fa-heart fs-3 text-secondary"></i>
        </div>
      </div>
    </div>
    <div class="commentsList">
      {{#each tweet.Replies}}
        <div class="comment d-flex border">
          <div class="avatar m-3">
            <img src="{{noImage tweet.reply.avatar}}" alt="" class="rounded-circle userImage">
          </div>
          <div>
            <div class="d-flex">
              <div class="name m-1 fw-bolder">{{this.User.name}}</div>
              <div class="account m-1">@{{this.User.account}}</div>
              <div class="timefrom m-1">{{moment this.createdAt}}</div>
            </div>
            <div>
              <div class="d-flex">
                <div class="m-1">回覆</div>
                <div class="m-1 color-orange">@{{../tweet.User.account}}</div>
              </div>
              <div>
                <p>{{this.comment}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>


  </div>
  <div class="">
    <div class="popularArea mt-4 border">
      <div class="title m-3">
        <h5 class="fw-bolder">Popular</h5>
      </div>
      <div class="popularList border-top">
        <div class="popularUser d-flex border-bottom justify-content-between">
          <div class="user d-flex">
            <div class="avatar m-2">
              <img src="https://i.imgur.com/bGxaaO6.png" alt="" class="rounded-circle userImage">
            </div>
            <div class="information">
              <div class="name mt-3 ms-1 fw-bolder">Pizza Hut</div>
              <div class="account ms-1">@Pizza Hut</div>
            </div>
          </div>
          <div class="round m-3">
            <button class="orange btn text-white round">正在跟隨</button>
          </div>
        </div>
        <div class="popularUser d-flex border-bottom justify-content-between">
          <div class="user d-flex">
            <div class="avatar m-2">
              <img src="https://i.imgur.com/bGxaaO6.png" alt="" class="rounded-circle userImage">
            </div>
            <div class="information">
              <div class="name mt-3 ms-1 fw-bolder">McDonald's</div>
              <div class="account ms-1">@McDonald's</div>
            </div>
          </div>
          <div class="round m-3">
            <button class="btn followButton round">跟隨</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>