<div class="mainSectionContainer col-10 ">
  <div class="titleContainer">
    <h1>Home</h1>
  </div>
  <form class="postFormContainer" action="/tweets" method="POST">
    <div class="userImageContainer">
      <a class="nav-link fw-bolder p-0 m-0" href="/user/{{user.id}}?target=tweets">
        <img src="{{user.avatar}}" alt="User's profile picture" />
      </a>
    </div>
    <div class="textareaContainer">
      <textarea class="home-descriptionInput" id="postTextarea" name="homeDescription" placeholder="有什麼新鮮事?"
        onkeyup="countWords(name,140)" maxlength="140"></textarea>
      <div class="home-descriptionCount text-end mt-0" style="color:#657786;font-size:15px">
        0/140
      </div>
      <input type="hidden" name="userId" value="{{user.id}}" />
      <div class="buttonsContainer mt-1"><button id="submitPostButton">發文</button>
      </div>
    </div>
  </form>

  {{#each tweets}}
  <div class='post'>

    <div class='mainContentContainer'>
      <div class='userImageContainer'>
        <a href='/user/{{this.User.id}}'>
          <img src='{{this.User.avatar}}'>
        </a>
      </div>
      <div class='postContentContainer'>
        <div class='header'>
          <a href='/user/{{this.User.id}}' class='displayName'>{{this.User.name}}</a>
          <span class='username'>${{this.User.name}}</span>
          <span class='date'>${{moment this.User.createdAt}}</span>
        </div>
        <div class='postBody'>

          <span><a href="/tweets/{{this.id}}/replies" style='text-decoration:none; color:black'
              ;>{{this.description}}</a></span>

        </div>
        <div class='postFooter'>
          {{#ifcond tweet.Replies.length "===" "0"}}
          <div class='postButtonContainer'>
            <a href="/tweets/{{this.id}}/replies">
              <button>
                <i class='far fa-comment'>{{tc this.Replies.length}}</i>
              </button>
            </a>
          </div>
          {{else}}
          <div class='postButtonContainer'>
            <a href="/tweets/{{this.id}}/replies">
              <button style="color:#1FA2F1">
                <i class='far fa-comment'>{{tc this.Replies.length}}</i>
              </button>
            </a>
          </div>
          {{/ifcond}}
          {{#ifcond tweetLiked "===" 0}}
          <div class='postButtonContainer'>
            <form action=" /tweets/{{this.id}}/thumbs_up" method="POST">
              <button type="submit">
                <i class='far fa-thumbs-up'></i>{{tc tweetLiked}}
              </button>
            </form>
          </div>
          {{else}}
          <div class='postButtonContainer'>
            <form action="/tweets/{{this.id}}/thumbs_up" method="POST">
              <button type="submit" style="color:#1FA2F1">
                <i class='far fa-thumbs-up'></i>{{tc tweetLiked}}
              </button>
            </form>
          </div>
          {{/ifcond}}

          {{#ifcond tweetDisliked "===" 0}}
          <div class='postButtonContainer'>
            <form action="/tweets/{{this.id}}/thumbs_down" method="POST">
              <button type="submit">
                <i class='far fa-thumbs-down'></i>{{tc tweetDisliked}}
              </button>
            </form>
          </div>
          {{else}}
          <div class='postButtonContainer'>
            <form action="/tweets/{{this.id}}/thumbs_down" method="POST">
              <button type="submit" style="color:#1FA2F1" ;>
                <i class='far fa-thumbs-down'></i>{{tc tweetDisliked}}
              </button>
            </form>
          </div>
          {{/ifcond}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- 分頁 --}}
<div class="pagination d-flex justify-content-center mt-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/tweets?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each totalPages}}
      {{#ifcond this "===" ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/tweets?page={{this}}">{{this}}</a></li>
      {{/ifcond}}
      {{/each}}
      <a class="page-link" href="/tweets?page={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
    </ul>
  </nav>
</div>