<div class="container-fluid">
  {{> modal}}
  {{> left-content}}

  <div class="main-content">
    <div class="main-title">
      首頁
    </div>
    <div class="main-text">
      <img src="{{user.avatar}}" alt="" class="avtar">
      <form method="POST" action="/tweets">
        <textarea name="description" id="description" class="tweetTextarea" cols="30" rows="10" placeholder="有什麼新鮮事？"
          maxlength="140"></textarea>
        <div class="buttons">
          <button class="tweet-post-button 2" type="submit" style="display: none;">推文</button>
          <button type="button" class="tweet-post-error 2" data-toggle="modal" data-target="#postError">
            推文
          </button>
        </div>
      </form>
    </div>
    <div class="main-tweet-list">
      {{#each tweets}}
      <div class="tweet-box">
        <div class="tweet-item" onclick="location.href='/tweets/{{this.id}}'">
          <div class="tweet-item-left">
            <a href="/users/{{this.User.id}}/tweets">
              <div class="avatar"
                style="background: url({{this.User.avatar}}),#C4C4C4;background-position:center;background-size:cover;">
              </div>
            </a>
          </div>
          <div class="tweet-item-right">
            <div class="tweet-item-title">
              <span class="mt-1 user-name"><a href="/users/{{this.User.id}}/tweets">{{this.User.name}}</a></span>
              <span class="user-account">
                {{this.User.account}}．{{moment this.createdAt}}
              </span>

            </div>
            <div class="tweet-item-text">
              <p>{{this.description}}</p>
            </div>
          </div>
        </div>
        <div class="tweet-item-footer">
          <button type="button" class="button reply-link pt-1  reply-modal-open">
            <i class="fac fa-cus-reply"></i> {{this.Replies.length}}
          </button>
          <div class="hidden-info" style="display:none;">
            <p class="tweet-user-name">{{this.User.name}}</p>
            <p class="tweet-user-account">{{this.User.account}}</p>
            <p class="tweet-description">{{this.description}}</p>
            <p class="tweet-id">{{this.id}}</p>
            <p class="tweet-createdAt">{{moment this.createdAt}} </p>
            <p class="tweet-user-avatar">{{this.User.avatar}}</p>
          </div>
          {{#if isLiked}}
          <form action="/tweets/{{this.id}}/like?_method=DELETE" method="POST">
            <button type="submit" class="like-link button">
              <i class="fac fa-cus-solid-like"></i>
              {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST">
                <button type="submit" class="like-link button">
                  <i class="fac fa-cus-like"></i>
                  {{/if}}
                  {{this.likedUsers.length}}
                </button>
              </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{> right-content}}
</div>