<div class="row">
  {{> homeNavBar}}
  <div class="tweets col d-flex flex-column mx-4">
    <div class="p-2">
      <span class="home-word">首頁</span>
    </div>
    <div class="input-block">
      <img class="rounded-circle" src="{{user.avatar}}" alt="avatar" title="avatar" width="50px" height="50px">
      <span class="input-word">有什麼新鮮事？</span>
      <div class="input-btn">
        <button type="button" class="btn rounded-pill fw-bolder common-button" data-bs-toggle="modal" data-bs-target="#tweetModal">
          推文
        </button>
      </div>
    </div>
    {{#each reorganizationTweets}}
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="{{this.userAvatar}}" alt="avatar" title="avatar" width="50px" height="50px">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">{{this.userName}}</span>
          <span class="account">&nbsp;{{this.userAccount}}</span>
          <span class="time"><b>•</b>&nbsp;{{moment this.createdAt}}</span>
        </div>
        <p class="content">{{this.description}}</p>
        <div class="d-flex">
          <div class="me-5">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;{{this.replyLength}}</i>
          </div>
          <div>
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{> popular}}
</div>