<div class="d-flex justify-content-evenly" style="height: 1400px;width:1200px">
  <!--左欄-->
  {{> left-sidebar}}
  <!--中欄-->
  <div class="main-page" style="width:45%">
    <!--header-->
    <div class="header">
      <h4>首頁</h4>
    </div>
    <!--po文欄位-->
    <div class="d-flex flex-column mt-3" data-userAvatar="{{userAvatar}}" data-bs-toggle="modal"
      data-bs-target="#tweetModal">
      <div class="form-row d-flex flex-row mb-3 " style="display:inline-block">
        <div class="user-avatar ">
          <a href="/users/{{this.User.id}}/tweets">
            <img src="{{userAvatar}}" width="50px" ;height="50px"
              style="display:inline-block;border-radius:100%;border:2px black solid;margin:auto 8px auto 24px"
              alt="avatar">
          </a>
        </div>

        <textarea class="form-control " id="description" style="border:none;padding:0px;resize: none" name="description"
          rows="2" cols="20" maxlength:"140" minlength:"1" placeholder="有什麼新鮮事?"></textarea>
      </div>
      <div class="d-flex justify-content-end ">
        <button class="post-new-tweet m-3 ">推文</button>

      </div>
    </div>
    <div class=" d-flex flex-column">
      <!--瀏覽推文-->
      {{#each tweets}}
  <div class="tweets d-flex flex-row">
    <a style=" text-decoration:none" class="link-to-replies" href="/tweets/{{this.id}}/replies" style="z-index:0">
      <div class="tweet-left m-2">
        <img class="rounded-circle" src="{{this.User.avatar}}" alt="avatar" title="avatar" width="50px" height="50px">
      </div>
      <div class="tweet-right m-2 d-flex flex-column">
        <div class="tweets-info">
          <span class="name">{{this.User.name}}</span>
          <span class="account">&nbsp;@{{this.User.account}}</span>
          <span class="time"><b>•</b>&nbsp;{{relativeTimeFromNow this.createdAt}}</span>
        </div>
        <!--推文-->
        <p class="content">{{this.description}}.</p>
    </a>
    <!--icon-->
    <div class="d-flex replies-likes-icon">
      <div class="replies">
        <button type="button" class="btn reply-btn" data-bs-toggle="modal" data-bs-target="#replyModal"
          data-id="{{this.id}}" data-name="{{this.User.name}}" data-account="{{this.User.account}}"
          data-time="{{relativeTimeFromNow this.createdAt}}" data-img="{{this.User.avatar}}"
          data-description="{{this.description}}" data-userAvatar="{{user.avatar}}" style="z-index:2">
          <!--<img src="/images/reply-small.svg" alt="reply"> -->
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.36401 0.49446L5.59867 0.487793H5.59734C2.68134 0.487793 0.397339 2.77246 0.397339 5.68913C0.397339 8.42113 2.52134 10.4931 5.37401 10.6025V13.1545C5.37401 13.2265 5.40334 13.3451 5.45401 13.4231C5.54867 13.5731 5.71001 13.6545 5.87534 13.6545C5.96734 13.6545 6.06001 13.6291 6.14334 13.5758C6.31934 13.4638 10.4587 10.8158 11.5353 9.90513C12.8033 8.83179 13.562 7.25846 13.564 5.69713V5.68579C13.56 2.77446 11.2773 0.49446 8.36401 0.493793V0.49446ZM10.8887 9.14246C10.1327 9.78246 7.64734 11.4125 6.37401 12.2378V10.1131C6.37401 9.83713 6.15067 9.61313 5.87401 9.61313H5.61001C3.17001 9.61313 1.39801 7.96246 1.39801 5.68913C1.39801 3.33313 3.24334 1.48779 5.59801 1.48779L8.36267 1.49446H8.36401C10.7187 1.49446 12.564 3.33846 12.5653 5.69179C12.5633 6.96513 11.9373 8.25446 10.8893 9.14246H10.8887Z"
              fill="#6C757D" />
          </svg>
          {{this.repliesLength}}
        </button>
      </div>
      <div class="likes">
        {{#if this.isLiked }}
          <form action='/tweets/{{this.id}}/unlike?_method=DELETE' method='post'>
            <button class='btn like-btn' type='submit'>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.00005 13.4253H6.99072C5.26872 13.3933 0.300049 8.90392 0.300049 4.65192C0.300049 2.60925 1.98338 0.815918 3.90205 0.815918C5.42872 0.815918 6.45538 1.86925 6.99938 2.63592C7.54205 1.87058 8.56871 0.815918 10.096 0.815918C12.016 0.815918 13.6987 2.60925 13.6987 4.65258C13.6987 8.90325 8.72938 13.3926 7.00738 13.4239H7.00005V13.4253ZM3.90272 1.81658C2.51605 1.81658 1.30072 3.14192 1.30072 4.65325C1.30072 8.47992 5.99005 12.3839 7.00072 12.4253C8.01272 12.3839 12.7007 8.48058 12.7007 4.65325C12.7007 3.14192 11.4854 1.81658 10.0987 1.81658C8.41338 1.81658 7.47205 3.77392 7.46405 3.79325C7.31072 4.16792 6.69338 4.16792 6.53938 3.79325C6.53005 3.77325 5.58938 1.81658 3.90338 1.81658H3.90272Z"
                fill="#6C757D" />
              </svg>
              {{this.likesLength}}
            </button>
          </form>
        {{else}}
          <form action='/tweets/{{this.id}}/like' method='post'>
            <button class='btn like-btn' type='submit'>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.00005 13.4253H6.99072C5.26872 13.3933 0.300049 8.90392 0.300049 4.65192C0.300049 2.60925 1.98338 0.815918 3.90205 0.815918C5.42872 0.815918 6.45538 1.86925 6.99938 2.63592C7.54205 1.87058 8.56871 0.815918 10.096 0.815918C12.016 0.815918 13.6987 2.60925 13.6987 4.65258C13.6987 8.90325 8.72938 13.3926 7.00738 13.4239H7.00005V13.4253ZM3.90272 1.81658C2.51605 1.81658 1.30072 3.14192 1.30072 4.65325C1.30072 8.47992 5.99005 12.3839 7.00072 12.4253C8.01272 12.3839 12.7007 8.48058 12.7007 4.65325C12.7007 3.14192 11.4854 1.81658 10.0987 1.81658C8.41338 1.81658 7.47205 3.77392 7.46405 3.79325C7.31072 4.16792 6.69338 4.16792 6.53938 3.79325C6.53005 3.77325 5.58938 1.81658 3.90338 1.81658H3.90272Z"
                fill="#6C757D" />
              </svg>
              {{this.likesLength}}
            </button>
          </form>
        {{/if}}

      </div>

    </div>
  </div>

</div>
{{/each}}
    </div>
  </div>
  {{> right-sidebar}}
  {{> post-tweet-modal}}
</div>


<!--test-->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" ariahidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:634px;height:500px;border-radius:14px;padding:0px 16px">
      <div class=" d-flex justify-content-start m-2">
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" style="color: #FF6600;">
        </button>
      </div>
      <hr class="solid">
    </div>
  </div>
</div>
<!--test-->



<script src="/javascripts/reply-modal-eventListener.js"></script>