<div class="d-flex justify-content-center">
  {{!-- navbar --}}
  {{> navbar}}

  {{!--tweet-list --}}
  <div class="col-7 home-page">
    <ul class="list-group home-list">
      <a href="/tweets">
        <li class="list-group-item tweet-list p-4">
          <h4>首頁</h4>
        </li>
      </a>

      <li class="list-group-item tweet-list" type="button" data-bs-toggle="modal" data-bs-target="#tweet-modal">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <img src="{{user.avatar}}" class="recommend-followings-img me-1" onerror="this.onerror=null; this.src='/images/profile-img.svg'">
      
            <div class="tweet-placeholder">有什麼新鮮事？</div>
          </div>
      
          <div class="btn tweet-btn mb-2 me-2 align-self-end">推文</div>
        </div>
      </li>
      
      {{#each tweets}}
      <li class="list-group-item tweet-list">
        <a href="/tweets/{{this.id}}/replies" class="text-decoration-none">
          <div class="d-flex">
            <div class="flex-shrink-1 p-0">
              <button onclick="event.stopPropagation(); event.preventDefault(); window.location.href='/users/{{this.User.id}}/tweets';">
              <img src="{{this.User.avatar}}" class="recommend-followings-img" onerror="this.onerror=null; this.src='/images/profile-img.svg'">
              </button>
            </div>
            <div class="tweet-text d-flex flex-column">
              <div class="d-flex align-items-baseline mb-2">
                <div class="tweet-name me-2">{{this.User.name}} </div>
                <div class="tweet-account">@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
              </div>
        
              <p class="mb-2" style="white-space:break-spaces;">{{this.description}}</p>
        
              <div class="d-flex">
                <div onclick="event.stopImmediatePropagation();event.preventDefault();" data-bs-toggle="modal" data-bs-target="#reply-modal-{{this.id}}">
                  <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1" >
                  <span class="tweets-interact-counts ">{{this.replyCount}}</span>
                </div>
                {{#if this.isLiked }}
                <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
                  <input type="image" src="/images/like_filled.svg" alt="提交" style="margin-left:40px;">
                </form>
                {{else}}
                <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
                  <input type="image" src="/images/like_outlined.svg" alt="提交" style="margin-left:40px;">
                </form>
                {{/if}}
                <span class="tweets-interact-counts">{{this.likeCount}}</span>
              </div>
            </div>
          </div>
        </a>
      </li>

      {{!--Reply Modal --}}
      <div class="modal fade" id="reply-modal-{{this.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button id="reply-close" type="button" class="tweet-close-button" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><img src="/images/message/message_danger.svg" alt=""></span>
              </button>
            </div>
            <div class="modal-body">
              <!-- form -->
              <div class="d-flex mb-4">
                <div class="flex-shrink-0 p-0">
                  <img src="{{this.User.avatar}}" alt="avatar" class="recommend-followings-img" onerror="this.onerror=null; this.src='/images/profile-img.svg'">
                  <div class="vertical-line"></div>
                </div>
                <div class="tweet-text">
                  <div class="d-flex align-items-baseline mb-2">
                    <div class="tweet-name me-2">{{this.User.name}}</div>
                    <div class="tweet-account">@{{this.User.account}}・{{formatRelativeTime this.createdAt}}</div>
                  </div>
                  <p class="tweet-description mb-2" style="white-space:break-spaces;">{{this.description}}</p>
                  <div class="d-flex">
                    <div class="reply-tag-text me-1">回覆給</div>
                    <div class="reply-tag">@{{this.User.account}}</div>
                  </div>
                </div>
              </div>
      
              <div class="d-flex">
                <div class="flex-shrink-0 p-0">
                  <img src="{{../user.avatar}}" alt="avatar" class="recommend-followings-img" onerror="this.onerror=null; this.src='/images/profile-img.svg'">
                </div>
                <div class="d-flex flex-column flex-grow-1">
                  <form id="reply-form" action="/tweets/{{this.id}}/replies" method="POST" novalidate>
                    <div class="form-group">
                      <textarea class="ms-1 border-0 my-2 invalid-message" id="comment" name="comment" rows="3"
                        style="resize:vertical;outline:none;" placeholder="推你的回覆"></textarea>
                      <div class="d-flex justify-content-end invalid-parent">
                        <div class="invalid-feedback reply-feedback"></div>
                        <button id="reply-submit-button" type="submit" class="btn btn-primary">回覆</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </ul>
  </div>

  {{!-- recommend-followings --}}
  {{> recommend-followings}}

</div>

<!-- Modal -->
<div class="modal fade" id="tweet-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="tweet-close" type="button" class="tweet-close-button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/images/message/message_danger.svg" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form -->
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0 p-0">
            <img src="{{user.avatar}}" alt="avatar" class="recommend-followings-img" onerror="this.onerror=null; this.src='/images/profile-img.svg'">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <form id="tweet-form" action="/tweets" method="POST" novalidate>
              <div class="form-group">
                <textarea class="border-0 mb-2 invalid-message" id="description" name="description" rows="3"
                  style="resize:vertical;outline:none;" placeholder="有什麼新鮮事？"></textarea>
                <div class="d-flex justify-content-end invalid-parent">
                  <div class="invalid-feedback tweet-feedback"></div>
                  <button type="submit" class="btn btn-primary" id="tweet-submit-button">推文</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/tweet.js"></script>
<script src="/javascript/reply.js"></script>