<div class="container">
  <header class="border border-1 border-box " style="background-color: #FFFFFF; border-color: #E6ECF0; height: 55px;">
    <div class="m-2" style="font-size: 18px; font-family: 'Noto Sans TC'; font-color: #1C1C1C">
      <p class="fw-bold lh-base ">首頁</p>
    </div>
  </header>

  <div class="border border-1 border-box" style="background-color: #FFFFFF; border-color: #E6ECF0; height: 120px;">
    <form action="/twitters" method="POST">
      <div class="d-flex flex-row" style="width: 500px">
        <img src="{{user.avatar}}" style="width: 50px; height: 50px; background-color: #C4C4C4;"
          class="rounded-circle m-2" alt="...">
        <div class="m-2" style="width: 500px">
          <textarea class="form-control" placeholder="有什麼新鮮事?" aria-label="With textarea" id="text" name="text" rows="1"
            required></textarea>
        </div>
      </div>
      <div class="d-flex flex-row-reverse me-2">
        <button type="submit" class="btn btn-white-orange rounded-pill" style="width: 66px;">推文</button>
      </div>
    </form>
  </div>

  <div class="divider" style="background-color: #E6ECF0; height: 10px;"></div>

  <div id="dataPanel">
    {{#each tweets}}
    <div class="card p-3">
      <div class="d-flex">
        <div>
          {{#ifCond this.tweetUserId ../user.id}}
          <a href="users/self/{{../user.id}}">
            <img src="{{this.tweetUserAvatar}}" style="width: 3rem" class="rounded-circle me-3" alt="...">
          </a>
          {{else}}
          <a href="users/other/{{this.tweetUserId}}">
            <img src="{{this.tweetUserAvatar}}" style="width: 3rem" class="rounded-circle me-3" alt="...">
          </a>
          {{/ifCond}}
        </div>
        <div class="col-md-8">
          <div class="userInfo d-flex">
            <h6 class="fontWeight700 me-2">{{this.tweetUserName}}</h6>
            <h6 class="fontWeight500" style="color:#657786;">@{{this.tweetUserAccount}}</h6>
            <h6 class="fontWeight500" style="color:#657786;">‧{{moment this.createdAt}}</h6>
          </div>
          <p class="card-text fontWeight500">
            <a href="/twitters/{{this.id}}/replyList" style="color:#1C1C1C; text-decoration:none;">
              {{this.tweetContent}}
            </a>
          </p>
          <div class="d-flex">
            <div>
              {{#if this.isLiked }}
              <form action="/twitters/{{ this.id }}/unlike?_method=DELETE" method="POST">
                <button type="submit" class="btn">
                  <i class="fas fa-heart"></i><span class="fontWeight500 me-5">{{this.tweetLikesCount}}</span>
                </button>
              </form>
              {{else}}
              <form action="/twitters/{{ this.id }}/like" method="POST">
                <button type="submit" class="btn">
                  <i class="far fa-heart me-3"></i><span class="fontWeight500 me-5">{{this.tweetLikesCount}}</span>
                </button>
              </form>
              {{/if}}
            </div>
            <div>
              <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#replyModal"
                data-bs-whatever="@getbootstrap">
                <i class="far fa-comment me-3"></i><span class="fontWeight500">{{this.tweetRepliesCount}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>