<div class="row">
  {{> homeNavBar}}
  <div class="tweets col d-flex flex-column mx-4 user-tweets tweet-like-axios tweet-reply-axios">
    <div class="p-2 d-flex flex-row">
      <a href="/tweets">
        <i class="fas fa-arrow-left fa-lg mx-3 my-3"></i></a>
      <div class="ms-3">
        <p class="home-word">{{profileUser.name}}</p>
        <p class="twi-count"> {{profileUser.tweetLength}}推文</p>
      </div>
    </div>
    <div class="cover-block">
      <img src="{{profileUser.cover}}" alt="cover" height="100%" width="100%" onerror='this.style.display = "none"'>
    </div>
    <div class="user-info-block d-flex justify-content-between">
      <div class="user-info ms-3">
        <img class="user-img" src="{{profileUser.avatar}}" width="120" height="120" alt="Card image cap">
        <div class="user-detail">
          <h5 class="user-name mb-0">{{profileUser.name}}</h5>
          <h6 class="user-acc-name mb-0">@{{profileUser.account}}</h6>
          <p class="user-intro my-1">
            {{profileUser.introduction}}
          <p class="user-followship"><a href="/users/{{profileUser.id}}/followings"><strong>{{profileUser.followingLength}}個</strong></a>
            跟隨中&nbsp;&nbsp;&nbsp;&nbsp;<a
              href="/users/{{profileUser.id}}/followers"><strong>{{profileUser.followerLength}}位</strong></a>跟隨者
            <p />
        </div>
      </div>
      {{#ifEqual profileUser.id user.id}}
      <div class="edit-profile" id="edit-profile">
        <button type="button" class="btn btn-outline-warning edit-profile-btn" id="edit-profile-btn" data-id="{{user.id}}"
          data-url="{{baseURL}}" data-bs-toggle="modal" data-bs-target="#userModal">
          編輯個人資料
        </button>
      </div>
      {{else}}
      {{#if profileUser.isFollowed }}
      <div class="follow-feature">
        <form action="/followships/{{profileUser.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn rounded-pill fw-bolder common-button">正在跟隨</button>
        </form>
      </div>
      {{else}}
      <div class="follow-feature">
        <form action="/followships/{{profileUser.id}}" method="POST">
          <button type="submit" class="btn rounded-pill fw-bolder unfollow-button">跟隨</button>
        </form>
      </div>
      {{/if}}
      {{/ifEqual}}
    </div>
    <div class="px-2 pt-3 mt-0 d-flex flex-row user-nav">
      <ul class="nav nav-tabs">
        <li class="nav-item current-nav">
          <a class="nav-link" aria-current="page" href="/users/{{profileUser.id}}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{profileUser.id}}/replies">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users/{{profileUser.id}}/likes">喜歡的內容</a>
        </li>
      </ul>
    </div>
    {{#each likedTweets}}
    <div class="tweets-article d-flex">
      <div class="">
        <a href="/user/{{this.Tweet.User.id}}/tweets">
        <img class="rounded-circle" src="{{this.Tweet.User.avatar}}" alt="avatar" title="avatar"
          width="50px" height="50px"></a>
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <a href="/users/{{this.Tweet.User.id}}/tweets">
          <span class="name">{{this.Tweet.User.name}}</span>
          <span class="account">&nbsp;{{this.Tweet.User.account}}</span></a>
          <span class="time"><b>•</b>&nbsp;{{moment this.Tweet.createdAt}}</span>
        </div>
        <p class="content">{{this.Tweet.description}}</p>
        <div class="d-flex">
          <div class="me-5">
            <i class="reply-icon far fa-comment" data-bs-toggle="modal" data-bs-target="#tweetReplyModal" data-id="{{this.id}}"
              data-url="{{baseURL}}">&nbsp;&nbsp;&nbsp;{{this.replyLength}}</i>
          </div>
          <div>
            {{#if this.isLiked}}
            <i class="unlike-icon fas fa-heart" data-id="{{this.id}}" data-url="{{baseURL}}"></i>
            {{else}}
            <i class="like-icon far fa-heart" data-id="{{this.id}}" data-url="{{baseURL}}"></i>
            {{/if}}
            <span class="like-number ms-2">{{this.likeLength}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  {{> popular}}
</div>
{{> userProfileModal}}

<!-- tweet reply Modal -->
{{> tweetReplyModal}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/tweetsLike.js"></script>
<script src="/javascripts/tweetsReply.js"></script>
<script src="/javascripts/userModal.js"></script>