<div class="user-template">
  <div class="leftside">
    <div class="navigation" id="navigation">
      <i class='ac-icon'></i>
      <a class="active" herf='/tweets' id="homing"><i class='home active'></i>首頁</a>
      <a class="" id="editing"><i class='info'></i>個人資料</a>
      <a class="" herf='/tweets' id="setting"><i class='setting'></i>設定</a>
      <button type="button" class="btn-fill" id="posting">推文</button>
    </div>
    {{!-- 展示icon用 --}}
    <div>
      <i class='ac-icon login'></i>
      <i class='success'></i>
      <i class='warning'></i>
    </div>

    <div class="footer">
      <a herf="/logout"><i class='logout'></i>登出</a>
    </div>
  </div>

  <div class="main">
    {{!-- USER PARTIALS --}}
    {{#if indexPage}}{{> tweets}}{{/if}}
    {{#if userTweetsPage}}{{> profileTweets}}{{/if}}
    {{!-- {{> profileReplies}} --}}
    {{!-- {{> profileLikes}} --}}
    {{!-- {{> profileFollowing}} --}}
    {{!-- {{> profileFollower}} --}}
    {{!-- {{> tweet}} --}}

    {{!-- ADMIN PARTIALS --}}
  </div>

  <div class="rightside">

    <div class="popular">
      <span>Popular</span>

      <div class="wrap">
        <a href="#"><img class="thumbnail" src="/icons/avatar.svg" alt="#">
          <span>
            <span class="name">Pizza Hut</span>
            <span class="at-name ellipsis">@pizzahutasdkfjwaofjojoawefpajwefawejn</span>
          </span>
        </a>
        <a class="btn-fill sm" href="#followship">正在追蹤</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonaldserfnoeanfonwaoenowne</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

    </div>

  </div>
</div>

{{!-- posting modal --}}
<div class="modal d-none" id="modal-post">
  <div class="mask" id="modal-post-mask">
    <div class="dialog">
      <div class="dialog-header">
        <a class='close'><i class='X-orange close'></i></a>
      </div>
      <div class="postarea">
        <a>
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
        </a>
        <form action="/tweets" method="post">
          <input type="hidden" name="userId" value="{{user.id}}">
          <textarea name="description" maxlength="140" cols="48" rows="6" placeholder="有什麼新鮮事？" required></textarea>
          <button type="summit" class="btn-fill" id="posting">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- replying modal --}}
<div class="modal d-none" id="modal-reply">
  <div class="mask" id="modal-reply-mask">
    <div class="dialog">
      <div class="dialog-header">
        <a class="close"><i class='X-orange close'></i></a>
      </div>
      <div class="replyarea">

        <div class="tweet">
          <a>
            <img class="thumbnail" src="/icons/avatar.svg" alt="">
          </a>
          <div class="tweetcontent">
            <a class="tweetuser">
              <span class="name ellipsis">Loading...</span>
              <span class="at-name ellipsis">@Loading...</span>
              <span class="timer ellipsis">Loading...</span>
            </a>
            <span class="tweetdescription" id="modal-reply-content">
              Loading . . .
            </span>
            <span class="replyto">回覆給
              <span class="at-name">@Loading...</span>
            </span>
          </div>

        </div>
      </div>

      <div class="postarea">
        <a>
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
        </a>
        <form action="/notyet" method="post">
          <input type="hidden" name="userId" value="{{user.id}}">
          <textarea name="description" maxlength="140" cols="48" rows="2" placeholder="推你的回覆" required></textarea>
          <button type="summit" class="btn-fill" id="posting">回覆</button>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- editing modal --}}
<div class="modal d-none" id="modal-edit">
  <div class="mask" id="modal-edit-mask">
    <div class="dialog">
      <div class="dialog-header">
        <a class="close"><i class='X-orange close'></i></a>
        <span>編輯個人資料</span>
      </div>

      <form method="POST" action="/???" enctype="multipart/form-data">
        <div class="edit-cover">
          <img src="/icons/cover.svg" alt="" id="modal-edit-cover">
          <input type="file" class="d-none" id="cover" name="cover"
            value="{{#if User.cover}}{{User.cover}}{{else}}/icons/cover.svg{{/if}}"
            onchange="document.querySelector('#modal-edit-cover').src=this.value">
          <a>
            <input type="button" class="camera" onclick="document.querySelector('#cover').click();">
          </a>
          <a>
            <input type="button" class="X-white"
              onclick="document.querySelector('#modal-edit-cover').src='/icons/cover.svg'">
          </a>
        </div>

        <div class="edit-avatar">
          <img src="/icons/avatar-lg.svg" alt="" id="modal-edit-avatar">
          <input type="file" class="d-none" id="avatar" name="avatar"
            value="{{#if User.avatar}}{{User.avatar}}{{else}}/icons/avatar-lg.svg{{/if}}"
            onchange="document.querySelector('#modal-edit-avatar').src=this.value">
          <a>
            <input type="button" class="camera" onclick="document.querySelector('#avatar').click();">
          </a>
        </div>

        <div class="for-name edit-text">
          <div class="text-label">
            <label for="name">
              名稱
            </label>
          </div>
          <div class="edit-form">
            <input type="text" name="name" class="edit-name" id="name" maxlength="50" required value="{{User.name}}">
          </div>
          <div class="counter" id="name-counter">5/50</div>
        </div>

        <div class="for-intro edit-text">
          <div class="text-label">
            <label for="introduction" class="text-label">
              自我介紹
            </label>
          </div>
          <div class="edit-form">
            <textarea name="introduction" class="edit-introduction" id="introduction"
              maxlength="160">{{User.introduction}}</textarea>
          </div>
          <div class="counter" id="introduction-counter">56/160</div>
        </div>


        <button class="btn-fill form" type="submit">儲存</button>
      </form>
    </div>

  </div>
</div>
</div>