{{!-- Center --}}
<div class="col border-left border-right">
  <div class="row mt-3 pl-3 border-bottom align-items-center">
    <a href="javascript:history.back()"><i class="fas fa-arrow-left fa-lg"></i></a>
    <div class="ml-5">
      <h5>{{ name }}</h5>
      <span class="text-muted">{{tweetsCount}} 推文</span>
    </div>
  </div>
  <div class="row">
    <img src="{{ cover }}" class="img-fluid user_cover" alt="Responsive image">
    <div class="col" style="height: 75px;">
      <img src="{{ avatar }}" class="user_avatar" data-toggle="modal" data-target="#show-detail-modal"
        data-id="{{userId}}">
    </div>
    <div class="col mt-3">
      {{#ifCond userId loginUser.id}}
      <button class="btn rounded-pill float-right btn-outline-twitter" data-toggle="modal" data-target="#show-detail-modal" data-id="{{userId}}">編輯個人資料</button>
      {{!-- <a href="/users/{{userId}}" class="btn rounded-pill float-right btn-outline-twitter">編輯個人資料</a> --}}
      {{else}}
        {{#if isFollowed}}
        <form action="/followships/{{userId}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-twitter-active rounded-pill float-right">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <button name="id" value="{{userId}}" type="submit" class="btn btn-outline-twitter rounded-pill float-right">跟隨</button>
        </form>
        {{/if}}
      {{/ifCond}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/users/{{userId}}/tweets">
        <span class="bold"><b>{{name}}</b></span><br>
      </a>
      <a href="/users/{{userId}}/tweets">
        <span style="color: grey">@{{account}}</span><br>
      </a>
      <span>{{introduction}}</span><br>
      {{followingsCount}}個 <a href="/users/{{user.id}}/followings"><span style="color: grey">跟隨中</span></a>
      {{followersCount}}位 <a href="/users/{{user.id}}/followers"><span style="color: grey">跟隨者</span></a>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{userId}}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{userId}}/replies">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link selected_nav" href="/users/{{userId}}/likes">喜歡的內容</a>
        </li>
      </ul>
    </div>
  </div>
  {{#each data}}
  <div class="row border-bottom">
    <div class="d-flex p-2">
      <a href="/users/{{../user.id}}/tweets">
        <img class="mr-3 user_avatar_s" src="{{ this.avatar }}" alt="Avatar">
      </a>
      <div class="col">
        <span class="bold">{{this.name}}</span>
        <span style="color: grey">@{{this.account}}・{{moment this.tweetUpdatedAt}}</span><br>
        <span>
          <small>
            {{this.description}}<br>
            <span class="d-flex flex-row ">
              <a href="/tweets/{{this.tweetId}}/replies">
                <i class="far fa-comment mr-3" style="color: grey;"> {{this.replyCount}}</i>
              </a>
              {{#if this.isLiked}}
              <form action="/tweets/{{this.TweetId}}/unlike" method="POST">
                <button type="submit" class="btn-push"><i class="fas fa-heart"
                    style="color:rgb(224, 36, 94);">{{this.likeCount}}</i></button>
              </form>
              {{else}}
              <form action="/tweets/{{this.TweetId}}/like" method="POST">
                <button type="submit" class="btn-push"><i class="far fa-heart" style="color: grey;">{{this.likeCount}}</i></button>
              </form>
              {{/if}}
            </span>
          </small>
        </span>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<!-- pop up reply comment message -->
{{> message}}
{{!-- Right side --}}
{{> right}}
<!-- Modal -->
<div class="modal fade" id="show-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <button type="button" class="border-0" style="background-color: rgba(0, 0, 0, 0);color: rgb(255, 102, 0);"
          data-dismiss="modal" aria-label="Close">
          <h5>X</h5>
        </button>
        <h5 class="modal-title ml-3 align-self-left">編輯個人資料</h5>
        <button type="button" class="btn btn-twitter rounded-pill">儲存</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body no-gutters p-0">
        <div class="row p-0 m-0" style="height:275px">
          <img src="{{ cover }}" class="img-fluid user_cover" alt="Responsive image">
          <img src="{{ avatar }}" class="user_avatar ml-3">
        </div>
        <form class="mx-3">
          <div class="form-group">
            <label for="name" class="col-form-label">名稱</label>
            <input type="text" class="form-control" id="name" maxlength="50" value="{{name}}">
          </div>
          <div class="form-group">
            <label for="introduction" class="col-form-label">自我介紹</label>
            <textarea class="form-control" id="introduction" maxlength="160">{{introduction}}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>