{{!-- 路由 /users/id --}}
{{!-- 路由 /users/id/tweets --}}
{{!-- 路由 /users/id/replies --}}
{{!-- 路由 /users/id/likes --}}
<div class="user-homepage">
  {{!-- 左邊欄位 --}}
  {{>leftSideBar user = user to = to}}

  {{!-- 中間欄位上方 --}}
  <div class="central">
    {{#if error_messages}}
    <div class="alert alert-success alert-dismissible fade show operate-fail" role="alert">
      {{error_messages}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <div class="user-page">
      <h4 class="central-title">
        <a href="/tweets" class="back-to-home"><i class="fas fa-arrow-left"></i>
        </a>
        <div class="central-title-name">
          <span class="user-name">{{userInfo.name}}</span>
          <span class="tweet-num">{{userInfo.tweetNum}}推文</span>
        </div>
      </h4>
      <div class="user-avatar-container">
        <div class="user-cover-box">
          <img src="{{userInfo.cover}}" alt="" srcset="" class="user-cover">
        </div>
        <div class="user-avatar-box">
          <img src="{{userInfo.avatar}}" alt="" srcset="" class="user-avatar">
        </div>
      </div>
  {{#ifCond user.id userInfo.id}}
      <div class="user-edit-btn">
        <button type="button" class="edit-person-info-btn" data-userid="{{userInfo.id}}" data-useravatar="{{userInfo.avatar}}" data-username="{{userInfo.name}}" data-usercover="{{userInfo.cover}}">編輯個人資料</button>
      </div>
  {{else}}
      <div class="user-edit-btn">
        <i class="far fa-envelope-open"></i>
        <i class="far fa-bell"></i>
        {{#if userInfo.isFollowing}}
        <form action="/followships/{{userInfo.id}}?_method=DELETE" method="POST">
          <button type="submit" class="following">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <input type="text" class="top-twitter-id" name="id" value="{{userInfo.id}}">
          <button type="submit" class="not-follow">跟隨</button>
        </form>
        {{/if}}
      </div>
  {{/ifCond}}
      <div class="user-details">
        <h5 class="user-name">{{userInfo.name}}</h5>
        <span class="user-account">{{userInfo.account}}</span>
        <p class="user-introduction">{{userInfo.introduction}}</p>
        <div class="user-followship">
          <a href="/users/{{userInfo}}/followings"><span class="user-following">{{userInfo.followingNum}}個<strong class="user-following-end">跟隨中</strong></span></a>
          
          <a href="/users/{{userInfo}}/followers"><span class="user-follower">{{userInfo.followerNum}}位<strong class="user-follower-end">跟隨者</strong></span></a>
        </div>
      </div>
      <div class="user-tweet-link">
        {{#ifCond to 'userInfo'}}
        <a href="/users/{{userInfo.id}}/tweets" class="user-tweets on">推文</a>
        {{else}}
          {{#ifCond to 'userTweets'}}
          <a href="/users/{{userInfo.id}}/tweets" class="user-tweets on">推文</a>
          {{else}}
          <a href="/users/{{userInfo.id}}/tweets" class="user-tweets">推文</a>
          {{/ifCond}}
        {{/ifCond}}


        {{#ifCond to 'userReplies'}}
        <a href="/users/{{userInfo.id}}/replies" class="user-tweets on">推文與回覆</a>
        {{else}}
        <a href="/users/{{userInfo.id}}/replies" class="user-tweets">推文與回覆</a>
        {{/ifCond}}

        {{#ifCond to 'userLikes'}}
        <a href="/users/{{userInfo.id}}/likes" class="user-tweets on">喜歡的內容</a>
        {{else}}
        <a href="/users/{{userInfo.id}}/likes" class="user-tweets">喜歡的內容</a>
        {{/ifCond}}
      </div>
    </div>

    {{!-- 中間欄位下方推文 --}}
    <div class="tweets">
      {{#ifCond render 'userInfo'}}
      {{>userTweets tweet = tweet }}
      {{/ifCond}}

      {{#ifCond render 'userTweets'}}
      {{>userTweets tweet = tweet userInfo = userInfo}}
      {{/ifCond}}

      {{#ifCond render 'userReplies'}}
      {{>userReplies userReplies = userReplies userInfo = userInfo}}
      {{/ifCond}}

      {{#ifCond render 'userLikes'}}
      {{>userLikes likedTweets = likedTweets userInfo = userInfo}}
      {{/ifCond}}
    </div>
  </div>

  {{!-- 右邊欄位 --}}
  <div class="rightSideBar" data-userid="{{user.id}}">
    {{>top10Twitter}}
  </div>
</div>