<div class="d-block justify-content-center" style="margin-left: 17rem;">
  <div>
    <h2>{{user.name}} 個人頁面</h2>
    <small>@{{user.account}}</small>
    <p>{{user.introduction}}</p>
    <div>
      <img src="{{user.avatar}}" alt="">
      <img src="{{user.cover}}" alt="">
    </div>

  </div>

</div>