<div class="wrapper">
  <div class='container user-homepage'>
    <div class="profile-setting d-flex flex-column justify-content-between">{{> leftColumn}}</div>
    <div class="main">
      <div class='user-header d-flex flex-row align-items-center'>
        <a href="#"><i class="back-arrow"></i></a>
        <div class="header-text d-flex flex-column">
          <h5>{{queryUser.name}}</h5>
          <span class="tweets-count secondary">{{queryUser.Tweets.length}} 推文</span>
        </div>
      </div>
      <div class='user-banner'>
        <img class="cover" src='{{queryUser.cover}}' alt='background' width='100%' height='20%'/>
        <img class='avatar' src='{{queryUser.avatar}}' alt='avatar' width='20%' height='10%'/>
        <div class="buttons d-flex justify-content-end align-items-center">
          {{#if queryUser.isSelf}}
            <button class='btn btn-outline edit-button' type='submit'>編輯個人資料</button>
            {{else}}
            <a class="btn-round message-button"><i class="btn-message"></i></a>
            <a class="btn-round ring-button"><i class="btn-ring " data-user-id="31"></i></a>
              {{#if queryUser.isFollowed}}
                <form action='/followships/{{queryUser.id}}?_method=DELETE' method='POST' class="mb-0">
                  <button type="submit" class="btn btn-primary">正在跟隨</button>
                </form>
                {{else}}
                <form action='/followships' method='POST' class="mb-0">
                  <input type='hidden' name='id' value='{{queryUser.id}}'/>
                  <button type="submit" class="btn btn-outline">跟隨</button>
                </form>
              {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="user-info">
        <h5>{{queryUser.name}}</h5>
        <div class='secondary-text'>@{{queryUser.account}}</div>
        <p class='intro'>{{queryUser.introduction}}</p>
        <a href="/users/{{queryUser.id}}/followings">
          {{queryUser.Followings.length}} 個<span class="secondary">跟隨中</span>
        </a>
        <a href="/users/{{queryUser.id}}/followers">
          {{queryUser.Followers.length}} 位<span class="secondary">跟隨者</span>
        </a>
      </div>
      {{> user-tabs}}
      {{> user-tab-contents}}
    </div>
    <div class="top-users-list"> {{> rightColumn}}</div>
  </div> 
</div>
