<div class="center container">
  <div class="left-bar">
    {{> navbar}}
  </div>

  <div class="right-bar">
    {{> topUser}}
  </div>

  <div class="header light-border">
    <div class="py-1 px-3 m-0 font-weight-bold light-border d-flex align-items-center">
      <a class="mr-5" href="/tweets"><img class="mb-1" src="/images/pre.svg" alt=""></a>
      <div class="d-inline-block">
        <p class="m-0" style="font-size: 19px;">{{userData.name}}</p>
        <p class="light-color m-0" style="font-size: 13px; font-weight: 500;">{{userData.tweetCount}} 推文</p>
      </div>
    </div>
    <div class="position-relative" style="height: 200px; margin-bottom: 75px;">
      <img class="h-100" src="{{userData.cover}}" alt="" style="object-fit: cover;">
      <div class="avatar-container">
        <img class="" src="{{userData.avatar}}" alt="">
      </div>
    </div>
    <div class="profile ml-3 position-relative">
      <div class="profile-action">
        {{#ifCond userData.id user.id}}
        <button data-toggle="modal" data-target="#profileModal" data-id="{{user.id}}" class="button-follow">編輯個人資料</button>
        {{else}}
        {{#if ../userData.isFollowed}}
        <form action="/followships/{{../userData.id}}?_method=DELETE" method="POST">
          <button class="button-follow following" type="submit">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships/" method="POST">
          <input type="text" value="{{../userData.id}}" name="id" hidden>
          <button class="button-follow" type="submit">跟隨</button>
        </form>
        {{/if}}
        {{/ifCond}}
      </div>
      <div class="font-weight-bold">
        <p class="m-0" style="font-size: 19px;">{{userData.name}}</p>
        <p class="light-color m-0" style="font-size: 15px;">@{{userData.account}}</p>
      </div>
      <p class="mt-3 mb-0">{{userData.introduction}}</p>
      <div class="mt-3 d-flex justify-content-between" style="width: 170px; font-size: 14px;">
        <a href="/users/{{userData.id}}/followings">
          <span>
            <b style="color: #212529;">{{userData.followingCount}} 個</b>
            <p class="light-color m-0 d-inline">跟隨中</p>
          </span>
        </a>
        <a href="/users/{{userData.id}}/followers">
          <span>
            <b style="color: #212529;">{{userData.followerCount}} 位</b>
            <p class="light-color m-0 d-inline">跟隨者</p>
          </span>
        </a>
      </div>
    </div>
    <ul class="list-group list-group-horizontal mt-4" id="profile-buttons">
      <li class="list-group-item list-item-profile item-active" id="tweets">推文</li>
      <li class="list-group-item list-item-profile" id="replies">推文與回覆</li>
      <li class="list-group-item list-item-profile" id="likes">喜歡的內容</li>
    </ul>
  </div>

  <div class="list-tweet">
    <!-- USER TWEETS-->
    <ul class="list-group" id="userTweets">
      {{#each userData.Tweets}}
      <li class="list-group-item px-3 d-flex align-items-start justify-content-start">
        <a href="/users/{{../userData.id}}">
          <img class="mr-3 thumbnail" src="{{../userData.avatar}}" alt="">
        </a>
        <div class="content-wrapper w-100">
          <div class="mb-2">
            <p class="font-weight-bold d-inline">{{../userData.name}}</p>
            <p class="light-color d-inline">@{{../userData.account}}．{{moment this.createdAt}}</p>
          </div>
          <a class="link-description" href="/tweets/{{this.id}}">
            <p>{{this.description}}</p>
          </a>
          <div class="d-flex justify-content-between" style="width: 150px;">
            <!-- comment -->
            <a class="light-color action-icon {{#if this.isReplied}}isReplied{{/if}}" href="#">
              <i class="far fa-comment mr-3"></i>{{this.replyCount}}
            </a>
            <!-- like -->
            {{#if this.isLiked}}
            <form class="action-icon" action="/tweets/{{this.id}}/unlike" method="POST">
              <button class="light-color isLiked" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{else}}
            <form class="action-icon" action="/tweets/{{this.id}}/like" method="POST">
              <button class="light-color" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>

    <!-- USER REPLIES -->
    <ul class="list-group d-none">
      {{#each userData.Replies}}
      <li class="list-group-item px-3 d-flex align-items-start justify-content-start">
        <a href="/users/{{this.UserId}}">
          <img class="mr-3 thumbnail" src="{{../userData.avatar}}" alt="">
        </a>
        <div class="content-wrapper w-100">
          <div class="mb-2">
            <p class="font-weight-bold d-inline">{{../userData.name}}</p>
            <p class="light-color d-inline">@{{../userData.account}}．{{moment this.createdAt}}</p>
          </div>
          <p class="light-color d-inline" style="font-weight: 500;">回覆</p>
          <p class="d-inline" style="font-weight: 500; color: #ff6600">@{{this.Tweet.User.account}}</p>
          <p class="mt-2">{{this.comment}}</p>
        </div>
      </li>
      {{/each}}
    </ul>

    <!-- USER LIKES -->
    <ul class="list-group d-none" id="userTweets">
      {{#each userData.Likes}}
      <li class="list-group-item px-3 d-flex align-items-start justify-content-start">
        <a href="/users/{{this.Tweet.User.id}}">
          <img class="mr-3 thumbnail" src="{{this.Tweet.User.avatar}}" alt="">
        </a>
        <div class="content-wrapper w-100">
          <div class="mb-2">
            <p class="font-weight-bold d-inline">{{this.Tweet.User.name}}</p>
            <p class="light-color d-inline">@{{this.Tweet.User.account}}．{{moment this.Tweet.createdAt}}</p>
          </div>
          <a class="link-description" href="/tweets/{{this.Tweet.id}}">
            <p>{{this.Tweet.description}}</p>
          </a>
          <div class="d-flex justify-content-between" style="width: 150px;">
            <!-- comment -->
            <a class="light-color action-icon {{#if this.isReplied}}isReplied{{/if}}" href="#">
              <i class="far fa-comment mr-3"></i>{{this.replyCount}}
            </a>
            <!-- like -->
            {{#if this.isLiked}}
            <form class="action-icon" action="/tweets/{{this.Tweet.id}}/unlike" method="POST">
              <button class="light-color isLiked" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{else}}
            <form class="action-icon" action="/tweets/{{this.Tweet.id}}/like" method="POST">
              <button class="light-color" type="submit" style="background: transparent; border: 0;">
                <i class="far fa-heart mr-3"></i>{{this.likeCount}}
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

{{!-- modal --}}
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px; height: 657px;">
      <form action="/api/users/{{user.id}}" method="POST" enctype="multipart/form-data" id="profileForm" novalidate>
        <div class="modal-header d-flex justify-content-start">
          <button type="button" class="button-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p class="p-0 mb-0 mr-auto font-weight-bold" style="font-size: 18px; margin-left: 35px;">編輯個人資料</p>
          <button class="button-submit button-save" type="submit" onclick="profileSubmitButtonClick(event)">儲存</button>
        </div>
        <div class="position-relative" style="height: 200px; margin-bottom: 75px;">
          <img class="w-100 h-100" src="{{user.cover}}" alt="" style="object-fit: cover;">
          <label id="coverFile">
            <img src="/images/uploadImg.svg" alt="">
            <input id="uploadCover" name="cover" type="file" hidden>
          </label>
          <div class="avatar-container">
            <img class="" src="{{user.avatar}}" alt="">
          </div>
          <label id="avatarFile">
            <img src="/images/uploadImg.svg" alt="">
            <input id="uploadAvatar" name="avatar" style="display:none;" type="file" hidden>
          </label>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-floating col-12 mb-4 input-setting">
              <input type="text" class="form-control" id="profileName" placeholder="Enter Name" value="{{ user.name }}"
                name="name" style="background-color: #F5F8FA;" maxlength="50" required autofocus />
              <label for="profileName">名稱</label>
              <p class="tooltip-length" id="nameLength">{{ user.name.length }}/50</p>
              <div class="invalid-feedback">請輸入名稱，最多50字</div>
            </div>
          </div>

          <div class="row" style="margin-top: -18px;">
            <div class="form-floating col-12 mb-4 input-setting">
              <textarea class="form-control" id="profileIntro" placeholder="Your Introduction" name="introduction"
                style="background-color: #F5F8FA;" rows="4" maxlength="140">{{ user.introduction }}</textarea>
              <label for="profileIntro">自我介紹</label>
              <p class="tooltip-length" id="introLength">{{ user.introduction.length }}/140</p>
              <div class="invalid-feedback">自我介紹最多140字</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>