<div id="left">
	<div class="row" style="text-align: center;">
		<ul>
      <h1>
				<li>
					<a class="nav-link active" href="/tweets">首頁</a>
				</li>
				<li>
					<a class="nav-link" href="/users/{{user.id}}/tweets">個人資料</a>
				</li>
				<li>
					<a class="nav-link active" href="/">設定</a>
				</li>
      </h1>
		</ul> 
	</div>
  <button type="submit" class="btn btn-warning btn-lg btn-block">推文</button>
</div>
<div id="main">
	<div class="col-md-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h3 class="card-title"><strong>{{user.name}}</strong></h3>
					<h5 class="card-title">@{{user.account}}</h5>
				</div>
			</div>
			<div class="panel-body">
				<p>{{user.introduction}}</p>
			</div>
		</div>
		{{#each tweets}}
			<div class="col-md-8">
      			<div class="card-body">
        			<h4 class="card-title">{{this.User.name}}</h4>
					<h5>{{this.createdAt}}</h5>
        			<p class="card-text">
          			{{this.description}}
        			</p>
      			</div>
    		</div>
		{{/each}}
	</div>
</div>
<div id="right">
	<div class="col-md-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Panel title
				</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
</div>
