<section id="ys-FE-users-region" class="temp-layout followships-layout">
  

  {{>followships_nav route='followers'}}

  <div class="followers scroll-container">

    {{#each followers}}
    <div class="tweets">
      <div class="top d-flex">
        <img src="{{this.avatar}}" alt="avatar">
        <p class="name">{{this.name}}</p>

        {{#if isFollowed}}
        <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="follow-btn following">正在跟隨</button>
        </form>

        {{else}}
        <form action="/followships" method="POST" style="display: contents;">
          <button type="submit" class="follow-btn follow" name="id" value={{this.id}}>跟隨</button>
        </form>
        {{/if}}

      </div>
      <p class="context">{{this.introduction}}</p>
    </div>
    {{/each}}

  </div>
</section>