<div id="left">
	<div class="row" style="text-align: center;">
		<ul>
      <h1>
				<li>
					<a class="nav-link" href="/">首頁</a>
				</li>
				<li>
					<a class="nav-link" href="/">個人資料</a>
				</li>
				<li>
					<a class="nav-link active" href="/">設定</a>
				</li>
      </h1>
		</ul> 
	</div>
  <button type="submit" class="btn btn-warning btn-lg btn-block">推文</button>
</div>
{{!-- 中間區域 --}}
<div id="main">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h3 class="card-title"><strong>{{profile.name}}</strong></h3>
					<h5 class="card-title">@{{profile.account}}</h5>
					<p>
					{{#ifCond profile.id user.id }}
            			<a href="/users/{{profile.id}}/edit"><button type="submit" class="btn btn-primary">edit</button></a>
        			{{/ifCond}}
					</p>
				</div>
			</div>
			<div class="panel-body">
				<p>{{profile.introduction}}</p>
			</div>
		</div>
		{{#each tweets}}
		 <div class="card mb-3" style="max-width: 900px;">
			<div class="row no-gutters">
				<div class="col-md-4">
				  <img src="{{this.User.avatar}}" class="card-img" alt="user avatar">
				</div>
				<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title">
						  <a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
						  <small class="text-muted">{{moment this.createdAt }}</small>
						</h5>
        				<p class="card-text">
          				{{this.description}}
        				</p>
      				</div>
    			</div>
			</div>
		</div>
		{{/each}}
</div>
<div id="right">
	<div class="col-md-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Panel title
				</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
</div>
