<div class="col mt-2 mx-0 px-0">
    <div class="d-flex align-items-center justify-content-start my-0" style="height:40px;">
        <a href="javascript:history.back()" style="color:black;"><i class="fas fa-arrow-left"></i></a>
        <div class="mx-3 my-0 py-0">
            <h6 class="fw-bolder my-0 py-0">{{profileUser.name}}</h6>
            <p class="my-0 py-0" style="font-size:0.55em;"> 推文數 {{profileUser.Tweets.length}}</p>
        </div>
    </div>

    {{#ifcond profileUser.cover "===" null}}
    <div class="row my-0"
        style="width:100%; height:120px; background-color:#808A87; background-size:cover; background-repeat:no-repeat; background-position: center;">
        <div style="position: relative;left: 15px; top: 60px; height: 120px; width: 120px;">
            <a class="nav-link fw-bolder p-0 m-0" href="/user/{{profileUser.id}}?target=tweets">
                <img src="{{profileUser.avatar}}" alt=""
                    style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white;background-color:#C4C4C4">
            </a>
        </div>
    </div>
    {{else}}
    <div class="row my-0"
        style="width:100%; height:120px; background-image:url({{profileUser.cover}}); background-size:cover; background-repeat:no-repeat; background-position: center;">
        <div style="position: relative;left: 15px; top: 60px; height: 120px; width: 120px;">
            <a class="nav-link fw-bolder p-0 m-0" href="/user/{{profileUser.id}}?target=tweets">
                <img src="{{profileUser.avatar}}" alt=""
                    style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white;background-color:#C4C4C4">
            </a>
        </div>
    </div>
    {{/ifcond}}

    <div class="row my-0" style="width:100%; height:180px; background-color:white;">
        <div class="col-md-12">
            <div class="d-flex flex-row-reverse">
                {{#ifcond profileUser.id "===" user.id}}
                <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                    style="color:#FF6103; background-color:white; border-radius: 25px; border: 1px solid #FF6103; width:150px; font-size:0.9em;"
                    data-bs-toggle="modal" data-bs-target="#profileModal">編輯個人資料</button>
                {{else}}

                {{#if isFollowed}}
                <form action="/user/followship/{{profileUser.id}}?_method=DELETE" method="POST">
                    <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                        style="color:white; background-color:#FF6103; border-radius: 25px; border: 1px solid white; width:150px; font-size:0.9em;">正在跟隨</button>
                </form>
                {{else}}
                <form action="/user/followship/{{profileUser.id}}" method="POST">
                    <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                        style="color:#FF6103; background-color:white; border-radius: 25px; border: 1px solid #FF6103; width:150px; font-size:0.9em;">跟隨</button>
                </form>
                {{/if}}
                {{/ifcond}}
            </div>
            <div class="col-md-12 mt-3">
                <h4 style="margin:0;">{{profileUser.name}}</h4>
                <h6 style="margin:0; color:#A39480;">{{profileUser.email}}</h6>
                <div style="margin-left:0;height: 36px;line-height: 18px;text-overflow: ellipsis;overflow: hidden;">
                    {{profileUser.introduction}}</div>
                <div class="my-2 fw-bolder">
                    {{profileUser.Followers.length}}個 <a href="/user/followship/{{profileUser.id}}">跟隨者</a>　　
                    {{profileUser.Followings.length}}位 <a
                        href="/user/followship/{{profileUser.id}}?target=following">跟隨中</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=tweets" {{#ifcond target "===" "tweets"
                }} style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}} style="color:#A39480;"
                {{/ifcond}}>推文</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=replies" {{#ifcond
                target "===" "replies" }} style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}}
                style="color:#A39480;" {{/ifcond}}>推文與回覆</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=likes" {{#ifcond target "===" "likes" }}
                style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}} style="color:#A39480;"
                {{/ifcond}}>喜歡的內容</a>
        </li>
    </ul>


    <div style="max-height: 380px; overflow-y: auto; overflow-x: hidden;">
        {{#each profileUser.Tweets}}
        <div class="d-flex py-2" style="border-bottom: 1px solid #C0C0C0;">
            <a class="mx-2" href="/user/{{this.User.dataValues.id}}">
                <img src="{{this.User.dataValues.avatar}}" alt=""
                    style="height: 40px; width: 40px; border-radius: 50%;">
            </a>
            <div class="mx-2">
                <div class="row">
                    <h6 class="fw-bolder mr-2" style="margin:0;">{{this.User.dataValues.name}}</h6>
                    <h6 style="margin:0; color:#A39480;">
                        {{this.User.dataValues.email}}．{{moment this.User.dataValues.updatedAt}}</h6>
                </div>
                <a class="nav-link" href="/tweets/{{this.id}}/replies" style="color:black;">
                    <div style="margin-left:0;height: 54px;line-height: 18px;text-overflow: ellipsis;overflow: hidden;">
                        {{this.description}}
                    </div>
                </a>
                <div class="col-md-12 d-flex mt-2">

                    {{#ifcond this.Replies.length "===" "0"}}
                    <div style="color:#A39480;">
                        <a href="/tweets/{{this.id}}/replies" class="ms-3 me-1" style="color:#C0C0C0;"><i
                                class="far fa-comment"></i></a> {{tc this.Replies.length}}
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <a href="/tweets/{{this.id}}/replies" class="ms-3 me-1" style="color:#7AC5CD;"><i
                                class="far fa-comment-dots"></i></a> {{tc this.Replies.length}}
                    </div>
                    {{/ifcond}}

                    {{#ifcond this.tweetLiked "===" 0}}
                    <div style="color:#A39480;">
                        <form action="/tweets/{{this.id}}/thumbs_up" method="POST">
                            <button type="submit" class="btn btn-link m-0 p-0 ms-3"
                                style="color:#C0C0C0;text-decoration:none;">
                                <i class="far fa-thumbs-up"></i>　{{tc this.tweetLiked}}
                            </button>
                        </form>
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <form action="/tweets/{{this.id}}/thumbs_up" method="POST">
                            <button type="submit" class="btn btn-link m-0 p-0 ms-3"
                                style="color:#0000FF;text-decoration:none;">
                                <i class="far fa-thumbs-up"></i>　{{tc this.tweetLiked}}
                            </button>
                        </form>
                    </div>
                    {{/ifcond}}

                    {{#ifcond this.tweetDisliked "===" 0}}
                    <div style="color:#A39480;">
                        <form action="/tweets/{{this.id}}/thumbs_down" method="POST">
                            <button type="submit" class="btn btn-link m-0 p-0 ms-3"
                                style="color:#C0C0C0;text-decoration:none;">
                                <i class="far fa-thumbs-down"></i>　{{tc this.tweetDisliked}}
                            </button>
                        </form>
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <form action="/tweets/{{this.id}}/thumbs_down" method="POST">
                            <button type="submit" class="btn btn-link m-0 p-0 ms-3"
                                style="color:#CD5C5C;text-decoration:none;">
                                <i class="far fa-thumbs-down"></i>　{{tc this.tweetDisliked}}
                            </button>
                        </form>
                    </div>
                    {{/ifcond}}

                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- sef-profile modal --}}
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action='/user/{{user.id}}' method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header d-flex">
                            <div class="header-left d-flex">
                                <button type="button" class="btn-close me-4" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <h5 class="modal-title" id="exampleModalLabel">編輯個人檔案</h5>
                            </div>
                        </div>
                        <div class="header-right col-auto"><button type="submit" class="btn"
                                style="background-color:#FF6103 ; color:antiquewhite">儲存</button></div>
                    </div>
                    <div class="modal-body">
                        <div class="cover">
                            <div class="cover bg-user"
                                style="width:100%; height:200px; background-image:url({{user.cover}}); background-size:cover; background-repeat:no-repeat; background-position: center; background-color:#808A87">
                                <div class="cover-hover">
                                    <div class="cover-mask text-center d-flex align-items-center justify-content-center"
                                        style="width:100%; height:200px;background-size:cover;
                            background-repeat:no-repeat; background-position: center;">

                                        <div class="icon">
                                            <a class="avatar-hover me-4" role="button" data-bs-toggle="modal"
                                                data-bs-target="#updateCoverModal"
                                                style="text-decoration: none ;color: inherit">
                                                <i class="fas fa-camera"></i>
                                            </a>
                                            <a class="avatar-hover" role="button" data-bs-toggle="modal"
                                                data-bs-target="#deleteCoverModal"
                                                style="text-decoration: none ; color: inherit">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="avatar"
                                    style="position:absolute;left: 30px;top: 140px; width: 120px;height:120px">
                                    <img class="edit-avatar" src="{{user.avatar}}" alt=""
                                        style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white;background-color:#C4C4C4">
                                    <a class="avatar-hover" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#updateAvatarModal">
                                        <div class="avatar-mask text-center"
                                            style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white line-height:120px;">
                                            <i class="fas fa-camera" style="line-height:120px"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <br />
                            <div class="name-introduction mt-5">
                                <form>
                                    <div class="name mb-3">
                                        <div class="border-bottom border-secondary bg-light">
                                            <label for="recipient-name" class="col-form-label py-0"
                                                style="color:#657786;font-size:15px">名稱:</label>
                                            <input type="text" class="nameInput form-control border-0 bg-light"
                                                id="recipient-name" name="name" onkeyup="countWords(name,50)"
                                                maxlength="50" value="{{user.name}}">
                                        </div>
                                        <div class="nameCount text-end mt-0" style="color:#657786;font-size:15px">
                                            {{user.name.length}}/50
                                        </div>
                                    </div>
                                    <div class="introduction">
                                        <div class="border-bottom border-secondary bg-light">
                                            <label for="message-text" class="col-form-label py-0"
                                                style="color:#657786;font-size:15px">自我介紹:</label>
                                            <textarea class="introductionInput form-control border-0 bg-light"
                                                id="message-text" rows='3' name="introduction"
                                                onkeyup="countWords(name,160)"
                                                maxlength="160">{{user.introduction}}</textarea>
                                        </div>
                                        <div class="introductionCount text-end mt-0"
                                            style="color:#657786;font-size:15px">{{user.introduction.length}}/160</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{!-- sef-profile update-cover modal --}}
    <div class="modal fade" id="updateAvatarModal" tabindex="-1" role="dialog" aria-labelledby="updateAvatarModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action='/user/{{user.id}}' method="POST" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header d-flex">
                            <button type="button" class="btn-close me-4" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            <h5 class="modal-title" id="exampleModalLongTitle">更新大頭貼照</h5>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="avatar" class="upload-file-btn"></label>
                                    <input type="file" class="form-control-file" id="avatar" name="avatar">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ml-auto"></div>
                                <div class="col-md-2 ml-auto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type=" submit" class="btn btn-primary">儲存變更</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- sef-profile update-avatar modal --}}
<div class="modal fade" id="updateCoverModal" tabindex="-1" role="dialog" aria-labelledby="updateAvatarModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action='/user/{{user.id}}' method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header d-flex">
                        <button type="button" class="btn-close me-4" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <h5 class="modal-title" id="exampleModalLongTitle">更新封面照</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="cover"></label>
                                <input type="file" class="form-control-file" id="cover" name="cover">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">儲存變更</button>
                </div>
            </div>
        </form>
    </div>
</div>


{{!-- sef-profile delete-cover modal --}}
<div class="modal fade" id="deleteCoverModal" tabindex="-1" role="dialog" aria-labelledby="updateAvatarModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header d-flex">
                    <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title" id="exampleModalLongTitle">刪除封面</h5>
                </div>
            </div>
            <div class="modal-body">
                <p>是否確定要刪除封面？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <form action='/user/{{user.id}}?_method=DELETE' method="POST">
                    <button type="submit" class="btn btn-primary">確定</button>
                </form>
            </div>
        </div>
    </div>
</div>