{{!-- Center --}}
<div class="col border-left border-right">
  <div class="row mt-3 pl-3 border-bottom align-items-center">
    <i class="fas fa-arrow-left fa-lg"></i>
    <div class="ml-5">
      <h5>{{ name }}</h5>
      <span class="text-muted">{{tweetsCount}} 推文</span>
    </div>
  </div>
  <div class="row">
    <img src="{{ cover }}" class="img-fluid user_cover" alt="Responsive image">
    <div class="col" style="height: 75px;">
      <img src="{{ avatar }}" class="user_avatar" data-toggle="modal" data-target="#show-detail-modal"
        data-id="{{userId}}">
    </div>
    <div class="col mt-3">
      <button class="btn rounded-pill float-right btn-outline-twitter" data-toggle="modal"
        data-target="#show-detail-modal" data-id="{{userId}}">編輯個人資料</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="bold"><b>{{name}}</b></span><br>
      <span style="color: grey">@{{account}}</span><br>
      <span>{{introduction}}</span><br>
      {{followingsCount}}個 <a href="/users/{{user.id}}/followings"><span style="color: grey">跟隨中</span></a>
      {{followersCount}}位 <a href="/users/{{user.id}}/followers"><span style="color: grey">跟隨者</span></a>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{user.id}}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link selected_nav" href="/users/{{user.id}}/replies">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{user.id}}/likes">喜歡的內容</a>
        </li>
      </ul>
    </div>
  </div>
  {{#each replies}}
  <div class="row border-bottom border-dark">
    <div class="col">
      <div class="row">
        <dir class="col mx-3 p-0 border-bottom" >
          <span><small>
              <a href="/tweets/{{this.tweetId}}">{{this.tweetUserName}} @{{this.tweetUserAccount}}</a><br>
              {{this.tweetDescription}}<br>
            </small></span>
          <span style="color: grey"><small>
            回覆 
          </small></span><br>
        </dir>
      </div>
      <div class="d-flex p-1">
        <a href="/users/{{this.UserId}}">
          <img class="mr-3 user_avatar_s" src="{{ this.avatar }}" alt="Avatar">
        </a>
        
        <div class="col">
          <span class="bold">{{this.name}}</span>
          <span style="color: grey">@{{this.account}}・{{moment this.updatedAt}}</span><br>
          <span >
            <small>
              {{this.comment}}<br>
              <span class="d-flex flex-row ">
                <a href="/tweets/{{this.tweetId}}/replies">
                  <i class="far fa-comment mr-3" style="color: grey;"> {{this.replyCommentsCount}}</i>
                </a>
                {{#if this.isReplyLiked}}
                <form action="/like/{{this.id}}/replies?_method=DELETE" method="POST">
                  <button type="submit" class="btn-push">
                    <i class="fas fa-heart" style="color:rgb(224, 36, 94);"> {{this.replyLikeCount}}</i>
                  </button>
                </form>
                {{else}}
                <form action="/like/{{this.id}}/replies" method="POST">
                  <button type="submit" class="btn-push">
                    <i class="far fa-heart" style="color: grey;"> {{this.replyLikeCount}}</i>
                  </button>
                </form>
                {{/if}}
              </span>
            </small>
          </span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{!-- Right side --}}
{{> right}}
<!-- Modal -->
<div class="modal fade" id="show-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <button type="button" class="border-0" style="background-color: rgba(0, 0, 0, 0);color: rgb(255, 102, 0);"
          data-dismiss="modal" aria-label="Close">
          <h5>X</h5>
        </button>
        <h5 class="modal-title ml-3 align-self-left">編輯個人資料</h5>
        <button type="button" class="btn btn-twitter rounded-pill">儲存</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body no-gutters p-0">
        <div class="row p-0 m-0" style="height:275px">
          <img src="{{ cover }}" class="img-fluid user_cover" alt="Responsive image">
          <img src="{{ avatar }}" class="user_avatar ml-3">
        </div>
        <form class="mx-3">
          <div class="form-group">
            <label for="name" class="col-form-label">名稱</label>
            <input type="text" class="form-control" id="name" maxlength="50" value="{{name}}">
          </div>
          <div class="form-group">
            <label for="introduction" class="col-form-label">自我介紹</label>
            <textarea class="form-control" id="introduction" maxlength="160">{{introduction}}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- pop up reply comment message -->
{{> message}}