<div class="container-fluid m-0">
  <div class="row">
    {{>leftColumnUser}}
    {{!-- 中間 --}}
    <div class="col-5 p-0">
      <div class="d-flex flex-column align-items-center"
        style="background: #FFFFFF; border: 1px solid #E6ECF0; box-sizing: border-box;">

        {{!-- 上方返回區塊 --}}
        <div class="d-flex flex-nowrap" style="width: 100%;">
          <a href="/" class="m-3">
            <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16 5.99988H3.41399L7.70699 1.70687C8.09699 1.31687 8.09699 0.683875 7.70699 0.292875C7.31699 -0.0981249 6.68399 -0.0971249 6.29299 0.292875L0.292988 6.29288C-0.0970117 6.68288 -0.0970117 7.31588 0.292988 7.70687L6.29299 13.7069C6.48799 13.9019 6.74299 13.9999 6.99999 13.9999C7.25699 13.9999 7.51199 13.9019 7.70699 13.7069C8.09699 13.3169 8.09699 12.6839 7.70699 12.2929L3.41399 7.99988H16C16.553 7.99988 17 7.55288 17 6.99988C17 6.44688 16.553 5.99988 16 5.99988Z"
                fill="black" />
            </svg>
          </a>
          <div class="header ml-4">
            <h3 class="m-0 p-0">{{results.name}}</h3>
            <span class="h6 text-muted">{{results.tweetCount}} 推文</span>
          </div>
        </div>
        {{!-- cover&avatar --}}
        <div class="img-wrapper d-flex flex-column flex-nowrap" style="position:relative;">
          <img src="{{results.cover}}" class="card-img-top" alt="background" width="100%" height="200px"
            style="object-fit: cover;">
          <img src="{{results.avatar}}" class="rounded-circle" alt="avatar" width="140" height="140"
            style="border: 4px solid #FFFFFF; position:absolute; top:60%; left:14px;">
        </div>
        {{!-- user info --}}
        <div class="d-flex flex-column flex-nowrap border-bottom" style="width: 100%;">
          <div class="p-2 text-right">
            <div class="btn btn-outline-primary rounded-pill">編輯個人資料</div>
          </div>
          <div class="user-info container mt-3">
            <h3 class="m-0 p-0">{{results.name}}</h3>
            <span class="text-muted m-0 p-0">{{results.account}}</span>
            <p class="my-2">{{results.introduction}}</p>
            <div class="user-relation d-flex flex-nowrap">
              <div class="mr-3">{{results.followingCount}} 個<span class="text-muted">追隨中</span></div>
              <div>{{results.followerCount}} 位<span class="text-muted">追隨者</span></div>
            </div>
          </div>
          <div class="d-flex flex-nowrap justify-content-start mt-4">
            <div class="text-center py-3" style="width: 130px;">
              <a class="font-weight-bold text-decoration-none" href="#">推文</a>
            </div>
            <div class="text-center py-3" style="width: 130px;">
              <a class="font-weight-bold text-decoration-none" href="#">推文與回覆</a>
            </div>
            <div class="text-center py-3" style="width: 130px;">
              <a class="font-weight-bold text-decoration-none" href="#">喜歡的內容</a>
            </div>
          </div>
        </div>
        {{!-- card --}}
        {{#each results.Tweets}}
          <div class="row border-bottom py-3" style="width: 100%;">
            {{!-- avatar --}}
            <div class="col-2 text-center">
              <a href="/users/{{this.UserId}}">
                <img class="rounded-circle mt-2" src="{{../results.avatar}}" alt="img" width="50px" height="50px">
              </a>
            </div>
            {{!-- content --}}
            <div class="col-10 d-flex flex-column flex-nowrap">
              <div class="user">
                <span class="h5">{{../results.name}}</span><span
                  class="text-muted ml-2">{{../results.account}}．{{moment this.createdAt}}</span>
              </div>
              <p class="content">{{this.description}}</p>
              <div class="d-flex flex-nowrap align-items-center">
                <a class="text-decoration-none m-0 p-0" href="/tweets/{{this.id}}" style="color:black">
                  <i class="far fa-comment mr-3"><span class="mx-2">{{this.replyCount}}</span></i>
                </a>
                <i class="far fa-heart"><span class="mx-2">{{this.likeCount}}</span></i>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{>rightColumn}}
  </div>
</div>
