<div class="row grid">
  {{>leftSidebar}}

  <div class="userFollowshipSection">
    <div class="title border d-flex">
      <a href="/tweets" class="arrow me-3 d-flex align-items-center btn">
        <i class="fas fa-arrow-left fs-4"></i>
      </a>
      <div>
        <h4 class="fw-bolder m-0">{{currentUser.name}}</h4>
        <p class="m-0">{{tweetCount}}推文</p>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-secondary {{#if (renderFollower renderType)}}active{{/if}}"
          href="/users/{{currentUser.id}}/followers">跟隨者</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary {{#if (renderFollower renderType)}}{{else}}active{{/if}}"
          href="/users/{{currentUser.id}}/followings">正在跟隨</a>
      </li>
    </ul>
    {{#each data}}
    <div class="tweet border">
      <div class="d-flex">
        <a href="/users/{{this.id}}/tweets">
          <span class="avatar m-2 col-1">
            <img src="{{noImage this.avatar}}" class="rounded-circle userImage">
          </span></a>
        <div class="col-10">
          <div class="d-flex justify-content-between align-top mt-2">
            <div class="followerInfo">
              <a href="/users/{{this.id}}/tweets" style="text-decoration: none;">
                <p class="name fw-bold lh-1 mb-1" style="color:black;">{{this.name}}</p>
                <p class="tag text-secondary lh-1">@{{this.account}}</p>
              </a>
            </div>

            <div class="Followship round">

              {{#ifCondNot this.id ../currentUser}}
              {{#if this.isFollowed}}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn orange text-white round">取消跟隨</button>
              </form>
              {{else}}
              <form action="/followships/" method="POST">
                <input type="hidden" name="id" value={{this.id}}>
                <button type="submit" class="btn followButton round">跟隨</button>
              </form>
              {{/if}}
              {{/ifCondNot}}

            </div>
          </div>

          <p>{{this.description}}</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  {{>popular}}

</div>