<div id="left">
	<ul class="nav flex-column justify-content-between" style="height: 100vh;">
		<div class="flex-colum ">
			<a class="navbar-brand ml-3 mb-3" href="/">
			<img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" width="30"
			height="30" alt="">
			</a>
			<li class="nav-item">
				<a class="nav-link" href="/tweets" style="color: black;"><i class="fas fa-home mr-2"></i>首頁</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/{{user.id}}/tweets" style="color: black;"><i class="fas fa-user mr-2"></i>個人資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/setting/{{user.id}}" style="color: black;"><i class="fas fa-cog mr-2"></i>設定</a>
			</li>
			<button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#tweetModal">
				推文
			</button>
		</div>
		<li class="nav-item">
		<a class="nav-link" href="/logout" style="color: black;"><i class="fas fa-sign-out-alt mr-2"></i>登出</a>
		</li>
	</ul>
</div>
{{!-- 中間區域 --}}
<h5>{{profile.name}}</h5>
<a href="javascript:history.back()">回上一頁</a>
<hr />
<div id="main">
	<img class="ex1" src="{{profile.cover}}" alt="/" width="890px" height="180px">
	<div style="position:absolute;z-index:2;left:600px;top:200px;">
		{{#if profile.avatar}}
			<img
			class="rounded-circle"
			src="{{profile.avatar}}"
			alt="{{profile.name}}"
			width="150"
			height="150"
			style="border: solid 7px white"
			/>
		{{else}}
			<img
			class="rounded-circle"
			src="https://lighthouse-cdn.alphacamp.co/default/medium_user_photo.jpg"
			width="200px"
			height="200px"
			style="border: solid 7px white"
			/>
		{{/if}}
	</div>
	<h3 class="card-title"><strong>{{profile.name}}</strong></h3>
	<h5 class="card-title">@{{profile.account}}</h5>
	<p>{{profile.introduction}}</p>	
	{{!-- 追隨中與追隨者 --}}
    <div class="user-relation d-flex flex-nowrap">
      <a class="text-decoration-none" href="/users/{{profile.id}}/followings">
           <div class="mr-3 font-weight-bold" style="color: black;">{{profile.FollowingCount}} 個<span
            class="text-secondary">追隨中</span>
        </div>
      </a>
      <a class="text-decoration-none" href="/users/{{profile.id}}/followers">
        <div class="mr-3 font-weight-bold" style="color: black;">{{profile.FollowerCount}} 位<span
            class="text-secondary">追隨者</span>
        </div>
      </a>
    </div>
	{{!-- 編輯個人資料 --}}
	{{#ifCond profile.id user.id }}
    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Edit Profile
		</button>
  	{{/ifCond}}
	{{!-- 追隨 --}}
	{{#if profile.isFollowing}}
		<form
			action="/followships/{{profile.id}}?_method=DELETE"
			method="POST"
			style="display: contents;">
			<button type="submit" class="btn btn-danger">
			UnFollow
			</button>
		</form>
    {{else}}
		<form action="/followships" method="POST" style="display: contents;">
			<input type="hidden" name="id" value="{{profile.id}}" />
			<button type="submit" class="btn btn-primary">
			follow
			</button>
		</form>
    {{/if}}
	<ul class="nav nav-tabs">
		<li class="active">
			<a class="nav-link" href="#tweets" data-toggle="tab">推文</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#tweetreply" data-toggle="tab">推文與回覆</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#tweetlike" data-toggle="tab">喜歡的內容</a>
		</li>
	</ul>
	<div class="tab-content">
		{{!-- 推文 --}}
		<div class="tab-pane active" id="tweets">
		{{#each tweets}}
			<div class="card mb-3" style="max-width: 900px;">
				<div class="row no-gutters">
					<div class="col-md-4">
					<img src="{{this.User.avatar}}" class="rounded-circle" alt="user avatar">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
								<small class="text-muted">{{moment this.createdAt }}</small>
							</h5>
							<p class="card-text">
							{{this.description}}
							</p>
							{{!-- like --}}
							{{#if isLiked }}
								<form action="/tweets/{{this.id}}/unlike?_method=DELETE" method="POST">
										<button type="submit" class="fas fa-heart"></button>
										({{this.LikeCount}})
								</form>
							{{else}}
								<form action="/tweets/{{this.id}}/like" method="POST">
										<button type="submit" class="far fa-heart"></button>
										({{this.LikeCount}})
								</form>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
		{{!-- 推文與回覆 --}}
		<div class="tab-pane" id="tweetreply">
			{{#each profile.ReplyTweet}}
			<div class="card mb-3" style="max-width: 900px;">
				<div class="row no-gutters">
					<div class="col-md-4">
					<img src="{{this.User.avatar}}" class="rounded-circle" alt="user avatar">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
								<small class="text-muted">{{moment this.createdAt }}</small>
							</h5>
							<p class="card-text">
							{{this.description}}
							</p>
							<p class="card-text">
							{{this.Reply.comment}}
							</p>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{!-- 喜歡的內容 --}}
		<div class="tab-pane" id="tweetlike">
			<iframe src="likes" width="900px" height="900px" frameborder="0" id="mainframe" ></iframe>
		</div>
	</div>
</div>
{{!-- 右邊區域 --}}
<div id="right">
	{{>rightColumn}}
</div>
{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">編輯個人資料</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			<form
				action="/users/{{user.id}}/edit"
				method='POST'
			>
			<div class='col-md-8'>
			<div class='form-group'>
				<input
				type='text'
				class='form-control form-control-lg'
				name='name'
				id='name'
				placeholder='Name'
				value="{{user.name}}"
				required
				/>
			</div>
			<div class='form-group'>
				<textarea
				class='form-control'
				name='introduction'
				id='introduction'
				rows='8'
				placeholder='Type anything about you here...'
				>{{user.introduction}}</textarea>
			</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
			</form>
			</div>
		</div>
	</div>
</div>
<!-- tweetModal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="/tweets" method="POST">
			<div class="form-group">
				<img src="{{user.avatar}}" class="rounded-circle" width="100" height="100">
				<span>有什麼新鮮事?</span>
				<textarea class="form-control" id="description" name="description" rows="3" style="max-width: 900px;" placeholder="what's on your mind?"> </textarea>
			</div>
			<input type="hidden" name="tweetId" value="{{user.description}}" />
			<button type="submit" class="btn btn-warning btn-lg">推文</button>
		</form>
      </div>
    </div>
  </div>
  </div>
</div>
{{!-- 頁籤script --}}
<script>
    $(document).ready(function(){
    });
</script>
