<div class="wrapper">
  <div class='container user-homepage'>
    <div class="profile-setting d-flex flex-column justify-content-between">{{> leftColumn}}</div>
    <div class="main">
      <div class='user-header d-flex flex-row align-items-center'>
        <a href="#"><i class="back-arrow"></i></a>
        <div class="header-text d-flex flex-column">
          <h5>{{queryUser.name}}</h5>
          <span class="tweets-count secondary">{{queryUser.Tweets.length}} 推文</span>
        </div>
      </div>
      <div class='user-banner'>
        <img class="cover" src='{{queryUser.cover}}' alt='background' width='100%' height='20%'/>
        <img class='avatar' src='{{queryUser.avatar}}' alt='avatar' width='20%' height='10%'/>
        <div class="buttons d-flex justify-content-end">
          {{#if queryUser.isSelf}}
            <!-- Button trigger modal -->
            <button type="button" class="btn rounded-pill user-edit-modal-button" data-bs-toggle="modal" data-bs-target="#user-edit-staticBackdrop">
              編輯個人資料
            </button>
          {{else}}
            <div class='row'>
              <button class='btn rounded-pill message-button col'>私訊</button>
              <button class='btn rounded-pill ring-button col'>小鈴鐺</button>
              {{#if queryUser.isFollowed}}
                <form action='/followships/{{queryUser.id}}?_method=DELETE' method='POST' class="col">
                  <button
                    type='submit'
                    class='btn rounded-pill text-light'
                  >正在追隨</button>
                </form>
                {{else}}
                <form action='/followships' method='POST' class="col">
                  <input type='hidden' name='id' value='{{queryUser.id}}'/>
                  <button
                    type='submit'
                    class='btn rounded-pill bg-light'
                  >跟隨</button>
                </form>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="user-info">
        <h5>{{queryUser.name}}</h5>
        <div class='secondary-text'>@{{queryUser.account}}</div>
        <p class='intro'>{{queryUser.introduction}}</p>
        <a href="/users/{{queryUser.id}}/followings">
          {{queryUser.Followings.length}} 個<span class="secondary">跟隨中</span>
        </a>
        <a href="/users/{{queryUser.id}}/followers">
          {{queryUser.Followers.length}} 位<span class="secondary">跟隨者</span>
        </a>
      </div>
      {{> user-tabs}}
      {{> user-tab-contents}}
    </div>
    <div class="top-users-list"> {{> rightColumn}}</div>
  </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="user-edit-staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" id="user-edit-modal-dialog">
    <div class="modal-content" id="user-edit-modal-content">
      <form action="#" class="user-edit-modal-form">
        <div class="modal-header d-flex justify-content-between" id="user-edit-modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="modal-title" id="user-edit-staticBackdropLabel">編輯個人資料</h5>
          <button type="button" class="btn btn-primary user-edit-save-button">儲存</button>
        </div>
        <div class="modal-body" id="user-edit-modal-body">
          <div class="main">
            <div class='user-banner'>
              <img class="cover" src='{{queryUser.cover}}' alt='background'/>
              <img class='avatar' src='{{queryUser.avatar}}' alt='avatar' />
            </div>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="user-edit-modal-name" placeholder="user-name" value="{{queryUser.name}}" maxlength="50">
            <label for="user-edit-modal-name">名稱</label>
            <p class="text-end"><span class="user-edit-modal-name-counts">0</span>/50</p>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="user-introduction" id="user-edit-modal-introduction" style="height: 100px" maxlength="160">{{queryUser.introduction}}</textarea>
            <label for="user-edit-modal-introduction">自我介紹</label>
            <p class="text-end"><span class="user-edit-modal-introduction-counts">0</span>/160</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/javascripts/user.js"></script>