<div class="col mt-2 mx-0 px-0">
    <div class="d-flex align-items-center justify-content-start my-0" style="height:40px;">
        <a href="javascript:history.back()" style="color:black;"><i class="fas fa-arrow-left"></i></a>
        <div class="mx-3 my-0 py-0">
            <h6 class="fw-bolder my-0 py-0">{{profileUser.name}}</h6>
            <p class="my-0 py-0" style="font-size:0.55em;"> 推文數 {{profileUser.Tweets.length}}</p>
        </div>
    </div>

    {{#ifcond profileUser.cover "===" ""}}
    <div class="row my-0"
        style="width:100%; height:200px; background-color:#808A87; background-size:cover; background-repeat:no-repeat; background-position: center;">
        <div style="position: relative;left: 15px; top: 140px;">
            <img src="{{profileUser.avatar}}" alt=""
                style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white;">
        </div>
    </div>
    {{else}}
    <div class="row my-0"
        style="width:100%; height:200px; background-image:url({{profileUser.cover}}); background-size:cover; background-repeat:no-repeat; background-position: center;">
        <div style="position: relative;left: 15px; top: 140px;">
            <img src="{{profileUser.avatar}}" alt=""
                style="height: 120px; width: 120px; border-radius: 50%; border: 3px solid white;">
        </div>
    </div>
    {{/ifcond}}

    <div class="row my-0" style="width:100%; height:200px; background-color:white;">
        <div class="col-md-12">
            <div class="d-flex flex-row-reverse">
                {{#ifcond profileUser.id "===" user.id}}
                <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                    style="color:#FF6103; background-color:white; border-radius: 25px; border: 1px solid #FF6103; width:150px; font-size:0.9em;">編輯個人資料</button>
                {{else}}
                {{#if isFollowed}}
                <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                    style="color:white; background-color:#FF6103; border-radius: 25px; border: 1px solid white; width:150px; font-size:0.9em;">正在跟隨</button>
                {{else}}
                <button class="btn btn-lg btn-block fw-bolder mt-2" type="submit"
                    style="color:#FF6103; background-color:white; border-radius: 25px; border: 1px solid #FF6103; width:150px; font-size:0.9em;">跟隨</button>
                {{/if}}
                {{/ifcond}}
            </div>
            <div class="col-md-12 mt-3">
                <h4 style="margin:0;">{{profileUser.name}}</h4>
                <h6 style="margin:0; color:#A39480;">{{profileUser.email}}</h6>
                <div style="margin-left:0;height: 44px;line-height: 22px;text-overflow: ellipsis;overflow: hidden;">
                    {{profileUser.introduction}}</div>
                <div class="my-2 fw-bolder">{{profileUser.Followings.length}}個 <a
                        href="#">跟隨中</a>　　{{profileUser.Followers.length}}位 <a href="#">跟隨者</a></div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=tweets" {{#ifcond target "===" "tweets"
                }} style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}} style="color:#A39480;"
                {{/ifcond}}>推文</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=replies" {{#ifcond
                target "===" "replies" }} style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}}
                style="color:#A39480;" {{/ifcond}}>推文與回覆</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="/user/{{profileUser.id}}?target=likes" {{#ifcond target "===" "likes" }}
                style="color:#FF6103; border-bottom: 3px solid #FF6103;" {{else}} style="color:#A39480;"
                {{/ifcond}}>喜歡的內容</a>
        </li>
    </ul>


    <div style="max-height: 470px; overflow-y: auto; overflow-x: hidden;">
        {{#each profileUser.Tweets}}
        <div class="d-flex py-2" style="border-bottom: 1px solid #C0C0C0;">
            <div class="mx-2">
                <img src="{{this.User.dataValues.avatar}}" alt=""
                    style="height: 40px; width: 40px; border-radius: 50%;">
            </div>
            <div class="mx-2">
                <div class="row">
                    <h6 class="fw-bolder mr-2" style="margin:0;">{{this.User.dataValues.name}}</h6>
                    <h6 style="margin:0; color:#A39480;">{{this.User.dataValues.email}}．</h6>
                </div>
                <div style="margin-left:0;height: 66px;line-height: 22px;text-overflow: ellipsis;overflow: hidden;">
                    {{this.description}}</div>
                <div class="col-md-12 d-flex mt-2">

                    {{#ifcond this.Replies.length "===" "0"}}
                    <div style="color:#A39480;">
                        <a href="/tweets/{{this.id}}" class="ms-3 me-1" style="color:#C0C0C0;"><i
                                class="far fa-comment"></i></a> {{this.Replies.length}}
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <a href="/tweets/{{this.id}}" class="ms-3 me-1" style="color:#7AC5CD;"><i
                                class="far fa-comment-dots"></i></a> {{this.Replies.length}}
                    </div>
                    {{/ifcond}}

                    {{#ifcond this.tweetLiked "===" 0}}
                    <div style="color:#A39480;">
                        <a href="/tweets/{{this.id}}/thumbs_up" class="ms-3 me-1" style="color:#C0C0C0;"><i
                                class="far fa-thumbs-up"></i></a>
                        {{this.tweetLiked}}
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <a href="/tweets/{{this.id}}/thumbs_up" class="ms-3 me-1" style="color:#0000FF;"><i
                                class="far fa-thumbs-up"></i></a>
                        {{this.tweetLiked}}
                    </div>
                    {{/ifcond}}

                    {{#ifcond this.tweetDisliked "===" 0}}
                    <div style="color:#A39480;">
                        <a href="/tweets/{{this.id}}/thumbs_down" class="ms-3 me-1" style="color:#C0C0C0;"><i
                                class="far fa-thumbs-down"></i></a>
                        {{this.tweetDisliked}}
                    </div>
                    {{else}}
                    <div style="color:#2F4F4F;">
                        <a href="/tweets/{{this.id}}/thumbs_down" class="ms-3 me-1" style="color:#CD5C5C;"><i
                                class="far fa-thumbs-down"></i></a>
                        {{this.tweetDisliked}}
                    </div>
                    {{/ifcond}}

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>