<p>user name nav: {{ user.name }}</p>
<p> {{ user.Tweets.length }} 推文 </p>
<p>coverphoto:</p>
<img src=" {{ user.cover }}" alt="">
<p>大頭貼 avatar: </p>
<img src=" {{ user.avatar }}" alt="">
<p>user name: {{ user.name }}</p>
<p>user account @ {{ user.account }}</p>
<p>user introduction: {{ user.introduction }}</p>
<p>{{ user.Followings.length }}個跟隨中(following)</p>
<p>{{ user.Followers.length }}個跟隨者(follower)</p>

{{#if personal }}
  {{!-- <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a> --}}
  <button>是本人才看的到的神奇按鈕</button>
{{/if}}

debug用:
<p> {{ user.Replies.length }} 回文 </p>
<p> {{ user.Tweets.length }} 推文 </p>
<p> {{ user.Likes.length }} LIKES </p>
<p>{{ user.Replies[0].id }} </p>
{{> user-tabs route='tweets'}}