<div class="container-fluid">
  {{> left-content}}
  {{>modal}}
  <!-- 中間主要區塊 -->
  <div>
    <div>
      <a href="/tweets"><img src="/images/icon-back.png" alt=""></a>
      <h3>{{user.name}}</h3>
      <h6 style="color: #657786;">{{user.Tweets.length}}則推文</h6>
    </div>
    <div>
      <img src="{{user.cover}}" alt="" width="598px" height="200px">
    </div>
    <div class="user-profile">
      <div><img src="{{user.avatar}}" alt="" class="main-avatar"></div>
      <button type="button" class="tweet-button" data-toggle="modal" data-target="#editProfileModal">編輯個人資訊</button>
    </div>
    <div>
      <h3>{{user.name}}</h3>
    </div>
    <div>
      {{user.account}}
    </div>
    <div>
      {{user.introduction}}
    </div>
    <div>
      <a style="color:#FF6600" href="/users/{{user.id}}/followers">{{user.Followers.length}}個跟隨者</a>
      <a style="color:#FF6600" href="/users/{{user.id}}/followings">{{user.Followings.length}}位跟隨中</a>
    </div>
    <!-- 導覽列 -->
    <nav class="navbar-expand-lg navbar-light ">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" style="padding-left: 0px" href="/users/{{user.id}}/tweets">推文</a>
          <a style=" color:#FF6600" class="nav-link" href="#">推文與回覆</a>
          <a class="nav-link" href="/users/{{user.id}}/likes">喜歡的內容</a>
        </div>
      </div>
    </nav>
    <!-- 回覆 -->
    <div class="main-tweet-list">
      {{#each replies }}
      <div class="divider">
        <img src="{{../user.avatar}}" alt="" style="width: 50px;height: 50px;border-radius: 100%">
        <span style="font-size:larger;">{{../user.name}}</span><span style="color:#657786">{{../user.account}} •
          {{moment this.createdAt}}</span>
        <div class="tweet-description">{{this.comment}}</div>
      </div>
      {{/each}}
    </div>
  </div>

  {{> right-content}}
</div>