<div class="wrapper">
  <div class='container user-homepage'>
    <div class="profile-setting d-flex flex-column justify-content-between">{{> leftColumn}}</div>
    <div class="main">
      <div class='user-header d-flex flex-row align-items-center'>
        <a href="#"><i class="back-arrow"></i></a>
        <div class="header-text d-flex flex-column">
          <h5>{{user.name}}</h5>
          <span class="tweets-count secondary">{{tweets.length}} 推文</span>
        </div>
      </div>
      <div class='user-banner'>
        <img class="cover" src='{{user.cover}}' alt='background' width='100%' height='20%'/>
        <img class='avatar' src='{{user.avatar}}' alt='avatar' width='20%' height='10%'/>
        <div class="buttons d-flex justify-content-end">
          <button class='btn btn-outline' type='submit'>編輯個人資料</button>
        </div>
      </div>
      <div class="user-info">
        <h5>{{user.name}}</h5>
        <div class='secondary-text'>@{{user.account}}</div>
        <p class='intro'>{{user.introduction}}</p>
        <a href="/users/{{user.id}}/followings">
          {{user.Followings.length}} 個<span class="secondary">跟隨中</span>
        </a>
        <a href="/users/{{user.id}}/followers">
          {{user.Followers.length}} 位<span class="secondary">跟隨者</span>
        </a>
      </div>
      {{> user-tabs}}
      {{> user-tab-contents}}
    </div>
    <div class="top-users-list"> {{> rightColumn}}</div>
  </div> 
</div>
