<div class="user-template">
  <div class="leftside">
    <div class="navigation">
      <i class='ac-icon ml-2 mt-4 mb-6'></i>
      <a class="active" herf='/tweets'><i class='home active ml-2 mr-4 my-3'></i>首頁</a>
      <a class="" herf='/user/id/tweets'><i class='info ml-2 mr-4 my-3'></i>個人資料</a>
      <a class="" herf='/api/user/id'><i class='setting ml-2 mr-4 my-3'></i>設定</a>
      <a class="btn-fill mt-3" herf="#">推文</a>
    </div>
    {{!-- 展示icon用 --}}
    <div>
      <i class='ac-icon'></i>
      <i class='ac-icon login'></i>
      <i class='home'></i>
      <i class='home active'></i>
      <i class='info'></i>
      <i class='info active'></i>
      <i class='setting'></i>
      <i class='setting active'></i>
      <i class='logout'></i>
      <i class='btn-message'></i>
      <i class='btn-noti'></i>
      <i class='btn-noti active'></i>
      <i class='comment'></i>
      <i class='comment lg'></i>
      <i class='like'></i>
      <i class='like active'></i>
      <i class='like lg'></i>
      <i class='like lg active'></i>
      <i class='back-arror'></i>
      <i class='X-orange'></i>
      <i class='X-gray'></i>
      <i class='success'></i>
      <i class='warning'></i>
    </div>

    <div class="footer mb-6">
      <a class="/logout" herf=""><i class='logout ml-2 mr-4'></i>登出</a>
    </div>
  </div>

  <div class="main">
    {{#each data}}
    <p>{{this.id}}</p>
    <p>{{this.UserId}}</p>
    <p>{{this.description}}</p>
    <p>{{this.User.name}}</p>
    {{#each this.Replies}}
    <p>{{this.comment}}</p>
    {{/each}}
    {{#each this.Likes}}
    <p>{{this.UserId}}</p>
    <form action="/tweets/{{this.id}}/like" method="POST">
      <button type="submit" class="btn btn-primary">Like</button>
    </form>
    <form action="/tweets/{{this.id}}/unlike" method="POST">
      <button type="submit" class="btn btn-danger">Unlike</button>
    </form>
    {{/each}}
    <hr>
    {{/each}}
  </div>
  <div class="rightside">

    <div class="popular">
      <span>Popular</span>

      <div class="wrap">
        <a href="#"><img class="thumbnail" src="/icons/avatar.svg" alt="#">
          <span>
            <span class="name">Pizza Hut</span>
            <span class="at-name">@pizzahut</span>
          </span>
        </a>
        <a class="btn-fill sm" href="#followship">正在追蹤</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

    </div>

  </div>
</div>