<div class="container-fluid">
  {{> message}}
  <!-- 左邊導覽選單區塊 -->
  <div class="left-content">
    <div class="left-column">
      <img class="logo" src="/images/icon.svg" alt="">
      <div class="nav">
        <div class="nav-item">
          <a href="/tweets">
            <img class="home-icon" src="/images/icon-home.svg" alt="">首頁
          </a>
        </div>
        <div class="nav-item">
          <a href="/users/{{user.id}}/tweets">
            <img class="pr-1" src="/images/icon-user.svg" alt="">
            個人資料
          </a>
        </div>
        <div class="nav-item">
          <a href="/api/users/:id">
            <img src="/images/icon-setting.svg" alt="">
            設定
          </a>
        </div>
      </div>
      <button type="button" class="tweet-button" data-toggle="modal" data-target="#tweetModal">
        推文
      </button>
    </div>
    <div class="logout">
      <a href="/logout">
        <img class="logout-icon" src="/images/icon-logout.svg" alt="">登出
      </a>
    </div>
  </div>

  <!-- 中間主要區塊 -->
  <div>
    <div>
      <a href="/tweets"><img src="/images/icon-back.png" alt=""></a>
      <h3>{{user.name}}</h3>{{tweets.length}}推文
    </div>
    <div>
      <img src="{{user.cover}}" alt="" width="598px" height="200px">
    </div>
    <div>
      <img src="{{user.avatar}}" alt="" class="avtar">
      <a href="/api/users/{{user.id}}">編輯個人資料</a>
    </div>
    <div>
      <h3>{{user.name}}</h3>
    </div>
    <div>
      {{user.account}}
    </div>
    <div>
      {{user.introduction}}
    </div>
    <div>
      {{user.Followers.length}}個跟隨者
      {{user.Followings.length}}位跟隨中
    </div>
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/users/{{user.id}}/tweets">推文 <span
              class="sr-only">(current)</span></a>
          <a style=" color:#FF6600" class="nav-item nav-link" href="#">推文與回覆</a>
          <a class="nav-item nav-link" href="/users/{{user.id}}/likes">喜歡的內容</a>
        </div>
      </div>
    </nav>
    <!-- 推文與回覆 -->


    <!-- 右邊區塊 -->
    <div class="right-content">
      <div class="right-column">
        <div class="right-column-title">
          跟隨誰
        </div>
        <div class="user-list">

          <!-- 6個使用者清單迴圈 -->
          <div class="user-list-item">
            <img src="" alt="" class="avtar">
            <div class="user-list-item-name">
              <a href="" class="user-name">
                Pineapple
              </a>
              <div class="user-account">@pineapple</div>
            </div>
            <a href=""><button class="unfollow-button">正在跟隨</button></a>
            {{!-- <a href=""><button class="follow-button">跟隨</button>
                    </a> --}}
          </div>

          <div class="user-list-item">
            <img src="" alt="" class="avtar">
            <div class="user-list-item-name">
              <a href="" class="user-name">
                Orange
              </a>
              <div class="user-account">@orange</div>
            </div>
            {{!-- <a href=""><button class="unfollow-button">正在跟隨</button></a> --}}
            <a href=""><button class="follow-button">跟隨</button>
            </a>
          </div>

          <!-- 迴圈結束 -->

        </div>
        <a href="" class="more-users">
          顯示更多
        </a>
      </div>
    </div>

  </div>

  {{> message}}