<div id="left">
	<div id="left-container">
		<ul class="nav flex-column justify-content-between" style="height: 100vh;">
			<div class="flex-colum ">
				<a class="navbar-brand ml-3" href="/">
					<img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" width="30"
						height="30" alt="">
				</a>
				<li class="nav-item">
					<a class="nav-link" href="/tweets" style="color: black; "><i class="fas fa-home"></i>首頁</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/{{user.id}}/tweets" style="color: #ff6600;"><i
							class="fas fa-user"></i>個人資料</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/setting/{{user.id}}" style="color: black;margin-bottom: 19px"><i
							class="fas fa-cog"></i>設定</a>
				</li>
				<button type="button" class="btn btn-block" style="border-radius: 23px;background:#ff6600; color:white"
					data-toggle="modal" data-target="#tweetModal">
					推文
				</button>
			</div>
			<li class="nav-item">
				<a class="nav-link" href="/logout" style="color: black;"><i class="fas fa-sign-out-alt"></i>登出</a>
			</li>
		</ul>
	</div>
</div>
{{!-- 中間區域 --}}
<div id="main">
	<div class="main-top">
		<a href="javascript:history.back()" style="margin-right:43px ;color:black"><i class="fas fa-arrow-left"></i></a>
		{{profile.name}}
	</div>
	<img class="ex1" src="{{profile.cover}}" alt="/" width="890px" height="180px">
	<div class="profile-head">
		{{#if profile.avatar}}
		<img class="rounded-circle avatar" src="{{profile.avatar}}" alt="{{profile.name}}"
			style="border: solid 5px white" />
		{{else}}
		<img class="rounded-circle avatar" src="https://lighthouse-cdn.alphacamp.co/default/medium_user_photo.jpg"
			style="border: solid 5px white" />
		{{/if}}
		{{!-- 編輯個人資料 --}}
		{{#ifCond profile.id user.id }}
		<button type="button" class="btn mt-2 mr-2"
			style="border-radius: 23px;background:white; color:#ff6600; border:1px solid #ff6600; font-weight:bold; float:right; font-size:15px"
			data-toggle="modal" data-target="#editUser">編輯個人資料</button>
		{{else}}
		{{#if profile.isFollowing}}
		<form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
			<button type="submit" class="btn mt-2 mr-2 px-3 py-1"
				style="border-radius: 23px;background:#ff6600; color:white; font-weight:bold; float:right;font-size:15px">正在跟隨</button>
		</form>
		{{else}}
		<form action="/followships" method="POST" style="display: contents;">
			<input type="hidden" name="id" value="{{profile.id}}">
			<button type="submit" class="btn mt-2 mr-2 px-3 py-1 "
				style="border-radius: 23px;background:white; color:#ff6600; border:1px solid #ff6600; font-weight:bold; float:right; font-size:15px">跟隨</button>
		</form>
		{{/if}}
		{{/ifCond}}
		{{!-- 追隨 --}}
	</div>
	<div class="profile-middle">
		<div class="name">{{profile.name}}</div>
		<small class="text-muted account">@{{profile.account}}</small>
		<p class="introduction">{{profile.introduction}}</p>
		{{!-- 追隨中與追隨者 --}}
		<div class="user-relation d-flex flex-nowrap">
			<a class="text-decoration-none" href="/users/{{profile.id}}/followings" style="font-size: 14px;">
				<div class="mr-3 font-weight-bold" style="color: black;">{{profile.FollowingCount}} 個<span
						class="text-secondary">追隨中</span>
				</div>
			</a>
			<a class="text-decoration-none" href="/users/{{profile.id}}/followers" style="font-size: 14px;">
				<div class="mr-3 font-weight-bold" style="color: black;">{{profile.FollowerCount}} 位<span
						class="text-secondary">追隨者</span>
				</div>
			</a>
		</div>
	</div>
	<div class="profile-nav">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="#tweets" data-toggle="tab">推文</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#tweetreply" data-toggle="tab">推文與回覆</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#tweetlike" data-toggle="tab">喜歡的內容</a>
			</li>
		</ul>
	</div>
	<div class="tab-content">
		{{!-- 推文 --}}
		<div class="tab-pane active" id="tweets">
			{{#each tweets}}
			<div class="card mb-3" style="max-width: 900px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{this.User.avatar}}" class="rounded-circle" alt="user avatar">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
								<small class="text-muted">{{moment this.createdAt }}</small>
							</h5>
							<p class="card-text">
								{{this.description}}
							</p>
							{{!-- like --}}
							{{#if isLiked }}
							<form action="/like/{{this.id}}?_method=DELETE" method="POST">
								<button type="submit" class="fas fa-heart"></button>
								({{this.LikeCount}})
							</form>
							{{else}}
							<form action="/like/{{this.id}}" method="POST">
								<button type="submit" class="far fa-heart"></button>
								({{this.LikeCount}})
							</form>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{!-- 推文與回覆 --}}
		<div class="tab-pane" id="tweetreply">
			{{#each profile.ReplyTweet}}
			<div class="card mb-3" style="max-width: 900px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{this.User.avatar}}" class="rounded-circle" alt="user avatar" width="150" height="150">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
								<small class="text-muted">{{moment this.createdAt }}</small>
							</h5>
							<p class="card-text">
								{{this.description}}
							</p>
							<p class="card-text">
								{{this.Reply.comment}}
							</p>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{!-- 喜歡的內容 --}}
		<div class="tab-pane" id="tweetlike">
			{{#each profile.LikedTweets}}
			<div class="card mb-3" style="max-width: 900px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{this.User.avatar}}" class="rounded-circle" alt="user avatar " width="150" height="150">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/users/{{ this.User.id }}/tweets">{{ this.User.name }}</a>
								<small class="text-muted">{{moment this.createdAt }}</small>
							</h5>
							<p class="card-text">
								{{this.description}}
							</p>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!-- 右邊區域 --}}
<div id="right">
	{{>rightColumn}}
</div>
{{!-- editModal --}}
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUser" aria-hidden="true">
	<form action="/users/{{profile.id}}/edit?_method=PUT" method="post" enctype="multipart/form-data">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header m-2 p-2">
					<div class="row" style="width: 100%;">
						<div class="col-1 text-left">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span style="color: #FF6600;" aria-hidden="true">x</span>
							</button>
						</div>
						<div class="col-8">
							<h5 class="modal-title "><strong>編輯個人資料</strong></h5>
						</div>
						<div class="col-3 text-right">
							<button type="submit" class="btn rounded-pill" style="background-color: #FF6600; color:white">
								儲存
							</button>
						</div>
					</div>
				</div>
				<div class="modal-body m-1 p-1">
					{{!-- cover&avatar --}}
					<div class="img-wrapper d-flex flex-column flex-nowrap" style="position:relative;">
						<label for="cover" class="btn btn-light">
							<input type="file" id="cover" name="cover" class="form-control-file" style="display: none;">
							<i class="fas fa-camera" aria-hidden="true"></i>上傳背景圖
							<img src="{{profile.cover}}" class="card-img-top" alt="background" width="100%" height="200px"
								style="object-fit: cover;">
						</label>
						<label for="avatar" class="btn btn-light">
							<input type="file" id="avatar" name="avatar" class="form-control-file" style="display: none;">
							<i class="fas fa-camera" aria-hidden="true"></i>上傳大頭貼
							<img src="{{profile.avatar}}" class="rounded-circle mb-5" alt="avatar" width="140" height="140"
								style="border: 4px solid #FFFFFF; position:absolute; top:60%; left:20px;">
						</label>
					</div>
					<div class="d-flex flex-column mt-5">
						<div class="p-2 mt-3">
							<span class="mt-3">名稱</span><br>
							<div class="md-form">
								<textarea type="text" name="name" id="name" cols="60" rows="1"
									class="md-textarea form-control ">{{profile.name}}</textarea>
							</div>
						</div>
						<div class="p-2 mt-3">
							<span class="mt-3">自我介紹</span><br>
							<textarea type="text" name="introduction" id="introduction" cols="60" rows="4"
								class="md-textarea form-control ">{{profile.introduction}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- tweetModal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/tweets" method="POST">
					<div class="form-group">
						<img src="{{user.avatar}}" class="rounded-circle" width="100" height="100">
						<span>有什麼新鮮事?</span>
						<textarea class="form-control" id="text" name="text" rows="3" style="max-width: 900px;"
							placeholder="what's on your mind?"> </textarea>
					</div>
					<input type="hidden" name="tweetId" value="{{user.description}}" />
					<button type="submit" class="btn btn-warning btn-lg">推文</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
{{!-- 頁籤script --}}
<script>
	$(document).ready(function () {
	});
</script>