<div class="d-flex h-100">
  {{> nav-column}}

  <div class="w-50 main-column">
    {{> messages}}
    {{> user-headbar}}
    {{> followship-tabs route='followers'}}

    {{#each followers}}
      <div class="list-group-item mt-3 p-0 border-0" style="width: 95%;">
        <div class="d-flex">
          <div class="me-2">
            {{#if this.avatar}}
              <div>
                <a href="/users/{{this.id}}/tweets"><img src="{{this.avatar}}" width="50px" height="50px"
                    class="rounded-circle"></a>
              </div>
            {{else}}
              <div>
                <a href="/users/{{this.id}}/tweets"><img src="https://via.placeholder.com/50" width="50px" height="50px"
                    class="rounded-circle"></a>
              </div>
            {{/if}}
          </div>
          <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between">
              <div>
                <div class="fw-bold">{{this.name}}</div>
                <div class="text-secondary fw-bold">@{{this.account}}</div>
              </div>
              <div>
                {{#ifNotCond this.id ../user.id}}
                  {{#if this.isFollowed}}
                    <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-primary rounded-pill">正在跟隨</button>
                    </form>
                  {{else}}
                    <form action="/followships" method="POST">
                      <input type="hidden" name="id" value="{{this.id}}" />
                      <button type="submit" class="btn btn-outline-primary rounded-pill">跟隨</button>
                    </form>
                  {{/if}}
                {{/ifNotCond}}
              </div>
            </div>
            <div>
              <p>{{this.introduction}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{> popular-users}}
</div>