<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>
  <div class="center-content d-flex" id="tweet-content">
    <div class="head  justify-content-between ">
      <a href="javascript:history.back()" style="color: black;">
        <div class="tweet-title  flex-wrap" style="width: 120px; height:70px">
          <i class="fas fa-arrow-left ml-2 mt-3"></i>
          <h5 class="tweet-title-name">{{users.name}}</h5><br>
          <span class="title-description">{{users.Tweets.length}} 推文</span>
        </div>
      </a>
      <div class="user-selection-bar">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " href="/users/{{users.id}}/followers">跟隨者</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/users/{{users.id}}/followings">正在跟隨</a>
          </li>
        </ul>
      </div>

      {{#each followingList}}
      <div class="tweet-content-box">
        <div class=" tweet-content-left">
          <a href="/users/{{this.id}}/tweets">
            <img src={{this.avatar}} style="background: #C4C4C4;border-radius: 100%; width: 50px; height: 50px">
          </a>
        </div>
        <div class="top-user-item d-flex align-items-center" style="width: 600px;">
          <div class="top-user-name d-flex flex-column justify-content-center">
            <a href="/users/{{this.id}}/tweets" class="user-name">{{this.name}}</a>
            <span class="user-account">@{{this.account}}</span>
          </div>
          <span class="tweet-content-description">{{this.introduction}}</span><br>
          <div class="follow-content-button mr-2">

            {{#if this.isFollowed}}
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
              <button class="unfollow-button">正在跟隨</button>
            </form>
            {{else}}
            <form action="/followships" method="POST">
              <button class="follow-button" name="id" value="{{this.id}}">跟隨</button>
            </form>
            {{/if}}
          </div>
        </div>


      </div>
      {{/each}}
    </div>
  </div>





  <div class="right-content">
    {{>right-column}}
  </div>

  {{> userEdit}}