<div class="container">
    <div class="row mt-4">
        <div class="col-md-3 pl-0">
<<<<<<< HEAD
            <div class="left-zone">
            <div class="AC-icon">
                <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
                style="width:75px">
            </div>

            </br>
            </br>

            <div class="home" name="home">
                <a class="left-zone-items" href="/tweets" style="text-decoration: none"><i class="fas fa-home"></i>&ensp;首頁</a>
            </div>

            </br>
            </br>

            <div class="profile" name="profile">
                <a class="left-zone-items" href="/user/self" style="text-decoration: none"><i
                    class="far fa-user"></i>&ensp;個人資料</a>
            </div>

            </br>
            </br>

            <div class="setting" name="setting">
                <a class="left-zone-items" href="/setting" style="text-decoration: none"><i class="fas fa-cog"></i>&ensp;設定</a>
            </div>

            </br>
            </br>

            <form action="/user/tweets">
                <button type="submit" class="left-zone-btn">
                推文</button>
            </form>
=======
     {{>left}}
        </div>
 <div class="col-md-6 px-3 border-left border-right">
>>>>>>> master

      <div class="row ml-1 align-items-center ">
     <a href="/tweets" style="text-decoration: none; color:black">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
      <div class="ml-5">
        <h4 class="m-0 font-weight-bold">{{user.name}}</h4>
        <p class="followship-tweetsCount m-0">{{user.Tweets.length}}推文</p>
      </div>
    </div>

<<<<<<< HEAD
            <a href="/logout" class="logout" style="text-decoration: none"><i class="fas fa-sign-out-alt"></i>&ensp;LogOut</a>
=======
      <div class="row">
        <img src="{{user.background}}" alt="user-cover" class="img-fluid" style="width: 100%;
  height: 200px; object-fit: cover;">
        <img src="{{user.avatar}}" alt="user-avatar" class="rounded-circle"
            style="mborder-radius: 50%; position: absolute; top: 130px; left: 5%; border: 5px solid #FFFFFF;">
      </div>
      <div class="row justify-content-end">
        <button class="m-3" data-toggle="modal" data-target="#editModal" style="border-radius: 50px;
  width: 120px; height: 45px; background-color: #FFFFFF; color: #FF6600; border: 2px solid#FF6600; font-weight: bold; cursor: pointer;">正在追蹤</button>
      </div>
>>>>>>> master

        <h2>{{ user.name }}</h2>
        <h6>@{{ user.account }}</h6>
        <p>{{ user.introduction }}</p>
        <div class="row pl-3">
          <a class="user-followings font-weight-bold" href="/user/{{user.id}}/following"
            style="text-decoration: none; color:black">
            {{users.dataValues.Followings.length}}個</a>
          <p style="color:#7B7B7B">跟隨中</p>
          <a class="user-folowers ml-3 font-weight-bold" href="/user/{{user.id}}/follower"
            style="text-decoration: none; color:black">{{users.dataValues.Followers.length}}位</a>
          <p style="color:#7B7B7B">跟隨者</p>
        </div>
<<<<<<< HEAD
        <div class="col-md-6 pl-0 border-left">
            <div class="main">
                <div class="header">
                    <div class="background">
                        <img src="{{ user.background }}" alt="">
                    </div>
                    <div class="avatar">
                        <img src="{{ user.avatar }}" alt="">
                    </div>
                    <h2>{{ user.name }}</h2>
                    <h6>
                        <p style="color:#7B7B7B">@{{ user.account }}</p>
                    </h6>
                    <p>{{ user.introduction }}</p>
                </div>
=======

>>>>>>> master
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tweets" role="tab"
                            aria-controls="nav-home" aria-selected="true">推文</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-replies" role="tab"
                            aria-controls="nav-profile" aria-selected="false">推文與回覆</a>
                        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-likes" role="tab"
                            aria-controls="nav-contact" aria-selected="false">喜歡</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-tweets" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="col">
                            <div class="tweet-list">
                                {{#each tweets}}
                                <div class="tweet">
                                    <div class="tweet-item-left d-flex align-items-stretch">
                                        <div class="tweet-left d-flex align-items-stretch">
                                            <a href="#">
                                                <img src="{{ this.userAvatar }}" class="rounded-circle" style="background-size:cover; width: 50px;height: 50px;">
                                            </a>
                                        </div>
                                        <div class="tweet-item-right ml-3">
                                            <div class="tweet-item-title">
                                                <span class="mt-1"><a href="#">{{ this.userName }}</a></span>
                                                <span class="user-account">
                                                    {{ this.userAccount }}．{{moment this.createdAt}}
                                                </span>
                                            </div>
                                            <div class="tweet-text">
                                                {{this.description}}
                                            </div>
                                            <div class="tweet-footer">
                                                <!-- Button trigger modal -->
                                                <button type="button" data-toggle="modal"
                                                    data-target="#replyModal" style="background: none;border: none;">
                                                    <i class="far fa-comment"></i> {{this.countReplies}}
                                                </button>
                                                <button type="button" data-toggle="modal"
                                                    data-target="#replyModal" style="background: none;border: none;">
                                                    <i class="far fa-heart"></i> {{this.countLikeUser}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-replies" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="col">
                            <div class="tweet-list">
                                {{#each replies}}
                                <div class="tweet">
                                    <div class="tweet-item-left d-flex align-items-stretch">
                                        <div class="tweet-left d-flex align-items-stretch">
                                            <a href="/user/other/{{ this.tweet.User.id }}">
                                                <img src="{{ this.tweet.User.avatar }}" class="rounded-circle"
                                                    style="background-size:cover; width: 50px;height: 50px;">
                                            </a>
                                        </div>
                                        <div class="tweet-item-right  ml-3">
                                            <div class="tweet-item-title">
                                                <span class="mt-1"><a
                                                        href="/user/other/{{ this.tweet.User.id }}">{{ this.tweet.User.name }}</a></span>
                                                <span class="user-account">
                                                    {{ this.tweet.User.account }}．{{moment this.createdAt}}
                                                </span>
                                            </div>
                                            <div class="tweet-text">
                                                {{ this.tweet.description }}
                                            </div>
                                            <div class="tweet-footer">
                                                <button type="button" class="mt-4 mb-4" data-toggle="modal"
                                                    data-target="#replyModal" style="background: none;border: none;">
                                                    <i class="far fa-comment"></i> {{ this.countReplies }}
                                                </button>
                                                {{#if this.isLike }}
                                                <form action="/like/{{this.id}}?_method=DELETE" method="POST"
                                                    style="display:inline;">
                                                    <button type="submit" class="button reply-link mt-4 mb-4"
                                                        style="background: red;border: none;">
                                                        <i class="far fa-heart"></i>
                                                    </button>
                                                </form>
                                                {{else}}
                                                <form action="/like/{{this.id}}" method="POST" style="display:inline;">
                                                    <button type="submit" class="button reply-link mt-4 mb-4"
                                                        style="background: none;border: none;">
                                                        <i class="far fa-heart"></i>
                                                    </button>
                                                </form>
                                                {{/if}}
                                                {{this.countLikeUser}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-likes" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="col">
                            <div class="tweet-list">
                                {{#each likes}}
                                <div class="tweet">
                                    <div class="tweet-item-left d-flex align-items-stretch">
                                        <div class="tweet-left d-flex align-items-stretch">
                                            <a href="/user/other/{{ this.user.id }}">
                                                <img src="{{ this.user.avatar }}" class="rounded-circle"
                                                    style="background-size:cover; width: 50px;height: 50px;">
                                            </a>
                                        </div>
                                        <div class="tweet-item-right  ml-3">
                                            <div class="tweet-item-title">
                                                <span class="mt-1"><a
                                                        href="/user/other/{{ this.user.id }}">{{ this.user.name }}</a></span>
                                                <span class="user-account">
                                                    {{ this.user.account }}．{{moment this.likeTweet.createdAt}}
                                                </span>
                                            </div>
                                            <div class="tweet-text">
                                                {{ this.description }}
                                            </div>
                                            <button type="button" class="mt-4 mb-4" data-toggle="modal"
                                                data-target="#replyModal" style="background: none;border: none;">
                                                <i class="far fa-comment"></i> {{ this.countReplies }}
                                            </button>
                                            <form action="/like/{{this.id}}?_method=DELETE" method="POST"
                                                style="display:inline;">
                                                <button type="submit" class="button reply-link mt-4 mb-4"
                                                    style="background: red;border: none;">
                                                    <i class="far fa-heart"></i>
                                                </button>
                                            </form>
                                            {{ this.countLikeUser }}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>誰在追蹤您</h3>
            <div class="col">
                <div class="tweet-list">
                    {{#each followers}}
                    <div class="tweet">
                        <div class="tweet-item-left d-flex align-items-stretch">
                            <div class="tweet-left d-flex align-items-stretch">
                                <a href="/user/other/{{ this.id }}">
                                    <img src="{{ this.avatar }}" class="rounded-circle"
                                        style="background-size:cover; width: 50px;height: 50px;">
                                </a>
                            </div>
                            <div class="tweet-item-right  ml-3">
                                <div class="tweet-item-title">
                                    <span class="mt-1"><a
                                            href="/user/other/{{ this.id }}">{{ this.name }}</a></span>
                                </div>
                                <div class="tweet-text">
                                    <span class="user-account">
                                        {{ this.account }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <h3>追蹤誰</h3>
            <div class="col">
                <div class="tweet-list">
                    {{#each followings}}
                    <div class="tweet">
                        <div class="tweet-item-left d-flex align-items-stretch">
                            <div class="tweet-left d-flex align-items-stretch">
                                <a href="/user/other/{{ this.id }}">
                                    <img src="{{ this.avatar }}" class="rounded-circle"
                                        style="background-size:cover; width: 50px;height: 50px;">
                                </a>
                            </div>
                            <div class="tweet-item-right  ml-3">
                                <div class="tweet-item-title">
                                    <span class="mt-1"><a
                                            href="/user/other/{{ this.id }}">{{ this.name }}</a></span>
                                </div>
                                <div class="tweet-text">
                                    <span class="user-account">
                                        {{ this.account }}
                                    </span>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="tab-pane fade" id="nav-replies" role="tabpanel"
                            aria-labelledby="nav-profile-tab">
                            ...</div>
                        <div class="tab-pane fade" id="nav-likes" role="tabpanel" aria-labelledby="nav-contact-tab">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>