<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/tweets">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/user/self">個人資料</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/setting">設定</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/other/{{ this.UserId }}">貼文</a>
  </li>
</ul>
<br />

<div class="row">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{user.name}}">
  </div>



  <div class="col-md-4">

    <img class="img-responsive center-block" src="{{user.background}}"
      style="width: 250px;margin-top: 25px;margin-bottom: 25px;">封面圖片
  </div>


  <div class="col-md-4">

    <img class="img-responsive center-block" src="{{user.avatar}}"
      style="width: 250px;margin-top: 25px;margin-bottom: 25px;">大頭貼
  </div>

  <div class="mb-3">
    <label for="profile">profile{{user.profile}}</label>




    <button type="Edit" class="btn btn-light">
      <a href="/user/self/edit">
        Edit
      </a>

    </button>


  </div>