<div class="row">

  <div class="form-group">
    <label for="name">Name{{user.name}}</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{user.name}}">
  </div>



  <div class="col-md-4">

    <img class="img-responsive center-block" src="{{user.background}}"
      style="width: 250px;margin-top: 25px;margin-bottom: 25px;">封面圖片
  </div>


  <div class="col-md-4">

    <img class="img-responsive center-block" src="{{user.avatar}}"
      style="width: 250px;margin-top: 25px;margin-bottom: 25px;">大頭貼
  </div>

  <div class="mb-3">
    <label for="profile">profile{{user.profile}}</label>




    <button type="Edit" class="btn btn-light">
      <a href="/user/self/edit">
        Edit
      </a>

    </button>


  </div>