<div class="container d-flex flex-column m-0 p-0 h-100 w-100">
  {{!-- 標題 --}}
  {{>title route='user'}}

  {{!-- 使用者基本資料 --}}
  <div class="homepage-user-card card border-0 shadow-none flex-shrink-0">
    <img src="{{viewingUser.cover}}" class="card-img-top user-cover" alt="...">
    <div class="card-body px-3 pb-0">
      <img src="{{viewingUser.avatar}}" class="user-avatar position-absolute" alt="">
      <div class="user-action d-flex flex-row-reverse gap-3">
        {{#ifCond user.id viewingUser.id}}
        {{!--修改:編輯個人資料改成可以開啟modal的按鈕--}}
        <button type="button"
          class="nav-tweet-btn btn btn-outline-primary d-flex justify-content-center align-items-center"
          data-bs-toggle="modal" data-bs-target="#user-setting-modal">
          編輯個人資料
        </button>
        {{!--修改結束--}}
        <a href=""
          class="{{#if isNoted}}active{{/if}} info-pic btn btn-outline-primary d-flex justify-content-center align-items-center  user-card-icon user-card-icon-noti">
          <img src="/images/icons/noti_outlined.svg" alt="" class="filter-main-color">
        </a>
        <a href=""
          class="{{#if isMessaged}}active{{/if}}mes-pic btn btn-outline-primary d-flex justify-content-center align-items-center user-card-icon user-card-icon-message">
          <img src="/images/icons/message_outlined.svg" alt="" class="filter-main-color">
        </a>
        {{else}}
        {{#if viewingUser.isFollowed}}
        {{!-- 要使用if/else的地方 --}}
        <form action="/followships/{{viewingUser.id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-primary">正在跟隨</button>
        </form>
        {{else}}
        {{!-- 要使用if/else的地方 --}}
        <form action="/followships" method="post">
          <input type="text" name="id" value="{{viewingUser.id}}" class="d-none">
          <button type="submit" class="btn btn-outline-primary">跟隨</button>
        </form>
        {{/if}}
        {{/ifCond}}
      </div>
      <div class="user-info mt-2">
        <div class="mb-1">
          <p class="fw-bold fs-5 m-0 p-0">{{viewingUser.name}}</p>
          <p class="font-size-sm text-secondary m-0 p-0">@{{viewingUser.account}}</p>
        </div>
        <div class="mb-2">
          <p class="m-0 p-0">
            {{viewingUser.introduction}}
          </p>
        </div>
        <div class="d-flex gap-2 font-size-sm m-0 p-0">
          <a href="/users/{{viewingUser.id}}/followings" class="link-unstyled">
            <p>{{viewingUser.followingCount}}個 <span class="text-secondary">跟隨中</span></p>
          </a>
          <a href="/users/{{viewingUser.id}}/followers" class="link-unstyled">
            <p>{{viewingUser.followerCount}}位 <span class="text-secondary">跟隨者</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{!-- user nav tab --}}
  <div id="user-tab">
    <ul class="d-flex flex-wrap m-0 p-0">
      <li class="d-flex justify-content-center align-items-center {{#ifCond userTab 'tweets'}}active {{/ifCond}}">
        <a href="/users/{{viewingUser.id}}/tweets" class="d-flex justify-content-center align-items-center">推文</a>
      </li>
      <li class="d-flex justify-content-center align-items-center {{#ifCond userTab 'replies'}}active {{/ifCond}}">
        <a href="/users/{{viewingUser.id}}/replies" class="d-flex justify-content-center align-items-center">回覆</a>
      </li>
      <li class="d-flex justify-content-center align-items-center {{#ifCond userTab 'likes'}}active {{/ifCond}}">
        <a href="/users/{{viewingUser.id}}/likes" class="d-flex justify-content-center align-items-center">喜歡的內容</a>
      </li>
    </ul>
  </div>

  <div class="container main-tweets-areap-0 p-0 m-0  tweet-display flex-shrink-1">
    <div class="scrollbar-hidden p-0 pt-3 m-0 d-flex flex-column gap-3">
      {{!-- user tweets --}}
      {{#ifCond userTab 'replies'}}
      {{#each replies}}
      <div data-link="/tweets/{{this.TweetId}}/replies"
        class="tweet-card card  shadow-none  py-0 px-4 m-0 rounded-0  border-1px border-bottom-1 border-top-0 border-start-0 border-end-0">
        <div class="card-body m-0 p-0 pb-3 d-flex gap-2">
          <div class="tweet-user-icon flex-shrink-0  p-0">
            <a href="/users/{{this.UserId}}/tweets"
              class="overflow-hidden  rounded-circle link-unstyled  child-img-center w-100 h-100 p-0">
              <img src="{{this.User.avatar}}" alt="" class="w-100 h-100">
            </a>
          </div>
          <div class="tweet-card-content d-flex flex-column gap-2">

            <div class="tweet-user-horizontal">
              <a href="/users/{{this.UserId}}/tweets" class=" d-flex gap-2 link-unstyled align-items-center">
                <p class="fw-bold">{{this.User.name}}</p>
                <p class="font-size-sm text-secondary">@{{this.User.account}}・{{this.createdFromNow}}</p>
              </a>
            </div>

            <div class="tweet-user-replied">
              <a href="/users/{{this.Tweet.User.id}}/tweets"
                class=" d-flex gap-2 link-unstyled align-items-center">
                <p class="font-size-sm text-secondary">回覆</p>
                <p class="font-size-sm main-color">@{{this.Tweet.User.account}}</p>
              </a>
            </div>
            <p class="m-0 text-wrap text-break">
              {{this.comment}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      {{#each tweets}}
      <div data-link="/tweets/{{this.id}}/replies" data-id="{{this.id}}"
        class="tweet-card card  shadow-none  py-0 px-4 m-0 rounded-0  border-1px border-bottom-1 border-top-0 border-start-0 border-end-0">
        <div class="card-body m-0 p-0 pb-3 d-flex gap-2">

          <div class="tweet-user-icon flex-shrink-0  p-0">
            <a href="/users/{{this.User.id}}/tweets"
              class="overflow-hidden  rounded-circle link-unstyled  child-img-center w-100 h-100 p-0">
              <img src="{{this.User.avatar}}" alt="" class="w-100 h-100">
            </a>
          </div>
          <div class="tweet-card-content d-flex flex-column gap-2">

            <div class="tweet-user-horizontal">
              <a href="/users/{{this.User.id}}/tweets" class=" d-flex gap-2 link-unstyled align-items-center">
                <p class="fw-bold">{{this.User.name}}</p>
                <p class="font-size-sm text-secondary">@{{this.User.account}}・{{this.createdFromNow}}</p>
              </a>
            </div>
            <p class="m-0 text-break">
              {{this.description}}
            </p>

            <div class="tweet-user-action d-flex justify-content-between">
              <button type="button" class="btn btn-outline-light border-0 d-flex align-items-center gap-2 link-unstyled p-0 m-0"
                data-bs-toggle="modal" data-bs-target="#reply-model">
                <img src="/images/icons/icon_reply_outlined.svg" alt="" class="img-fluid center tweet-action-icon">
                <p class="font-size-sm m-0 text-secondary">{{this.countReply}}</p>
              </button>

              {{#if isLiked}}
              <form action="/tweets/{{this.id}}/unlike" method="post">
                <button href="#"
                  class="btn border-0 btn-outline-light p-0 m-0 d-flex align-items-center gap-2 link-unstyled">
                  <img src="/images/icons/icon_like_filled.svg" alt=""
                    class="filter-red-color img-fluid center tweet-action-icon">
                  <p class="font-size-sm m-0 text-secondary">{{this.countLike}}</p>
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{this.id}}/like" method="post">
                <button href="#"
                  class="btn border-0 btn-outline-light p-0 m-0 d-flex align-items-center gap-2 link-unstyled">
                  <img src="/images/icons/icon_like_outlined.svg" alt="" class="img-fluid center tweet-action-icon">
                  <p class="font-size-sm m-0 text-secondary">{{this.countLike}}</p>
                </button>
              </form>
              {{/if}}
            </div>
          </div>

        </div>
        <div class="bottom-border"></div>
      </div>
      {{/each}}
      {{/ifCond}}
    </div>
  </div>
</div>