<div class="d-flex h-100">
  {{> nav-column route='user'}}

  <div class="w-50">
    <div>
      <div class="d-flex align-items-center my-3 mb-1">
        <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left fw-bold" style="color: black;"></i></a>
        <div class="d-flex flex-column ms-5">
          <h4 class="fw-bold" style="margin-bottom: 0px;">{{viewUser.name}}</h4>
          <span class="text-secondary fw-bold" style="margin-top: -5px">{{arrayLength viewUser.Tweets}} 推文</span>
        </div>
      </div>
    </div>
    {{!-- User Information --}}
    <div>
      <div>
        {{!-- Cover --}}
        {{#if viewUser.cover}}
          <img src="{{viewUser.cover}}" width="100%" height="180px" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" class="mt-1 rounded-top rounded-3" />
        {{else}}
          <img src="https://via.placeholder.com/480" width="100%" height="180px" class="mt-2 rounded-top rounded-3" />
        {{/if}}
      </div>
      {{!-- Avatar & Edit button --}}
      <div class="d-flex justify-content-between mt-3">
        <div>
          {{#if viewUser.avatar}}
            <img src="{{viewUser.avatar}}" width="10px" height="10px" style="transition: opacity 0.5s; opacity:0;
              margin-top: -90px;" onload="this.style.opacity=1;" class="border border-4 border-light rounded-circle" />
          {{else}}
            <img src="https://via.placeholder.com/140" width="140px" height="140px" style="margin-top: -90px;"
              class="border border-4 border-light rounded-circle ms-3" />
          {{/if}}
        </div>
        <div>
          <a href="#" class="btn btn-outline-primary rounded-pill">編輯個人資料</a>
        </div>
      </div>
      {{!-- Name, Account, Introduction & Followship --}}
      <div>
        <div class="d-flex flex-column">
          <h4 class="fw-bold" style="margin-bottom: 0px;">{{viewUser.name}}</h4>
          <span class="text-secondary" style="margin-top: -5px">@{{viewUser.account}}</span>
        </div>
        <div>
          <p class="mt-2">{{viewUser.introduction}}</p>
        </div>
        <div>
          <span class="fw-bold">{{arrayLength viewUser.Followings}} 個</span><span class="text-secondary">跟隨中</span>
          <span class="fw-bold ms-1">{{arrayLength viewUser.Followers}} 位</span><span class="text-secondary">跟隨者</span>
        </div>
      </div>
    </div>

    {{!-- User Page Tab --}}
    <div class="mt-4">
      <ul class="nav fw-bold">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/users/{{viewUser.id}}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">喜歡的內容</a>
        </li>
      </ul>
    </div>

    {{!-- User Page Tweets --}}
    <div class="mt-3">
      {{#each tweets}}
        <div class="list-group-item tweet-display border-0">
          <div class="d-flex">
            <div class="me-3">
              {{#if ../viewUser.avatar}}
                <img src="{{../viewUser.avatar}}" width="50px" height="50px" style="transition: opacity 0.5s; opacity:0;"
                  onload="this.style.opacity=1;" class="rounded-circle" />
              {{else}}
                <img src="https://via.placeholder.com/50" width="50px" height="50px" class="rounded-circle" />
              {{/if}}
            </div>
            <div class="d-flex flex-column w-100">
              <div class="mb-1">
                <span class="fw-bold me-1">{{../viewUser.name}}</span>
                <span class="text-secondary">@{{../viewUser.account}}．{{relativeTimeFromNow this.createdAt}}</span>
              </div>
              <div>
                <a href="/tweets/{{this.id}}" class="tweet-item">
                  <p style="word-wrap: break-word;">{{this.content}}</p>
                </a>
              </div>
              <div class="tweet-toolbar d-flex align-items-center">
                <button type="button" class="btn me-3 p-0 border-0" data-bs-toggle="modal"
                  data-bs-target="#commentModal{{this.id}}">
                  <i class="fa-solid fa-comment text-secondary"></i>
                </button>
                <span>{{arrayLength this.Replies}}</span>
                {{#if isLiked}}
                  <form action="/like/{{this.id}}?_method=DELETE" method="POST" style="margin: 0px;" class="me-2 ms-5">
                    <button type="submit" class="border-0 ms-4"><i class="fa-solid fa-heart text-danger"></i></button>
                  </form>
                  <span>{{arrayLength this.Likes}}</span>
                {{else}}
                  <form action="/like/{{this.id}}" method="POST" style="margin: 0px;" class="me-2 ms-5">
                    <button type="submit" class="border-0 ms-4"><i class="fa-solid fa-heart text-secondary"></i></button>
                  </form>
                  <span>{{arrayLength this.Likes}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        {{!-- Modal --}}
        <div class="modal fade" id="commentModal{{this.id}}" tabindex="-1" aria-labelledby="commentModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  style="margin-left: 0px;"></button>
                <div class="d-flex mt-4">
                  <div class="me-3">
                    {{#if ../viewUser.avatar}}
                      <img src="{{../viewUser.avatar}}" width="50px" height="50px" style="transition: opacity 0.5s; opacity:0;"
                        onload="this.style.opacity=1;" class="rounded-circle" />
                    {{else}}
                      <img src="https://via.placeholder.com/50" width="50px" height="50px" class="rounded-circle" />
                    {{/if}}
                  </div>
                  <div class="d-flex flex-column">
                    <div class="mb-1">
                      <span class="fw-bold me-1">{{../viewUser.name}}</span>
                      <span class="text-secondary">@{{../viewUser.account}}．{{relativeTimeFromNow this.createdAt}}</span>
                    </div>
                    <div>
                      <p style="word-wrap: break-word;">{{this.content}}</p>
                    </div>
                    <div>
                      <span>回覆給 </span><span>@{{../viewUser.account}}</span>
                    </div>
                  </div>
                </div>
                <div>
                  <form action="/tweets/{{this.id}}" method="POST" class="w-100 my-3">
                    <div>
                      <div class="form-row d-flex">
                        {{#if ../viewUser.avatar}}
                          <div>
                            <img src="{{../viewUser.avatar}}" width="50px" height="50px" class="rounded-circle">
                          </div>
                        {{else}}
                          <div>
                            <img src="https://via.placeholder.com/50" width="50px" height="50px" class="rounded-circle" />
                          </div>
                        {{/if}}
                        <input type="hidden" name="tweetId" value="{{this.id}}" />
                        <input type="text" id="comment" name="comment" class="form-control tweet-input w-100 border-0"
                          placeholder="推你的回覆" required>
                      </div>
                      <div class="form-row d-flex justify-content-end mb-2">
                        <button class="btn btn-primary mt-3 btn-block rounded-pill" type="submit">回覆</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  {{> popular-users}}
</div>