


<div class="center-content d-flex" id="tweet-content">
  <div class="head justify-content-between ">
    <ul class="list-group">
      <li class="list-group-item right-zone-header" style="
                    border-top: 1px solid #F5F5F5;
                    border-right: 1px solid #F5F5F5;
                    border-left: 1px solid #F5F5F5;
                    color: #000000;
                    font-weight: bold;
                    letter-spacing:10px">
        <a href="javascript:history.back()" style="text-decoration:none; color: black;"> <i
             class="fas fa-arrow-left fa-lg"></i> </a>推文
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-2">
            <a href="/users/{{tweet.User.id}}/tweets">
              <img src="{{tweet.User.avatar}}" alt="user avatar" class="user-avatar"
                   style="border-radius: 50%; height:50px; width: 50px">
            </a>
          </div>
          <div class="col-10">
            <span class="row">{{tweet.User.name}}</span>
            <span class="row" style="color:gray;">@{{tweet.User.account}}</span>
          </div>
        </div>
        <span class="row mt-3 ml-3">{{tweet.description}}</span>
        <span class="row mt-2 ml-3" style="font-size:14px;color:gray;">{{moment tweet.createdAt}}</span>
        <hr style="width: 100%;" />
        <div class="time">
          <span class="ml-2">{{tweet.Replies.length}}</span> 回覆 <span class="ml-4">{{tweet.LikedUsers.length}}</span>
          喜歡次數
        </div>
        <hr style="width: 100%;" />
        <div class="d-flex align-items-center">
          <button type="button" class="btn" style="background: none;border: none;float:left; margin-right:50px;"
                  data-toggle="modal" data-target="#replyModal">
            <i class="far fa-comment" style="color: gray; font-size: 25px;">{{this.Replies.length}}</i>
          </button>
          {{#if isLiked}}
          <form action="/tweets/{{tweet.id}}/unlike" method="POST" style="display:inline;">
            <button type="submit" style="background: none;border: none;">
              <i class="fas fa-heart" style="color: red; letter-spacing:10px; font-size: 25px;"></i>
          {{else}}
          <form action="/tweets/{{tweet.id}}/like" method="POST" style="display:inline; ">
            <button type="submit" style="background: none;border: none;">
              <i class="far fa-heart" style="color: gray; letter-spacing:10px; font-size: 25px;"></i>
          {{/if}}
              <p style="display:inline; color: grey; "></p>
            </button>
          </form>
        </div>
      </li>
      {{#each tweet.Replies}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-2">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{this.User.avatar}}" alt="user avatar" class="user-avatar"
                   style="border-radius: 50%; height:50px; width: 50px">
            </a>
          </div>
          <div class="col-10">
            <span>{{this.User.name}}</span>
            <span style="color:gray;">@{{this.User.account}} ．
              {{moment this.createdAt}}</span>
            <div class="row col-10 mt-3">
              <p style="color: gray;">回覆</p>
              <a href="/users/{{../tweet.User.id}}/tweets" style="text-decoration:none;">
                <p class="ml-1" style="color: orange;">@{{../tweet.User.account}}</p>
              </a>
            </div>
            <p>{{this.comment}}</p>
          </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>