<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>

  <div class="center-content">
    <div class="user-content">

      <div class="user-header">
        <a href="javascript:history.back()">
          <i class="fas fa-arrow-left"></i>
        </a>
        <div class="user-title">
          <h5>{{user.name}}使用者姓名</h5>
          <span>{{user.Tweets.length}} 推文</span>
        </div>
      </div>

      <div class="user-cover">
        <img src="https://mcdn.wallpapersafari.com/medium/7/92/bmNBFo.jpg{{user.cover}}" alt="{{user.cover}}">
      </div>


      {{!-- 需再細修 --}}
      <div class="user-info">
        <div class="user-info-top">
          <img src="https://pickaface.net/gallery/avatar/unr_fake_190524_1549_9fgji7.png{{user.avatar}}"
            alt="{{user.avatar}}">
          {{#ifCond user.id currentUserId}}
          <button type="button" data-toggle="modal" data-target="#exampleModal">
            編輯個人資料
          </button>
          {{else}}
          <a href="{{user.email}}"><i class="far fa-envelope"></i></a>
          <i class="far fa-bell"></i>
          {{#if user.isFollowed}}
          <form action="/followships/{{user.id}}?_method=DELETE" method="POST" style="display: inline-block;">
            <button type="submit" class="btn btn-primary">正在跟隨</button>
          </form>
          {{else}}
          <form action="/followships/{{user.id}}" method="POST" style="display: inline-block;">
            <button type="submit" class="btn btn-primary">跟隨</button>
          </form>
          {{/if}}
          {{/ifCond}}
        </div>


        <div class="user-info-bottom">
          <h5>{{user.name}}使用者姓名</h5>
          <span>{{user.account}}＠user_test</span>
          <p>{{user.introduction}}asd qwe dgtyh asdqwe </p>
          <div class="user-followships">
            <a href="/users/{{user.id}}/followings">{{user.FollowingCount}}30個</a>
            <span>跟隨中&nbsp;&nbsp;</span>
            <a href="/users/{{user.id}}/followers">{{user.FollowerCount}}20位</a>
            <span>跟隨者</span>
          </div>
        </div>
      </div>


      <div class="user-selection-bar">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/users/{{user.id}}/tweets">推文</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{user.id}}/replies">推文與回應</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{user.id}}/likes">喜歡的內容</a>
          </li>
        </ul>
      </div>

      {{!-- tweet-list --}}


    </div>
  </div>

  <div class="right-content">
    {{>right-column}}
  </div>


</div>
</div>


<!-- edit user info modal 範例 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>