<div class="container">
  <div class="center-content d-flex" id="tweet-content">
    <div class="head justify-content-between ">
      <div class="head-content d-flex">
        <h5 class="tweet-title-user">{{users.name}}</h5>
        <div class="title-description-user">{{users.Tweets.length}} tweets</div>
      </div>
      <div class="user-page-cover"
            style="background: url({{users.cover}}),#C4C4C4; background-position:center;background-size:cover;">
      </div>
      <div class="user-page-top">
        <div class="avatar"
              style="background: url({{users.avatar}}),#C4C4C4; background-position:center;background-size:cover;">
        </div>
        <div class="feature-link mr-3">
          {{#ifCond user.id users.id}}
          <button type="button" class="button profile-button" data-toggle="modal" data-id="{{user.id}}"  
                  data-target="#userModal">編輯個人資訊</button>
          {{else}}
          {{#if users.isFollowed}}
          <form action="/followships/{{users.id}}?_method=DELETE" method="POST">
            <button class="ml-1 mr-2 unfollow-button">正在跟隨</button>
          </form>
          {{else}}
          <form action="/followships" method="POST">
            <button class="follow-button" name="id" value="{{users.id}}">跟隨</button>
          </form>
          {{/if}}
          {{/ifCond}}
        </div>
      </div>
      <div class="user-page-information">
        <div class="user-name">
          {{users.name}}
        </div>
        <div class="user-account">
          @{{users.account}}
        </div>
        <div class="user-introduction">
          <p>{{users.introduction}}</p>
        </div>
        <div class="user-follow-link">
          <div>
            <a href="/users/{{users.id}}/followers">{{users.Followers.length}}<span>followers</span></a>
          </div>
          <div>
            <a href="/users/{{users.id}}/followings"> {{users.Followings.length}}<span>followings</span></a>
          </div>
        </div>
      </div>
      <nav class="user-page-nav navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav user-navbar">
            <a class="nav-link active" href="#">推文</a>
            <a class="nav-link" href="/users/{{users.id}}/replies">推文與回覆</a>
            <a class="nav-link" href="/users/{{users.id}}/likes">喜歡的內容</a>
          </div>
        </div>
      </nav>
      <div class="tweet-all">
        {{#each users.Tweets}}
        <div class="tweet-content-box" onclick="location.href='/tweets/{{this.id}}'">
          <div class="tweet-content-left">
            <a href="/users/{{../users.id}}/tweets">
              <img class="ml-2 mt-2" {{#if ../users.avatar}}src={{../users.avatar}}{{/if}}
                    style="background: #C4C4C4;border-radius: 100%; width: 50px; height: 50px">
            </a>
          </div>
          <div class="tweet-content-right">
            <div class="tweet-content-username">
              <a href="/users/{{../users.id}}/tweets" class="user-name">{{../users.name}}</a>
              <span class="user-account">@{{../users.account}}．{{moment this.createdAt}}</span>
            </div>
            <div class="tweet-content-info">
              <span class="tweet-content-description">{{this.description}}</span><br>
            </div>
            <div class="tweet-content-bottom">
              {{!-- reply icon --}}
              <button type="button" class="btn tweet-reply-link mr-3">
                <i class="fas fa-reply mr-1" aria-hidden="true"></i>{{this.Replies.length}}
              </button>
              {{!-- like/unlike icon --}}
              {{#if isLiked}}
              <form action="/tweets/{{this.id}}/unlike" method="POST">
                <button type="submit" class="btn tweet-like-link">
                  <i class="fas fa-heart mr-1"></i>{{this.LikedUsers.length}}
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST">
                <button type="submit" class="btn tweet-like-link">
                  <i class="far fa-heart mr-1"></i>{{this.LikedUsers.length}}
                </button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>