<div class="tweet-all">
  {{#each users.Tweets}}
  <div class="tweet-content-box" onclick="location.href='/tweets/{{this.id}}'">
    <div>
      <a href="/users/{{../users.id}}/tweets">
        <img class="ml-2 mt-2" {{#if ../users.avatar}}src={{../users.avatar}}{{/if}}
             style="background: #C4C4C4;border-radius: 100%; width: 50px; height: 50px">
      </a>
    </div>
    <div>
      <div class="tweet-content-username">
        <a href="/users/{{../users.id}}/tweets" class="user-name">{{../users.name}}</a>
        <span class="user-account">@{{../users.account}}．{{moment this.createdAt}}</span>
      </div>
      <div class="tweet-content-info">
        <span class="tweet-content-description">{{this.description}}</span><br>
      </div>
    </div>
  </div>
  {{/each}}
</div>