<div class="container">
    <div class="row">
        <div class="col-md-2 pl-0">
            {{>left}}
        </div>
        <div class="col-md-7 pl-0 border-left">
            <div class="row ml-1 align-items-center ">
                <a href="/tweets" style="text-decoration: none; color:black">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
                <div class="ml-5">
                    <h4 class="m-0 font-weight-bold" style="color:#FF6600">{{pageUser.name}}</h4>
                    <p class="followship-tweetsCount m-0" style="color:#7B7B7B">{{pageUser.Tweets.length}}推文</p>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="background">
                        <img src="{{ pageUser.background }}" alt="pageUser-background" class="img-fluid" style="width: 100%;
                    height: 200px; object-fit: cover;">
                    </div>
                    <div class="avatar">
                        <img src="{{ pageUser.avatar }}" alt="pageUser-avatar" class="rounded-circle"
                            style="mborder-radius: 50%; position: absolute; top: 160px; left: 3%; border: 5px solid #FFFFFF;">
                    </div>
                    {{#ifCond user.id pageUser.id}}
                        <div class="row justify-content-end">
                            <button class="m-3" data-toggle="modal" data-target="#editModal"
                            style="border-radius: 50px;width: 120px; height: 45px; background-color: #FFFFFF; color: #FF6600; border: 2px solid#FF6600; font-weight: bold; cursor: pointer;">編輯個人資料</button>
                        </div>
                        {{>modal}}
                    {{/ifCond}}
                    <div class=" justify-content ml-2 mt-5">
                        <h2>{{ pageUser.name }}</h2>

                        <h6>
                            <p style="color:#7B7B7B">@{{ pageUser.account }}</p>
                        </h6>

                        <p>{{ pageUser.introduction }}</p>
                    </div>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link" href="/user/{{ pageUser.id }}/tweets">推文</a>
                        <a class="nav-link" href="/user/{{ pageUser.id }}/replies">推文與回覆</a>
                        <a class="nav-link active" href="/user/{{ pageUser.id }}/likes">喜歡</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-tweets" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="col">
                            <div class="tweet-list">
                                {{#each pageUser.LikeTweets}}
                                <div class="tweet">
                                    <div class="tweet-item-left d-flex align-items-stretch">
                                        <div class="tweet-left d-flex align-items-stretch">
                                            <a href="/user/{{ this.User.id }}/tweets">
                                                <img src="{{ this.User.avatar }}" class="rounded-circle"
                                                    style="background-size:cover; width: 50px;height: 50px;">
                                            </a>
                                        </div>
                                        <div class="tweet-item-right ml-3">
                                            <div class="tweet-item-title">
                                                <span class="mt-1"><a
                                                        href="/user/{{ this.User.id }}/tweets">{{ this.User.name }}</a></span>
                                                <span class="user-account">
                                                    {{ this.User.account }}．{{moment this.createdAt}}
                                                </span>
                                            </div>
                                            <div class="tweet-text">
                                                {{this.description}}
                                            </div>
                                            <div class="tweet-footer">
                                                <!-- Button trigger modal -->
                                                <button type="button" data-toggle="modal" data-target="#replyModal"
                                                    style="background: none;border: none;">
                                                    <i class="far fa-comment"></i> {{this.Replies.length}}
                                                </button>
                                                <button type="submit" class="button reply-link mt-4 mb-4"
                                                    style="background:none;border: none;">
                                                    <i class="fas fa-heart"></i>
                                                </button>
                                                {{this.LikeUsers.length}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-0">
            {{>right}}
        </div>
    </div>
</div>