<div class="container">
  <div class="wrapper">

    {{> profile-navbar}}

    {{!-- main --}}
    <section class="main">
      <div class="main-title main-head-bar">
        <div class="main-arrow-icon background-image" onclick="history.back()"></div>
        <div class="main-head-bar-text">
          <h5 class="main-head-bar-name">{{ user.name }}</h5>
          <span class="card-datetime">{{ tweetList.length }} 推文</span>
        </div>
      </div>


      {{> profile-card}}


      {{!-- tabs --}}
      <ul class="nav nav-user-tab">
        <li class="nav-item">
          <a class="nav-link nav-link-active" aria-current="page" href="#">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}/replies">回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}/likes">喜歡的內容</a>
        </li>
      </ul>

      {{> messages}}
      {{!-- tweets cards --}}
      {{#if tweetList }}

      {{#each tweetList}}
      <div class="card card-tweet-lg">
        <a href="/tweets/{{this.id}}/replies" class="tweet-href"></a>
        <div class="avatar">
          <a href="/users/{{this.UserId}}/tweets" class="primary-anchor">
            {{#if this.User.avatar}}
            <img src="{{ this.User.avatar }}" alt="avatar" class="logo">
            {{else}}
            <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
            {{/if}}
          </a>
        </div>
        <div class="card-text">
          <div class="card-text-info">
            <a href="/users/{{ this.UserId }}/tweets" class="primary-anchor">
              <span class="card-name">{{ this.User.name }}</span>
            </a>
            <a href="/users/{{ this.UserId }}/tweets" class="primary-anchor">
              <span class="card-account">@{{ this.User.account }}</span>
            </a>
            <span class="card-dot">·</span>
            <span class="card-datetime">{{relativeTimeFromNow this.createdAt }}</span>
          </div>
          <p class="card-description">{{ this.description }}</p>
          <div class="card-datas">
            <div data-bs-toggle="modal" data-bs-target="#replyModal-{{this.id}}" class="reply-modal-trigger primary-anchor">
              <span class="card-reply-icon background-image"></span>
              <span class="card-counts">{{ this.Replies.length }}</span>
            </div>

            {{#if this.isLike}}
            <form action="/tweets/{{this.id}}/unlike" method="post" class="primary-anchor form-like">
              <button type="submit" class="btn-like">
                <span class="card-unlike-icon background-image"></span>
                <span class="card-counts">{{ this.Likes.length }}</span>
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{this.id}}/like" method="post" class="primary-anchor form-like">
              <button type="submit" class="btn-like">
                <span class="card-like-icon background-image"></span>
                <span class="card-counts">{{ this.Likes.length }}</span>
              </button>
            </form>
            {{/if}}

          </div>
        </div>
      </div>
      {{> reply-modal}}
      {{/each}}


      {{else}}
      <div class="no-tweet">
        <h5>
          沒有貼文
        </h5>
      </div>
      {{/if}}

    </section>
    {{> followship}}
  </div>
</div>


{{> tweet-modal}}




{{> edit-modal}}


