<div class="container">
  <div class="wrapper">

    {{!-- nav bar --}}
    <nav class="navbar-column">

      <div class="logo-container">
        <a href="/tweets">
          <img src="/stylesheets/icons/icon.png" alt="logo" class="logo">
        </a>
      </div>

      {{!-- front page --}}
      <a class="nav-row" href="/tweets">
        <div class="nav-row-house-icon background-image">
        </div>
        <h5 class="nav-row-title">首頁</h5>
      </a>

      {{!-- user --}}
      <a class="nav-row {{#ifCond user.id loginUserId }}active{{/ifCond}}" href="/users/{{loginUserId}}">
        <div class="nav-row-user-icon background-image">
        </div>
        <h5 class="nav-row-title">個人資料</h5>
      </a>

      {{!-- edit --}}
      <a class="nav-row" href="/users/{{ loginUserId }}/edit">
        <div class="nav-row-setting-icon background-image">
        </div>
        <h5 class="nav-row-title">設定</h5>
      </a>

      {{!-- tweet button --}}
      <button type="button" class="btn btn-info btn-tweet" data-bs-toggle="modal" data-bs-target="#exampleModal">
        推文
      </button>

      {{!-- signout --}}
      <form action="/signout" method="post" class="signout-form">
        <button type="submit" class="btn">
          <div class="nav-row">
            <div class="nav-row-signout-icon background-image">
            </div>
            <h5 class="nav-row-title">登出</h5>
          </div>
        </button>
      </form>
    </nav>

    {{!-- main --}}
    <section class="main">
      <div class="main-title main-head-bar">
        <div class="main-arrow-icon background-image" onclick="history.back()"></div>
        <div class="main-head-bar-text">
          <h5 class="main-head-bar-name">{{ user.name }}</h5>
          <span class="card-datetime">{{ tweetList.length }} 推文</span>
        </div>
      </div>


      {{!-- profile --}}
      <div class="profile-wrapper">

        {{#if user.cover}}
        <img src="{{ user.cover }}" alt="cover" class="profile-cover background-image">
        {{else}}
        <div class="profile-cover background-image"></div>
        {{/if}}

        <div class="profile-avatar">
          {{#if user.avatar }}
          <img src="{{ user.avatar }}" alt="avatar" class="logo">
          {{else}}
          <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
          {{/if}}
        </div>

        <div class="profile-info">
          <h5 class="profile-name">{{ user.name }}</h5>
          <div class="card-account profile-account">@{{ user.account }}</div>
          <p class="card-description">{{ user.introduction }}</p>
          <div class="following-follower-wrapper">
            <div class="following-wrapper">
              <a href="/users/{{ user.id }}/followings">
                <span class="following-count">{{ user.Followings.length }}個</span>
                <span class="following-text">跟隨中</span>
              </a>
            </div>
            <a href="/users/{{user.id}}/followers">
              <span class="follower-count">{{ user.Followers.length }}位</span>
              <span class="follower-text">跟隨者</span>
            </a>
          </div>
          <button type="button" class="btn btn-outline-info btn-edit-profile" data-bs-toggle="modal"
            data-bs-target="#editModal">
            編輯個人資料
          </button>
        </div>
      </div>


      {{!-- tabs --}}
      <ul class="nav nav-user-tab">
        <li class="nav-item">
          <a class="nav-link nav-link-active" aria-current="page" href="#">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}/replies">回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}/likes">喜歡的內容</a>
        </li>
      </ul>

      {{> messages}}
      {{!-- tweets cards --}}
      {{#if tweetList }}

      {{#each tweetList}}
      <div class="card card-tweet-lg">
        <a href="/tweets/{{this.id}}/replies" class="tweet-href"></a>
        <div class="avatar">
          <a href="/users/{{this.UserId}}/tweets" class="primary-anchor">
            {{#if this.User.avatar}}
            <img src="{{ this.User.avatar }}" alt="avatar" class="logo">
            {{else}}
            <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
            {{/if}}
          </a>
        </div>
        <div class="card-text">
          <div class="card-text-info">
            <a href="/users/{{ this.UserId }}/tweets" class="primary-anchor">
              <span class="card-name">{{ this.User.name }}</span>
            </a>
            <a href="/users/{{ this.UserId }}/tweets" class="primary-anchor">
              <span class="card-account">@{{ this.User.account }}</span>
            </a>
            <span class="card-dot">·</span>
            <span class="card-datetime">{{relativeTimeFromNow this.createdAt }}</span>
          </div>
          <p class="card-description">{{ this.description }}</p>
          <div class="card-datas">
            <div data-bs-toggle="modal" data-bs-target="#replyModal" class="reply-modal-trigger primary-anchor">
              <span class="card-reply-icon background-image"></span>
              <span class="card-counts">{{ this.Replies.length }}</span>
            </div>

            {{#if this.isLike}}
            <form action="/tweets/{{tweet.id}}/unlike" method="post" class="primary-anchor form-like">
              <button type="submit" class="btn-like">
                <span class="card-unlike-icon background-image"></span>
                <span class="card-counts">{{ this.Likes.length }}</span>
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/like" method="post" class="primary-anchor form-like">
              <button type="submit" class="btn-like">
                <span class="card-like-icon background-image"></span>
                <span class="card-counts">{{ this.Likes.length }}</span>
              </button>
            </form>
            {{/if}}

          </div>
        </div>
      </div>
      {{/each}}


      {{else}}
      <div class="no-tweet">
        <h5>
          沒有貼文
        </h5>
      </div>
      {{/if}}

    </section>
    {{> followship}}
  </div>
</div>


{{!------------- tweet modal -------------}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="main-create-bar">
          <div class="avatar">
            <a href="/users/{{user.id}}">
              <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
            </a>
          </div>
          <form action="/tweets" method="post" class="create-tweet-form">
            <textarea name="tweet" id="tweet" cols="30" rows="10" class="main-create-input"
              placeholder="有什麼新鮮事？"></textarea>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <form action="/tweets" method="post">
          <button type="submit" class="btn btn-info">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>




{{!------------- edit profile modal -------------}}
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="main-create-bar">
          <div class="avatar">
            <a href="/users/{{user.id}}">
              <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
            </a>
          </div>
          <form action="/tweets" method="post" class="create-tweet-form">
            <textarea name="tweet" id="tweet" cols="30" rows="10" class="main-create-input"
              placeholder="有什麼新鮮事？"></textarea>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <form action="/tweets" method="post">
          <button type="submit" class="btn btn-info">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>


{{!------------- reply modal -------------}}
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="main-create-bar">
          <div class="avatar">
            <a href="/users/{{user.id}}">
              <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
            </a>
          </div>
          <form action="/tweets" method="post" class="create-tweet-form">
            <textarea name="tweet" id="tweet" cols="30" rows="10" class="main-create-input"
              placeholder="有什麼新鮮事？"></textarea>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <form action="/tweets" method="post">
          <button type="submit" class="btn btn-info">Reply</button>
        </form>
      </div>
    </div>
  </div>
</div>