{{> navs/admin-left-column}}
<div class="border-start border-end" style="position: absolute; left: 24px;width: 937px;margin-left: 333px;">
  <div class="border-bottom" style="margin-top: 24px; height: 51px;">
    <h4 class="fw-bold" style="margin-left: 21px;">使用者列表</h4>
  </div>
  <div class="d-flex flex-wrap">
    {{#each userInfos}}
      <div class="card border-light bg-light" style="width:210px; height:314px; margin: 16px 0 0 16px;border-radius: 10px;">
        <div class="position-relative">
          <div style="width: 210px;height: 140px;">
            <img src={{#if this.cover}}{{this.cover}}{{else}}"https://live.staticflickr.com/65535/49985934496_ce401213ed_3k.jpg"{{/if}} style="width: 100%;height: 100%;object-fit: cover;object-position: center;border-radius: 10px 10px 0 0;" class="card-img-top" alt="cover">
          </div>
          <div class="rounded-circle overflow-hidden border border-4 border-white" style="position: absolute;top: 64px;left: 55px;right: 55px;width: 100px;height: 100px;">
            <img src={{#if this.avatar}}{{this.avatar}}{{else}}"/icon/avatar.jpg"{{/if}} style="aspect-ratio: 1 / 1;width: 100%;object-fit: cover;object-position: center;" alt="avatar">
          </div>
        </div>
        <div class="card-body text-center p-0 m-0">
          <div style="margin: 32px auto 8px auto;">
            <h4 class="card-title">{{this.name}}</h4>
            <small>
              <p class="card-subtitle text-muted">@{{this.account}}</p>
            </small>
          </div>
    
          <div class="d-flex justify-content-center" style="height: 24px;">
            <div style="margin-right: 16px;"> 
              <span style="width: 24px; height: 24px;margin-right: 8px;">
                {{>post-icon}}
              </span>
              <span class="align-middle" style="font-family: Montserrat;font-size: 16px;font-style: normal;font-weight: 500;line-height: 26px;">
                {{this.tweetCount}}
              </span>
            </div>
            <div>
              <span style="width: 24px; height: 24px; margin-right: 8px;">
                {{>like-icon w=24 h=24}}
              </span>
              <span class="align-middle" style="font-family: Montserrat;font-size: 16px;font-style: normal;font-weight: 500;line-height: 26px;">
                {{this.likeCount}}
              </span>
            </div>
          </div>
          <div style="margin: 8px auto 24px auto;">
            <small style="margin-right: 8px;">{{this.followingCount}} 個<span class="text-secondary">跟隨中</span></small>
            <small class="mx-1">{{this.followerCount}} 個<span class="text-secondary">跟隨者</span></small>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>